<form name="registerForm" ypModel="newUser" class="form" role="form">

    <yp-input name="firstname" required></yp-input>
    <yp-input name="lastname" required></yp-input>
    <yp-input name="email" type="email" required unique-user-field></yp-input>

    <yp-input name="password" type="password" required ng-minlength="6"></yp-input>
    <yp-input name="password2" type="password" required password-match="newUser.password"></yp-input>


    <div class="form-group"  ng-class="{'has-error': registerForm.termsAccepted.$dirty && registerForm.termsAccepted.$invalid}">



        <!-- toggle-value="termsAccepted" is used again in the <a> to revert the checkbox change when clicking on the link-->
        <label class="terms" ng-init="termsAccepted = false" >
            <input name="termsAccepted" type="checkbox" ng-model="termsAccepted" ng-required="true">

            <div>
                <span translate>registerForm.termsAccepted.label1</span>
                <a href="#/terms" target="_blank" ng-click="termsAccepted = !termsAccepted" translate>registerForm.termsAccepted.label2</a>
                <span translate>registerForm.termsAccepted.label3</span>
            </div>
        </label>
        <br/>
        <span ng-show="registerForm.termsAccepted.$error.required" class="help-inline" translate>registerForm.termsAccepted.$error.required</span>
    </div>

    <button type="button" ng-click="submit()" class="btn btn-primary" ng-disabled="registerForm.$invalid" translate>registerForm.register</button>

</form>