<pre ng-if="error">{{ error | json }}</pre>


        <div style="position: fixed; top: 60px; right: 0;">



            <div class="well">

                <div>
                    <select class="form-control" ng-model="mailType" ng-options="mailType for mailType in mailTypes"></select>
                </div>

                <div>
                    <h3>currentDate: {{ options.currentDate | fulldate }}</h3>
                    <input type="date" ng-model="options.currentDate">
                </div>

                <div>
                    <button class="btn-flat" ng-click="sendMail(options)">send mail</button>
                </div>

                <span ng-show="refreshing">refreshing ... </span>
            </div>

            <div class="well" ng-if="mailType === 'campaignLeadSummaryMail'">

                <p>
                    campaign.start: {{ campaign.start | date }}
                </p>

                <p>
                    campaignLeadSummaryMail would <span ng-if="!isOrdinalDate(options.currentDate)" style="color: red">NOT</span> be sent
                </p>

                <div ng-repeat="ordinalNumber in [0,1,2,3]">
                    <a ng-click="setCurrentDate(ordinalDate(ordinalNumber))">{{ ordinalDate(ordinalNumber) | date }}</a>
                </div>

            </div>

            <div class="well" ng-if="mailType === 'dailySummaryMail'">


                <div>

                    <div>
                        <h3>lastSentMailDate: {{ options.lastSentMailDate | fulldate }}</h3>
                        <input type="date" ng-model="options.lastSentMailDate">
                    </div>


                    <div ng-if="lastSummaryMail">
                        <h3>lastSummaryMail: {{ lastSummaryMail | fulldate }}</h3>
                    </div>


                    <h3>
                        campaign.start:
                        <a ng-click="setCurrentDate(campaign.start)">{{ campaign.start | fulldate }}</a>
                    </h3>
                    <h3>
                        campaign.end:
                        <a ng-click="setCurrentDate(campaign.end)">{{ campaign.end | fulldate }}</a>
                    </h3>
                    <h3>
                        first monday:
                        <a ng-click="setCurrentDate(campaign.firstMonday)">{{ campaign.firstMonday | fulldate }}</a>
                    </h3>
                    <h3>
                        midterm ({{ campaign.midtermWeek }}th) monday:
                        <a ng-click="setCurrentDate(campaign.midtermMonday)">{{ campaign.midtermMonday | fulldate }}</a>
                    </h3>
                    <h3>
                        last monday:
                        <a ng-click="setCurrentDate(campaign.lastMonday)">{{ campaign.lastMonday | fulldate }}</a>
                    </h3>
                    <h3>
                        last day:
                        <a ng-click="setCurrentDate(campaign.end)">{{ campaign.end | fulldate }}</a>
                    </h3>
                </div>

            </div>


        </div>


<div style="all: initial;">

    <div ng-bind-html="renderedMail"></div>

</div>
