<div class="row">
    <div class="col-sm-12">
        <div class="state-header-1" translate>dcmschedule.stateHeader1</div>
        <div class="state-header-2" translate>dcmschedule.stateHeader2</div>
    </div>
</div>

<form name="scheduleForm" class="form activity-schedule-form" role="form" ng-submit="saveOffer()">

<div class="activity-schedule">
<div class="activity-schedule-page">
    <div class="idea-card">
        <div>

            <div class="image">
                <img ng-src="{{'/assets/actpics/' + offer.idea.number + '.jpg'}}">
            </div>

            <div class="source" ng-if="offer.recommendedBy && offer.recommendedBy.length > 0">
                <div class="source-avatar-container">
                    <div class="source-avatar-content source-type" ng-class="'source-type-' + offer.sourceType">
                        <img ng-src="{{offer.recommendedBy[0].avatar}}">
                    </div>
                    <div class="source-text">
                        <span translate>schedule.recommendedBy</span> {{ offer.recommendedBy[0].fullname }}
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="title" ng-bind-html="offer.idea.title">
                </div>
                <div class="text" ng-bind-html="offer.idea.description">
                </div>
                <div>
                    <div class="schedule">
                        {{ schedule.schedule }}
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="linkleft">
                    <a class="btn btn-default" ng-click="back()">
                        <span>Zurück</span>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="activity-schedule-page campaignlead middle">
    <div class="page">


        <div class="btn-group form-group execution-type">
            <button type="button" class="btn btn-default plan" ng-model="offer.offerType[0]"
                    btn-radio="'campaignActivityPlan'" ng-disabled="offer.idea.defaultexecutiontype=='self'"
                    translate>
                dcmschedule.scheduletype.plan
            </button>
            <button type="button" class="btn btn-default recommend" ng-model="offer.offerType[0]"
                    btn-radio="'campaignActivity'" translate>
                dcmschedule.scheduletype.recommend
            </button>
        </div>

        <!-- self -->
        <div ng-if="offer.offerType[0] === 'campaignActivityPlan'">

            <fieldset ng-disabled="schedule.isScheduled && (schedule.isJoinedPlan || !schedule.isEditable)">

                <!-- location -->
                <div class="row">
                    <div class="col-md-12 form-group">
                        <input type="text" class="form-control" ng-model="plan.location"
                               placeholder="{{ 'schedule.self.location' | translate }}">
                    </div>
                </div>

                <!-- text -->
                <div class="row">
                    <div class="col-md-12 form-group">
                        <textarea class="form-control" ng-model="plan.text"
                                  ng-attr-placeholder="{{'schedule.self.text' | translate }}"></textarea>
                    </div>
                </div>

                <!-- date and time -->
                <div class="row">
                    <div class="col-md-12 date-time-selection">

                        <date-time-picker start="plan.mainEvent.start" end="plan.mainEvent.end"></date-time-picker>

                    </div>
                </div>

                <!-- frequency -->
                <div class="row">
                    <div class="col-md-12 frequency">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" ng-model="plan.mainEvent.frequency"
                                    btn-radio="'once'" translate>activityPlanFrequency.once
                            </button>
                            <button type="button" class="btn btn-default" ng-model="plan.mainEvent.frequency"
                                    btn-radio="'day'" translate>activityPlanFrequency.day
                            </button>
                            <button type="button" class="btn btn-default" ng-model="plan.mainEvent.frequency"
                                    btn-radio="'week'" translate>activityPlanFrequency.week
                            </button>
                        </div>
                    </div>
                </div>

                <!-- recurrence -->

                <div class="row recurrence"
                     ng-if="plan.mainEvent.frequency=='day' || plan.mainEvent.frequency=='week'">
                    <div class="col-md-6 recurrence-day">
                        <label>
                            <span translate>schedule.self.recurrence.day</span>
                            <input ng-model="plan.mainEvent.recurrence['endby'].after" type=number min="1"
                                   class="form-control input-sm">
                        </label>
                    </div>

                </div>

                <!-- joiningUsers -->
                <div class="row joining-users" ng-show="offer.isJoinedPlan">
                    <div class="col-md-12">
                                <span ng-if="plan.joiningUsers.length > 0">
                                    <span>{{ plan.joiningUsers[0].fullname }}</span>
                                    <span ng-if="plan.joiningUsers.length > 1"
                                          translate
                                          translate-values="{ OTHERS: '{{ plan.joiningUsers.slice(1).length}}' }"
                                          translate-interpolation="messageformat"
                                          tooltip-html-unsafe="{{ getJoiningUsers(plan) }}"
                                            >
                                        schedule.self.joiningUsers
                                    </span>
                                </span>
                    </div>
                </div>

            </fieldset>


        </div>


        <!-- campaignActivity without Plan -->

        <div ng-if="offer.offerType[0] === 'campaignActivity'">

            <div class="no-plans">
                <p translate>dcmschedule.recommend.helptext</p>
            </div>
        </div>

    </div>
</div>

<div class="activity-schedule-page campaignlead right">
    <div class="page">

        <div class="row">

            <div class="col-xs-12">
                <fieldset>
                    <div class="col-xs-6 date-selection">

                        <div>
                            <label translate>dcmschedule.label.publishFrom</label>
                            <date-picker date="offer.validFrom"></date-picker>
                        </div>
                    </div>
                    <div class="col-xs-6 date-selection">

                        <div>
                            <label translate>dcmschedule.label.publishTo</label>
                            <date-picker date="offer.validTo"></date-picker>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <label translate>dcmschedule.publishText</label>
                        <textarea class="form-control" ng-model="offer.publishText">

                        </textarea>
                    </div>
                </fieldset>

            </div>

        </div>
        <div class="save-link form-group" tooltip-placement="left"
             tooltip="{{ (offer.isScheduled && !offer.isEditable) ? ('activityPlanEditable.' + plan.editStatus | translate) : ''  }}">
            <button ng-show="!offer.id && (offer.offerType[0] == 'campaignActivityPlan')"
                    ng-disabled="scheduleForm.$invalid" type="submit" class="btn btn-primary pull-right" translate>
                dcmschedule.scheduletype.plan
            </button>
            <button ng-show="!offer.id && (offer.offerType[0] == 'campaignActivity')"
                     type="submit" class="btn btn-primary pull-right" translate>
                dcmschedule.scheduletype.recommend
            </button>
            <button ng-hide="!offer.id" ng-disabled="scheduleForm.$invalid || !offer.isEditable" type="submit"
                    class="btn btn-primary pull-right" translate>schedule.save
            </button>
        </div>

        <div class="delete-link form-group" tooltip-placement="left"
             tooltip="{{ offer.isDeletable ? '' : ('activityPlanDeletable.' + plan.deleteStatus | translate) }}">
            <button ng-click="deleteOffer()" ng-show="offer.id" ng-disabled="!offer.isDeletable"
                    type="button"
                    class="btn btn-warning pull-left" translate>schedule.delete
            </button>
        </div>
    </div>
</div>

<div class="clearBoth"></div>


</div>
</div>
</form>
<!-- inviteOthers -->

<div class="invite-others" ng-show="offer.isScheduled && plan.executionType === 'group'">


    <form name="inviteEmailForm" class="form-inline" role="form"
          ng-submit="inviteEmailForm.$valid && inviteEmailToJoinPlan(inviteEmail, plan)">

        <div class="input-group"
             ng-class="{'has-error': inviteEmailForm.email.$dirty && inviteEmailForm.email.$invalid}">

            <input class="form-control email-field" name="email" type="text" ng-model="inviteEmail"
                   placeholder="{{ 'schedule.self.inviteOthers.placeholder' | translate }}" multiple-Emails
                   required>

                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="submit"
                                                    ng-disabled="inviteEmailForm.$invalid" translate>
                                                schedule.self.inviteOthers.submit
                                            </button>
                                        </span>
        </div>

    </form>
</div>