@import "../youpers-variables";

// source-type rings around avatars
.source-type {
  border-radius: 50%;
  border-width: @yp-source-type-ring-width;
  border-style: solid;
}

.source-type .source-type-youpers img {
  transform: rotate(45deg);
}

.source-type-youpers {
  transform: rotate(-45deg);
  border-left-color: @yp-color-green;
  border-top-color: @yp-color-green;
  border-bottom-color: @yp-color-turquoise;
  border-right-color: @yp-color-turquoise;

}

.source-type-community {
  border-color: @yp-color-grey3;

}

.source-type-campaign {
  border-color: @yp-color-saffron;
}

.activity-image img {
  border-left: 0.5em solid transparent;
}


.activity-image.youpers img {
  border-color: @yp-color-turquoise;
}

.activity-image.community img {
  border-color: @yp-color-grey3;
}

.activity-image.campaign img {
  border-color: @yp-color-saffron;
}

