<div class="row">
    <div class="col-sm-12">
        <div class="state-title-1" translate>check.title1</div>
        <div class="state-title-2" translate>check.title2</div>
    </div>
</div>
<accordion class="check" close-others="true">

    <accordion-group ng-repeat="name in orderedCategoryNames" is-open="cat[name]">
        <accordion-heading>
            <div>
                <span>{{ 'questionCategory.' + name | translate }}</span>
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': cat[name], 'glyphicon-chevron-right': !cat[name]}"></i>
                <span class="pull-right">{{categories[name] | answeredCount:answers}} von {{categories[name].length}} Fragen beantwortet</span>
            </div>
        </accordion-heading>


        <div ng-repeat="question in categories[name]">

            <div class="row">
                <div class="col-md-12">
                    <h2>{{ question.title }} <i class="glyphicon glyphicon-info-sign" ng-click="displayInfo(question)"></i></h2>
                </div>
            </div>

            <div class="row">

                <div class="col-md-12">
                    <div class="btn-group-justified">
                        <!-- too low -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" ng-model="answers[question.id].answerType"
                                    btn-radio="'min'">
                                {{ question.mintext }}
                            </button>
                        </div>
                        <!-- alright -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" ng-model="answers[question.id].answerType"
                                    btn-radio="'mid'">
                                {{ question.midtext }}
                            </button>
                        </div>
                        <!-- too much -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" ng-model="answers[question.id].answerType"
                                    btn-radio="'max'" ng-show="question.type == 'twoSided'">
                                {{ question.maxtext }}
                            </button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row" ng-if="answers[question.id].answerType && answers[question.id].answerType !== 'mid'">

                <div class="col-md-12">

                    <div class="impact-question" translate>check.impactQuestion.question</div>
                    <div class="slider-caption-left" translate>check.impactQuestion.leftCaption</div>
                    <slider ng-class="[question.type]"
                            ng-model="answers[question.id].answerValue"
                            ng-mousedown="answers[question.id].dirty = true"
                            floor="0"
                            ceiling="100"
                            step="10"
                            precision="1">
                    </slider>
                </div>
                <div class="slider-caption-right" translate>check.impactQuestion.rightCaption</div>

            </div>

        </div>

    </accordion-group>

</accordion>