@import "../../styles/youpers-variables";


accordion.check .panel + .panel {
  margin-top: 10px;
}
accordion.check .panel {
  border: none;
  .game-card();
}

accordion.check .panel-title > a {
  width: 100%;
  height: 100%;
  padding: 20px 15px;
  display: block;
}
accordion.check .panel-title i {
  font-size: 14px;
  padding: 2px 6px;
  color: @yp-primary;
}
accordion.check .panel-heading {
  padding: 0;
}
accordion.check .panel-heading a {
  text-decoration: none;
  cursor: pointer;
}

.check .question:not(:last-of-type) {
  border-bottom: 1px solid @yp-divider;
}
.check .question {

  padding: 1em 0;


  .title:hover {
    color: @yp-accent-hover;
    text-decoration: none;
  }
  .title {

    display: inline-block;
    cursor: pointer;
    margin-bottom: 0.5em;

    i {
      margin: 3px 0 0 6px;
    }
    i:before {
      font-size: 18px;
      color: @yp-accent-hover;
    }
  }
}
.check .btn:hover {
//  border: 1px solid rgba(1,1,1,0.08) !important;
}
.check accordion .btn {
  .button();
  border: none;
  border-radius: 2px !important;
  box-shadow: none !important;
}

.check .btn-group-justified {
  .btn-group:first-of-type, .btn-group:last-of-type {
    .btn.active {
      color: @yp-accent !important;
    }
  }
  .btn-group {
    .btn {
      background-color: @yp-secondary !important;
    }
    .btn.active {
      color: @yp-accent !important;
    }
  }
}

.check accordion .btn.active {
  background-color: transparent !important;
}

accordion.check .glyphicon-info-sign {
  font-size: 70%;
  color: @yp-accent;
}

.back-to-top {
  float:right;
  margin: 1em;
  i {
    font-size: 18px;
  }
}

.impact-question {

  text-align: center;
  padding-top: 5px;

}

.slider-caption-left {

  float: left;
}

.slider-caption-right {

  padding-left: 0;
  float: right;
}

.slider-left-container {
  padding-right: 0;
}
.slider-right-container {
  padding-left: 0;
}
// slider
slider {
  display:     block;
  position:    relative;
  height:      20px;
  margin: 0;
}

input::-ms-tooltip
{
  display: none;
}

slider span.bar {
  height:     50%;
  z-index:    0;
  background: #fafafa;
  left:       0;
  top:        25%;
  cursor:     pointer;
}

slider span.bar {
  margin-left: 0%;
  width: 100%;
  border-radius: 3px;
  background: @yp-ass-slider-red; /* Old browsers */
  background: -moz-linear-gradient(left, white 0%, @yp-ass-slider-red 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,@yp-ass-slider-red ), color-stop(100%,white)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, white 0%, @yp-ass-slider-red 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,white 0%, @yp-ass-slider-red 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, white 0%, @yp-ass-slider-red 100%); /* IE10+ */
  background: linear-gradient(to right, white 0%, @yp-ass-slider-red 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=@yp-ass-slider-red, endColorstr=white ,GradientType=1 ); /* IE6-9 */
}

slider span.bar.selection, slider span.bar.unselected {
}

slider span.bar.selection {
  background: #0a0;
  opacity:    0.5;
}

slider span.bar.unselected {
  width:      auto;
  background: #a00;
  opacity:    0.5;
}

slider span.pointer {
  cursor:           pointer;
  width:            4px;
  top:              2px;
  bottom:           1px;
  background-color: @yp-primary;
  border-radius: 3px;
}


slider span.bubble {
  font-size:   0.7em;
  line-height: 1.4em;
  font-family: sans-serif;
  text-align:  center;
  text-shadow: none;
  top:         -1.3em;
  cursor:      pointer;


  display: none !important;
}

slider span.bubble.selection, slider span.bubble.limit {
  top: 25%;
}

slider span.bubble.selection {
}

slider span.bubble.limit {
}

slider span.bubble.low, slider span.bubble.high {
}
