<div class="row">
    <div class="col-sm-12">
        <div class="state-header-1" translate>check.stateHeader1</div>
        <div class="state-header-2" translate>check.stateHeader2</div>
    </div>
</div>
<div ng-if="!categories">Hier fehlt ein schöner Text darüber dass du in keiner Kampagne bist und wir darum nicht wissen
welches Assessment zu welchem Topic wir hier darstellen sollen. <a ui-sref="campaign-list.content">Hier gibts eine Liste aller Kampagnen</a> , an denen du teilnehmen könntest:</div>
<accordion class="check" close-others="true" ng-if="categories">

    <accordion-group ng-repeat="name in orderedCategoryNames" is-open="cat[name]" ng-class="{ open: !!cat[name]}"
                     ng-click="reinitialize()"
                     analytics-on="click" analytics-event="CheckCategoriesAccordion" analytics-category="InPageNavigation" analytics-label="Accordion Expanded Or Collapsed">
        <accordion-heading>
            <div>
                <span>{{ 'questionCategory.' + name | translate }}</span>
                <i class="pull-right glyphicon"
                   ng-class="{'glyphicon-chevron-down': cat[name], 'glyphicon-chevron-right': !cat[name]}"></i>
                <span class="label3 pull-right">{{categories[name] | answeredCount:answers}} von {{categories[name].length}} {{'check.questionsAnswered' | translate}}</span>
            </div>
        </accordion-heading>


        <div ng-repeat="question in categories[name]" ng-click="displayInfo(question)">

            <div class="row">
                <div class="col-md-12">
                    <div class="question">
                        <span>{{ question.title }}</span>
                        <i ng-mouseover="displayInfo(question)" class="glyphicon glyphicon-info-sign"></i>
                    </div>

                </div>
            </div>

            <div class="row">

                <div class="col-sm-6 col-sm-offset-3">
                    <div class="btn-group-justified">
                        <!-- too low -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" ng-model="answers[question.id].answerType"
                                    btn-radio="'min'">
                                {{ question.mintext }}
                            </button>
                        </div>
                        <!-- alright -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" ng-model="answers[question.id].answerType"
                                    btn-radio="'mid'">
                                {{ question.midtext }}
                            </button>
                        </div>
                        <!-- too much -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" ng-model="answers[question.id].answerType"
                                    btn-radio="'max'" ng-show="question.type == 'twoSided'">
                                {{ question.maxtext }}
                            </button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-sm-2 col-sm-offset-3 slider-left-container">
                    <div ng-if="answers[question.id].answerType == 'min'">
                        <div class="impact-question" translate>check.impactQuestion.question</div>
                        <div class="slider-caption-left" translate>check.impactQuestion.leftCaption</div>
                        <slider ng-class="[question.type]"
                                ng-model="answers[question.id].answerValue"
                                ng-mousedown="answers[question.id].dirty = true"
                                floor="1"
                                ceiling="100"
                                step="1"
                                precision="1">
                        </slider>
                        <div class="slider-caption-right" translate>check.impactQuestion.rightCaption</div>
                    </div>
                </div>
                <div class="col-sm-2 col-sm-offset-2 slider-right-container">
                    <div ng-if="question.type == 'twoSided' && answers[question.id].answerType == 'max'">
                        <div class="impact-question" translate>check.impactQuestion.question</div>
                        <div class="slider-caption-left" translate>check.impactQuestion.leftCaption</div>
                        <slider ng-class="[question.type]"
                                ng-model="answers[question.id].answerValue"
                                ng-mousedown="answers[question.id].dirty = true"
                                floor="1"
                                ceiling="100"
                                step="1"
                                precision="1">
                        </slider>
                        <div class="slider-caption-right" translate>check.impactQuestion.rightCaption</div>
                    </div>
                </div>

            </div>

        </div>

    </accordion-group>

</accordion>
<div class="row btn-bottom-nav">
    <div class="col-xs-12">
        <div class="pull-left"></div>
        <div class="pull-right">
            <button class="btn btn-primary" translate ng-click="$state.go('focus.content')"
                    analytics-on="click" analytics-event="ProcessNavigation" analytics-category="Navigation" analytics-label="Check to Focus">
                check.toFocus
            </button>
        </div>
    </div>
</div>
