<div class="row">
    <div class="col-md-12" ng-if="actPlansToJoin.length>0">
        <div class="row" ng-repeat="planToJoin in actPlansToJoin">
            <div class="col-md-2">
                <button type="button" ng-click="joinPlan(planToJoin)" class="btn btn-sm btn-primary">Ich mache mit
                </button>
            </div>
            <div class="col-md-4">
                {{planToJoin.location}}<br>
                {{ planToJoin.mainEvent.frequency | translate}}
                <span ng-if="planToJoin.mainEvent.frequency == 'week'">jeweils am: {{moment(planToJoin.mainEvent.start).weekday()}}</span><br>
                erstmals am: {{ planToJoin.mainEvent.start | fromNow }} <br>
                von: {{ planToJoin.mainEvent.start | time }} bis: {{planToJoin.mainEvent.end | time }}
            </div>
            <div class="col-md-6">
                Organisiert von: <br>

                <div class="row social-thread">
                    <div class="social-thread-header">
                        <a href="">
                            <img ng-src="{{ planToJoin.owner.avatar }}" class="avatar-icon"/>
                            <strong class="fullname">{{ planToJoin.owner.fullname }}</strong>
                        </a>
                        <span class="thread-time"> </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <a href="" ng-click="showJoiners = !showJoiners">{{planToJoin.joiningUsers.length}} andere aus deinem
                    Betrieb sind dabei:</a>

                <div ng-show="showJoiners">
                    <div ng-repeat="joiningUser in planToJoin.joiningUsers" class="row social-thread">
                        <div class="social-thread-header">
                            <a href="">
                                <img ng-src="{{ joiningUser.avatar }}" class="avatar-icon"/>
                                <strong class="fullname">{{ joiningUser.fullname }}</strong>
                            </a>
                            <span class="thread-time"> </span>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-12" ng-if="actPlansToJoin.length==0">
        Noch hat niemand in deinem Umfeld diese Aktivität geplant. <a href="" ng-click="model.currentExecutionType='self'">Plane sie selber ein!</a>
    </div>
    </div>
<!--<div>-->
<!--<pre>-->
<!--{{actPlansToJoin | json}}-->
<!--</pre>-->

<!--</div>-->
