<div class="container">
    <div class="row panel panel-primary">
        <div class="col-md-12"><h3 translate>admin.header</h3></div>
        <div class="col-md-1">{{activity.number}}</div>
        <div class="col-md-5"><textarea type="text" class="form-control" ng-model="activity.title"></textarea></div>

        <div class="btn-group col-md-2">
            <span translate>admin.executiontype</span> </br>
            <button class="btn btn-default btn-sm" ng-model="activity.defaultexecutiontype" btn-radio="'self'" translate>
                executiontype.self
            </button>
            <button class="btn btn-default btn-sm" ng-model="activity.defaultexecutiontype" btn-radio="'group'" translate>
                executiontype.group
            </button>
        </div>
        <div class="btn-group col-md-4">
            <span translate>admin.frequency</span> </br>
            <button class="btn btn-default btn-sm" ng-model="activity.defaultfrequency" btn-radio="'once'" translate>
                activityPlanFrequency.once
            </button>
            <button class="btn btn-default btn-sm" ng-model="activity.defaultfrequency" btn-radio="'day'" translate>
                activityPlanFrequency.day
            </button>
            <button class="btn btn-default btn-sm" ng-model="activity.defaultfrequency" btn-radio="'week'" translate>
                activityPlanFrequency.week
            </button>
            <button class="btn btn-default btn-sm" ng-model="activity.defaultfrequency" btn-radio="'month'" translate>
                activityPlanFrequency.month
            </button>
        </div>
        <div class="btn-group col-md-3">
            <span translate>admin.visibility</span> </br>
            <button class="btn btn-default btn-sm" ng-model="activity.defaultvisibility" btn-radio="'public'" translate>
                visibility.public
            </button>
            <button class="btn btn-default btn-sm" ng-model="activity.defaultvisibility" btn-radio="'campaign'" translate>
                visibility.campaign
            </button>
            <button class="btn btn-default btn-sm" ng-model="activity.defaultvisibility" btn-radio="'private'" translate>
                visibility.private
            </button>
        </div>
        <div class="btn-group col-md-3">
            <span translate>admin.source</span> </br>
            <button class="btn btn-default btn-sm" ng-model="activity.source" btn-radio="'community'" translate>
                source.community
            </button>
            <button class="btn btn-default btn-sm" ng-model="activity.source" btn-radio="'youpers'" translate>
                source.youpers
            </button>
            <button class="btn btn-default btn-sm" ng-model="activity.source" btn-radio="'campaign'" translate>
                source.campaign
            </button>
        </div>
        <div class="col-md-6"><textarea type="text" class="form-control" ng-model="activity.text"></textarea></div>

        <div class="btn-group col-md-4">
            <span translate>admin.activityField</span> </br>
            <button class="btn btn-default btn-sm" ng-repeat="fieldName in activityFields"
                    ng-model="actFieldsModel[fieldId]" btn-checkbox>{{ 'activityField.' + fieldName | translate }}
            </button>
        </div>
        <div class="col-md-1 control-group">
            <span translate>admin.qualityFactor</span> </br>
            <input type="number" min=1 max=10 ng-model="activity.qualityFactor" class="form-control">
        </div>
        <div class="col-md-1 control-group">
            <span translate>admin.duration</span> <br>
            <input type="number" min=0 ng-model="activity.defaultduration" class="form-control">
        </div>

        <div class="col-md-2 col-md-offset-10">
            <button class="btn btn-default" ng-click="cancel()" translate>admin.cancel</button>
            <button class="btn btn-success" ng-click="save()" translate>admin.save</button>
        </div>

    </div>
    <div class="row activity-admin-matrix">
        <div>
            <div class="col-md-12">
                <h3><span translate>admin.matrix.header</span> {{activity.number}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1" translate>
                admin.matrix.recommendationSliderLeft
            </div>
            <div class="col-md-1" translate>
                admin.matrix.recommendationSliderRight
            </div>
            <div class="col-md-4 col-md-offset-2 panel panel-danger" translate>
                admin.matrix.valueRangeHint
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="col-md-12">
                    <div class="row" ng-repeat="cat in assessment.questionCats">
                        <div class="col-md-12"><h5>{{ cat.category | translate}}</h5>

                            <div class="row  panel panel-default" ng-repeat="question in cat.questions">
                                <form name="myForm" novalidate>
                                    <div class="col-md-1 control-group"
                                         ng-class="{'has-error': myForm.leftWeight.$dirty && myForm.leftWeight.$invalid}">
                                        <Input type="number" name="leftWeight" min=0 max=10
                                               ng-model="recWeights[question.id].negativeAnswerWeight"
                                               class="form-control actWeightInput">
                                        {{question.mintext}}
                                    </div>
                                    <div class="col-md-3 col-md-offset-1"><h5>{{question.title}}</h5>
                                        {{question.midtext}}
                                    </div>
                                    <div class="col-md-1 control-group"
                                         ng-class="{'has-error': myForm.rightWeight.$dirty && myForm.rightWeight.$invalid}">
                                        <Input type="number" name="rightWeight" min=0 max=10
                                               ng-model="recWeights[question.id].positiveAnswerWeight"
                                               class="form-control actWeightInput">
                                        {{question.maxtext}}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>