<form role="form">
    <div class="row">
        <div class="col-md-12 form-group">
            <label>
                <span translate>detail.self.title</span>
            </label>
            <input type="text" class="form-control" ng-model="currentActivityPlan.title">

        </div>
    </div>

    <div class="row">
        <div class="col-md-6 form-group">
            <label>
                <span translate>detail.self.location</span>
            </label>
            <input type="text" class="form-control" ng-model="currentActivityPlan.location">
        </div>
        <div class="col-md-6 form-group">
            <label>
                <span translate>detail.self.text</span>
            </label>
            <textarea class="form-control" ng-model="currentActivityPlan.text"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label translate>detail.self.header</label>

            <div class="input-group">
                <input class="form-control" type="text" id="datePickerStart"
                       datepicker-popup="dd.MM.yyyy"
                       ng-model="currentActivityPlan.mainEvent.start"
                       is-open="opened" min="minDate"
                       datepicker-options="dateOptions"
                       date-disabled="disabled(date, mode)" ng-required="true"/>

                <span class="input-group-btn">
                    <button class="btn btn-info " ng-click="open()">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-3">

            <timepicker ng-model="currentActivityPlan.mainEvent.start" id="timePickerStart" minute-step="15"
                        show-meridian="false"></timepicker>
        </div>
        <div class="col-md-3">

            <timepicker ng-model="currentActivityPlan.mainEvent.end" id="timePickerEnd" minute-step="15"
                        show-meridian="false"></timepicker>
        </div>
    </div>
    <div class="row activity-planning">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" ng-model="currentActivityPlan.mainEvent.frequency"
                                btn-radio="'once'" translate>activityPlanFrequency.once
                        </button>
                        <button type="button" class="btn btn-primary" ng-model="currentActivityPlan.mainEvent.frequency"
                                btn-radio="'day'" translate>activityPlanFrequency.day
                        </button>
                        <button type="button" class="btn btn-primary" ng-model="currentActivityPlan.mainEvent.frequency"
                                btn-radio="'week'" translate>activityPlanFrequency.week
                        </button>
                    </div>
                </div>

            </div>
            <div class="row" ng-if="currentActivityPlan.mainEvent.frequency=='day'">
                <div class="col-md-6">
                    <label>
                        <span translate>detail.self.recurrence.day</span>
                        <input type=number class="form-control input-sm"
                               ng-model="currentActivityPlan.mainEvent.recurrence['endby'].after">
                    </label>
                </div>

            </div>
            <div class="row" ng-if="currentActivityPlan.mainEvent.frequency=='week'">
                <div class="col-md-6">
                    <label>
                        <span translate>detail.self.recurrence.week</span>
                        <input type=number class="form-control input-sm"
                               ng-model="currentActivityPlan.mainEvent.recurrence['endby'].after">
                    </label>
                </div>
                <div class="col-md-6">
                    <label>
                        <span translate>detail.self.recurrence.weeklyDay</span>
                        <fieldset ng-disabled="currentActivityPlan.mainEvent.frequency!='week'">
                            <select ng-model="currentActivityPlan.weeklyDay"
                                    name="weeklyDay"
                                    id="weeklyDay"
                                    ng-options="d.value as d.label | translate for d in availableDays"
                                    class="form-control">
                            </select>

                        </fieldset>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 btn-group">
                    <button type="button" class="btn btn-primary" ng-model="currentActivityPlan.visibility"
                            btn-radio="'public'" translate>detail.self.visibility.public
                    </button>
                    <button type="button" class="btn btn-primary" ng-model="currentActivityPlan.visibility"
                            btn-radio="'campaign'" translate>detail.self.visibility.campaign
                    </button>
                    <button type="button" class="btn btn-primary" ng-model="currentActivityPlan.visibility"
                            btn-radio="'private'" translate>detail.self.visibility.private
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 btn-group">
                    <button type="button" class="btn btn-primary" ng-model="currentActivityPlan.executionType"
                            btn-radio="'self'" translate>detail.self.executionType.self
                    </button>
                    <button type="button" class="btn btn-primary" ng-model="currentActivityPlan.executionType"
                            btn-radio="'group'" translate>detail.self.executionType.group
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
