<div class="row">
    <div class="col-md-12" ng-if="actPlansToJoin.length>0">
        <div class="row" ng-repeat="planToJoin in actPlansToJoin">
            <div class="col-md-2">
                <button type="button" ng-click="joinPlan(planToJoin)" class="btn btn-sm btn-primary" translate>detail.group.joinPlan.join</button>
            </div>
            <div class="col-md-4">
                {{planToJoin.location}}<br>
                {{ 'activityPlanFrequency.' + planToJoin.mainEvent.frequency | translate}}
                <span ng-if="planToJoin.mainEvent.frequency == 'week'"><span translate>detail.group.joinPlan.frequency</span> {{getWeekday(planToJoin.mainEvent.start)}}</span><br>
                <span translate>detail.group.joinPlan.start</span>{{ planToJoin.mainEvent.start | fromNow }} <br>
                <span translate>detail.group.joinPlan.time.start</span>{{ planToJoin.mainEvent.start | time }}<span translate>detail.group.joinPlan.time.end</span>{{planToJoin.mainEvent.end | time }}
            </div>
            <div class="col-md-6">
                <span translate>detail.group.joinPlan.owner</span> <br>

                <div class="row social-thread">
                    <div class="social-thread-header">
                        <a href="">
                            <img ng-src="{{ planToJoin.owner.avatar }}" class="avatar-icon"/>
                            <strong class="fullname">{{ planToJoin.owner.fullname }}</strong>
                        </a>
                        <span class="thread-time"> </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <a href="" ng-click="showJoiners = !showJoiners">{{planToJoin.joiningUsers.length}}
                    <span translate>detail.group.joinPlan.joiningUsers</span>
                </a>

                <div ng-show="showJoiners">
                    <div ng-repeat="joiningUser in planToJoin.joiningUsers" class="row social-thread">
                        <div class="social-thread-header">
                            <a href="">
                                <img ng-src="{{ joiningUser.avatar }}" class="avatar-icon"/>
                                <strong class="fullname">{{ joiningUser.fullname }}</strong>
                            </a>
                            <span class="thread-time"> </span>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-12" ng-if="actPlansToJoin.length==0">
        <span translate>detail.group.noPlansToJoin.message</span>
        <a href="" ng-click="model.currentExecutionType='self'" translate>detail.group.noPlansToJoin.link</a>
    </div>
    </div>

