<div class="col-md-12"><h3 translate>admin.header</h3></div>
<div class="col-md-1">{{activity.number}}</div>
<div class="col-md-5"><textarea type="text" class="form-control" ng-model="activity.title"></textarea></div>

<div class="btn-group col-md-2">
    <span translate>admin.executiontype</span> </br>
    <button ng-repeat="executiontype in enums.executiontype" class="btn btn-default btn-sm" ng-model="activity.defaultexecutiontype" btn-radio="executiontype" translate>
        executiontype.{{executiontype}}
    </button>

</div>
<div class="btn-group col-md-4">
    <span translate>admin.frequency</span> </br>
    <button ng-repeat="activityPlanFrequency in enums.activityPlanFrequency" class="btn btn-default btn-sm" ng-model="activity.defaultfrequency" btn-radio="activityPlanFrequency" translate>
        activityPlanFrequency.{{activityPlanFrequency}}
    </button>
</div>
<div class="btn-group col-md-3">
    <span translate>admin.visibility</span> </br>
    <button ng-repeat="visibility in enums.visibility" class="btn btn-default btn-sm" ng-model="activity.defaultvisibility" btn-radio="visibility" translate>
        visibility.{{visibility}}
    </button>
</div>
<div class="btn-group col-md-3">
    <span translate>admin.source</span> </br>
    <button ng-repeat="source in enums.source" class="btn btn-default btn-sm" ng-model="activity.source" btn-radio="source" translate>
        source.{{source}}
    </button>
</div>

<div class="col-md-6"><textarea type="text" class="form-control" ng-model="activity.text"></textarea></div>

<div class="btn-group col-md-4">
    <span translate>admin.activityField</span> </br>
    <button class="btn btn-default btn-sm" ng-repeat="fieldId in enums.activityFields"
            ng-model="actFieldsModel[fieldId]" btn-checkbox data-toggle="button">{{ 'activityField.' + fieldId | translate }}
    </button>
</div>
<div class="col-md-1 control-group">
    <span translate>admin.qualityFactor</span> </br>
    <input type="number" min=1 max=10 ng-model="activity.qualityFactor" class="form-control">
</div>
<div class="col-md-1 control-group">
    <span translate>admin.duration</span> <br>
    <input type="number" min=0 ng-model="activity.defaultduration" class="form-control">
</div>

<div class="col-md-2 col-md-offset-10">
    <button class="btn btn-default" ng-click="cancel()" translate>admin.cancel</button>
    <button class="btn btn-success" ng-click="save()" translate>admin.save</button>
</div>
