<div class="row">
    <div class="col-md-12" ng-if="actPlansToJoin.length>0">
        <div class="row" ng-repeat="planToJoin in actPlansToJoin">
            <div class="col-md-3">
                <button type="button" ng-click="joinPlan(planToJoin)" class="btn btn-sm btn-primary" translate>detail.group.joinPlan.join</button>
                {{ 'activityPlanFrequency.' + planToJoin.mainEvent.frequency | translate}} <span ng-if="planToJoin.mainEvent.frequency == 'week'"><translate>detail.group.joinPlan.frequency</translate> {{getWeekday(planToJoin.mainEvent.start)}}</span><br>
                <span translate>detail.group.joinPlan.start</span>{{ planToJoin.mainEvent.start | fromNow }} <br>
                <span translate>detail.group.joinPlan.time.start</span>{{ planToJoin.mainEvent.start | time }}<translate>detail.group.joinPlan.time.end</translate>{{planToJoin.mainEvent.end | time }}
            </div>
            <div class="col-md-5">
                {{planToJoin.location}}<br>
                {{planToJoin.title}}
            </div>
            <div class="col-md-4">
                <span translate>detail.group.joinPlan.owner</span> <br>
                <div user="planToJoin.owner"></div>
            </div>
            <div class="col-md-4">

                <a href="" ng-click="showJoiners = !showJoiners">
                    <span translate translate-values="{ OTHERS: '{{planToJoin.joiningUsers.length}}' }"
                          translate-interpolation="messageformat">detail.group.joinPlan.joiningUsers</span>
                </a>

                <div ng-show="showJoiners">
                    <div ng-repeat="joiningUser in planToJoin.joiningUsers" class="row social-thread">
                        <div user="joiningUser"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-12" ng-if="actPlansToJoin.length==0">
        <span translate>detail.group.noPlansToJoin.message</span>
        <a href="" ng-click="model.currentExecutionType='self'" translate>detail.group.noPlansToJoin.link</a>
    </div>
    </div>

