
<div class="idea-card flip">

    <div class="card page" ng-class="{ flipped: flipped }">
        <div class="front face" ng-click="flip()">

            <div class="image">
                <img ng-src="{{'/assets/actpics/' + rec.idea.number + '.jpg'}}">
            </div>
            <div class="source">
                <recommended-by-slider users="rec.recommendedBy" source-type="rec.sourceType"></recommended-by-slider>
            </div>

            <div class="content">

                <div class="title" ng-bind-html="rec.idea.title">
                </div>

                <div class="shortDescription" ng-bind-html="rec.idea.description">
                </div>

                <div>

                    <div class="schedule">
                        {{ rec.schedule }}
                    </div>

                    <div class="clearfix"></div>
                </div>

                <div class="linkleft">
                    <button class="btn btn-default" ng-click="reject({index: index, event: $event})"
                            analytics-on="click" analytics-event="RejectProposal" analytics-category="Command" analytics-label="Activity Rejected" translate>
                        schedule.nothanks
                    </button>
                 </div>
                <div class="linkright">
                    <button class="schedule-link btn btn-primary" ng-click="schedule({idea: rec.idea})" stop-propagation translate>
                        schedule.schedule
                    </button>
                </div>

            </div>

        </div>

        <div class="back face" ng-click="flip()"
             analytics-on="click" analytics-event="IdeaCardFlip" analytics-category="InPageNavigation" analytics-label="Idea Card Flipped">

            <div class="content">
                <div class="title" ng-bind-html="rec.idea.title">
                </div>

                <p class="text" ng-bind-html="getRenderedText(rec.idea.text)">
                </p>
            </div>

        </div>
    </div>

</div>
