
@import "youpers-variables";

.activity.list-item .title {
  padding-left: 1em;
}

.search .input-group {
  display: table;  // reset the display to table (as it is in bootstrap default)
}

.search .input-group-addon {
  display: table-cell;
}

.search *, .search *:hover {
  font-size: 14px;
  color: @yp-color-dark-brown;
}