@import "youpers-variables";

// activity-schedule-event-list
// --------------------------------------------------

.activity-schedule-event-list .carousel-item-list {
  height: 25em;
}
.activity-schedule-event-list .event {
  width: 17em;
}
.activity-schedule-event-list .carousel-item-list-content > * {
  margin-right: 1em;
}
.activity-schedule-event-list .event > * {
  padding-bottom: 0.5em;
}
.activity-schedule-event-list .event .rating {
  text-align: center;
  padding-bottom: 1em;
}