
@import "youpers-variables";

.activity-edit activity-card {
  margin: 1.1em 0 0 -1em;
  display: block;
}

.activity-edit-link {
  right: -20em;
  top: 1em;
  width: 100%;

}
.activity-edit-link .btn {
  margin-left: 1em;
  float: right;
}

.campaign-offers-list .image img {
  width: @yp-list-item-img-size;
  height: @yp-list-item-img-size * 2 / 3;
}

.campaign-offers-list .title {

}

.campaign-offers-list .offer {
  padding: @grid-gutter-width/3;
}

.notifications-list-edit {
  padding: @grid-gutter-width/3;
}