
@import "youpers-variables";

.activity-edit activity-card {
  padding: 0 2em 3em 2em;
  display: block;
}


.campaign-offers-list .image img {
  width: @yp-list-item-img-size;
  height: @yp-list-item-img-size * 2 / 3;
}

.campaign-offers-list .title {

}

.campaign-offers-list .offer {
  padding: @grid-gutter-width/3;
}