
@import "youpers-variables";

.activity-edit activity-card {
  margin: 1.1em 0 0 -1em;
  display: block;
}

.activity-image-link a {
  position: absolute;
  top: 0.5em;
}

.activity-image-modal .modal-content {
  padding: 1em 1em 0 1em;
}
.activity-image-modal img {
  width: 133px;
  height: 83px;
  margin: 1em;
}

.activity-edit-link {
  right: -20em;
  top: 1em;
  width: 100%;

}
.activity-edit-link .btn {
  margin-left: 1em;
  float: right;
}
