@import "youpers-variables";

// activity-schedule-event-list
// --------------------------------------------------

.activity-schedule-event-list .carousel-item-list {
  height: 25em;
}
.activity-schedule-event-list .event {
  width: 17em;
}
.activity-schedule-event-list .carousel-item-list-content > * {
  margin-right: 1em;
}
.activity-schedule-event-list .event > * {
  padding-bottom: 0.5em;
}
.activity-schedule-event-list .event .rating {
  text-align: center;
  padding-bottom: 1em;
}

.activity-schedule-event-list fieldset[disabled] .glyphicon-star:before {
  content: "\e007";
}
.activity-schedule-event-list fieldset[disabled] {
  opacity: 0.3;
}

.activity-schedule-event-list .carousel-item-list-nav-items > div {
  user-select: none;
}

.activity-schedule-event-list .carousel-item-list-nav-items .carousel-item-list-nav-chevron-left {
  position: absolute;
  top: 30px;
  left: 30%
}

.activity-schedule-event-list .carousel-item-list-nav-items .carousel-item-list-nav-chevron-right {
  position: absolute;
  top: 30px;
  right: 30%
}

.activity-schedule-event-list .carousel-item-list-nav-items {
  position: relative;
  text-align: center;
}
