@import "youpers-variables";


.activity-plan .listdate .weekday {
  font-size: 1em;
  vertical-align: top;
  float: left;
}

.activity-plan .listdate .dayofmonth {
  font-size: 2.5em;
  float: left;
  padding-left: 10px;
  padding-right: 20px;
  margin-top: -5px;
}

.activity-plan .listdate .time {
  vertical-align: top;
}

.activity-plan .event .image img {
  height: 4em;
  margin: 0.5em;
}