@import "youpers-variables";

.campaign-header {
  background-color: @yp-color-dark-brown;
  height: 100px;
}

.dcm .campaign-header {
  background-color: @yp-color-saffron;
}

.dcm .campaign-preview  .campaign-header {
  background-color: @yp-color-dark-brown;
}

.dcm .campaign-header-container {
  overflow-x: scroll;
  overflow-y: hidden;
}

.dcm .campaign-header-container .campaign-header {
  width: 2000px;
}

.campaign-header .avatar {
  float: left;
  height: @yp-avatar-campaign-size;
  width: @yp-avatar-campaign-size;
  margin: 5px;
  margin-right: 15px;
}

.campaign-header .avatar img {
  width: 68px;
  height: 68px;
}

.campaign-header .topic {
   font-weight:400;
   font-size:14px;
   color:@yp-color-light-grey;
}

.campaign-header .details {
  font-weight:300;
  font-size:14px;
  color:@yp-color-mid-grey;
}

.campaign-header .campaign {
  padding-top: 5px;
  display:inline-block;
  width: 300px;
}

.dcm .campaign-header .campaign {
  cursor: pointer;
}

.dcm .top-bar .campaign-header .campaign:hover {
  background-color: lighten(@yp-color-saffron, 30%);
}

.dcm .top-bar .campaign-header .campaign.selected {
  background-color: lighten(@yp-color-saffron, 15%);
}
