//@import "../lib/bootstrap/less/bootstrap.less";

@import "youpers-variables";

.campaign-list .campaign {
  cursor: pointer;

  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.campaign-list .campaign:hover {
  border-left: 10px solid @yp-hover;
  border-right: 10px solid @yp-hover;
}
