.campaign-header .avatar {
  width: 68px;
  height: 68px;
  float: left;
}

.campaign-header .topic {
   font-weight:400;
   font-size:14px;
   color:#DCDDDB;
   text-align:left;
}

.campaign-header .details {
  font-weight:300;
  font-size:14px;
  color:#898685;
  text-align:left;
}

.campaign-header .campaign {
  padding-top: 5px;
}