
@import "youpers-variables";


form[name='campaignForm'] label {
  .make-sm-column(3);

  text-align: right;
  padding-top: (@padding-base-vertical + 1);
}
form[name='campaignForm'] input {
  .make-sm-column(9);
}


form[name='campaignForm'] .form-group.date input.start {
  .make-sm-column(2);
  text-align: center;
  margin-right: 1em;
}
form[name='campaignForm'] .form-group.date input.end {
  .make-sm-column(2);
  text-align: center;
}


// campaign avatar
form[name='campaignForm'] avatar-upload {
  float: left;
}
form[name='campaignForm'] .avatar-upload .avatar {
  width: 100px;
  height: 50px;
}
form[name='campaignForm'] .avatar-upload > div {
  display: inline-block;
  vertical-align: middle;
}

// campaign lead avatar
.campaign-leads img {
  width: 50px;
  height: 50px;
}
.campaign-leads > div > div {
  padding-top: (@padding-base-vertical * 2);
}
