@import "youpers-variables";

.campaign-header .avatar {
  float: left;
  height: @yp-avatar-campaign-size;
  width: @yp-avatar-campaign-size;
  margin: 5px;
  margin-right: 15px;
}

.campaign-header .avatar img {
  width: 68px;
  height: 68px;
}

.campaign-header .topic {
   font-weight:400;
   font-size:14px;
   color:@yp-color-light-grey;
}

.campaign-header .details {
  font-weight:300;
  font-size:14px;
  color:@yp-color-mid-grey;
}

.campaign-header .campaign {
  padding-top: 5px;
}