@import "youpers-variables";


accordion.check .panel-title > a {
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  display: block;
}
accordion.check .panel-heading {
  padding: 0;
}
accordion.check .panel-heading a {
  text-decoration: none;
  cursor: pointer;
}

.impact-question {
  text-align: center;
  padding-top: 20px;
}
// slider
slider {
  display:     block;
  position:    relative;
  height:      30px;
  width:       80%;
  margin: 2em auto 1em auto;
}

slider span.bar {
  height:     50%;
  z-index:    0;
  background: #fafafa;
  left:       0;
  top:        25%;
  cursor:     pointer;
}

slider span.bar {
  margin-left: 0%;
  width: 100%;
  background: @yp-ass-slider-red; /* Old browsers */
  background: -moz-linear-gradient(left, @yp-ass-slider-green 0%, @yp-ass-slider-red 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,@yp-ass-slider-red ), color-stop(100%,@yp-ass-slider-green)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, @yp-ass-slider-green 0%, @yp-ass-slider-red 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, @yp-ass-slider-green 0%, @yp-ass-slider-red 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, @yp-ass-slider-green 0%, @yp-ass-slider-red 100%); /* IE10+ */
  background: linear-gradient(to right, @yp-ass-slider-green 0%, @yp-ass-slider-red 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=@yp-ass-slider-red, endColorstr=@yp-ass-slider-green,GradientType=1 ); /* IE6-9 */
}

slider span.bar.selection, slider span.bar.unselected {
}

slider span.bar.selection {
  background: #0a0;
  opacity:    0.5;
}

slider span.bar.unselected {
  width:      auto;
  background: #a00;
  opacity:    0.5;
}

slider span.pointer {
  cursor:           pointer;
  width:            5px;
  top:              2px;
  bottom:           2px;
  background-color: #444;
}

slider span.pointer:hover {
}

slider span.pointer.active {
}


slider span.bubble {
  font-size:   0.7em;
  line-height: 1.4em;
  font-family: sans-serif;
  text-align:  center;
  text-shadow: none;
  top:         -1.3em;
  cursor:      pointer;


  display: none !important;
}

slider span.bubble.selection, slider span.bubble.limit {
  top: 25%;
}

slider span.bubble.selection {
}

slider span.bubble.limit {
}

slider span.bubble.low, slider span.bubble.high {
}
