@import "youpers-variables";

.diary .diary-entry .image img {
  height: 4em;
  margin: 0.5em;
}


.feedback-icon {
  background-image: url(../assets/img/rt.png);
  width: 20px;
  height: 20px;
  border: 0;
}


.feedback-icon-5 {
  background-position: 0px -177px;
}


.feedback-icon-4 {
  background-position: 0px -117px;
}

.feedback-icon-3 {
  background-position: 0px -257px;
}

.feedback-icon-2 {
  background-position: 0px -137px;
}

.feedback-icon-1 {
  background-position: 0px -157px;
}

.diary-modal {
  color: @yp-color-dark-brown;
  font-style: normal;
  font-weight: 200;
}

.diary-modal .modal-header {
  padding: 30px;
}
.diary-modal .modal-dialog {
  width: 981px;
}

.diary-modal .topic-title {
//  float: left;
}

.diary-modal h2 {
  font-size: 48px;
  font-weight: 200;
}

.diary-modal h3 {
  font-size: 28px;
  margin-top: 0px;
  font-weight: 300;
}

.diary-modal h4 {
  font-size: 28px;
  font-size: 13px;
  color: @yp-color-light-grey;
  text-transform: uppercase;
}

.diary-modal .topic-entry {
  margin-bottom: 30px;
}