@import "youpers-variables";

.diary .diaryentry .image img {
  height: 4em;
  margin: 0.5em;
}

.diary .listdate .weekday {
  font-size: 1em;
  vertical-align: top;
  float: left;
}

.diary .listdate .dayofmonth {
  font-size: 2.5em;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -5px;
}

.diary .listdate .time {
  vertical-align: top;
}

.feedback-icon {
  background-image: url(../assets/img/rt.png);
  width: 20px;
  height: 20px;
  border: 0;
}


.feedback-icon-5 {
  background-position: 0px -177px;
}


.feedback-icon-4 {
  background-position: 0px -117px;
}

.feedback-icon-3 {
  background-position: 0px -257px;
}

.feedback-icon-2 {
  background-position: 0px -137px;
}

.feedback-icon-1 {
  background-position: 0px -157px;
}