
.game-card {
  box-shadow: 0px 3px 6px @yp-shadow;
  border-radius: 2px;
  overflow: hidden;
}


.component,
.topicStress,
.topicNutrition,
.topicFitness,
.topicErgonomics,
.topicSafety,
.eventFuture,
.eventPresent,
.eventPast,
.eventConflict,
.eventCoach,
.offerCampaignLead,
.offerCoach,
.offerUser,
.organization,
.idea {

  .sheet {
    .caption();
  }

  .sheet.primary {
    background: @yp-primary;
    color: white;
    font-size: 16px;
  }


}


// Event Cards

activity-event-stack[type=current], activity-event-card[type=feedback] {

  .eventFuture {
    .date {
      color: @yp-event-future;
    }
  }
  .eventPresent {
    .date {
      color: @yp-event-present;
    }
  }
  .eventPast {
    .date {
      color: @yp-event-past;
    }
  }
}

.eventCoach {
  .sheet.primary {
    background-color: @yp-accent;
  }
  .sheet:not(.primary) {
    background-color: white;
    color: @yp-accent;
  }
}


// Offer Cards


.offerCampaignLead {
  .sheet.tertiary {
    background-color: @yp-campaignLead;
    color: @yp-primary;
  }
}
.offerCoach {
  .sheet.tertiary {
    background-color: @yp-coach;
    color: @yp-primary;
  }
}
.offerUser {
  .sheet.tertiary {
    background-color: @yp-user;
    color: @yp-primary;
  }
}
