
.game-card:hover {
  box-shadow: 4px 4px 4px @yp-accent-hover;
}
.game-card {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  overflow: hidden;
}

.sheet.primary.title, .sheet.primary.title * {
  font-size: 16px;
}