@import "util";

.component,
.topicStress,
.topicNutrition,
.topicFitness,
.topicHealthyAtWork,
.topicSafety,
.eventFuture,
.eventPresent,
.eventPast,
.eventConflict,
.eventCoach,
.offerCampaignLead,
.offerCoach,
.offerUser,
.organization,
.idea {

  .sheet {

  }

  .sheet.primary {
    background: @yp-primary;
    color: white;

    .title {
      .header2();
    }
  }
//
//  .sheet.secondary {
//
//    background: white;
//    color: @yp-primary;
//  }
//  .sheet.tertiary {
//
//    background: white;
//    color: @yp-primary;
//  }


}



// Event Cards


.eventFuture {
  .date {
    color: @yp-primary;
  }
}
.eventPresent {
  .date {
    color: @yp-accent;
  }
}
.eventPast {
  .date {
    color: @yp-warning;
  }
}
.eventConflict {
  .sheet.primary {
    background-color: @yp-warning;
  }
}
.eventCoach {
  .sheet.primary {
    background-color: @yp-accent;
  }
  .sheet:not(.primary) {
    background-color: white;
    color: @yp-accent;
  }
}


// Offer Cards


.offerCampaignLead {
  .sheet.tertiary {
    background-color: @yp-tertiary-campaignLead;
    color: @yp-primary;
  }
}
.offerCoach {
  .sheet.tertiary {
    background-color: @yp-tertiary-coach;
    color: @yp-primary;
  }
}
.offerUser {
  .sheet.tertiary {
    background-color: @yp-tertiary-user;
    color: @yp-primary;
  }
}
