@import "youpers-variables";


// Health Coach
//---------------------------------------------



.health-coach .avatar {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
}

.health-coach .avatar  img {
  width: 5em;
  height: 5em;
}

.health-coach {
  padding-top: 15px;

}

.health-coach .message {
  color: #473F45;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  display: inline-block;
  vertical-align: top;
  width: 170px;
}

.health-coach-nav {
  padding: 10px;
  cursor: pointer;
  float: right;
}

.health-coach-nav img {
  width: 75px;
  height: 75px;
}