@import "youpers-variables";

.background-hover {
  transition: background-color 1000ms linear;
}

.background-hover-hovered, .background-hover:hover {
  cursor: pointer;
  background-color: lighten(@yp-color-green, 35%);
}

.color-hover {
  transition: color 0.1s linear;
}
.color-hover-hovered {
  cursor: pointer;
  color: @yp-color-green-hover;
}