@import "youpers-variables";

i.fa {
  font-size: 18px;
  padding: 2px;
  color: @yp-icon;
}
i.fa.disabled {
  color: @yp-divider;
}



a span, a i.fa {
  color: @yp-accent;
}
a:hover span, a:hover i.fa {
  color: @yp-accent-hover;
}

a:hover, a i.fa:not(.disabled):hover, i.fa.active {
  cursor: pointer;
  color: @yp-accent-hover;
}

.filter-icons {

  li {
    position: relative;

    .count-label {
      color: @yp-primary;
      position: absolute;
      top: -8px;
      right: 4px;
    }
  }

}

@font-face {
  font-family: "ypicons";
  src: url("../fonts/ypicons.woff") format('woff');
}

.ypicon {
  font-family: ypicons;
}

.ypicon-add-to-calendar:before {
  content: "\e600";
}