@import "youpers-variables";

i.fa {
  font-size: 30px;
  padding: 2px;
}
i.fa.disabled {
  color: @yp-color-grey1;
}

a {
  transition: color 0.1s linear;
}
a:hover, a i.fa:not(.disabled):hover, i.fa.active {
  cursor: pointer;
  color: @yp-color-green-hover;
}

.filter-icons {

  li {
    position: relative;

    .count-label {
      color: @yp-color-grey3;
      position: absolute;
      top: -8px;
      right: 4px;
    }
  }

}

