
@import "youpers-variables";

.activity-card-invite .linkleft , .activity-card-invite .linkright {
  display: none;
}
.activity-card-invite .content .title {
  margin-top: 3em;
}
.activity-card-invite .content .shortDescription {
  margin-top: 1em;
}