@import "youpers-variables";

@yp-layout-gutter: 0.6em;

body {
  background: white;
}

.container.dcm, .container.dhc {
  margin-top: 1em;
  padding: 0.2em;
  // background-color: white;
}

.column-layout {

  nav,
  aside,
  section {
    background-color: white;
    padding: 0.2em;
  }

  @media(min-width: @screen-md) {
    display: flex;

    nav,
    aside,
    section {
      margin-top: @yp-layout-gutter;
    }

    nav {
      margin-right: @yp-layout-gutter;
    }
    aside {
      margin-left: @yp-layout-gutter;
    }

    nav {
      flex: 0 0 14em;
    }
    aside {
      flex: 0 0 18em;
    }
    section {
          flex: 1 1  auto;
    }
  }

}
