@import "youpers-variables";

@yp-layout-gutter: 0.6em;

body {
  background: @yp-secondary;
}

.container.dcm, .container.dhc, .container.admin {
  margin-top: 15px;
  background-color: @yp-secondary;
}

.column-layout {

  nav,
  aside,
  section {
//    background-color: white;
    padding: 0.2em;
  }

  @media(min-width: @screen-md) {
    display: flex;

    nav,
    aside,
    section {
      margin-top: @yp-layout-gutter;
    }

    nav {
      margin-right: @yp-layout-gutter;
    }
    aside {
      margin-left: @yp-layout-gutter;
    }

    nav {
      flex: 0 0 14em;
    }
    aside {
      flex: 0 0 18em;
    }
    section {
          flex: 1 1  auto;
    }
  }

}


.two-column-layout {

  display: flex;

  margin-bottom: 1em;

  section {
    flex: 0 0 75%;
    padding: 0 12px 12px 12px;
  }

  section:first-of-type {
    flex: 0 0 25%;
  }

}



.three-column-layout {

  @media(min-width: @screen-md) {
    display: flex;

    margin-bottom: 1em;

    section:not(:first-of-type) {
      border-left: 1px solid @yp-divider;
    }


    section {
      flex: 0 0 645px;
      padding: 0 12px 12px 12px;

      > div.box {
        border-bottom: 1px solid @yp-divider;
      }
      > div {
        padding-bottom: 1em;
        //          transition: 0.4s ease-in opacity;
      }
    }

    section:first-of-type, section:last-of-type {
      flex: 0 0 25%;
    }

    section.inactive {
      > div {
        opacity: 0;
      }
    }


  }

}

.four-column-layout {

  @media(min-width: @screen-md) {
    display: flex;

    margin-bottom: 1em;


    section:not(:first-of-type) {
      border-left: 1px solid @yp-divider;
    }

    section {
      flex: 0 0 25%;
      padding: 0 12px 12px 12px;

      > div.box {
        border-bottom: 1px solid @yp-divider;
      }
      > div {
        padding-bottom: 1em;
        //          transition: 0.4s ease-in opacity;
      }
    }

    section.inactive {
      > div {
        opacity: 0;
      }
    }


  }

}

.column-layout, .three-column-layout, .four-column-layout {


  .header-row {
    height: 2em;
    margin-bottom: 1em;

    > * {
      margin: 0;
    }
  }
  .button-row {
    height: 4em;
  }

  section {
    .publish {
      border-bottom: 1px solid @yp-divider;
      height: 5em;

      > div:first-of-type {
        float: left;
      }
      > div:last-of-type {
        float: right;
      }
      > div {
        width: 48%;
      }
    }
  }

  > *:last-of-type {


    .btn.submit, .btn.backToGame {
      margin-bottom: 0.5em;
      width: 48%;
    }

    .btn.submit {
      float: left;
    }
    .btn.backToGame {
      float: right;
    }
  }

}