@import "youpers-variables";

// carousel-item-list
// --------------------------------------------------

[multiple-view-carousel] {
  display: block;
}

.carousel-item-list {
  overflow: hidden;
  height: 20em;
  position: relative;
}

.carousel-item-list-content > * {
  float: left;
  position: relative;
}

.carousel-item-list > div {
  transition: left 0.4s;
  position: absolute;
//  width: dynamic, depends on number of items
}


.activity-offer-list .carousel-item-list-nav-items {
  position: absolute;
  top: 0px;
  left: 50%;
  margin:  20px auto 0 auto;
}

.carousel-item-list-nav-items .item.active {
  opacity: 1;
}

.activity-offer-list .carousel-item-list-nav-items > div {
  display: inline-block;
  position: relative;
  left: -50%;
  vertical-align: middle;
  user-select: none;
}

.carousel-item-list-nav-items .item {
  display: inline-block;
  opacity: 0.5;
  cursor: pointer;
}

.activity-schedule-event-list .carousel-item-list-nav-items > div {
  user-select: none;
}

.activity-schedule-event-list .carousel-item-list-nav-items .carousel-item-list-nav-chevron-left {
  position: absolute;
  top: 30px;
  left: 30%
}

.activity-schedule-event-list .carousel-item-list-nav-items .carousel-item-list-nav-chevron-right {
  position: absolute;
  top: 30px;
  right: 30%
}

.activity-schedule-event-list .carousel-item-list-nav-items {
  position: relative;
  text-align: center;
}

.carousel-item-list-nav-items .item div {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  border-radius: 20px;
  background: #869791;
}
