@import "youpers-variables";


.navbar-inverse {
  background-color: @yp-primary;
  border-color: @yp-primary;
}

.navbar {
  margin: 0;
  height: 50px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);

  .navbar-nav > li > a {
    .menu();

    margin-top: 12px;
  }

  a > span {
    .menu();
  }
}

.navbar-left {
  margin-left: 10em;
}

.navbar-logo {

  position: relative;

  img {
    margin-top: -10px;
    height: 65px;
  }
  &:hover * {
    color: @yp-accent;
  }
  * {
    display: inline;
  }
}

.back-link:focus, .btn-flat:focus,
.back-link:active, .btn-flat:active {
  color: @yp-accent !important;
  background: none !important;
  box-shadow: none !important;
}

.back-link:hover, .btn-flat:hover {
  border: none;
  color: @yp-accent-hover !important;
}
.back-link, .btn-flat {
  .btn();
  .btn-default();
//  width: 48%;

  background: none;
  border: none;
  box-shadow: none;
  color: @yp-accent !important;

}
.back-link {
    .pull-right();
}

.btn-red {
  color: @yp-warning !important;
}
.btn-big {
  * {
    font-size: 18px;
  }
}
.clickable {
  cursor: pointer !important;
}