@import "youpers-variables";


.navbar-inverse {
  background-color: @yp-primary;
  border-color: @yp-primary;
}

.navbar {
  margin: 0;
  height: 50px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);

  .navbar-nav > li > a {
    .menu();

    margin-top: 12px;
  }
}

.navbar-left {
  margin-left: 10em;
}

.navbar-logo {

  position: relative;

  img {
    margin-top: -10px;
    height: 65px;
  }
  span {
    .header4();

    white-space: nowrap;
  }
}