@import "youpers-variables";

@yp-notifications-avatar-width: 3em;
@yp-notifications-avatar-height: @yp-notifications-avatar-width;

.notifications-list {
  padding-top: 10px;
}

.notification .avatar img {
  width: @yp-notifications-avatar-width - (@yp-source-type-ring-width*1.8);
  height: @yp-notifications-avatar-width - (@yp-source-type-ring-width*1.8);
  border-radius: 50%;
}

.notification  .avatar {
  width: @yp-notifications-avatar-width;
  height: @yp-notifications-avatar-height;
  float: left;
  border-radius: 50%;
}

.notification .type-title {
  float: left;
  color: @yp-color-dark-grey;
}

.notification .type {
  color: #d3d3d3;
}


.notification .title {
  font-weight: 400;
  margin-bottom: 5px;
}

.notification a,.notification .name, .notification .time {
  color: @yp-color-dark-grey;
}

.notification:hover a, .notification:hover .name, .notification:hover .time {
  color: @yp-color-green-hover;
}

.notification {
  padding: 15px;
  border-top: 1px solid #A0A0A0;
  display: block;
}



.notifications-list-edit {
  padding: @grid-gutter-width/3;
}