@import "youpers-variables";

.activity-plan a {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #473F45;
  text-align: center;
}
.activity-plan span {
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  color: #473F45;
  text-align: center;
}

.activity-plan .group {
  border-bottom: 1px solid lightgrey;
}

.activity-plan .event > div {
  display: inline-block;
  vertical-align: middle;
  float: none;
}


.activity-plan .event .image img {
  height: 2.5em;
  margin: 0.5em;
}

.activity-plan .event .title {
  padding-left: 2em;
}

.activity-plan .event .status {
  white-space: nowrap;
  opacity: 0.6;
}
.activity-plan .event .status > * {
  display: inline-block;
}
