@import "youpers-variables";

// YouPers Brand fonts
// -------------------------

@youpers-brand-font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

// base definitions

body {
  color: @yp-text;
}

strong, .strong {
  font-weight: 600;
}

body, p, span, .btn, .form-control {
  font-size: 14px;
}

body, h1, h2, h3, h4, h5, h6, p, .form-control, .btn  {
  font-family: @youpers-brand-font-family;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 10px 0;

}

.form-control, input, textarea {
  color: @yp-input;
  font-size: 14px;
  font-weight: 400;
}

// hover styles

a:hover, .link:hover * {
  text-decoration: none;
  cursor: pointer;
}

.link-hover {
  color: @yp-accent-hover;
}


// headers
// -------------------------


// h1
// welcome header, used in campaign welcome screen
h1, h1 *,
.welcome-header, .welcome-header *,
.header1, .header1 * {
  color: @yp-primary;
  font-size: 48px;
  font-weight: 300;
}
// h1 strong
// welcome header, bold variation
h1 b, h1 strong,
.header1 b, .header1 strong,
.welcome-header b, .welcome-header strong {
  font-weight: 300;
}

// h2
// main header
h2, h2 * ,
.header2,.header2 * ,
.main-header,.main-header * {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}
// h3
h3, h3 *,
.header3, .header3 * {
  color: @yp-subtitle;
  font-size: 20px;
  font-weight: 300;
}

.button {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.subhead {
  font-size: 16px;
  font-weight: 400;
}


.caption {
  font-size: 13px;
  font-weight: 600;
  color: @yp-subtitle;

}
.username {
  font-size: 14px;
  font-weight: 600;
}

.title {
  font-size: 20px;
  font-weight: 400;
}


label, .label1 {
  font-size: 13px;
  font-weight: 400;
  color: @yp-subtitle;
}

::-webkit-input-placeholder {
  color: @yp-placeholder !important;
}
:-ms-input-placeholder  {
  color: @yp-placeholder !important;
}

::-moz-placeholder {
  color: @yp-placeholder !important;
}
//
//// titles
//// -------------------------
//
//.title1 {
//  color: @yp-primary;
//  font-size: 16px;
//  font-weight: 400;
//}
//
//.title2 {
//  color: @yp-primary;
//  font-size: 20px;
//  font-weight: 400;
//}
//.title3 {
//  color: @yp-primary;
//  font-size: 14px;
//  font-weight: 300;
//}
//.title4 {
//  color: @yp-primary;
//  font-size: 24px;
//  font-weight: 400;
//  line-height: 25px;
//}
//
//// paragraphs
//
//p, .p1 {
//  // baseline
//}
//.p2 {
//  font-weight: 400;
//}
//.p3 {
//  color: @yp-primary;
//  font-weight: 400;
//}
//

// buttons

// primary: forward / submit
// default: back buttons
// warning: just the border color: @yp-saffron