@import "youpers-variables";

// YouPers Brand fonts
// -------------------------

@youpers-brand-font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

// base definitions

body, p, span, .btn, .form-control {
  font-size: 14px;
  font-style: normal;
}

body, h1, h2, h3, h4, h5, h6, p, .form-control, .btn  {
  font-family: @yp-primary;
  font-weight: 400;
  font-style: normal;
}

.form-control, input, textarea {
  color: @yp-input;
  font-size: 14px;
  font-weight: 400;
}

// hover styles

a:hover, .link:hover * {
  text-decoration: none;
  cursor: pointer;
}

.link-hover {
  color: @yp-accent-hover;
}


// headers
// -------------------------


// h1
// welcome header, used in campaign welcome screen
h1, h1 *,
.welcome-header, .welcome-header *,
.header1, .header1 * {
  color: @yp-primary;
  font-size: 48px;
  font-weight: 200;
}
// h1 strong
// welcome header, bold variation
h1 b, h1 strong,
.header1 b, .header1 strong,
.welcome-header b, .welcome-header strong {
  font-weight: 300;
}

// h2
// main header
h2, h2 * ,
.header2,.header2 * ,
.main-header,.main-header * {
  color: @yp-accent;
  font-size: 28px;
  font-weight: 200;

//  padding: 1em 0;
}
.h2:hover, .h2:hover * ,
.header2:hover, .header2:hover * ,
.main-header:hover, .main-header:hover * {
  text-decoration: none;
  color: @yp-accent-hover;
}

// h3
h3, h3 *,
.header3, .header3 * {
  color: @yp-primary;
  font-size: 16px;
  font-weight: 400;
}

// h4
h4, h4 *,
.header4, .header4 *, {
  color: @yp-primary;
  font-size: 20px;
  font-weight: 300;
  line-height: 19px;
}

// h5
h5, .header5 {
  color: @yp-primary;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

// h6
h6, .header6 {
  color: @yp-primary;
  font-size: 14px;
  font-weight: 300;
}


// form components
// -------------------------

label, .label1 {
  color: @yp-primary;
  font-size: 14px;
  font-weight: 300;
}

.label2 {
  color: @yp-primary;
  font-size: 14px;
  font-weight: 400;
}
.label3 {
  color: @yp-divider;
  font-size: 14px;
  font-weight: 400;
}

::-webkit-input-placeholder {
  color: @yp-placeholder !important;
}
:-ms-input-placeholder  {
  color: @yp-placeholder !important;
}

::-moz-placeholder {
  color: @yp-placeholder !important;
}

// titles
// -------------------------

.title1 {
  color: @yp-primary;
  font-size: 16px;
  font-weight: 400;
}

.title2 {
  color: @yp-primary;
  font-size: 20px;
  font-weight: 400;
}
.title3 {
  color: @yp-primary;
  font-size: 14px;
  font-weight: 300;
}
.title4 {
  color: @yp-primary;
  font-size: 24px;
  font-weight: 400;
  line-height: 25px;
}

// paragraphs

p, .p1 {
  // baseline
}
.p2 {
  font-weight: 400;
}
.p3 {
  color: @yp-primary;
  font-weight: 400;
}


// buttons

// primary: forward / submit
// default: back buttons
// warning: just the border color: @yp-saffron