

// YouPers Brand fonts
// -------------------------

@youpers-brand-font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

// base definitions

body, p, span, .form-control {
  font-size: 14px;
}

body, h1, h2, h3, h4, h5, h6, p, span, .form-control  {
  font-family: @youpers-brand-font-family;
  font-weight: 400;
  font-style: normal;
  text-align: left;
}

// headers and titles

.sub-title {
  color: @yp-color-green;
  font-size: 28px;
}

.campaign-title {
  color: @yp-color-grey3;
  font-size: 28px;
}

.state-title-1 {
  color: @yp-color-grey1;
  font-size: 20px;
  font-weight: 300;
}

.state-title-2 {
  color: @yp-color-grey2;
  font-size: 28px;
  font-weight: 200;
  text-transform: uppercase;
  line-height: 0.7em;
  padding-bottom: 0.5em;
}

// specific definitions

