

.animate-if.ng-enter {
  transition: 1s ease all;
  overflow: hidden;
}
.animate-if.ng-enter {
  max-height: 0;
  opacity: 0;
}
.animate-if.ng-enter.ng-enter-active {
  max-height: 999px;
  opacity:1;
}