
@import "youpers-variables";

.welcome-layout {
  
  background: url(../assets/img/bg.jpg);
  
}
.welcome-layout > div {
  padding-top: 4em;
  height: 46em;
  background: transparent;
}
.welcome-layout .container {
  background: #ffffff;
  width: 970px;
}

.welcome-layout .activity-card .content {
  padding-top: 2em;
}

.welcome-layout .activity-card .text {
  padding-top: 2em;
  text-align: center;
}



.welcome-content {
  height: 32em;
}

.welcome-header {
  padding: 2em 3em 0em 3em;
  font-weight: normal;
}
.welcome-header .campaign-title {
  font-weight: bold;
}
.welcome-links {
  position: absolute;
  bottom: 2em;
  right: 2em;
  padding: 1em;
}
.welcome-links .btn {
  width: 12em;
  height: 4em;
}
