// Imports
//
@import "../lib/bootstrap/less/variables";
// importing common less mixins (for gradients, borders, round edges ...
@import "../lib/less-elements/elements";

//
// Variables
// --------------------------------------------------

// Global values
// --------------------------------------------------

// YouPers Brand fonts
// -------------------------

@youpers-brand-font-family: "Helvetica Neue Thin", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
@youpers-brand-font-family-numbers: "Helvetica Neue Thin", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

// YouPers Brand Font Sizes
//--------------------------

// Global
@youpers-font-size-1: 2.6875em;
@youpers-font-size-2: 2.1250em;
@youpers-font-size-3: 1.6875em;
@youpers-font-size-4: 1.3750em;
@youpers-font-size-5: 1.2500em;
@youpers-font-size-6: 1.0000em;
@youpers-font-size-7: 0.8750em;
@youpers-font-size-8: 0.6875em;

// Specific
@youpers-font-size-body: @youpers-font-size-6;
@youpers-font-size-h1: @youpers-font-size-1;
@youpers-font-size-h2: @youpers-font-size-2;
@youpers-font-size-h3: @youpers-font-size-3;
@youpers-font-size-h4: @youpers-font-size-4;
@youpers-font-size-h5: @youpers-font-size-5;
@youpers-font-size-h6: @youpers-font-size-6;

/* YouPers header and body fonts */

h1, h2, h3, h4, h5, h6, p {
  font-family: @youpers-brand-font-family;
  font-weight: normal;
}

h1 {
  font-size: @youpers-font-size-h1;
}

h2 {
  font-size: @youpers-font-size-h2;
}

h3 {
  font-size: @youpers-font-size-h3;
}

h4 {
  font-size: @youpers-font-size-h4;
}

h5 {
  font-size: @youpers-font-size-h5;
}

h6 {
  font-size: @youpers-font-size-h6;
}

p {
  font-size: @youpers-font-size-body;
  line-height: 1.4;
}

// bootstrap.css:body
body {
  font-family: @youpers-brand-font-family;
}

// navbar
// --------------------------------------------------

.navbar {
  border-radius: 0px;
  margin: 0;
}

.navbar a {
  cursor: pointer;
}

@youpers-activity-card-width: 19em;
@youpers-activity-card-height: 32em;
@youpers-activity-card-image-width: @youpers-activity-card-width;
@youpers-activity-card-image-height: 12em;
@youpers-activity-card-avatar-width: 4.7em;

// ui-view transitions
// --------------------------------------------------

@import "view-transitions";

// activity-card
// --------------------------------------------------

.activity-card {

  font-size: @youpers-font-size-6;

  position: relative;
}

.activity-card > div {
  width: @youpers-activity-card-width;
  height: @youpers-activity-card-height;
}

.activity-card .image img {
  width: @youpers-activity-card-image-width;
  height: @youpers-activity-card-image-height;
}

.activity-card .source-avatar-container {
  position: absolute;
  width: @youpers-activity-card-width;
  top: 10em;
}

.activity-card .source-avatar-container .source-text {
  text-align: center;
}

.activity-card .source-avatar-content {

  width: @youpers-activity-card-avatar-width;
  height: 4.7em;
  border-radius: 50%;

  margin: 0 auto;
  box-shadow: 0.3em 0.3em 0.6em 0px rgba(0,0,0,0.75);

  background-color: #ffffff;
  overflow: hidden;
}

.activity-card .source-avatar-content img {
  width: @youpers-activity-card-avatar-width;
}

.activity-card .content {
  padding: 1em;
}

.activity-card .title {
  font-size: @youpers-font-size-3;
  text-align: center;
  margin-top: 2.2em;
  height: @youpers-font-size-3;
  overflow: hidden;
}

.activity-card .shortDescription {

}

.activity-card .schedule {
  float: left;
  margin-top: 1em;
  height: 1em;
}

.activity-card .info {
  float: right;
  margin-top: 1em;
  height: 1em;
}

.activity-card .linkleft {
  position: absolute;
  bottom: 1em;
  left: 1em;
}

.activity-card .linkright {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

// activity-schedule
// --------------------------------------------------


@media (min-width: @screen-desktop) {
  .activity-schedule-page:nth-child(1) {
    border-right: 1px #d3d3d3 solid;
  }
  .activity-schedule-page:nth-child(2) {
    border-right: 1px #d3d3d3 solid;
  }
  .activity-schedule-page {
    vertical-align: top;
    display: inline-block;
  }
}

@media (max-width: @screen-desktop) {
  .activity-schedule {
    width: @youpers-activity-card-width;
    height: @youpers-activity-card-height * 3;
  }
  .activity-schedule-page {
    display: block;
  }
}

.activity-schedule {
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.75);
  display: inline-table;
}

.activity-schedule-page {
  width: @youpers-activity-card-width;
  height: @youpers-activity-card-height;
}

.activity-schedule-page .page {
  padding: 1em;
  height: 100%;
}
.activity-schedule-page .date-selection {
  padding-right: 0.2em;
  padding-top: 1.1em;
}
.activity-schedule-page .time-selection {
  padding: 0 0.4em;
}
.activity-schedule-page .time-selection .btn {
  padding: 0em;
}
.activity-schedule-page .time-selection .form-control {
  height: inherit;
  padding: 0em;
}
.activity-schedule-page .frequency .btn {
  padding: 0.3em 0.6em;
}

.activity-schedule-form {
  height: 100%;
  position: relative;
}
.activity-schedule-form .form-group.save-link {
  position: absolute;
  margin: 0;
  bottom: 0;
  right: 0;
}
.activity-schedule-form .form-group.delete-link {
  position: absolute;
  margin: 0;
  bottom: 0;
  right: left;
}

// card flip
// --------------------------------------------------

.flip {
  perspective: 1000;
  transform-style: preserve-3d;
}

.flip .card.flipped .back {
  transform: rotateY(0deg);
}

.flip .card.flipped .front {
  transform: rotateY(-180deg);
}

/* flip speed goes here */
.flip .card {
  transition: 0.5s;
  transform-style: preserve-3d;

  position: relative;
}

.flip .card .face {
  width: 100%;
  height: 100%;

  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.75);
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  transition: 0.6s;
  transform-style: preserve-3d;

  position: absolute;
  top: 0;
  left: 0;
}

/*  UPDATED! front pane, placed above back */
.front {
  z-index: 2;
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

// recommendation list
// --------------------------------------------------

.recommendation-list {
  overflow: hidden;
  height: @youpers-activity-card-height + 2em;
  position: relative;
}

.recommendation-list-item {
  float: left;
  position: relative;
  margin-right: 1.4em;
}

.recommendation-list > div {
  transition: left 0.4s;
  position: absolute;
  width: @youpers-activity-card-width * 20;
}

.recommendation-list-nav-links {
  float: right;
  margin: 0.8em;
  user-select: none;
}

.recommendation-list-nav-items {
  text-align: center;
}

.recommendation-list-nav-items .item.active {
  opacity: 1;
}

.recommendation-list-nav-items .item {
  display: inline-block;
  opacity: 0.5;
  cursor: pointer;
}

.recommendation-list-nav-items .item div {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  border-radius: 20px;
  background: #869791;
}


// Health Coach
//---------------------------------------------
.health-coach .avatar {
  width: 10em;
  height: 10em;
  border-radius: 50%;

  margin: 0 auto;
  box-shadow: 0.3em 0.3em 0.6em 0px rgba(0,0,0,0.75);

  overflow: hidden;
}

.health-coach .avatar  img {
  width: 10em;
  height: 10em;
}