.activityListClusterIcon {
  width: 30px;
  height: 30px;
  float: left;
}

.activityListFilterClusterIcon {
  width: 23px;
  height: 20px;
  margin-left: -23px;
  float: left;
  padding-right: 3px;
}

.activityListItem {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: -6px;
  margin-right: -1px;
  margin-bottom: -1px;
  overflow: hidden;
  border: 1px solid;
  border-radius: 0px;
}

.activityListItem:hover {
  cursor: pointer;
}

.activityListStarred {
  position: absolute;
  font-size: 1.5em;
  left: 65px;
}

.activityListStarred:hover {

}

.activityListPlannedEdge {
  position: absolute;
  top: 28px;
  left: -15px;
  background: green;
  /* Rotate div */
  transform:rotate(-5deg);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  color: white;
}

.activityListPlannedEdgeOld {
  background: darkgray;
}

.activityListPlannedEdgeRecommended {
  background: darkorange;
}

.pagination {
  margin: 0px;
}

//.pagination.youpers,
.pagination.youpers > li > a,
.pagination.youpers > li:first-child > a,
.pagination.youpers > li:last-child > a {
  border: 1px solid;
  border-radius: 0px;
}

.pagination.youpers > li > a:hover,
.pagination.youpers > li:first-child > a:hover,
.pagination.youpers > li:last-child > a:hover {
  cursor: pointer;
}

.pagination.youpers > .active > a {
  box-shadow: inset 0 3px 5px;
}