// Imports
//
@import "../lib/bootstrap/less/variables";
// importing common less mixins (for gradients, borders, round edges ...
@import "../lib/less-elements/elements";

@import "youpers_adminviews";

@import "youpers-variables";


/* YouPers header and body fonts */

h1, h2, h3, h4, h5, h6, p {
  font-family: @youpers-brand-font-family;
  font-weight: normal;
}

h1 {
  font-size: @youpers-font-size-h1;
}

h2 {
  font-size: @youpers-font-size-h2;
}

h3 {
  font-size: @youpers-font-size-h3;
}

h4 {
  font-size: @youpers-font-size-h4;
}

h5 {
  font-size: @youpers-font-size-h5;
}

h6 {
  font-size: @youpers-font-size-h6;
}

p {
  font-size: @youpers-font-size-body;
  line-height: 1.4;
}

// bootstrap.css:body
body {
  font-family: @youpers-brand-font-family;
  background-color: #CCCACA;
}

.main-layout {
  margin-top: 15px;
  background-color: #FEFEFE;
}

// navbar
// --------------------------------------------------

.navbar {
  border-radius: 0px;
  margin: 0;
}

.navbar a {
  cursor: pointer;
}

// topbar
.top-bar {
  background-color:  #473F45;
}

// ui-view transitions
// --------------------------------------------------

@import "view-transitions";


// yp common components
// --------------------------------------------------

@import "card-flip";
@import "multiple-view-carousel";


// yp dhc components and states
// --------------------------------------------------

@import "activity-card";
@import "activity-offer-list";
@import "activity-schedule";
@import "activity-schedule-event-list";
@import "activity-plan";
@import "diary";
@import "check";
@import "notifications";




// Health Coach
//---------------------------------------------



.health-coach .avatar {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  float: left;
  overflow: hidden;
  margin-right: 10px;
}

.health-coach .avatar  img {
  width: 5em;
  height: 5em;
}

.health-coach .message {
  color: #473F45;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.health-coach-nav {
  padding: 10px;
  cursor: pointer;
}

.health-coach-nav img {
  width: 75px;
  height: 75px;
}

// Home
// ----------------
.home-content {
  position: relative;
}

.home-content img {
  width: 454px;
  height: 454px;
}

.home-content .link-area {
  position: absolute;
//  border: 1px solid red;
  height: 100px;
  width: 100px;
  z-index: 1000;
  cursor: pointer;
}

.home-content .link-area-1 {
  top: 55px;
  left: 120px;
}

.home-content .link-area-2 {
  top: 55px;
  left: 235px;
}

.home-content .link-area-3 {
  top: 170px;
  left: 40px;
}

.home-content .link-area-4 {
  top: 170px;
  left: 320px;
}

.home-content .link-area-5 {
  top: 295px;
  left: 110px;
}
.home-content .link-area-6 {
  top: 295px;
  left: 250px;
}
.home-content .link-area-center {
  top: 170px;
  left: 175px;
}