//
// Variables
// --------------------------------------------------

// Bootstrap Variables
@import "../lib/bootstrap/less/variables";


@yp-primary: #424242; // primary color for the app

@yp-primary-contrast: #898989; // contrast color for text
@yp-secondary: #FAFAFA; // secondary, used for background
@yp-accent: #03a9f4; // accent color for clickable UI elements
@yp-accent-hover: #0277bd; // hover

@yp-warning: #ff8a80; // warning, used for warnings within the normal use cases
@yp-error: #d50000; // unexpected errors

@yp-text: rgba(0,0,0, 0.87); // contrast color for text
@yp-subtitle: rgba(0,0,0, 0.54); // contrast color for text
@yp-divider: rgba(0,0,0, 0.12); // borders / dividers
@yp-outline: rgba(0,0,0, 0.56); // disabled buttons
@yp-input: rgba(0,0,0, 0.56); // text color for form input elements
@yp-placeholder: rgba(0,0,0, 0.36); // text color for placeholder in form elements
@yp-icon: rgba(0,0,0, 0.36); // icons
@yp-menu: #9e9e9e;


@yp-done-selected: #0277bd; // "gemacht" icon selected
@yp-missed-selected: #ff5252; // "verpasst" icon selected
@yp-smiley-selected: @yp-accent-hover; // smiley selected, clicked

@yp-event-future: @yp-subtitle; // text color for date of upcoming events
@yp-event-present: @yp-accent; // today
@yp-event-past: #FF5252; // overdue

@yp-campaignLead: fade(#ffcfc0, 50%);
@yp-coach: #e1f5fe;
@yp-user: transparent;


//@yp-primary-campaignLead: #FF9800;
//@yp-secondary-campaignLead: fade(#FF9800, 15%);
//@yp-tertiary-campaignLead: fade(#FF9800, 30%);
//@yp-primary-coach: @yp-accent;
//@yp-secondary-coach: fade(@yp-accent, 15%);
//@yp-tertiary-coach: fade(@yp-accent, 30%);
//@yp-primary-user: @yp-primary;
//@yp-secondary-user: fade(@yp-primary, 15%);
//@yp-tertiary-user: fade(@yp-primary, 30%);





// assessment styling
@yp-ass-slider-green: rgba(142,200,98, 0.7);
@yp-ass-slider-red: #ff1744;

@yp-focus-color-low: rgba(142,200,98, 0.8);
@yp-focus-color-low-gradient: rgba(142,200,98, 0.4);
@yp-focus-color-medium: rgba(244,186,20, 0.8);
@yp-focus-color-medium-gradient: rgba(244,186,20, 0.4);
@yp-focus-color-high: rgba(228,79,80, 0.8);
@yp-focus-color-high-gradient: rgba(228,79,80, 0.4);


// activity cards

@yp-activity-event-offset: 5px;
@yp-activity-event-card-width: 200px;
@yp-activity-event-card-height: 80px;
@yp-activity-event-image-width: 66px;
@yp-activity-event-image-height: 45px;


// card size used in several states and pages
@youpers-idea-card-width: 250px;
@youpers-idea-card-height: 410px;

@youpers-idea-card-image-width: @youpers-idea-card-width;
@youpers-idea-card-image-height: 12em;
@youpers-idea-card-icon-size: 40px;

// source-type ring
@yp-source-type-ring-width: 0.4em;

@yp-avatar-campaign-size: 68px;

@yp-list-item-img-size: 68px;



