// Imports
//

@import "../lib/less-elements/elements";

@import "youpers_adminviews";

@import "youpers-variables";


// Customizing Bootstrap variables
////////////////////////////////////


@navbar-height: 40px;

// disable all round edges
@border-radius-base:        0px;
@border-radius-large:       0px;
@border-radius-small:       0px;

@brand-primary: @yp-color-green;
@font-family-base: @youpers-brand-font-family;
@btn-font-weight: 200;
@body-bg: @yp-color-light-grey;


  /* YouPers header and body fonts */

h1, h2, h3, h4, h5, h6, p {
  font-weight: normal;
}

h1 {
  font-size: @youpers-font-size-h1;
}

h2 {
  font-size: @youpers-font-size-h2;
}

h3 {
  font-size: @youpers-font-size-h3;
}

h4 {
  font-size: @youpers-font-size-h4;
}

h5 {
  font-size: @youpers-font-size-h5;
}

h6 {
  font-size: @youpers-font-size-h6;
}

p {
  font-size: @youpers-font-size-body;
  line-height: 1.4;
}
.btn {
  padding: 0.5em 1em;
}
.btn-default {

}
.btn:focus, .btn-default:focus {
  background-color: white;
}
.btn.active, .btn-default.active {
  background-color: #ebebeb;
}

.btn-primary {
  color: #ffffff;
  background-color: @yp-button-primary;
  border-color: @yp-button-primary-border;
}
.btn-primary:disabled {
  background-color: @yp-button-primary-disabled;
  border-color: @yp-button-primary-disabled-border;

}
.btn-primary:hover {
  background-color: @yp-button-primary-hover;
  border-color: @yp-button-primary-hover-border;
}

// bootstrap.css:body
body {
  font-weight: 300;
}

.main-layout {
  padding-bottom: 1.5em;
}

.main-content {
  margin-top: @grid-gutter-width /2;
  background-color: @yp-color-white;
}

.center-block {
  float: none;
  margin: 0 auto;
}

.main-content > .col-lg-3 {
  padding-bottom: 1.5em;
  padding-top: 1.5em;

}

// middle gutter colored like background, on only lg screens
.main-content > .col-lg-9 {
  @media(min-width: @screen-lg) {
    border-right-style: solid;
    border-right-width: @grid-gutter-width /2;
    border-right-color: @yp-color-light-grey;

    padding-bottom: 1.5em;
    padding-top: 1.5em;

  }
}

// navbar
// --------------------------------------------------

.navbar {
  border-radius: 0px;
  margin: 0;
}

.navbar a {
  cursor: pointer;
}

// topbar
.top-bar {
  background-color:  @yp-color-dark-brown;
  height: 100px;
}

// main content shared definitions
// --------------------------------
.state-title-1 {
  color: #CCCACA;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
}

.state-title-2 {
  color: #473F45;
  font-size: 28px;
  font-style: normal;
  font-weight: 200;
  text-transform: uppercase;
  line-height: 0.7em;
  padding-bottom: 0.5em;
}

.group-header:hover, .group-header:hover * {
  text-decoration: none;
  color: @yp-color-green-hover;
}
.group-header {
  padding: 1em 0;
}
.group-header * {
  font-weight: 200;
  font-style: normal;
  font-size: 28px;
  color: @yp-color-green;
  display: inline-block;
  vertical-align: middle;
}

.group-header .group-add {
  padding: 4px;
  font-size: 40px;
  font-weight: 200;
}


.list-item {
  cursor: pointer;

  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.list-item:hover {
  border-left: 10px solid @yp-hover;
  border-right: 10px solid @yp-hover;
}

.list-item img {
  width: @yp-list-item-img-size;
  height: @yp-list-item-img-size;
  padding: 5px;
}
.list-item > div {
  vertical-align: middle;
  display: inline-block;
  float: none;
}

// date and time


.list-date {
  width: 100%;
  white-space: nowrap;
}

.list-date > * {

  display: inline-block;
}
.list-date .weekday {


  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #CCCACA;

  width: 25px;

  vertical-align: top;
}

.list-date .dayofmonth {

  font-weight: 600;
  font-style: normal;
  font-size: 36px;
  color: #6B6B6B;

  padding-left: 9px;
  padding-right: 9px;
}

.list-date .time {

  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  color: #473F45;

  vertical-align: top;
}

// source-type rings around avatars
.source-type {
  border-radius: 50%;
  border-width: @yp-source-type-ring-width;
  border-style: solid;
}

.source-type .source-type-youpers img {
  transform: rotate(45deg);
}

.source-type-youpers {
  transform: rotate(-45deg);
  border-left-color: @yp-color-green;
  border-top-color: @yp-color-green;
  border-bottom-color: @yp-color-turquoise;
  border-right-color: @yp-color-turquoise;

}

.source-type-community {
  border-color: @yp-color-mid-grey;

}

.source-type-campaign {
  border-color: @yp-color-saffron;
}

.glyphicon-group { &:before { content: "\E044"; } }


// ui-view transitions
// --------------------------------------------------

@import "view-transitions";


// yp common components
// --------------------------------------------------

@import "card-flip";
@import "multiple-view-carousel";
@import "notifications";


// yp dhc components and states
// --------------------------------------------------

@import "activity-card";
@import "activity-offer-list";
@import "activity-schedule";
@import "activity-schedule-event-list";
@import "campaign-header";
@import "health-coach";

@import "signin";
@import "signup";
@import "invite";

@import "welcome";
@import "diary";
@import "check";
@import "plan";
@import "focus";

@import "dcm";
@import "organization";
@import "campaigns";
@import "campaign";
@import "activities";
@import "activity";




// Fix for auto height in boostrap accordion with dynamic content

.open .collapsing {
  height: auto !important;
}

// avatar ( placeholder is needed for upload )
.avatar {
  margin: 5px;
  width: 48px;
  height: 48px;
  .rounded(3px);
}

.avatar-upload .avatar.placeholder {
  border: 1px dashed greenyellow;
}
.avatar-upload .avatar {
  width: 100px;
  height: 100px;
}

.organization .avatar-upload .avatar {
  width: 265px;
  height: 167px;
}
.campaign .avatar-upload .avatar {
  width: 265px;
  height: 167px;
}


// Home
// ----------------
.home-content {
  position: relative;
}

.home-content img {
  width: 454px;
  height: 454px;
}

.home-content .link-area {
  position: absolute;
//  border: 1px solid red;
  height: 100px;
  width: 100px;
  z-index: 1000;
  cursor: pointer;
}

.home-content .link-area-1 {
  top: 55px;
  left: 120px;
}

.home-content .link-area-2 {
  top: 55px;
  left: 235px;
}

.home-content .link-area-3 {
  top: 170px;
  left: 40px;
}

.home-content .link-area-4 {
  top: 170px;
  left: 320px;
}

.home-content .link-area-5 {
  top: 295px;
  left: 110px;
}
.home-content .link-area-6 {
  top: 295px;
  left: 250px;
}
.home-content .link-area-center {
  top: 170px;
  left: 175px;
}

.yp-clientmsg {
  position: fixed;
  right: 1em;
  botton: 1em;

  width: 30em;
  z-index: 2;
}
.yp-clientmsg .alert {
  opacity: 1;
  padding: 0.4em 1em;
  margin: 0.5em;
  box-sizing: border-box;
//  border: 1px solid #444;
  border-radius: 4px;
  overflow: hidden;
  color: black;
}


// bottom nav buttons
// --------------------------

.btn-bottom-nav button {
  width: @yp-bottom-nav-btn-width;
  height: @yp-bottom-nav-btn-height;
}

.btn-bottom-nav {
  padding-top: @grid-gutter-width;
}