//
// Variables
// --------------------------------------------------

// Bootstrap Variables
@import "../lib/bootstrap/less/variables";

// Global values
// --------------------------------------------------

@youpers-font-size-1: 2.6875em;
@youpers-font-size-2: 2.1250em;
@youpers-font-size-3: 1.6875em;
@youpers-font-size-4: 1.3750em;
@youpers-font-size-5: 1.2500em;
@youpers-font-size-6: 1.0000em;
@youpers-font-size-7: 0.8750em;
@youpers-font-size-8: 0.6875em;

// assessment styling
@yp-ass-slider-green: rgba(142,200,98, 0.7);
@yp-ass-slider-red: rgba(228,79,80, 0.7);

@yp-focus-color-low: rgba(142,200,98, 0.8);
@yp-focus-color-low-gradient: rgba(142,200,98, 0.4);
@yp-focus-color-medium: rgba(244,186,20, 0.8);
@yp-focus-color-medium-gradient: rgba(244,186,20, 0.4);
@yp-focus-color-high: rgba(228,79,80, 0.8);
@yp-focus-color-high-gradient: rgba(228,79,80, 0.4);

@yp-button-primary: rgba(142,200,98, 0.9);
@yp-button-primary-border: rgba(142,200,98, 1);
@yp-button-primary-disabled: rgba(142,200,98, 0.6);
@yp-button-primary-disabled-border: rgba(142,200,98, 0.9);

@yp-button-primary-hover: rgba(142,200,98, 1);
@yp-button-primary-hover-border: rgba(142,200,98, 1);

@yp-color-saffron: #F4BA14;
@yp-color-green: rgba(142,200,98, 0.8);
@yp-color-green-hover: rgba(142,200,98, 0.6);
@yp-color-turquoise: #27A3A1;
@yp-color-red: #E44F50;
@yp-color-grey1: #DCDDDB;
@yp-color-grey2: #473F45;
@yp-color-grey3: #898685;
@yp-color-grey4: #2B292A;
@yp-color-white: #FFFFFF;

@yp-hover: rgba(142,200,98, 0.2);


// main layout
@gutter-width: 0.6%;
@content-min-height: 40em;

// activity cards

@yp-activity-event-offset: 5px;
@yp-activity-event-card-width: 200px;
@yp-activity-event-card-height: 80px;
@yp-activity-event-image-width: 66px;
@yp-activity-event-image-height: 45px;

// bottom nav buttons
@yp-bottom-nav-btn-width: 200px;
@yp-bottom-nav-btn-height: 70px;


// card size used in several states and pages
@youpers-idea-card-width: 250px;
@youpers-idea-card-height: 410px;

@youpers-idea-card-image-width: @youpers-idea-card-width;
@youpers-idea-card-image-height: 12em;
@youpers-idea-card-icon-size: 40px;

// source-type ring
@yp-source-type-ring-width: 0.4em;

@yp-avatar-campaign-size: 68px;

@yp-list-item-img-size: 68px;



