
@import "youpers-variables";



// main content shared definitions
// --------------------------------



.yp-clientmsg {
  position: fixed;
  z-index: 200;
  text-align: center;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  top: 48px;
}
.yp-clientmsg > div {
  position: relative;
  display: inline-block;
  min-width: 100%;
}
.yp-clientmsg .alert {
  opacity: 1;
  padding: 0.4em 1em;
  margin: 0.5em;
  box-sizing: border-box;
//  border: 1px solid #444;
  border-radius: 4px;
  overflow: hidden;
  color: black;
}