<div class="campaign-header" dropdown is-open="status.isopen" ng-if="campaigns.length > 0">
    <div class="campaign dropdown-toggle">
        <div class="avatar">
            <img ng-src="/assets/img/square_stressManagement.jpg">
        </div>
        <div class="topic">{{currentCampaign.title}}</div>
        <div class="details">{{currentCampaign.participants}}</div>
        <div class="details">{{currentCampaign.location}} {{currentCampaign.city}}</div>
        <div class="details">{{currentCampaign.start | date:'d. MMMM'}} -  {{currentCampaign.end | date:'d. MMMM yyyy'}}</div>
        <span class="glyphicon glyphicon-chevron-down" ng-if="campaigns.length > 1"></span>
    </div>
    <ul class="dropdown-menu" role="menu"  ng-if="campaigns.length > 1" >
    <li ng-repeat="campaign in campaigns" class="campaign" ng-click="selectCampaign(campaign)">
        <div class="avatar">
            <img ng-src="/assets/img/square_stressManagement.jpg">
        </div>
        <div class="topic">{{campaign.title}}</div>
        <div class="details">{{campaign.participants}}</div>
        <div class="details">{{campaign.location}} {{campaign.city}}</div>
        <div class="details">{{campaign.start | date:'d. MMMM'}} -  {{campaign.end | date:'d. MMMM yyyy'}}</div>
    </li>
    </ul>
</div>