<div class="container">


    <header name="assess">
        <div translate>assessment.header</div>
        <span ng-show="!result.timestamp"><span translate>assessment.subheader.first</span></span>
        <span ng-hide="!result.timestamp"><span translate>{{'assessment.subheader.recurring' | translate}}</span><span>{{result.timestamp | fromNow}}</span></span>
    </header>

    <!--<div class="ass-done-button ass-done-button-top">-->
    <!--<button type="button" class="btn btn-primary btn-sm" ng-click="assessmentDone()">speichern</button>-->
    <!--</div>-->
    <div class="row ass-questioncat-title" ng-repeat="questioncat in assessment.questionCats">
        <div class="col-md-11">
            <div class="panel cockpit" ng-class="{mainAssQuestion: questioncat.category=='generalStresslevel', otherAssQuestion: questioncat.category!='generalStresslevel'}">

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel cockpit section-title">
                            {{ 'questionCategory.' + questioncat.category | translate }}
                        </div>
                    </div>
                </div>
                <div class="row" ng-repeat="question in questioncat.questions">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="row ass-question">
                                    <div class="col-md-8 col-md-offset-2"><h4>{{ question.title }}</h4></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 ass-min-text" popover="{{ question.mintextexample }}"
                                         popover-trigger="mouseenter" popover-placement="right">{{ question.mintext }} <span class="glyphicon glyphicon-info-sign"></span></div>
                                    <div class="col-md-6">

                                        <slider ng-class="[question.type]"
                                                ng-model="assAnswersByQuestionId[question.id].answer"
                                                ng-mousedown="setQuestionAnswered(question.id)"
                                                floor="-100"
                                                ceiling="{{ (question.type == 'oneSided') ? 0 : 100 }}"
                                                step="10"
                                                precision="1">
                                        </slider>

                                    </div>

                                    <div ng-hide="question.maxtext == 'n/a'" class="col-md-3 ass-max-text" popover="{{ question.maxtextexample }}"
                                         popover-trigger="mouseenter">{{ question.maxtext }} <span class="glyphicon glyphicon-info-sign"></span>
                                    </div>
                                </div>
                                <div class="row ass-mid-text">
                                    <div class="col-md-8 col-md-offset-2" popover="{{ question.midtextexample }}"
                                         popover-trigger="mouseenter">{{ question.midtext }} <span class="glyphicon glyphicon-info-sign"></span></div>
                                </div>
                            </div>
                            <div class="col-md-5 assessmentText">
                                {{ question.exptext }} <br>
                                {{assAnswersByQuestionId[question.id].answer}}
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ass-done-button ass-done-button-bottom">
        <button type="button" class="cockpit btn btn-primary" ng-click="assessmentDone()">{{ 'assessment.save' | translate }}</button>
    </div>
</div>