lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.DS_Store
.idea

# these are the backend repo translation files, they get exported here by "wti pull" because we use the same wti project, just ignore
translations

pids
logs
results
.bin
npm-debug.log
node_modules
/dist
.tmp
ToDos*.txt
atlassian-ide-plugin.xml
