<div class="row">
    <div class="col-sm-8">
        <div class="state-header-1" translate>notifications.title1</div>
        <div class="state-header-2" translate>notifications.title2</div>
    </div>
    <div class="col-sm-4">
        <campaign-switcher mode="campaignlead"></campaign-switcher>
    </div>
</div>


<div class="row">
    <div class="col-md-12">

        <button class="btn btn-primary pull-right" ng-click="addNotification = !addNotification">
            <span translate>notifications.link.new</span>
        </button>
    </div>
</div>
<div class="row new-notification" ng-show="addNotification">
    <form name="notificationObjForm" ng-submit="saveNotification()" role="form" novalidate>
        <div class="col-xs-6">
            <input class="form-control" type="text" ng-model="notificationObj.title" required
                   placeholder="{{'notifications.form.title.placeholder' | translate}}"
                    tabindex="1">
        </div>
        <div class="col-xs-2  col-xs-offset-2">
            <div>
                <date-picker date="notificationObj.publishFrom"></date-picker>
            </div>
        </div>
        <div class="col-xs-6">
            <input class="form-control" type="text" ng-model="notificationObj.text"
                   placeholder="{{'notifications.form.text.placeholder' | translate}}"
                   tabindex="2">
        </div>
        <div class="col-xs-2 col-xs-offset-2">
            <div>
                <date-picker date="notificationObj.publishTo"></date-picker>
            </div>
        </div>
        <div class="col-xs-2">
            <button class="btn btn-primary" type="submit" ng-disabled="notificationObjForm.$invalid" translate>notifications.form.submit</button>
        </div>
    </form>
</div>

<div class="notifications-list-edit row" ng-repeat="notification in notifications">
    <div class="col-xs-6">
        {{notification.title}}
    </div>
    <div class="col-xs-2  col-xs-offset-2">
        {{notification.publishFrom | date}}
    </div>
    <div class="col-xs-6">
        {{notification.text}}
    </div>
    <div class="col-xs-2 col-xs-offset-2">
        {{notification.publishTo | date}}
    </div>
    <div class="col-xs-2 links">
        <a ng-click="deleteNotification(notification)" translate>notifications.form.delete</a>
    </div>
</div>