
@import "../../styles/youpers-variables";

.search {
  width: 48%;
  .form-control {
    height: 36px;
  }
}

.dcm-ideas, .dhc-ideas {

  .idea-list {
    margin-top: 1em;
  }

  .idea-list-item {

    > .heading {

      display: flex;
      flex-direction: row;
      padding: 5px;
      border-top: 1px solid @yp-divider;

      // image
      > *:nth-child(1) {
        flex: 0 0 90px;
        height: 50px;
        overflow: hidden;

        img {
          width: 77px;
        }
      }

      // title
      > *:nth-child(2) {
        flex-grow: 1;
        overflow: hidden;
        .subhead();
      }

      // icons: duration, execution type
      > *:nth-child(3) {
        flex: 0 0 140px;
        @media (max-width: @screen-sm) {
          flex: 0 0 95px;
        }

        display: flex;
        flex-direction: row;

        // info
        > div:nth-child(1) {


        }

        // links
        > div:nth-child(2) {

          flex-grow: 1;
          text-align: right;

          i.fa {
            font-size: 24px;
          }
          a:not(:first-of-type) {
            margin-left: 10px;
          }
        }
      }


      // links
      > *:nth-child(5) {
        i.fa {
          font-size: 24px;
        }
      }
    }

    > .content {

      display: flex;
      flex-direction: row;
      justify-content: center;

      padding: 2em;
    }

  }
}