<div class="row">
    <div class="col-sm-12">

    </div>
</div>


<div class="three-column-layout">

    <section>

        <h2 translate>activity.stateHeader1</h2>

        <h2 ng-bind-html="idea.title"></h2>

        <br/>

        <idea-card idea="idea"></idea-card>

    </section>

    <section>

        <idea-edit idea="idea" on-save="onSave" on-cancel="back">
            <div dropdown is-open="options.dropdownOpen" ng-if="parentState == 'dcm'">
                <ul class="dropdown-menu">
                    <li role="presentation">
                        <a role="menuitem" ui-sref="dcm.activity({ idea: idea.id, mode: 'campaignlead' })" translate>
                            activity.newInvitation
                        </a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" ui-sref="dcm.recommendation({ idea: idea.id })" translate>
                            activity.newRecommendation
                        </a></li>
                </ul>
            </div>
        </idea-edit>

    </section>

    <section>

    </section>


</div>