@import "../../youpers-variables";

.dhc.dhc-activity {

  activity-edit {
    .dl-horizontal {
      dt {
        width: 50px;
        padding: 6px;
      }
      dd {
        margin-left: 60px;
      }

      dt.time {
        padding-top: 3em;
      }
      dd.time {
        > *:first-of-type {
          margin-right: 26px;
        }
        > * {
          width: 40%;
          float: left;
        }
      }
    }

    date-picker {
      .input-group {
        width: 100%;
      }
    }
    dl.recurrence {

      padding-top: 10px;

      dt {
        text-align: left;
        width: 180px;
      }
      dd {
        margin-left: 190px;
      }
    }
  }

  .invited-user {
    position: relative;
    i.fa:hover {
      color: @yp-color-red;
    }
    i.fa {
      position: absolute;
      top: 15px;
      right: 5px;
      font-size: 1.5em;
    }
  }

  .btn.submit {
    width: 100%;
    height: 4em;
    white-space: normal;
  }

  .game-icon {
    float: right;
    font-size: 3em;
  }

  .layout {

    @media(min-width: @screen-md) {
      display: flex;

      margin-bottom: 1em;

      section:first-of-type {
        border-left: 1px solid @yp-color-grey1;
      }
      section {
        flex: 1 1 25%;
        border-top: 1px solid @yp-color-grey1;
        border-right: 1px solid @yp-color-grey1;

        padding: 8px;

        > div.box {
          border-bottom: 1px solid @yp-color-grey1;
        }
        > div {
          padding-bottom: 1em;
        }
      }
    }

  }

}
