@import "../../youpers-variables";

.dhc.dhc-activity {

  .dismissed .activity-offer-card {
    filter: saturate(0%);
  }

  activity-view {
    .dl-horizontal {
      dt {
        width: 90px;
      }
      dd {
        margin-left: 105px;
      }

    }
  }
  activity-edit {
    .dl-horizontal {
      dt {
        width: 50px;
        padding: 6px;
      }
      dd {
        margin-left: 60px;
      }

      dt.time {
        padding-top: 3em;
      }
      dd.time {
        > *:first-of-type {
          margin-right: 26px;
        }
        > * {
          width: 40%;
          float: left;
        }
      }
    }

    date-picker {
      .input-group {
        width: 100%;
      }
    }
    dl.recurrence {

      padding-top: 10px;

      dt {
        text-align: left;
        width: 180px;
      }
      dd {
        margin-left: 190px;
      }
    }
  }

  .activity-offer-card {
    width: 200px;
  }

  .activity-event-card {
    margin: 1em 0.2em;
  }

  .invitedUser > div {
    display: flex;
    justify-content:flex-start;
    align-content: flex-start;
    align-items: center;

    flex-direction:row;
    *:first-of-type {
      flex: 0 0 60px;
    }
    * {
      flex: 1 1 auto;
    }
    *:last-of-type {
      flex: 0 1 30%;
    }

    border-top: 1px solid @yp-color-grey1;

    i {
      font-size: 32px;
      padding: 4px 12px;
    }
  }

  user-invitation {
    display: block;
    margin-bottom: 1em;
  }

  email-invitation {
    display: block;
    margin-top: 1em;
    .btn {
      width: 100%;
    }
  }

  .user-to-be-invited {
    position: relative;
    i.fa:hover {
      color: @yp-color-red;
    }
    i.fa {
      position: absolute;
      top: 15px;
      right: 5px;
      font-size: 1.5em;
    }
  }

  .btn.submit, .btn.backToGame {
    width: 100%;
    white-space: normal;
    margin-bottom: 0.5em;
  }

  .btn.submit {
    height: 4em;
  }
  .btn.backToGame {
    height: 3em;
  }

  .game-icon {
    float: right;
    font-size: 3em;
  }


}
