
@import "../../youpers-variables";

.dhc.game {

  .row.game-table > div {
    height: 20em;
  }

  .row.player > div {
    height: 15em;
  }

  .left-side, .right-side {
//    border: 1px solid #eee;
  }
  .left-side {
    .make-lg-column(9);
  }
  .right-side {
    .make-lg-column(3);
  }

  .current-activities,
  .done-activities,
  .offered-activities
  {
    height: 100%;
    .background-hover();
  }


  .done-activities {
    height: 80%;
  }

  .current-activities.hovered:hover,
  .done-activities:hover,
  .offered-activities:hover {
    .background-hover-hovered();
  }


  .profile-activities i {
    font-size: 40px;
    padding: 1em 0.5em;
    .color-hover();
  }
  .profile-activities i:hover {
    .color-hover-hovered();
  }

}