
@import "../../youpers-variables";

.dhc-game {

  @side-panel-width: @yp-activity-event-card-width + 30px;
  game-area-side-panel > * {
    width: @side-panel-width;
  }
  game-area-side-panel > *.toggled {
    margin-left: -@side-panel-width;
  }

  game-area.current-activities .flex {
    height: 22em;
  }

  game-area.offered-activities .flex {
    height: 8em;
  }

}