
@import "../../youpers-variables";

// Home
// ----------------

.home-campaign .campaign-header {
  margin-top: 1em;
  background-color: transparent;
}
.home-healthcoach {
  border-left-style: solid;
  border-left-width: 15px;
  border-left-color: #dcdddb;
  margin: -25px 0;
}

.home-content {
  margin: 3em 0;
  position: relative;
}

.home-content .link-container {
  background-image: url('/assets/img/healthcoach/dhc/healthcoach_user_blank.png');
  background-size: 422px 433px;
  width: 422px;
  height: 433px;
  display: block;
}
.home-content .link-area {
  position: absolute;
  z-index: 10;
  cursor: pointer;
  text-align: center;
}
.home-content .link-area.link-area-center {
  cursor: default;
}

.home-content .icon {
  margin: auto;
}

.home-content  div:hover.select span, .home-content  div:hover.plan span, .home-content  div:hover.result span {
  color: @yp-color-green-hover
}

.home-content  div:hover.diary span, .home-content  div:hover.focus span, .home-content  div:hover.check span {
  color: @yp-color-turquoise
}

// diary
.home-content .diary:hover .icon, .home-content .diary:active .icon {
  background-image: url('/assets/img/healthcoach/dhc/diary_active.png');
}
.home-content .diary {
  top: 73px;
  left: 120px;
}
.home-content .diary .icon {
  background-image: url('/assets/img/healthcoach/dhc/diary_inactive.png');
  background-size: 42px 43px;
  width: 42px;
  height: 43px;
}

// select
.home-content .select:hover .icon, .home-content .select:active .icon {
  background-image: url('/assets/img/healthcoach/dhc/select_active.png');
}
.home-content .select {
  top: 73px;
  left: 235px;
}
.home-content .select .icon {
  background-image: url('/assets/img/healthcoach/dhc/select_inactive.png');
  background-size: 42px 44px;
  width: 42px;
  height: 44px;
}

// plan
.home-content .plan:hover .icon, .home-content .plan:active .icon {
  background-image: url('/assets/img/healthcoach/dhc/plan_active.png');
}
.home-content .plan {
  top: 187px;
  left: 310px;
}
.home-content .plan .icon {
  background-image: url('/assets/img/healthcoach/dhc/plan_inactive.png');
  background-size: 46px 40px;
  width: 46px;
  height: 40px;
}

// result
.home-content .result:hover .icon, .home-content .result:active .icon {
  background-image: url('/assets/img/healthcoach/dhc/result_active.png');
}
.home-content .result {
  top: 285px;
  left: 252px;
}
.home-content .result .icon {
  background-image: url('/assets/img/healthcoach/dhc/result_inactive.png');
  background-size: 45px 45px;
  width: 45px;
  height: 45px;
}

// check
.home-content .check:hover .icon, .home-content .check:active .icon {
  background-image: url('/assets/img/healthcoach/dhc/check_active.png');
}
.home-content .check {
  top: 285px;
  left: 107px;
}
.home-content .check .icon {
  background-image: url('/assets/img/healthcoach/dhc/check_inactive.png');
  background-size: 45px 45px;
  width: 45px;
  height: 45px;
}

// focus
.home-content .focus:hover .icon, .home-content .focus:active .icon {
  background-image: url('/assets/img/healthcoach/dhc/focus_active.png');
}
.home-content .focus {
  top: 174px;
  left: 68px;
}
.home-content .focus .icon {
  background-image: url('/assets/img/healthcoach/dhc/focus_inactive.png');
  background-size: 53px 57px;
  width: 53px;
  height: 57px;
}


.home-content .link-area-center {
  top: 170px;
  left: 175px;
  width: 100px;
  height: 100px;
}
