@import "../../youpers-variables";

.activity-plan .group a {
  .title-medium();
  text-align: center;
}

.activity-plan .group {
  border-bottom: 1px solid lightgrey;
}

.activity-plan .event > div {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.activity-plan .status i {
  font-size: 22px;
}

.activity-plan .joining span, .activity-plan .joining .others a {
  font-size: 12px;
}
.activity-plan .status i:hover {
  color: @yp-color-green;
  cursor: pointer;
}

.activity-plan .event .activity-image img {
  height: 3em;
  width: 5em;
  margin: 0.5em;
}

.activity-plan .event .title {
  padding-left: 2em;
}

.activity-plan .event .status .btn {
  font-size: 9px;
}
.activity-plan .event .status i {
  font-size: 12px;
}

.activity-plan .event .status {
  white-space: nowrap;
  opacity: 0.6;
  padding-left: 0;
}
.activity-plan .event .status > * {
  display: inline-block;
}

.activity-plan .joining-users {
  white-space: nowrap;
}

.activity-plan form[name='inviteEmailForm'] {

}

.activity-plan form[name='inviteEmailForm'] input.form-control {
  width: 10em;
  padding: 0 4px;
  height: 26px;
}
.activity-plan form[name='inviteEmailForm'] .btn {
  font-size: 9px;
}

.activity-plan form[name='inviteEmailForm'] {
  transition: 0.5s ease all;

  opacity: 0;
}

.activity-plan .active form[name='inviteEmailForm'] {
  opacity: 1;
}