<ng-include src="'dcm/subnavbar.html'">
</ng-include>
<div class="container main-layout dcm {{ $state.current.name.substr(0, $state.current.name.indexOf('.')) }}">

    <div class="three-column-layout">

        <nav>

            <div class="state-header-1" translate>dcm.campaign.stateHeader1</div>
            <div class="state-header-2" translate>dcm.campaign.stateHeader2</div>

            <div ng-init="campaign = principal.getUser().campaign">
                <campaign-switcher mode="campaignlead"></campaign-switcher>
                <div ng-if="!campaign">
                    <br/>
                    <span translate>home.noCampaign</span>
                </div>
            </div>

        </nav>

        <section>
            <div ui-view="content" autoscroll="false"></div>
        </section>

        <aside>

            [ messages ]

        </aside>

    </div>

</div>