<div class="container main-layout dcm">
    <div class="row top-bar">
        <div class="col-sm-10 campaign-header-container">
            <campaign-header mode="campaignlead"></campaign-header>
        </div>
        <div class="col-sm-2">
            <div class="health-coach-nav" ng-click="$state.go('dcm-home.content')" ng-hide="$state.current.name == 'dcm-home.content'">

            </div>
        </div>
    </div>
    <div class="row main-content">
        <div class="col-lg-9">
            <div ui-view="content" autoscroll="false"></div>
        </div>
        <div class="col-lg-3">
            <health-coach ui-scrollfix="173"></health-coach>
            <notifications></notifications>
        </div>
    </div>
</div>