<div class="container">
    <div class="row">
        <div class="container health-coach-nav" ng-hide="$state.current.name == 'home.content'" ng-click="$state.go('home.content')">
            <img ng-src="/assets/img/navigation_coach_sm.png">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <div ui-view="content" autoscroll="false"></div>
        </div>
        <div class="col-lg-3">
            <health-coach></health-coach>
            <notifications></notifications>
        </div>
    </div>
</div>