<ng-include src="'dhc/subnavbar.html'">
</ng-include>
<div class="container main-layout dhc {{ $state.current.name.substr(0, $state.current.name.indexOf('.')) }}">

    <div class="row main-content">
        <div class="col-lg-9">
            <div ui-view="content" autoscroll="false"></div>
        </div>
        <div class="col-lg-3">

            <social-interaction></social-interaction>
            <health-coach></health-coach>
            <notifications></notifications>
        </div>
    </div>
</div>