<ng-include src="'dhc/subnavbar.html'">
</ng-include>
<div class="container main-layout dhc {{ $state.current.name.substr(0, $state.current.name.indexOf('.')) }}">

    <div class="three-column-layout">

        <nav>

            <div class="state-header-1" translate>campaign.stateHeader1</div>
            <div class="state-header-2" translate>campaign.stateHeader2</div>

            <div ng-init="campaign = principal.getUser().campaign" ui-sref="campaign-list.content">
                <campaign-switcher campaign="campaign" ng-if="campaign"></campaign-switcher>
                <div ng-if="!campaign">
                    <br/>
                    <span translate>home.noCampaign</span>
                </div>
            </div>

        </nav>

        <section>
            <div ui-view="content" autoscroll="false"></div>
        </section>

        <aside>

            <health-coach></health-coach>
            <social-interaction></social-interaction>
            <notifications></notifications>

        </aside>

    </div>

</div>