<div class="container">

    <div class="row">


        <div class="col-sm-8 center-block">

            <div class="well">
                <div ng-if="submitted">
                    <div class="text-center">
                        <div translate>
                            feedbackForm.submitted
                        </div>

                        <button type="button" class="btn btn-default btn-sm" ng-click="close()"><span translate>feedbackForm.close</span></button>
                    </div>
                </div>
                <div ng-if="!submitted">
                    <h3 translate>feedbackForm.header</h3>
                    <h3 translate>feedbackForm.header2</h3>
                    <br>
                    <form name="feedbackForm" ypModel="feedback" class="form" role="form" ng-submit="submitFeedback()" novalidate>


                        <div ng-show="!anonymous && contactInfo" class="form-group">
                            <label for="username" translate>feedbackForm.username.label</label>
                            <span id="username" ng-bind="contactInfo" class="form-control"></span>
                        </div>

                        <div ng-show="!anonymous && !contactInfo" >
                            <yp-input name="contactInfo" type="email"></yp-input>
                        </div>
                        <div class="form-group">
                            <input id="anonymous" type="checkbox" ng-model="anonymous">
                            <label for="anonymous" translate>feedbackForm.anonymous.label</label>
                        </div>

                        <div class="form-group">
                            <label for="feedbackCategory" translate>feedbackForm.feedbackCategory.label</label>
                            <select id="feedbackCategory" ng-model="feedback.feedbackCategory" ng-options="'feedbackCategory.'+ feedbackCategory | translate for feedbackCategory in enums.feedbackCategory" class="form-control"></select>
                        </div>

                        <div class="form-group">
                            <label for="description" translate>feedbackForm.description.label</label>
                            <br/>
                            <textarea id="description" ng-model="feedback.description" class="form-control" required
                                      style="height: 14em"></textarea>
                        </div>

                        <div class="pull-right">
                            <button type="button" class="btn btn-default btn-sm" ng-click="close()"><span translate>feedbackForm.close</span></button>
                            <button type="submit" class="btn btn-primary btn-sm" ng-disabled="submitting || feedbackForm.$invalid"><span translate>feedbackForm.submit</span></button>
                        </div>

                        <div class="clearfix"></div>


                    </form>
                </div>

            </div>

        </div>
    </div>

</div>