idea-edit {

  .form-horizontal .control-label.start-time {
//    padding-top: 3em;
  }

  .error-msg {
    display: inline-block;
    margin-bottom: 15px;
    background: @yp-warning;
    color: @yp-primary;
  }

}

// modal dialog
.idea-images {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  padding-top: 30px;

  > * {
    flex: 0 0 30%;
    padding: 1%;
  }
}

