
@import "../../styles/youpers-variables";

.welcome-layout {

  margin-top: 1em;
  padding: 12px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  > .welcome-box {

    position: relative;
    width: 62em;

    display: flex;
    flex-direction: row;
    justify-content: center;

    > section {
      flex: 1 0 auto;
    }

    section.content {

      display: flex;

      flex-direction: column;
      align-items: center;
      justify-content: center;

      > * {
        margin:0 0 0.4em 0;
      }

      > .campaign-leads > * {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: flex-start;
        justify-content: flex-start;

        color: @yp-text;

        > *:first-of-type {
          flex: 0 0 60px;
        }
        > * {
          flex: 1 1 auto;
        }

        img {
          width: 50px;
          height: 50px;
        }
      }

      .organization, .participants, .location {
        .header4();
        line-height: 1em;
      }
      .organization {
        color: @yp-text;
      }
      .participants {
        color: @yp-subtitle;
      }
      .location {
        color: @yp-subtitle;
      }

    }

    .campaign-start {
      text-align: center;
    }

    .welcome-links {
      padding: 1em;
    }
    .welcome-links .btn {
      width: 236px;
      height: 3em;
    }


  }

}
