<div class="welcome-layout" ng-if="!isCampaignlead" >
    <div class="welcome-box">

        <section>

            <campaign-card campaign="campaign"></campaign-card>

        </section>

        <section class="content">


            <h1>
                <span translate>welcome.header</span><br/>
            </h1>
            <h1>
                <strong translate>{{ campaign.title }}</strong>
            </h1>

            <h4>
                <span>{{ campaign.organization.name }}</span>
            </h4>

            <h3>
                <div>
                    {{ campaign.participants }}
                </div>
            </h3>

            <h3>
                <div>
                    {{ campaign.location }}
                    {{ campaign.location && campaign.city ? ' / ' : '' }}
                    {{ campaign.city }}
                </div>
            </h3>

            <div class="campaign-leads">
                <h2>Deine Kampagnenleiter:</h2>

                <div ng-repeat="campaignLead in campaign.campaignLeads">

                    <div class="avatar">
                        <img ng-src="{{ campaignLead.avatar }}">
                    </div>
                    <div>
                        {{ campaignLead.fullname }}
                    </div>

                </div>

            </div>

            <div class="campaign-start" ng-if="!campaignHasStarted">

                <p translate>welcome.campaignNotStartedYet</p>

                <h3>{{ campaign.start | date }}</h3>

            </div>

            <div class="welcome-links">
                <a target="_blank" ui-sref="moreinfo.content"
                   analytics-on="click" analytics-event="WelcomeNavigation" analytics-category="Navigation" analytics-label="More Info">
                    <button class="btn btn-default info">
                        <span translate>welcome.link.info</span>
                    </button>
                </a>

                <button class="btn btn-default join" ng-click="join()" ng-if="campaignHasStarted"
                        analytics-on="click" analytics-event="WelcomeNavigation" analytics-category="Navigation" analytics-label="Join">
                    <span translate>welcome.link.join</span>
                </button>
            </div>


        </section>


    </div>

</div>

<div ng-if="isCampaignlead" class="container">
    <p translate>welcome.isCampaignlead</p>
    <button class="btn btn-primary" ui-sref="dcm.home" translate>welcome.backToDcm</button>
</div>