//
// Imports
//
// importing common less mixins (for gradients, borders, round edges ...
@import "elements.less";



//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------

// YouPers Brand colors
// -------------------------

@youpers-brand-primary:   #aec71e;
@youpers-brand-secondary: #7f981d;
@youpers-brand-tertiary:  #4a5d14;
@youpers-brand-bright:    #cef73e;

@youpers-brand-font: "Dosis", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

/* "overwrites" foundation.css */

h1, h2, h3, h4, h5, h6, p {
  font-family: @youpers-brand-font;
  font-weight: normal;
}

h1 {
  font-size: 2.6875em;
}

h2 {
  font-size: 2.125em;
}

h3 {
  font-size: 1.6875em;
}

h4 {
  font-size: 1.375em;
}

h5 {
  font-size: 1.375em;
}

h6 {
  font-size: 1.125em;
}

p {
  font-size: 0.875em;
  line-height: 1.4;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 30px;
}

/* new YouPers element vor YouPers logo in the NavBar */

.navbar-logo {
    float: left;
    padding-right: 15px;
}

.navbar-logo:hover,
.navbar-logo:focus {
    text-decoration: none;
}

/* change NavBar brand to white color and appropriate hover/focus color*/
.navbar-brand {
    /*text-transform: uppercase;*/
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: @youpers-brand-tertiary;
    background-color: transparent;
}

/* change NavBar background color from #080808 to the one used by YouPers */

.navbar-inverse {
    background-color: @youpers-brand-primary;
    border-color: @youpers-brand-primary;
}

/* change currently active menu to white color and appropriate hover/focus color*/

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: @youpers-brand-primary;
}

/* change inactive menus to YouPers inactive color */

.navbar-inverse .navbar-nav > li > a {
    color: @youpers-brand-tertiary;
}

/* change the "more" caret to YouPers inactive color */
.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: @youpers-brand-tertiary;
    border-bottom-color: @youpers-brand-tertiary;
}

/* change success button to YouPers colors */

.btn-success {
    color: #ffffff;
    background-color: @youpers-brand-secondary;
    border-color: @youpers-brand-tertiary;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    background-color: #47a447;
    border-color: #398439;
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

//////////////////////////////////
// style entry page buttons

.btn-yp-roleselection {
  font-size:  2.125em;
}


ul.small-icons {
  -webkit-transition: color .5s;
  -moz-transition: color .5s;
  -o-transition: color .5s;
  transition: color .5s;
  color: #3785ff;
  line-height: 1.2;
  text-align: center;
  font-size: 16px;
}

ul.small-icons:hover {
  color: #0caee3;
}

.actionfield-icons {
  position: absolute;
  bottom: 0px;
  left: -10px;
}

.btn-actionfield {
  .gradient(@youpers-brand-primary, @youpers-brand-bright, @youpers-brand-primary);
  border-color: #c4d7a7 #c4d7a7 hsl(84, 38%, 70%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
  height: 150px;
  width: 150px;
  font-family: @youpers-brand-font;
  font-weight: normal;
}

.btn-actionfield-selected-true {
  .gradient(@youpers-brand-secondary, @youpers-brand-primary, @youpers-brand-secondary);
  border-color: #89bb3e #89bb3e hsl(84, 50%, 44%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
}

.top-buffer {
  margin-top: 10px;
}

.action-selector {
  font-size: 0.875em;
  line-height: 1.4;
  font-family: @youpers-brand-font;
  font-weight: normal;
  padding-bottom: 10px;
}

.action-selectbox {

}

.btn {
  font-family: @youpers-brand-font;
  font-weight: normal;
}

.btn-action_planned {
  .gradient(@youpers-brand-secondary, @youpers-brand-primary, @youpers-brand-secondary);
  border-color: #516e24 #516e24 hsl(84, 50%, 24%);
}



//////////////////////////////////////////////
// assessment styling
@yp-ass-slider-green: #42c11f;
@yp-ass-slider-red: #f43d3d;

.ass-questioncat-title {
  margin-bottom: 15px;
}

.ass-min-text, .ass-max-text, .ass-question {
  font-family: @youpers-brand-font;
  font-weight: normal;
}

.ass-question {
  text-align: center;
  margin-top: 20px;
}

.ass-min-text {
  text-align: right;
}

.ass-max-text {
  text-align: left;
}


// gradient hier definiert ohne less, weil elements.less keine gradienten mit 3 Farbpunkten unterstützt.
input[type="range"]{
  -webkit-appearance: none;
  -moz-apperance: none;
  width: 100%;
  height: 12px;
  padding: 0 2px;
  border-radius: 2px;
  margin-top: 10px;
  background: @yp-ass-slider-green; /* Old browsers */
  background: -moz-linear-gradient(left, @yp-ass-slider-red 0%, @yp-ass-slider-green 50%, @yp-ass-slider-red 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,@yp-ass-slider-red ), color-stop(50%,@yp-ass-slider-green), color-stop(100%,@yp-ass-slider-red)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, @yp-ass-slider-red 0%, @yp-ass-slider-green 50%,@yp-ass-slider-red 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, @yp-ass-slider-red 0%, @yp-ass-slider-green 50%,@yp-ass-slider-red 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, @yp-ass-slider-red 0%, @yp-ass-slider-green 50%,@yp-ass-slider-red 100%); /* IE10+ */
  background: linear-gradient(to right, @yp-ass-slider-red 0%, @yp-ass-slider-green 50%,@yp-ass-slider-red 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@yp-ass-slider-green', endColorstr='@yp-ass-slider-red',GradientType=1 ); /* IE6-9 */
}

input[type=range]::-moz-range-track {
  background: none;
  border: none;
}


input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance:none;
  -moz-apperance:none;
  width:25px;
  height:25px;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  -ms-border-radius:20px;
  -o-border-radius:20px;
  border-radius:20px;
  background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fefefe), color-stop(0.49, #d7d7d7), color-stop(0.51, #d1d1d1), color-stop(1, #c8c8c8) );
  border: 1px solid #787878;
}