@import "../../../styles/youpers-variables";

activity-lookahead {
  display: block;

  position: absolute;

  top: 0;
  right: 0;

  cursor: pointer;

  z-index: 1000;

  > div {

    background-color: @yp-primary;

    line-height: 1.4em;
    font-size: 12px;
    font-weight: 600;

    text-align: center;

    margin: 6px 2px;
//    border: 1px solid @yp-secondary;
//    background-color: @yp-secondary;
    border-radius: 8px;
    color: white;
    padding: 0 5px;

    i.fa {
      font-size: 12px;
      color: white;

    }
  }
}