

table.focus th.left {
  .header6();
  text-align: left;
}
table.focus th {
  .header6();
  text-align: center;
}
table.focus td.left {
  width: 32%;
  .header4();
}

table.focus td {
  width: 17%;
}

table.focus .bar {
  position: absolute;
  height: 18px;
  width: 20px;
}
table.focus .bar.none {
  background: linear-gradient(to right, white 5%, @yp-focus-color-low-gradient 50%, @yp-focus-color-low 100%); /* W3C */
}
table.focus .bar.low {
  background: linear-gradient(to right, white 5%, @yp-focus-color-low-gradient 50%, @yp-focus-color-low 100%); /* W3C */
}
table.focus .bar.medium {
  background: linear-gradient(to right, white 0%, @yp-focus-color-medium-gradient 50%, @yp-focus-color-medium 100%); /* W3C */
}
table.focus .bar.high {
  background: linear-gradient(to right, white 0%, @yp-focus-color-high-gradient 50%, @yp-focus-color-high 100%); /* W3C */
}

.focus-title {
  .p2();
  div {
    padding: 1em 0;
  }
}

.stressor {
  .index, .title {
    .header4();
  }
  .category {
    .p3();
  }
}