<div class="activity-event-card event{{ event.dueState }} pos-{{ event.offset }}">

    <div class="sheet secondary">

        <img ng-src="{{'/assets/actpics/' + (event.idea.number || event.activity.number) + '.jpg'}}">

        <div class="date" ng-init="showFrequency = (type === 'recommendation' || type === 'dismissed')">
            <i class="fa fa-clock-o"></i>

                <span ng-if="!showFrequency">
                    {{ event.start | shortCalendar }}
                </span>
                <span ng-if="showFrequency">
                    {{ 'activityPlanFrequency.' + event.idea.defaultfrequency | translate }}
                </span>
        </div>

        <div class="location" ng-class="{ invisible: !event.activity.location }">
            <i class="fa fa-location-arrow"></i>
                <span>
                    {{ activity.location }}
                </span>
        </div>
    </div>

    <div class="title sheet primary">
        <div ng-bind-html="getRenderedText(event.activity.title || event.idea.title)"></div>
    </div>

    <div class="feedback sheet tertiary" ng-if="type === 'done' || event.id && type === 'feedback' && !isFutureEvent(event)">


        <fieldset>


            <div class="status">
                <div>
                    <span translate>activity.event.status</span>
                </div>

                <div class="control">
                    <i class="fa fa-times" ng-model="event.status" btn-radio="'missed'"></i>
                    <i class="fa fa-check" ng-model="event.status" btn-radio="'done'"></i>
                </div>
            </div>

            <div class="rating" ng-if="event.status == 'done'">
                <div>
                    <span translate>activity.event.rating</span>
                </div>

                <div class="control">
                    <i class="fa fa-frown-o" ng-model="event.feedback" btn-radio="1"></i>
                    <i class="fa fa-meh-o" ng-model="event.feedback" btn-radio="3"></i>
                    <i class="fa fa-smile-o" ng-model="event.feedback" btn-radio="5"></i>
                </div>

            </div>

        </fieldset>

    </div>
</div>
