<div class="activity-event-card event{{ event.dueState }} pos-{{ event.offset }} {{ type }}"
        >

    <div class="sheet secondary">

        <img ng-src="{{event.idea.picture}}">

        <div class="date" ng-init="showFrequency = (type === 'recommendation' || type === 'dismissed')">
            <i class="fa fa-clock-o"></i>

                <span ng-if="!showFrequency">
                    {{ event.start | shortCalendar }}
                </span>
                <span ng-if="showFrequency">
                    {{ 'activityPlanFrequency.' + event.idea.defaultfrequency | translate }}
                </span>
        </div>

        <div class="location" ng-class="{ invisible: !event.activity.location }">
            <i class="fa fa-location-arrow"></i>
                <span>
                    {{ event.activity.location }}
                </span>
        </div>
    </div>

    <div class="title sheet primary">
        <div ng-bind-html="getRenderedText(event.activity.title || event.idea.title)"></div>
    </div>

    <div class="feedback sheet tertiary" ng-if="type === 'done' || (event.id && type === 'feedback' && !isFutureEvent(event))">


        <fieldset>


            <div class="status">
                <div>
                    <span translate>activity.event.status</span>
                </div>

                <div class="control" ng-click="stopPropagation($event)">
                    <i class="missed fa fa-times" ng-model="event.status" btn-radio="'missed'"></i>
                    <i class="done fa fa-check" ng-model="event.status" btn-radio="'done'"></i>
                </div>
            </div>

            <div class="rating" ng-if="event.status == 'done'">
                <div>
                    <span translate>activity.event.rating</span>
                </div>

                <div class="control" ng-click="stopPropagation($event)">
                    <i class="fa fa-frown-o" ng-model="event.feedback" btn-radio="1"></i>
                    <i class="fa fa-meh-o" ng-model="event.feedback" btn-radio="3"></i>
                    <i class="fa fa-smile-o" ng-model="event.feedback" btn-radio="5"></i>
                </div>

            </div>

            <div class="comment" ng-show="event.status !== 'open'" ng-init="event.saved = !!event.comment">

                <div ng-show="event.saved">
                    <span ng-bind="event.comment"></span>
                    <a href ng-click="editComment()"><i class="fa fa-edit"></i></a>
                </div>

                <div ng-hide="event.saved">
                    <textarea id="comment"
                              ng-model="event.comment" ng-keydown="commentInput($event)"
                              ng-attr-placeholder="{{ 'activity.comment.placeholder' | translate }}"></textarea>
                    <a class="btn btn-flat" href ng-click="event.saved = true" ng-hide="!event.comment">
                        <!--<i class="fa fa-save"></i>-->
                        <span translate>activity.comment.save</span>
                    </a>
                </div>

            </div>

        </fieldset>

    </div>
</div>
