<div class="activity-event-card {{ event.dueState }} pos-{{ event.offset }}">

    <div>

        <img ng-src="{{'/assets/actpics/' + (event.idea.number || event.activity.number) + '.jpg'}}">

        <div class="date" ng-init="showFrequency = (type === 'recommendation' || type === 'dismissed')">
            <i class="fa fa-clock-o"></i>

                <span ng-if="!showFrequency">
                    {{ event.start | shortCalendar }}
                </span>
                <span ng-if="showFrequency">
                    {{ 'activityPlanFrequency.' + event.idea.defaultfrequency | translate }}
                </span>
        </div>

        <div class="location" ng-class="{ invisible: !event.activity.location }">
            <i class="fa fa-location-arrow"></i>
                <span>
                    {{ activity.location }}
                </span>
        </div>
    </div>

    <div class="author" ng-show="type === 'invitation' || type === 'recommendation' || type === 'dismissed'" >
        <img ng-src="{{ event.socialInteraction.author.avatar }}">
        <div>
            <div translate>activityEventCard.authorPrefix.{{ event.socialInteraction.__t }}</div>
            <div ng-bind="event.socialInteraction.author.fullname"></div>
        </div>
    </div>

    <div class="title">
        <div ng-bind-html="getRenderedText(event.activity.title || event.idea.title)"></div>
    </div>

</div>
