

    <div class="panel cockpit section-title" translate>
        cockpit.activitychart.header
    </div>

    <p translate>cockpit.activitychart.subheader</p>

    <div>
        <div class="row">
            <div class="col-xs-8 col-md-8">
                <div class="btn-group">
                    <button type="button" class="btn btn-default cockpit" ng-class="getActive('today')" ng-click="setData('today')"><span translate>cockpit.activitychart.today</span></button>
                    <button type="button" class="btn btn-default cockpit" ng-class="getActive('thisWeek')" ng-click="setData('thisWeek')"><span translate>cockpit.activitychart.thisWeek</span></button>
                    <button type="button" class="btn btn-default cockpit" ng-class="getActive('campaign')" ng-click="setData('campaign')"><span translate>cockpit.activitychart.campaign</span></button>
                </div>
            </div>
            <div class="col-xs-4 col-md-4">
                <p><a class="cockpit detail-charts btn btn-primary" href="#" translate>cockpit.activitychart.detailedChart</a>
                </p>
            </div>
        </div>
        <div>
            <d3-vertical-bar-chart data="chart" options="d3Options" label="name"
                                   on-click="onClick(item)"></d3-vertical-bar-chart>
        </div>
    </div>

