
<div class="panel cockpit section-title">
    <span translate>cockpit.sociallog.header</span>

                        <span class="glyphicon controls glyphicon-{{socialLogVisible ? 'minus' : 'plus' }}"
                              ng-init="socialLogVisible=true"
                              ng-click="socialLogVisible = !socialLogVisible"></span>
</div>

<div ng-show="socialLogVisible">

    <p translate>cockpit.sociallog.subheader</p>

    <div class="list-group social-log">

        <div class="list-group-item {{socialLogEntry.type}}"
             ng-repeat="socialLogEntry in socialLogEntries">
            <div class="row">
                <div class="col-xs-10 col-md-10">
                    <div class="col-xs-6 col-md-5">
                        <div class="social-log status">
                            <span class="glyphicon glyphicon-{{getGlyphicon(socialLogEntry.status)}}"></span></td>
                        </div>
                        <div user="socialLogEntry.author"></div>
                    </div>
                    <div class="col-xs-6 col-md-7">
                        <a href="#{{ socialLogEntry.refDocLink }}" class="social-log area">{{socialLogEntry.refDocModel}}</a><br/>
                        <a href="#{{ socialLogEntry.refDocLink }}" class="social-log title" tooltip-placement="left" tooltip="{{socialLogEntry.refDocTitle}}">{{socialLogEntry.refDocTitle | limitTo:35 }}...</a><br/>
                        <a href="#{{ socialLogEntry.refDocLink }}" class="social-log comment">{{socialLogEntry.text}}</a>
                    </div>
                </div>
                <div class="col-xs-2 col-md-2">
                    <div class="social-log time-box">
                        <span class="activity-log time-box timestamp">
                            {{socialLogEntry.created | fromNow}}</br>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div ng-hide="socialLogVisible">

    </br>
    <p translate>cockpit.sociallog.placeholder</p>

</div>
