

    <div class="panel cockpit section-title">
        Aktivitäten
    </div>

    <p>Verfolge die Aktivitäten deiner Arbeitskollegen in der Kampagne.</p>

    <div>
        <div class="row">
            <div class="col-xs-8 col-md-8">
                <div class="btn-group">
                    <button type="button" class="btn btn-default cockpit" ng-class="getActive('today')" ng-click="setData('today')">Heute</button>
                    <button type="button" class="btn btn-default cockpit" ng-class="getActive('thisWeek')" ng-click="setData('thisWeek')">Diese Woche</button>
                    <button type="button" class="btn btn-default cockpit" ng-class="getActive('campaign')" ng-click="setData('campaign')">Kampagne bisher</button>
                </div>
            </div>
            <div class="col-xs-4 col-md-4">
                <p><a class="cockpit detail-charts btn btn-primary" href="#" >{{"DETAIL_CHARTS" | translate }} &raquo;</a>
                </p>
            </div>
        </div>
        <div>
            <d3-vertical-bar-chart data="chart" options="d3Options" label="name"
                                   on-click="onClick(item)"></d3-vertical-bar-chart>
        </div>
    </div>

