
    <div class="panel cockpit section-title">
                    <span class="glyphicon controls glyphicon-{{activityLogVisible ? 'minus' : 'plus'}}"
                          ng-init="activityLogVisible=true" ng-click="activityLogVisible = !activityLogVisible">
                    </span>
        <span translate>cockpit.activitylog.header</span>
    </div>

    <div ng-show="activityLogVisible" ng-controller="ActivityLogCtrl">

        <p translate>cockpit.activitylog.subheader</p>

        <div class="row">
            <div class="col-xs-12 col-md-12">

                <div class="cockpit new-activity">
                    <button ng-click="gotoActivityList()" type="button" class="btn btn-primary cockpit">
                        <span translate>cockpit.activitylog.newActivity</span>
                    </button>
                </div>
                <tabset class="cockpit-tabs">
                    <tab ng-repeat="tab in tabs" heading="{{'activitylog.' + tab.title | translate}}" active="tab.active"
                         disabled="tab.disabled" class="cockpit-tab">
                        <OPTION ng-selected="setFilter(tab.filter); setOrderBy(tab.orderBy)"></OPTION>
                        <div ng-include="tab.content"></div>
                    </tab>
                </tabset>

            </div>
        </div>

    </div>
    <div ng-hide="activityLogVisible">

        </br>
        <p translate>cockpit.activitylog.placeholder</p>

    </div>
