
<div class="organization">

    <organization-card organization="organization" ng-if="isOrganizationAdmin">

        <a class="edit" ui-sref="organization.content">
            <span translate>dcmhome.organization.edit</span>
            <i class="fa fa-pencil-square-o"></i>
        </a>

        <a class="new-campaign" ui-sref="dcm.campaign({ campaignId: undefined })">
            <span translate>dcmhome.organization.addCampaign</span>
            <i class="fa fa-plus"></i>
        </a>

        <div class="clearfix"></div>

    </organization-card>

</div>


<div class="campaign-list">

    <campaign-card
            ng-repeat="campaign in campaigns"
            ng-class="{ active: campaign.id === $stateParams.campaignId }"
            campaign="campaign"

            ui-sref="dcm.home({ campaignId: campaign.id })">


        <div class="icon" ng-click="editCampaign($event, campaign.id)">
            <i class="fa fa-pencil-square-o"></i>
        </div>

            </campaign-card>


</div>