
    <endorsement campaign="currentCampaign"></endorsement>

    <div>

    <organization-card organization="organization" ng-if="organization">
        <a href class="icon" ui-sref="organization" ng-if="principal.isAuthorized('orgadmin')">
            <i class="fa fa-pencil-square-o"></i>
        </a>
    </organization-card>

</div>
<div ng-cloak ng-if="principal.isAuthorized('orgadmin')">
    <a class="btn-flat new-campaign" ui-sref="dcm.topics({campaignId:''})">
        <span translate>dcmhome.organization.addCampaign</span>
        <i class="fa fa-plus"></i>
    </a>
</div>
<div class="campaign-list">

    <campaign-card ng-if="currentCampaign" campaign="currentCampaign">

        <a href class="icon" ng-click="editCampaign($event, campaign.id)">
            <i class="fa fa-pencil-square-o"></i>
        </a>

    </campaign-card>


</div>