
<div class="organization">
    <!--<div class="avatar">-->
        <!--<img ng-src="{{ organization.administrators[0].avatar }}">-->
    <!--</div>-->
    <div class="title">
        {{ organization.name }}
    </div>


    <div class="new-campaign" ui-sref="dcm.campaign">
        <i class="fa fa-plus"></i>
    </div>

    <div class="edit" ui-sref="organization.content">
        <i class="fa fa-pencil-square-o"></i>
    </div>

    <div class="clearfix"></div>

</div>


<div class="campaign-list">

    <div class="campaign"
         ng-repeat="campaign in campaigns"
         ng-class="{ active: campaign.id === $stateParams.campaignId }"
         ui-sref="dcm.home({ campaignId: campaign.id })">

        <div class="avatar">
            <img ng-src="{{ campaign.avatar }}">
        </div>

        <div class="icon" ng-click="editCampaign($event, campaign.id)">
            <i class="fa fa-pencil-square-o"></i>
        </div>

        <div class="title">{{campaign.title}}</div>
        <div class="details">{{campaign.participants}}</div>
        <div class="details">{{campaign.location}} {{campaign.city}}</div>
        <div class="details">{{campaign.start | date:'d.MM.'}} -  {{campaign.end | date:'d.MM.yyyy'}}</div>


    </div>


</div>