<div class="row" ng-controller="HomeStatsController">
    <div class="col-md-12">
        <div class="area">

            <div><h4 translate>dcmhome.statsTitle</h4>
                <a class="show-stats" ui-sref="dcm.stats" ng-if="campaign">
                    <span translate>dcmhome.moreStats</span>
                    <i class="fa fa-tachometer"></i>
                </a>
            </div>

            <div ng-if="!campaign" class="panel panel-default">
                <h4 translate>dcmhome.noCampaigns</h4>
                <span translate>dcmhome.addCampaign</span>
                <a class="new-campaign" ui-sref="dcm.topics({campaignId: undefined})">
                    <span translate>dcmhome.organization.addCampaign</span>
                    <i class="fa fa-plus"></i>
                </a>

            </div>

            <div ng-if="campaign">

                <div class="row" ng-if="currentUserCount > 0">
                    <div class="col-md-6">
                        <statistics-chart chart-data="chartData.newUsers"
                                          title="'dcmhome.participantsCount' | translate"></statistics-chart>
                    </div>
                    <div class="col-md-6">
                        <statistics-chart chart-data="chartData.plannedActs"
                                          title="'dcmhome.plannedActsCount' | translate"></statistics-chart>
                    </div>
                </div>

                <div ng-if="!currentUserCount" class="panel panel-default">
                    <h4 translate>dcmhome.noParticipants</h4>
                    <p translate>dcmhome.addMoreUsers</p>
                    <div class="welcome-link" select-on-click ng-show="campaign.id">{{ $state.href('welcome',{campaignId: campaign.id}, {absolute: true})}}</div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="row">

    <div class="col-md-12">


        <game-area class="campaign-offers" ng-init="offersAreaHeight = 22" area-height="offersAreaHeight">

            <div>
                <h4 translate>dcmhome.activities</h4>



                <div ng-if="campaign">
                    <div class="checkbox" ng-if="campaign">
                        <label>
                            <input type="checkbox" ng-model="homeController.filterByPublishDate"> <span translate>dcmhome.filterByPublishDate</span>
                        </label>
                    </div>

                    <a class="add-offer" ui-sref="dcm.ideas" ng-if="campaign">
                        <span translate>dcmhome.addOffer</span>
                        <i class="fa fa-plus"></i>
                    </a>
                </div>

            </div>

            <div class="flex" ng-style="{ height: $parent.offersAreaHeight + 'em' }">

                <activity-offer-card type="{{ offer.__t.toLowerCase() }}"
                                     activity="offer.activity"
                                     idea="offer.idea"
                                     social-interaction="offer"
                                     ng-repeat="offer in offers"
                                     ui-sref="{{ offer.__t === 'Invitation' ? 'dcm.activity' : 'dcm.recommendation' }}({ idea: offer.idea.id, activity: offer.activity.id, socialInteraction: offer.id, mode: 'campaignlead' })"
                        >

                </activity-offer-card>

            </div>

        </game-area>

    </div>

</div>
