
@import "../../styles/youpers-variables";


.dcm-home {

  .campaign-start {

    .area {
      padding-bottom: 1em;
      width: 640px;
    }

    .welcome-link {
      border: 1px solid transparent;
      padding: 5px;
    }
    .welcome-link:hover {
      cursor: copy;
      border: 1px solid @yp-divider;
      background-color: #fdfdfd;
    }

    .mail-text {
       padding-bottom: 2em;

      textarea {
        width: 620px;
        height: 140px;
      }
    }


  }

  .ac-chart {
    text {
      font-size: 13px;
    }
  }

  .show-stats:hover {
    color: @yp-accent-hover;
  }

  .show-stats {
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    right: 10px;
    text-transform: uppercase;
    top: 10px;



    i.fa {
      font-size: 16px;
    }
  }

  a {
    .button();

    i.fa {
      font-size: 16px;
    }
  }

  .new-campaign {
    padding-bottom: 10px;
  }


  .icon {
    position: absolute;
    top: 5px;
    right: 5px;
    i.fa:hover {
      color: @yp-accent-hover;
    }
    i.fa {

      font-size: 24px;
      opacity: 1;
      transition: 0.4s ease-out opacity;
    }
  }

  organization-card {
    .icon {
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
      i.fa {
        opacity: 1;
        transition: 0.4s ease-out opacity;
      }
    }

    margin-bottom: 1em;
  }

  organization-card:not(:hover) {
    .icon i.fa {
      opacity: 0;
    }
  }

  campaign-card {

    margin-bottom: 1em;
    cursor: pointer;

    .avatar {
      img {
        width: 100%;
      }
    }

    .title {

    }
    .details {

    }
  }

  campaign-card:not(:hover) {

    .icon i.fa {
      opacity: 0;
    }
  }
  campaign-card:not(.active) {


  }
  campaign-card {
    box-sizing: content-box;
  }
  campaign-card.active {
//    border-left: 10px solid @yp-primary;
//    border-right: 5px solid @yp-primary;
//    margin-left: -10px;

    box-shadow: 0px 3px 6px 2px @yp-warning;
    cursor: default;

    i.fa {
      cursor: pointer;
    }
  }

  .campaign-offers {

    .add-offer:hover {
      color: @yp-accent-hover;
    }
    .add-offer {
      .button();
      color: @yp-primary;
      position: absolute;
      top: 10px;
      right: 10px;

      i.fa {
        font-size: 16px;
      }
    }


    .empty-content {
      display: block;
      position: relative;
      width: 100%;
    }

    .empty-content-hint {
      display: block;
      white-space: normal;
    }
  }

  .campaign-messages {
    .game-card();
    background-color: white;

    > div > .inbox-item:first-child {
      margin-bottom: 20px;
      .checkbox {
        margin-top: 0;
      }
    }

    .add-offer {
      .button();
      position: absolute;
      top: 0;
//      left: 65px;
      right: 10px;
      margin-top: -1.8em;
    }

    .empty-content-hint {
      display: block;
      margin: 10px 15px 10px 65px;
    }

    social-interaction .panel-title a i.fa {
      padding: 0;
    }
  }

  activity-offer-card {
    .activity-offer-card {
      box-shadow: none;

      .publish {
        background-color: @yp-secondary;

      }
    }
  }

  nvd3-multi-bar-chart {
    g.nv-legendWrap {
      transform: translate(0, -55px);
    }
    rect.nv-bar {

    }
  }

  nvd3-multi-bar-horizontal-chart {
    svg {
      overflow: visible;

    }
    margin-left: 14em;
  }

}
