
@import "../../styles/youpers-variables";

.activity-list {

  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;

  > img {
    width: 64px;
    padding: 2px 0;
  }
  > span {
    padding: 0 1em;
    overflow: hidden;
    display: inline-block;
  }
  > span:first-of-type {
    flex: 1 0 auto;
  }
  > span:last-of-type {
    flex: 0 1 auto;
  }
}

.dcm-home {

  accordion {
    .panel-group ng-include:not(:first-of-type) .panel {
      margin-top: 0;
      border-top: none;
    }
    .panel-heading {
      background-color: @yp-secondary ;
    }

    h4 span {
      .header3();
      text-transform: none;
    }

    .section-link:hover {
      color: @yp-accent-hover;
    }

    .section-link {

      float: right;
      padding-top: 2px;

      i.fa, > span {
        color: rgba(0, 0, 0, 0.87);
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
      }

      &:hover i.fa {
        color: @yp-accent-hover;
      }
      i.fa {
        font-size: 16px;
        color: @yp-accent;
      }
    }
  }

  .campaign-selection {

    .panel-heading {
      background-color: @yp-divider;
    }

    table {
      tr.selected td {
        cursor: default;
        background-color: @yp-accent-background;
      }
      tr:not(.selected):hover {
        cursor: pointer;
        td.selected i.fa {
          color: @yp-accent-hover;
        }
      }
      td {
        vertical-align: middle;
      }

      td.campaignLead {
        > div {
          display: flex;
          align-items: center;
          img {
            flex: 0 0 32px;
            height: 32px;
            margin-right: 4px;
          }
        }
      }

      td.duration {
        white-space: nowrap;
      }

      td.selected {
        width: 20px;
      }
    }


  }

  .campaign-start {

    .nav-tabs.nav-justified {

      li a {
        border-color: @yp-divider transparent;
      }
      li:first-of-type a {
        border-left-color: @yp-divider;
      }
      li:last-of-type a {
        border-right-color: @yp-divider;
      }

      li.disabled a {
        cursor: default;
      }
      a {
        text-align: left;
        background: none;
      }
      @yp-cl-guidance-arrow-height: 44px;
      @yp-cl-guidance-arrow-width: 22px;
      li:not(:last-of-type) a {
        &:after {
          content: " ";
          display: block;
          width: 0;
          height: 0;
          border-top: @yp-cl-guidance-arrow-height/2 solid transparent;           /* Go big on the size, and let overflow hide */
          border-bottom: @yp-cl-guidance-arrow-height/2 solid transparent;
          border-left: @yp-cl-guidance-arrow-width solid white;
          position: absolute;
          top: 50%;
          margin-top: -@yp-cl-guidance-arrow-height/2;
          left: 90%;
          z-index: 2;
        }
        &:before {
          content: " ";
          display: block;
          width: 0;
          height: 0;
          border-top: @yp-cl-guidance-arrow-height/2 solid transparent;
          border-bottom: @yp-cl-guidance-arrow-height/2 solid transparent;
          border-left: @yp-cl-guidance-arrow-width solid @yp-divider;
          position: absolute;
          top: 50%;
          margin-top: -@yp-cl-guidance-arrow-height/2;
          margin-left: 1px;
          left: 90%;
          z-index: 1;
        }
      }
    }
    tab-heading span {
      font-size: 16px;
      font-weight: 200;
      color: @yp-subtitle;
      text-transform: none;
    }

    .campaign-preparation {

      &:not(.campaign-lead) {
        .nav-tabs.nav-justified > li > a {
          border: none;
          cursor: default;
        }
        .tab-pane {
          display: none;
        }
      }

      &.campaign-lead .nav-tabs.nav-justified {

        li.active a span {
          color: @yp-accent;
        }

        li:hover:not(.active) a span {
          color: @yp-accent-hover;
        }
      }

      i.fa {
        cursor: default;
        &.fa-check-circle-o {
          color: @yp-success;
        }
        &.fa-circle-o {
          color: @yp-divider;
        }
      }
      .tab-pane {
        padding: 24px;
        > div {
          .btn-flat {
            margin-top: 1em;
            float: right;
          }
        }

        // step 1
        &:first-of-type > div {
          display: flex;
          flex-direction: row;
          > campaign-card {
            flex-shrink: 0;
          }
          > div {
            flex: 0 0 400px;
            padding: 30px 0 0 30px;
            > div {
              padding-top: 30px;
              text-align: center;
              avatar-upload {
                display: inline-block;
              }
              a {
                float: none;
              }
            }
          }
        }
      }

    }


    h3 {
      padding-top: 1em;
    }

    .step1 {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      > div:first-of-type {
        flex: 0 0 70%;
      }
      > div:last-of-type {
        flex: 1 1 auto;
      }
    }

    .step2 {

      > div:first-of-type {
        display: flex;

        > *:nth-child(1) {
          flex: 0 0 240px;
        }
        > *:nth-child(2) {
          flex: 0 0 150px;
        }
        > *:nth-child(3) {
          flex: 1 1 auto;
          border: 1px solid @yp-divider;

          margin-left: 15px;
          padding: 5px;

          .email-address-list-item {
            display: inline-block;
          }
          .email-address-list-placeholder {
            padding-left: 8px;
            color: @yp-placeholder;
          }
        }
      }

      .addresses-found {

      }
    }


    .welcome-link {
      border: 1px solid transparent;
      padding: 5px;
    }
    .welcome-link:hover {
      cursor: copy;
      border: 1px solid @yp-divider;
      background-color: #fdfdfd;
    }


    .mail-text {
       padding-bottom: 2em;

      textarea {
        width: 620px;
        height: 140px;
      }
    }
  }

  .participants {

    .participant {
      display: flex;
      flex-direction: row;
      .details {
        flex: 1 1 auto;
        margin: 7px;
      }
    }
  }

  .campaign-stats {

    .newestPlans {
      > div {
        .activity-list();
      }
    }

  }

  .offer-section {

    .empty-content {
      display: block;
      position: relative;
      width: 100%;
    }

    .empty-content-hint {
      display: block;
      white-space: normal;
    }

    .offer-section-content {
      width: 638px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      > * {
        margin: 0 8px 8px 0;
      }
    }
  }

  .new-campaign {
    padding-bottom: 10px;
  }


  .icon {
    position: absolute;
    top: 5px;
    right: 5px;

    i.fa:hover {
      color: @yp-accent-hover;
    }

    i.fa {
      font-size: 24px;
      opacity: 1;
      transition: 0.4s ease-out opacity;
    }
  }

  organization-card {
    .icon {
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
      i.fa {
        opacity: 1;
        transition: 0.4s ease-out opacity;
      }
    }

    margin-bottom: 1em;
  }

  campaign-card {


    .avatar {
      img {
        width: 100%;
      }
    }
  }

  campaign-card {
    box-sizing: content-box;
  }

  .campaign-messages {

    .dismiss {
      display: block;
    }

    .content.sheet {
      padding: 0;
    }

    .headers .info .clearfix {
      display: none;
    }
    .publishDates {
      padding: 0 0 5px 0;
      .text {
        display: inline;
      }
    }

    .empty-content-hint {
      display: block;
      margin: 10px 15px 10px 65px;
    }

    social-interaction {
      .panel-title a i.fa {
        padding: 0 5px 0 0;
      }
      .sheet.publishDates {
        display: block;
      }
    }
  }

  .campaign-end {



    .charts {
      width: 100%;

      display: flex;

      > * {
        flex: 0 0 50%;
      }

    }


    #eventStatus {
      display: inline-block;
      .nv-multiBarHorizontalChart {
        transform: translate(100px,50px);
      }
    }

    .check .legend {
      .accordion-toggle {
        font-style: italic;
        background-color: rgba(0,0,0,0.04);
      }
      .descriptions {
        > div {
          padding: 4px;
          display: flex;
          flex-direction: row;
          align-items: center;
          align-content: flex-start;
          justify-content: flex-start;
          > div {
            padding: 4px 8px;
          }
          > div:first-of-type {
            flex: 0 0 40px;
            color: white;
            font-size: 12px;
          }
          > div:last-of-type {
            padding-left: 1em;
            max-width: 550px; // IE10 fix
          }
          .dimmed {
            opacity: 0.5;
          }
        }
      }
    }

    .question-legend {

      padding: 0 45px;
      margin: 0 auto;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      > div {
        flex: 1 1 auto;
        text-align: center;
        margin: 0;
      }
      > div:first-child {
        text-align: left;
      }
      > div:last-child {
        text-align: right;
      }
      > div:first-child, > div:last-child {
        flex: 1 1 20%;
      }
    }

    .assessment-chart-row {

      .assessment-chart {
        margin: 0 auto;
      }
    }


    .assessment-chart {

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-content: center;

      width: 85%;
      padding: 2px 0;


      &.dimmed {
        opacity: 0.5;
      }

      > div {

        box-shadow: 1px 1px 2px @yp-divider;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        color: white;
        font-size: 12px;
        height: 2em;


        > div {
          padding: 2px;

          text-shadow: 1px 1px 2px @yp-divider;
        }

      }

    }

    @assessment-1: rgb(255, 84, 30);
    @assessment-2: rgb(255, 208, 92);
    @assessment-3: rgb(32, 198, 60);
    @assessment-4: rgb(255, 208, 92);
    @assessment-5: rgb(255, 84, 30);

    .assessmentRange0 {
      background-color: @assessment-1;
    }
    .assessmentRange1 {
      background-color: @assessment-2;
    }
    .assessmentRange2 {
      background-color: @assessment-3;
    }
    .assessmentRange3 {
      background-color: @assessment-4;
    }
    .assessmentRange4 {
      background-color: @assessment-5;
    }

    nvd3-multi-bar-horizontal-chart#campaignParticipants {
      display: block;

      svg {
        overflow: visible;
      }
      margin-left: 4em;
    }

    .eventPlanned {
      .activity-list();
    }
  }

  activity-offer-card {
    .activity-offer-card {
      box-shadow: none;

      .publish {
        background-color: @yp-secondary;

      }
    }
  }

  .btn i.fa {
    color: @yp-accent;
  }

}
