<accordion-group ng-if="homeController.sections.stats.available"
                 class="campaign-stats"
                 is-open="homeController.sections.stats.open">
    <div ng-controller="HomeStatsController as homeStatsController">

        <accordion-heading>
                <span>

                    <span translate>dcmhome.statsTitle</span>

                    <a href>
                        <i class="fa "
                           ng-class="{ 'fa-chevron-down': homeController.sections.stats.open, 'fa-chevron-right': !homeController.sections.stats.open }"></i>
                    </a>

                </span>
        </accordion-heading>


        <div>

            <div ng-if="!campaignStarted">

                <span class="empty-content-hint" translate>dcmhome.campaignNotStarted</span>

            </div>

            <div ng-if="campaignStarted && currentUserCount > 0">

                <h3 translate>dcmhome.stats.eventsDonePerDay.title</h3>
                <statistics-chart chart-data="chartData.eventsDonePerDay" title=""></statistics-chart>

                <h3 translate>dcmhome.stats.newUsersPerDay.title</h3>
                <div>
                    <statistics-chart chart-data="chartData.newUsersPerDay" title=""></statistics-chart>
                </div>

                <h3 translate>dcmhome.stats.newestPlans.title</h3>
                <div class="newestPlans">
                    <div ng-repeat="event in chartData.newestPlans | limitTo:5">
                        <img ng-src="{{ event.idea.picture }}">
                            <span class="subhead">
                                <span ng-bind-html="event.idea.title"></span>
                                <span class="badge" popover-trigger="mouseenter" popover-placement="top"
                                      popover="{{ 'dcmhome.stats.newestPlans.countTooltip' | translate:countValues }}"
                                        >{{ 'dcmhome.stats.newestPlans.count' | translate:countValues }}</span>
                            </span>
                        <span></span>
                            <span ng-init="countValues = { count: event.count }">
                                <span class="caption">{{ event.planned | fromNow }}</span>
                            </span>
                    </div>
                </div>

                <div ng-if="currentUserCount === 0" class="panel panel-default">
                    <h3 translate>dcmhome.noParticipants</h3>
                    <span class="empty-content-hint" translate>dcmhome.addMoreUsers</span>

                    <div class="welcome-link" select-on-click ng-show="currentCampaign.id">{{
                        $state.href('welcome',{campaignId: currentCampaign.id}, {absolute: true})}}
                    </div>
                </div>
            </div>
        </div>

    </div>
</accordion-group>