
@import "../../styles/youpers-variables";


.dcm-home {

  .ac-chart {
    text {
      font-size: 13px;
    }
  }

  .show-stats:hover {
    color: @yp-accent-hover;
  }

  .show-stats {
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    right: 10px;
    text-transform: uppercase;
    top: 10px;



    i.fa {
      font-size: 16px;
    }
  }

  .panel {
    padding: 10px;
    background-color: @yp-divider;
    border-radius: 15px;
  }


  a {
    .button();
    display: inline-block;

    i.fa {
      font-size: 16px;
    }
  }

  .new-campaign {
    padding-bottom: 10px;
  }


  .icon {
    position: absolute;
    top: 5px;
    right: 5px;
    i.fa:hover {
      color: @yp-accent-hover;
    }
    i.fa {

      font-size: 24px;
      opacity: 1;
      transition: 0.4s ease-out opacity;
    }
  }

  organization-card {
    .icon {
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
      i.fa {
        opacity: 1;
        transition: 0.4s ease-out opacity;
      }
    }

    margin-bottom: 1em;
  }

  organization-card:not(:hover) {
    .icon i.fa {
      opacity: 0;
    }
  }

  campaign-card {

    margin-bottom: 1em;
    cursor: pointer;

    .avatar {
      img {
        width: 100%;
      }
    }

    .title {

    }
    .details {

    }
  }

  campaign-card:not(:hover) {
    .icon i.fa {
      opacity: 0;
    }
  }
  campaign-card.active {

    outline: 4px dashed @yp-accent;
    box-shadow: 0px 4px 4px @yp-accent;
    cursor: default;

    i.fa {
      cursor: pointer;
    }
  }

  .add-offer:hover {
    color: @yp-accent-hover;
  }
  .add-offer {
    .button();
    color: @yp-primary;
    position: absolute;
    top: 10px;
    right: 10px;

    i.fa {
      font-size: 16px;
    }
  }

  activity-offer-card {
    .activity-offer-card {
      box-shadow: none;
      .author {
        box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
      }
      .publish {
        background-color: @yp-secondary;

      }
    }
  }

  .campaignMessages {
    .date {
      float: right;
    }

    .add-offer {
      top: -60px;
      right: 10px;
    }
  }

}
