
<div>
    <health-coach event="homeController.healthCoachEvent"></health-coach>
</div>

<div ng-controller="HomeMessagesController as msgCtrl" class="campaign-messages">

    <div>

        <div class="inbox-item">

            <div>
                <i class="fa fa-inbox"></i>
            </div>
            <div>
                <div>
                    <div class="title" translate>dcmhome.messages</div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="homeController.showOld"> <span translate>dcmhome.showOld</span>
                        </label>
                    </div>
                </div>
            </div>

        </div>

        <social-interaction-message-composer on-post="msgCtrl.onMessageSaved(message)" edited-message="editedMessage"></social-interaction-message-composer>

        <span ng-if="msgCtrl.messages.length === 0" class="empty-content-hint" translate>dcmhome.noMessages</span>

        <social-interaction soi="message" on-remove="msgCtrl.soiRemoved(socialInteraction)" on-edit="msgCtrl.soiEdited(socialInteraction)"
                            ng-repeat="message in msgCtrl.messages"></social-interaction>
    </div>
</div>