<accordion-group class="campaign-start" ng-if="campaign && campaignStartAvailable" is-open="campaignStartOpen">
    <div>

        <accordion-heading>
                <span  ng-click="displayCoachMsg('startOfCampaign')">

                    <span translate>dcmhome.campaignStart.header</span>

                    <a>
                        <i class="fa "
                           ng-class="{ 'fa-chevron-down': campaignStartOpen, 'fa-chevron-right': !campaignStartOpen }"></i>
                    </a>
                </span>
        </accordion-heading>


        <!-- campaign lead guidance -->

        <span ng-if="!isCampaignLead" translate>dcmhome.campaignStart.campaignLeadGuidance.notCampaignLead</span>

        <tabset class="campaign-preparation" ng-class="{ 'campaign-lead': isCampaignLead }"  justified="true">

            <!-- step 1 -->
            <tab active="campaignPreparation.step1.active" disabled="campaignPreparation.step1.disabled">

                <tab-heading>

                    <i class="fa" ng-class="campaignPreparation.step1.complete ? 'fa-check-circle-o' : 'fa-circle-o'"></i>

                    <span>1</span><br>
                    <span translate>dcmhome.campaignStart.campaignLeadGuidance.step1.tab</span>
                </tab-heading>

                <div>
                    <span translate>dcmhome.campaignStart.campaignLeadGuidance.step1.text</span>
                    <a ui-sref="profile" class="btn btn-flat" translate>dcmhome.campaignStart.campaignLeadGuidance.step1.link</a>
                </div>

            </tab>

            <!-- step 2 -->
            <tab active="campaignPreparation.step2.active" disabled="campaignPreparation.step2.disabled">

                <tab-heading>

                    <i class="fa" ng-class="campaignPreparation.step2.complete ? 'fa-check-circle-o' : 'fa-circle-o'"></i>

                    <span>2</span><br>
                    <span translate>dcmhome.campaignStart.campaignLeadGuidance.step2.tab</span>
                </tab-heading>

                <div>
                    <span translate>dcmhome.campaignStart.campaignLeadGuidance.step2.text</span>
                    <a ui-sref="dcm.campaign({campaignId: $stateParams.campaignId})" class="btn btn-flat" translate>dcmhome.campaignStart.campaignLeadGuidance.step2.link</a>
                </div>

            </tab>

            <!-- step 3 -->
            <tab active="campaignPreparation.step3.active" disabled="campaignPreparation.step3.disabled">

                <tab-heading>

                    <i class="fa" ng-class="campaignPreparation.step3.complete ? 'fa-check-circle-o' : 'fa-circle-o'"></i>

                    <span>3</span><br>
                    <span translate>dcmhome.campaignStart.campaignLeadGuidance.step3.tab</span>
                </tab-heading>

                <div>
                    <span translate>dcmhome.campaignStart.campaignLeadGuidance.step3.text</span>
                    <a ng-if="!homeController.preparationComplete" ng-click="homeController.preparationComplete = true" class="btn btn-flat" translate>dcmhome.campaignStart.campaignLeadGuidance.step3.link</a>
                </div>
            </tab>


        </tabset>


        <!-- campaign invitations -->

        <div ng-if="homeController.preparationComplete && campaignPreparation.step3.active" justified="true">

                <p translate>dcmhome.campaignStart.welcomeLink.createDraft.text</p>

                <a ng-href="{{ homeController.createDraftUrl }}" class="btn btn-default" ng-click="completeCampaignPreparation(5)" translate>
                    dcmhome.campaignStart.welcomeLink.createDraft.link
                </a>

                <p translate>dcmhome.campaignStart.welcomeLink.copyLink</p>

                <!--

                 HINT: manual concatenation of absolute url instead of { absolute: true }
                       because there is an issue with html5mode in ui-router with angular 1.3
                       see http://stackoverflow.com/questions/26220037/ui-sref-not-generating-hash-in-url-angular-1-3-0-rc-3
                 -->
                <div class="welcome-link" select-on-click ng-show="campaign.id" ng-click="completeCampaignPreparation(5)">{{ homeController.welcomeLink }}
                </div>
        </div>


    </div>
</accordion-group>