<accordion close-others="true">

    <!-- campaign start -->

    <accordion-group class="campaign-start" ng-if="campaign && campaignStartAvailable" is-open="campaignStartOpen">
        <div>

            <accordion-heading>
                <span  ng-click="displayCoachMsg('startOfCampaign')">

                    <span translate>dcmhome.campaignStart.header</span>

                    <a>
                        <i class="fa "
                           ng-class="{ 'fa-chevron-down': campaignStartOpen, 'fa-chevron-right': !campaignStartOpen }"></i>
                    </a>
                </span>
            </accordion-heading>


            <tabset justified="true">

                <!-- option A - emailInvite -->
                <tab>

                    <tab-heading>
                        <span translate>dcmhome.campaignStart.emailInvite.header</span>
                    </tab-heading>

                    <br/>

                    <div class="step1">
                        <div>
                            <p translate>dcmhome.campaignStart.emailInvite.subheader</p>

                            <h3 translate>dcmhome.campaignStart.emailInvite.step1.title</h3>
                            <p translate>dcmhome.campaignStart.emailInvite.step1.text</p>
                            <p ng-if="homeController.testEmailSent" translate translate-values="{ email: emailAddress }">dcmhome.campaignStart.emailInvite.step1.success</p>
                        </div>

                        <div>
                            <button ng-click="sendTestInvitationMail(emailSubject, emailText)"
                                    class="btn btn-default pull-right"
                                    translate>dcmhome.campaignStart.emailInvite.step1.sendTestMail
                            </button>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <div class="step2">

                        <h3 translate>dcmhome.campaignStart.emailInvite.step2.title</h3>

                        <div>
                            <textarea class="form-control email-addresses"
                                      ng-model="homeController.rawEmailAddressesInput"
                                      placeholder="{{ 'dcmhome.campaignStart.emailInvite.step2.emailList.placeholder' | translate }}"></textarea>


                            <div>
                                <button ng-disabled="!homeController.rawEmailAddressesInput || homeController.rawEmailAddressesInput.length === 0"
                                        ng-click="parseEmailAddresses(homeController.rawEmailAddressesInput);homeController.rawEmailAddressesInput = ''"
                                        class="btn btn-default pull-right" translate>dcmhome.campaignStart.emailInvite.step2.emailList.add
                                </button>
                            </div>

                            <div>

                                <div class="email-address-list-placeholder" ng-if="!homeController.emailAddressesToBeInvited || homeController.emailAddressesToBeInvited.length === 0">
                                    <span translate>dcmhome.campaignStart.emailInvite.step2.emailList.parsedEmailsPlaceholder</span>
                                </div>

                                <div class="email-address-list-item badge" ng-repeat="email in homeController.emailAddressesToBeInvited">

                                    <span>{{ email }}</span>
                                    <a><i class="fa fa-times" ng-click="homeController.emailAddressesToBeInvited.splice($index, 1)"></i></a>

                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="step3">

                        <h3 translate>dcmhome.campaignStart.emailInvite.step3.title</h3>
                        <p translate>dcmhome.campaignStart.emailInvite.step3.text</p>

                        <button ng-click="onEmailInviteSubmit(homeController.emailAddressesToBeInvited.join(', '), emailSubject, emailText); homeController.emailAddressesToBeInvited = []"
                                class="btn btn-default pull-right"
                                ng-disabled="!homeController.emailAddressesToBeInvited || homeController.emailAddressesToBeInvited.length == 0" translate>
                            dcmhome.campaignStart.emailInvite.step3.submit
                        </button>

                        <div class="clearfix"></div>

                        <p ng-if="homeController.emailInvitesSent" translate>dcmhome.campaignStart.emailInvite.step3.emailInvitesSent</p>
                    </div>

                </tab>

                <!-- option B - welcomeLink -->
                <tab>

                    <tab-heading>
                        <span translate>dcmhome.campaignStart.welcomeLink.header</span>
                    </tab-heading>


                    <p translate>dcmhome.campaignStart.welcomeLink.createDraft.text</p>

                    <a ng-href="{{ homeController.createDraftUrl }}" class="btn btn-default" translate>
                        dcmhome.campaignStart.welcomeLink.createDraft.link
                    </a>

                    <p translate>dcmhome.campaignStart.welcomeLink.copyLink</p>

                    <!--

                     HINT: manual concatenation of absolute url instead of { absolute: true }
                           because there is an issue with html5mode in ui-router with angular 1.3
                           see http://stackoverflow.com/questions/26220037/ui-sref-not-generating-hash-in-url-angular-1-3-0-rc-3
                     -->
                    <div class="welcome-link" select-on-click ng-show="campaign.id">{{ homeController.welcomeLink }}
                    </div>

                </tab>


            </tabset>


        </div>
    </accordion-group>

    <!-- participants -->

    <accordion-group class="participants" is-open="participantsOpen">
        <div ng-controller="HomeParticipantsController as homeParticipantsController">

            <accordion-heading>
                <span  ng-click="displayCoachMsg('participants')">

                    <span translate>dcmhome.participants.header</span>

                    <a href>
                        <i class="fa "
                           ng-class="{ 'fa-chevron-down': participantsOpen, 'fa-chevron-right': !participantsOpen }"></i>
                    </a>
                </span>
            </accordion-heading>

            <div class="row">

                <div class="col-sm-12">


                    <div class="participant" ng-repeat="participant in homeParticipantsController.participants">

                        <div class="avatar">
                            <img ng-src="{{ participant.avatar }}">
                        </div>

                        <div class="details">

                            <div class="name">
                                <span>{{ participant.fullname }}</span>
                            </div>

                            <div class="email">
                                <span>{{ participant.email }}</span>
                                <span class="pull-right">{{ participant.created | fromNow }}</span>
                            </div>

                        </div>

                    </div>


                </div>

            </div>
        </div>
    </accordion-group>


    <!-- campaign stats -->

    <accordion-group class="campaign-stats" is-open="campaignStatsOpen">
        <div ng-controller="HomeStatsController as homeStatsController">

            <accordion-heading>
                <span  ng-click="displayCoachMsg('CampaignStats')">

                    <span translate>dcmhome.statsTitle</span>

                    <a href>
                        <i class="fa "
                           ng-class="{ 'fa-chevron-down': campaignStatsOpen, 'fa-chevron-right': !campaignStatsOpen }"></i>
                    </a>

                </span>
            </accordion-heading>


            <div>
                <div ng-if="!campaign">
                    <span class="empty-content-hint" translate>dcmhome.noCampaigns</span>
                    <a class="new-campaign" ui-sref="dcm.topics({campaignId: undefined})">
                        <span translate>dcmhome.organization.addCampaign</span>
                        <i class="fa fa-plus"></i>
                    </a>

                </div>

                <div ng-if="campaign && !campaignStarted">

                    <span class="empty-content-hint" translate>dcmhome.campaignNotStarted</span>

                </div>

                <div ng-if="campaign && campaignStarted && campaignStatsOpen && currentUserCount > 0">

                    <h3 translate>dcmhome.stats.eventsDonePerDay.title</h3>
                    <statistics-chart chart-data="chartData.eventsDonePerDay" title=""></statistics-chart>

                    <h3 translate>dcmhome.stats.newUsersPerDay.title</h3>
                    <div>
                        <statistics-chart chart-data="chartData.newUsersPerDay" title=""></statistics-chart>
                    </div>

                    <h3 translate>dcmhome.stats.newestPlans.title</h3>
                    <div class="newestPlans">
                        <div ng-repeat="event in chartData.newestPlans | limitTo:5">
                            <img ng-src="{{ event.idea.picture }}">
                            <span class="subhead">
                                <span ng-bind-html="event.idea.title"></span>
                                <span class="badge" popover-trigger="mouseenter" popover-placement="top"
                                      popover="{{ 'dcmhome.stats.newestPlans.countTooltip' | translate:countValues }}"
                                        >{{ 'dcmhome.stats.newestPlans.count' | translate:countValues }}</span>
                            </span>
                            <span></span>
                            <span ng-init="countValues = { count: event.count }">
                                <span class="caption">{{ event.planned | fromNow }}</span>
                            </span>
                        </div>
                    </div>




                    <div class="row" >
                        <div class="col-sm-6">

                        </div>
                        <div class="col-sm-6">

                        </div>
                    </div>

                    <div ng-if="currentUserCount === 0" class="panel panel-default">
                        <h3 translate>dcmhome.noParticipants</h3>
                        <span class="empty-content-hint" translate>dcmhome.addMoreUsers</span>

                        <div class="welcome-link" select-on-click ng-show="campaign.id">{{
                            $state.href('welcome',{campaignId: campaign.id}, {absolute: true})}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </accordion-group>


    <!-- campaign messages -->

    <accordion-group ng-if="campaignMessagesAvailable" class="campaign-messages" is-open="campaignMessagesOpen">
        <div ng-controller="HomeMessagesController as msgCtrl">

            <accordion-heading>
                <span  ng-click="displayCoachMsg('CampaignMessages')">
                    <span translate>dcmhome.messages</span>

                    <a href>
                        <i class="fa "
                           ng-class="{ 'fa-chevron-down': campaignMessagesOpen, 'fa-chevron-right': !campaignMessagesOpen }"></i>
                    </a>
                </span>
            </accordion-heading>


            <div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="homeController.showOld"> <span translate>dcmhome.showOld</span>
                    </label>
                </div>

                <social-interaction-message-composer on-post="msgCtrl.onMessageSaved(message)" edited-message="editedMessage"></social-interaction-message-composer>

                <span ng-if="msgCtrl.messages.length === 0" class="empty-content-hint" translate>dcmhome.noMessages</span>

                <social-interaction soi="message" on-remove="msgCtrl.soiRemoved(socialInteraction)" on-edit="msgCtrl.soiEdited(socialInteraction)"
                                    ng-repeat="message in msgCtrl.messages" soi-administration="true"></social-interaction>

            </div>

        </div>
    </accordion-group>


    <!-- offer section -->

    <accordion-group ng-if="offerSectionAvailable" class="offer-section" is-open="offerSectionOpen">
        <div>

            <accordion-heading>
                <span  ng-click="displayCoachMsg('offers')">

                    <span translate>dcmhome.activities</span>

                    <a href>
                        <i class="fa "
                           ng-class="{ 'fa-chevron-down': offerSectionOpen, 'fa-chevron-right': !offerSectionOpen }"></i>
                    </a>
                </span>

            </accordion-heading>


            <div>

                <!-- header / filters -->
                <div ng-if="campaign" class="offer-filter">
                    <div class="checkbox show-old" ng-if="campaign">
                        <label>
                            <input type="checkbox" ng-model="homeController.showOld"> <span
                                translate>dcmhome.showOld</span>
                        </label>
                    </div>

                    <a class="add-offer" ui-sref="dcm.ideas" ng-if="campaign">
                        <span translate>dcmhome.addOffer</span>
                        <i class="fa fa-plus"></i>
                    </a>

                    <div class="offer-type">

                        <button type="button" class="btn btn-default" ng-model="homeController.offerTypes" btn-radio="'Recommendation'">
                            <i class="fa fa-lightbulb-o"></i><span translate>dcmhome.offerType.Recommendation</span>
                        </button>
                        <button type="button" class="btn btn-default" ng-model="homeController.offerTypes" btn-radio="'Invitation'">
                            <i class="fa fa-envelope-o"></i><span translate>dcmhome.offerType.Invitation</span>
                        </button>
                        <button type="button" class="btn btn-default" ng-model="homeController.offerTypes" btn-radio="'UserInvitation'">
                            <i class="fa fa-group"></i><span translate>dcmhome.offerType.UserInvitation</span>
                        </button>
                        <button type="button" class="btn btn-default" ng-model="homeController.offerTypes" btn-radio="'All'">
                            <span translate>dcmhome.offerType.All</span>
                        </button>

                    </div>
                    <div class="clearfix"></div>
                </div>

                <!-- activity offers -->

                <div class="offer-section-content">

                    <div ng-if="campaign && offers.length === 0" class="empty-content">

                        <span class="empty-content-hint" translate>dcmhome.noOffers</span>

                    </div>

                    <activity-offer-card type="{{ offer.__t.toLowerCase() }}"
                                         activity="offer.activity"
                                         idea="offer.idea"
                                         social-interaction="offer"
                                         ng-repeat="offer in offers"
                                         ui-sref="{{ offer.__t === 'Invitation' ? 'dcm.activity' : 'dcm.recommendation' }}({ idea: offer.idea.id, activity: offer.activity.id, socialInteraction: offer.id, mode: 'campaignlead' })"
                            >

                    </activity-offer-card>


                </div>


            </div>
        </div>
    </accordion-group>

    <!-- end of campaign -->

    <accordion-group ng-if="campaignEnded" class="campaign-end end-of-campaign" is-open="campaignEndOpen">
        <div ng-controller="DcmEndOfCampaignController as dcmEndOfCampaignController">

            <accordion-heading>
                <span  ng-click="displayCoachMsg('campaignEnd')">

                    <span translate>dcmhome.endOfCampaignTitle</span>

                    <a href>
                        <i class="fa "
                           ng-class="{ 'fa-chevron-down': campaignEndOpen, 'fa-chevron-right': !campaignEndOpen }"></i>
                    </a>

                    <a class="section-link" ui-sref="dcm.end-of-campaign">
                        <span translate>dcmhome.end-of-campaign</span>
                        <i class="fa fa-tachometer"></i>
                    </a>
                    </span>
            </accordion-heading>


            <div>

                <div ng-if="campaign.leaderSurveyUrl">
                    <p>
                        <span translate>dcmhome.surveyInfo</span>
                    </p>

                    <a ng-href="{{campaign.leaderSurveyUrl}}" target="_blank" class="btn btn-flat btn-big btn-red">
                        <span translate>dcmhome.surveyLink</span>
                        <span class="fa fa-chevron-right"></span>
                    </a>
                </div>

            </div>

            <h2>
                <span ng-hide="campaignEnded"
                      translate="end-of-campaign.lastDaysHeader" translate-values="{ daysLeft: daysLeft }"
                      translate-interpolation="messageformat"></span>
                <span ng-show="campaignEnded"
                      translate="end-of-campaign.campaignEndendHeader"></span>
            </h2>


            <br/>

            <div>


                <h3 translate>
                    dcm-end-of-campaign.usersTotal.title
                </h3>

                <nvd3-multi-bar-horizontal-chart
                        data="campaignParticipants"
                        id="campaignParticipants"

                        width="500"
                        yAxisTickFormat="roundFn"
                        valueFormat="round1Fn"
                        showValues="true"
                        showXAxis="false"
                        showYAxis="true"
                        showLegend="false">
                    <svg></svg>
                </nvd3-multi-bar-horizontal-chart>


                <div class="color-legend">
                    <div>
                        <div></div>
                        <span translate>dcm-end-of-campaign.legend.campaign</span>
                    </div>
                    <div>
                        <div></div>
                        <span translate>dcm-end-of-campaign.legend.average</span>
                    </div>
                </div>
            </div>

            <hr/>

            <div>


                <div class="charts">
                    <div>
                        <h3 translate>
                            dcm-end-of-campaign.eventsStatus.title
                        </h3>
                        <nvd3-multi-bar-chart
                                data="eventStatus"
                                id="eventStatus"

                                width="320"
                                height="240"

                                showLegend="false"
                                showXAxis="true"
                                showYAxis="true"
                                showValues="true"
                                >
                            <svg></svg>
                        </nvd3-multi-bar-chart>
                    </div>
                    <div class="ratings-chart">
                        <h3 translate>end-of-campaign.eventsRatings.title</h3>

                        <nvd3-multi-bar-chart ng-if="eventsRatings"
                                              data="eventsRatings"
                                              id="eventsRatings"

                                              width="320"
                                              height="260"
                                              showYAxis="true"
                                              showXAxis="true"
                                              showLegend="false"
                                              showValues="true"
                                              yAxisTickFormat="percetageFn"
                                >
                            <svg></svg>
                        </nvd3-multi-bar-chart>

                    </div>
                </div>
                <div class="color-legend">
                    <div>
                        <div></div>
                        <span translate>dcm-end-of-campaign.legend.campaign</span>
                    </div>
                    <div>
                        <div></div>
                        <span translate>dcm-end-of-campaign.legend.average</span>
                    </div>
                </div>

                <hr/>


            </div>


            <accordion class="check" close-others="true" ng-if="categories" ng-init="cat[orderedCategoryNames[0]]=true">

                <accordion-group ng-repeat="name in orderedCategoryNames" is-open="cat[name]"
                                 ng-if="assessmentResultsByQuestion && !isCategoryEmpty(categories[name])"
                                 analytics-on="click" analytics-event="CheckCategoriesAccordion"
                                 analytics-category="InPageNavigation"
                                 analytics-label="Accordion Expanded Or Collapsed">
                    <accordion-heading>
                        <div>
                            <span class="question-category-header">{{ 'questionCategory.' + name | translate }}</span>
                            <i class="pull-right glyphicon"
                               ng-class="{'glyphicon-chevron-down': cat[name], 'glyphicon-chevron-right': !cat[name]}"></i>
                        </div>
                    </accordion-heading>


                    <div ng-repeat="question in categories[name]" ng-click="displayInfo(question)"

                         ng-init="assessmentResult = assessmentResultsByQuestion[question.id]">

                        <div ng-if="assessmentResult" class="question">

                            <div class="row">
                                <div class="col-sm-12">


                                    <div class="question-legend">
                                        <div>{{question.mintext}}</div>
                                        <div class="title">
                                            <span>{{ question.title }}</span>
                                            <i ng-mouseover="displayInfo(question)"
                                               class="glyphicon glyphicon-info-sign"></i>
                                        </div>
                                        <div>{{question.maxtext}}</div>
                                    </div>


                                    <div class="assessment-chart-row">
                                        <div translate>dcm-end-of-campaign.assessmentResults.campaign</div>

                                        <div class="assessment-chart">

                                            <div ng-if="$index == 2 || val > 0"
                                                 ng-repeat="val in assessmentResult.percentages track by $index"
                                                 ng-style="val < 0.05 ? { flex: '0 0 2%' } : assessmentResultStyle(val)"
                                                 ng-class="'assessmentRange' + $index">

                                                <div></div>
                                                <div ng-show="val > 0">{{ formatValue(val, $index, question) }}
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                    <div class="assessment-chart-row">
                                        <div translate>dcm-end-of-campaign.assessmentResults.average</div>
                                        <div class="assessment-chart">

                                            <div ng-repeat="val in assessmentResultsAverageByQuestion[question.id].percentages track by $index"
                                                 ng-style="$index == 2 && val < 0.05 ? { flex: '0 0 2%' } : assessmentResultStyle(val)"
                                                 ng-class="'assessmentRange' + $index">

                                                <div ng-show="val > 0.05">{{ formatValue(val, $index, question) }}
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>
                </accordion-group>
            </accordion>


            <br/>
            <br/>

            <div>

                <h3>
                    <span translate>dcm-end-of-campaign.eventsPlanned.header</span>
                </h3>

                <div class="eventPlanned" ng-repeat="eventPlanned in eventsPlanned">

                    <div>
                        <img ng-src="{{idea.picture}}">

                        <div>{{ eventPlanned.idea.title | stripTags }}</div>
                    </div>

                    <div>
                        <div>
                            {{ 'dcm-end-of-campaign.eventsPlanned.content' | translate:eventPlanned:"messageformat" }}
                        </div>
                    </div>

                </div>


            </div>


        </div>

    </accordion-group>


</accordion>
