<div class="row">
    <div class="col-sm-12">
        <div class="state-title-1" translate>dcmhome.title1</div>
        <div class="state-title-2" translate>dcmhome.title2</div>
    </div>
</div>

<div class="col-sm-3 col-sm-offset-3">
    <div class="dcm-home-content">

        <div class="link-area campaigns" ng-click="canAccess('campaigns.content') && $state.go('campaigns.content')"
             ng-class="{disabled: !canAccess('campaigns.content')}">
            <div class="icon"></div>
            <span translate>dcmhome.campaigns</span>
        </div>
        <div class="link-area activities" ng-click="canAccess('campaignoffers.content') && $state.go('campaignoffers.content')"
             ng-class="{disabled: !canAccess('campaignoffers.content')}">
            <div class="icon"></div>
            <span translate>dcmhome.campaignoffers</span>
        </div>
        <div class="link-area campaignoffers" ng-click="canAccess('notifications.content') && $state.go('notifications.content')"
             ng-class="{disabled: !canAccess('notifications.content')}">
            <div class="icon"></div>
            <span translate>dcmhome.notifications</span>
        </div>
        <div class="link-area statistics" ng-click="false && $state.go('statistics.content')"
             ng-class="{disabled: true}">
            <div class="icon"></div>
            <span translate>dcmhome.statistics</span>
        </div>
        <div class="link-area organization" ng-click="canAccess('organization.content') && $state.go('organization.content')"
             ng-class="{disabled: !canAccess('organization.content')}">
            <div class="icon"></div>
            <span translate>dcmhome.organization</span>
        </div>

        <div class="link-area link-area-center" ng-click=""></div>
        <div class="link-container"></div>
    </div>
</div>