<div ng-controller="UserAccountCtrl" class="container">


    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">

            <h3 translate>account.account</h3>

            <button class="btn back-link pull-right" ui-sref="homedispatcher">
                <span class="fa fa-chevron-left"></span>
                <span translate>account.backToHome</span>
            </button>

            <div class="clearfix"></div>
            <br/>

        </div>
    </div>


    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">


            <accordion close-others="true">
                
                <accordion-group heading="{{'account.changeAccount' | translate}}" is-open="true">

                    <form name="accountForm" ypModel="accountUserObj" class="form" role="form" ng-submit="saveAccount()" novalidate>

                        <yp-input name="firstname" required></yp-input>
                        <yp-input name="lastname" required></yp-input>
                        <yp-input name="username" required></yp-input>
                        <yp-input name="email" type="email" required unique-user-field form="accountForm"></yp-input>

                        <div class="pull-right">
                            <button type="button" class="btn btn-default" ng-disabled="!accountForm.$dirty" ng-click="reset()" translate>accountForm.reset</button>
                            <button type="submit" class="btn btn-primary" ng-disabled="accountForm.$dirty && accountForm.$invalid" translate>accountForm.save</button>
                        </div>
                    </form>
                    
                </accordion-group>

                <accordion-group heading="{{'account.changePassword' | translate}}">
                    
                    <form name="passwordForm" ypModel="passwordUserObj" class="form" role="form" ng-submit="changePassword()" novalidate>

                        <yp-input name="password_old" type="password" required></yp-input>
                        <yp-input name="password" type="password" required ng-minlength="6"></yp-input>
                        <yp-input name="password2" type="password" required password-match="passwordUserObj.password"></yp-input>

                        <button type="submit" class="btn btn-primary" ng-disabled="passwordForm.$invalid" translate>passwordForm.save</button>

                    </form>
                    
                </accordion-group>
                
            </accordion>
            
        </div>
    </div>


</div>