<div ng-controller="UserAccountCtrl" class="container">


    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <h3 translate>account.account</h3>

            <accordion close-others="true">
                
                <accordion-group heading="{{'account.changeAccount' | translate}}" is-open="true">

                    <form name="accountForm" ypModel="accountUserObj" class="form" role="form" ng-submit="saveAccount()" novalidate>

                        <yp-input name="firstname" required></yp-input>
                        <yp-input name="lastname" required></yp-input>
                        <yp-input name="username" required></yp-input>
                        <yp-input name="email" type="email" required unique-user-field></yp-input>

                        <button type="button" class="btn btn-sm" ng-click="accountUserObjReset()" translate>accountForm.reset</button>
                        <button type="submit" class="btn btn-success btn-sm" ng-disabled="accountForm.$invalid" translate>accountForm.save</button>

                    </form>
                    
                </accordion-group>

                <accordion-group heading="{{'account.changePassword' | translate}}">
                    
                    <form name="passwordForm" ypModel="passwordUserObj" class="form" role="form" ng-submit="changePassword()" novalidate>

                        <yp-input name="password_old" type="password" required></yp-input>
                        <yp-input name="password" type="password" required ng-minlength="6"></yp-input>
                        <yp-input name="password2" type="password" required password-match="passwordUserObj.password"></yp-input>

                        <button type="submit" class="btn btn-success btn-sm" ng-disabled="passwordForm.$invalid" translate>passwordForm.save</button>

                    </form>
                    
                </accordion-group>
                
            </accordion>
            
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary" ui-sref="homedispatcher" translate>account.backToHome</button>
        </div>
    </div>


</div>