<div class="row">
    <div class="col-lg-4">
        <div class="state-header-1">{{ 'activity.' + mode + '.stateHeader1' | translate }}</div>
        <div class="state-header-2">{{ 'activity.' + mode + '.stateHeader2' | translate }}</div>

        <div class="">
            <i class="fa fa-backward" ui-sref="game.content"></i>
        </div>
    </div>
    <div class="col-lg-8">

        <div class="mode-icons pull-right">
            <i class="fa fa-bars" ng-class="{ active: mode == 'list', disabled: activities.length <= 1 }" ng-click="mode = 'list'"></i>
            <i class="fa fa-file-o" ng-class="{ active: mode == 'view', disabled: !activity.id }" ng-click="mode = activity.id ? 'view' : mode"></i>
            <i class="fa {{ activity.id ? 'fa-edit' : 'fa-sign-in' }}" ng-class="{ active: mode == 'edit' }" ng-click="mode = 'edit'"></i>
        </div>

    </div>
</div>

<div class="row">

    <div class="col-lg-4">
        <idea-card idea="idea" activity="activity" social-interaction="activity.socialInteraction"></idea-card>
    </div>

    <div class="col-lg-8">


        <div ng-if="mode == 'list'">

            <activity-list activities="activities" activity="activity" on-select="onSelect"></activity-list>

        </div>

        <div ng-if="mode == 'view'">

            <activity-view activity="activity"></activity-view>

        </div>

        <div ng-if="mode == 'edit'">

            <activity-edit activity="activity"></activity-edit>

        </div>




    </div>

</div>