<div class="layout">


    <section>
        <h4 translate>{{ 'activity.header.first.' + mode }}</h4>

        <div class="btn-group btn-group-justified">
            <a class="btn btn-primary"
               ng-click="activityController.active = true"
               ng-show="!activityController.active && !activityController.dismissed"
               >{{ 'activity.link.' + mode | translate }}</a>

            <a class="btn btn-primary"

                    ng-click="activityController.active = false; activityController.dismissed = false"
                    ng-show="activityController.active || activityController.dismissed"
                    ng-class="{ invisible: activityController.dismissed }"

                    translate>activity.link.undo</a>

            <a class="btn btn-primary"
                    ng-show="canDismiss[mode]"
                    ng-click="dismiss()"
                    ng-disabled="activityController.dismissed || activityController.active"
                    translate>activity.link.dismiss</a>
        </div>

        <div ng-if="socialInteraction" ng-class="{ dismissed: activityController.dismissed }">

            <activity-event-card

                    type="{{ socialInteraction.__t.toLowerCase() }}"
                    event="socialInteractionEvent"

                    ></activity-event-card>
        </div>

        <div>

            <idea-card idea="idea"></idea-card>

        </div>
    </section>

    <section>
        <h4 translate>activity.header.second</h4>

        <div class="box" ng-show="!activityController.active || !canEdit[mode]">

            <activity-view activity="activity"></activity-view>

        </div>

        <div class="box" ng-if="activityController.active && canEdit[mode]">
            <activity-edit activity="activity"></activity-edit>
        </div>

        <div class="box" ng-show="activity.joiningUsers.length > 0">

            <h4 translate>activity.header.joiningUsers</h4>

            <div ng-repeat="user in activity.joiningUsers">

                <img class="avatar" ng-src="{{ user.avatar }}"/>
                <span bind-html-unsafe="user.fullname"></span>
            </div>

        </div>

        <div ng-show="activityController.active && canEdit[mode]">

            <div>
                <h4 translate>activity.header.inviteOthers</h4>
            </div>

            <div class="btn-group btn-group-justified" ng-init="inviteOthers = 'all'">

                <a type="button" class="btn btn-default" ng-model="$parent.inviteOthers"
                   btn-radio="'selected'" translate>activity.inviteOthers.selected
                </a>
                <a type="button" class="btn btn-default" ng-model="$parent.inviteOthers"
                   btn-radio="'all'" translate>activity.inviteOthers.all
                </a>
            </div>

            <div ng-if="inviteOthers == 'selected'">

                <user-invitation type="activity" ref-doc="activity" on-user-selected="onUserSelected"></user-invitation>

                <div class="invited-user"
                     ng-repeat="user in invitedUsers">
                    <img class="avatar" ng-src="{{ user.avatar }}"/>
                    <span bind-html-unsafe="user.fullname"></span>
                    <i class="fa fa-times" ng-click="removeInvitedUser(user)"></i>
                </div>

            </div>

        </div>

    </section>

    <section>
        <h4 translate>activity.header.third</h4>

        <div ng-show="activityController.active || activity.isOwner()">
            <activity-event-card

                    ng-repeat="event in events"
                    type="current"
                    event="event"

                    ></activity-event-card>
        </div>

        <div>

        </div>
    </section>

    <section>

        <div class="box">

            <button class="btn btn-default backToGame" ui-sref="dhc.game" translate>
                activity.link.back
            </button>
            <button class="btn btn-primary submit" ng-disabled="!activityController.active || !dirty" ng-click="saveActivity()">
                {{ 'activity.link.' + (invitedUsers.length > 0 ? 'saveAndInvite' : 'save') | translate }}
            </button>
        </div>
        <div class="box">
            <h4>health coach messages</h4>
        </div>
        <div class="box">
            <h4 translate>activity.header.comments</h4>

            <div ng-if="isScheduled">
                <activity-comments activity="activity"></activity-comments>
            </div>
        </div>

    </section>


</div>