<form name="activityForm" class="form" role="form" ng-submit="saveActivity()">

    <fieldset ng-disabled="activity.isScheduled && !activity.isEditable">


        <div class="row">
            <div class="col-md-12 form-group">

                <input type="text" class="form-control" ng-model="activity.title"
                       placeholder="{{ 'activityForm.title.placeholder' | translate }}">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 form-group">
                <input type="text" class="form-control" ng-model="activity.location"
                       placeholder="{{ 'activityForm.location.placeholder' | translate }}">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 form-group">
                <textarea class="form-control" ng-model="activity.text"
                          ng-attr-placeholder="{{'activityForm.text.placeholder' | translate }}"></textarea>
            </div>
        </div>

        <div ng-if="activity.idea.defaultexecutiontype == 'group'">

            <div class="row">
                <div class="col-md-12 form-group">

                    <div class="checkbox">
                        <label>
                            <input ng-model="activity.private" type="checkbox">
                            <span translate>activityForm.private.label</span>

                            <div ng-if="activity.private" translate>activityForm.private.text</div>
                        </label>
                    </div>

                </div>
            </div>

            <!-- date and time -->
            <div class="row">
                <div class="col-md-12 form-group">

                    <date-time-picker start="activity.mainEvent.start" end="activity.mainEvent.end"></date-time-picker>

                </div>
            </div>

            <!-- frequency -->

            <div class="row">
                <div class="col-md-12 frequency">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" ng-model="activity.mainEvent.frequency"
                                btn-radio="'once'" translate>activityPlanFrequency.once
                        </button>
                        <button type="button" class="btn btn-default" ng-model="activity.mainEvent.frequency"
                                btn-radio="'day'" translate>activityPlanFrequency.day
                        </button>
                        <button type="button" class="btn btn-default" ng-model="activity.mainEvent.frequency"
                                btn-radio="'week'" translate>activityPlanFrequency.week
                        </button>
                    </div>
                </div>
            </div>

            <!-- recurrence -->

            <div class="row recurrence" ng-if="activity.mainEvent.frequency=='day' || activity.mainEvent.frequency=='week'">
                <div class="col-md-6 recurrence-day">
                    <label>
                        <span translate>activityForm.recurrence.label</span>
                        <input ng-init="activity.mainEvent.recurrence = activity.mainEvent.recurrence || {}"
                               ng-model="activity.mainEvent.recurrence['endby'].after" min="1" type=number
                               class="form-control input-sm">
                    </label>
                </div>

            </div>

        </div>


    </fieldset>

    <div class="row">
        <div class="col-md-12">


            <ul class="list-inline pull-right">

                <li>
                    <button class="btn btn-default" type="button" ng-if="onCancel" ng-click="cancel()" translate>
                        activityForm.cancel
                    </button>
                </li>

                <li tooltip-placement="left"
                    tooltip="{{ activity.isDeletable ? '' : ('activityPlanDeletable.' + activity.deleteStatus | translate) }}">
                    <button ng-click="deleteActivity()" ng-hide="!activity.id" ng-disabled="!activity.isDeletable"
                            type="button"
                            class="btn btn-warning" translate>activityForm.delete
                    </button>
                </li>

                <li tooltip-placement="left"
                    tooltip="{{ (!activity.isScheduled || activity.isEditable) ? '' : ('activityPlanEditable.' + activity.editStatus | translate) }}">
                    <button ng-show="!activity.id" ng-disabled="activityForm.$invalid" type="submit"
                            class="btn btn-primary" translate>activityForm.create
                    </button>

                    <button ng-hide="!activity.id" ng-disabled="activityForm.$invalid || !activity.isEditable"
                            type="submit"
                            class="btn btn-primary" translate>activityForm.save
                    </button>
                </li>

            </ul>

        </div>
    </div>


</form>