<div class="layout">


    <section>
        <h4 translate>{{ 'activity.header.first.' + mode }}</h4>

        <div>
            <button class="btn btn-primary" translate>activity.link.schedule</button>
            <button class="btn btn-primary" translate>activity.link.dismiss</button>
        </div>

        <div ng-if="socialInteraction">
            <activity-event-stack type="{{ socialInteraction.__t.toLowerCase() }}"
                                  activity="activity"
                                  idea="idea"
                                  social-interaction="socialInteraction">

                                  </activity-event-stack>
        </div>

        <div>

            <idea-card idea="idea"></idea-card>

        </div>
    </section>

    <section>
        <h4 translate>activity.header.second</h4>

        <div class="box">
            <activity-edit activity="activity"></activity-edit>
        </div>

        <h4 translate>activity.header.inviteOthers</h4>

        <div class="btn-group btn-group-justified" ng-init="inviteOthers = 'all'">

            <a type="button" class="btn btn-default" ng-model="$parent.inviteOthers"
               btn-radio="'selected'" translate>activity.inviteOthers.selected
            </a>
            <a type="button" class="btn btn-default" ng-model="$parent.inviteOthers"
               btn-radio="'all'" translate>activity.inviteOthers.all
            </a>
        </div>

        <div ng-if="inviteOthers == 'selected'">

            <user-invitation type="activity" ref-doc="activity" on-user-selected="onUserSelected"></user-invitation>

            <div class="invited-user"
                    ng-repeat="user in invitedUsers">
                <img class="avatar" ng-src="{{ user.avatar }}"/>
                <span bind-html-unsafe="user.fullname"></span>
                <i class="fa fa-times" ng-click="removeInvitedUser(user)"></i>
            </div>

        </div>
    </section>

    <section>
        <h4 translate>activity.header.third</h4>

        <div>
            <activity-event-card

                    ng-repeat="event in events"
                    type="current"
                    event="event"
                    >



            </activity-event-card>
        </div>

        <div>

        </div>
    </section>

    <section>

        <div class="box">
            <i class="game-icon fa fa-desktop" ui-sref="dhc.game"></i>
            <div class="clearfix"></div>

            <button class="btn btn-primary submit" ng-click="saveActivity()">
                {{ 'activity.link.' + (invitedUsers.length > 0 ? 'saveAndInvite' : 'save') | translate }}
            </button>
        </div>
        <div class="box">
            <h4>health coach messages</h4>
        </div>
        <div class="box">
            <h4 translate>activity.header.comments</h4>
        </div>

    </section>


</div>