@import "../youpers-variables";


.campaign-switcher .icon {
  color: @yp-divider;
  position: absolute;
  right: 20px;
  top: 20px;
  i {
    font-size: 20px;
  }
}

.campaign-switcher.switchable .dropdown-menu {
  padding: 5px;
  margin: 2px 0 0 -1px;
  min-width: inherit;
  width: 101%;
}

.campaign-switcher.switchable .dropdown-menu .campaign:not(:first-of-type) {
  border-top: 1px solid @yp-divider;
}

.campaign-switcher.switchable .campaign:hover {

  //  border: 1px solid lighten(@yp-green-hover, 30%);
  //  background-color: lighten(@yp-divider, 12%);
  cursor: pointer;

  .glyphicon,
  .topic {
    color: @yp-accent-hover;
  }

}
