@import "../youpers-variables";


// local variables
@youpers-idea-card-image-width: @youpers-idea-card-width;
@youpers-idea-card-image-height: 12em;
@youpers-idea-card-padding: 5px;
@youpers-idea-card-border: 1px;

// idea-card
// --------------------------------------------------

.idea-card {

  font-size: @youpers-font-size-6;

  position: relative;
  cursor: pointer;

  width: @youpers-idea-card-width;
  height: @youpers-idea-card-height;

  padding: @youpers-idea-card-padding;
  
  border: 1px solid @yp-color-grey1;

  .image img {
    width: @youpers-idea-card-image-width - 2 * @youpers-idea-card-padding - 2 * @youpers-idea-card-border;
    height: @youpers-idea-card-image-height;
  }

  .title {
    .title4();
    padding-bottom: 0.3em;
    overflow: hidden;
    text-align: center;
  }

  .content {

    .shortDescription {
      .p2();
    }
  }

  .content, .text * {
    .p2();
    line-height: 1.4em;
  }

  ul.icons {
    width: 100%;
    height: 2em;
    bottom: 0;
    padding: 0;
    list-style: none;

    li {
      border: 1px dashed #00008b;

      width: 40px;
      height: 40px;
      display: inline-block;
      margin-right: 22px;
    }
    li:last-of-type {
      margin: 0;
    }
  }

  .back {

    .text {
      line-height: 1em;
    }

    .title {
      padding: 0.2em 0 0.5em 0;
    }
  }
}
