@import "../youpers-variables";


// idea-card
// --------------------------------------------------

.idea-card {

  font-size: @youpers-font-size-6;

  position: relative;



  width: @youpers-idea-card-width;
  height: @youpers-idea-card-height;

  .card {
    height: 100%;
  }

  .image img {
    width: @youpers-idea-card-image-width - 1px;
    height: @youpers-idea-card-image-height;
  }

  .title {
    .header3();
    overflow: hidden;
    padding-left: 0.3em;
  }

  .content {

    .shortDescription {
      .p2();
      padding: 1em;
    }
  }

  .content, .text * {
    .p2();
  }

  ul.icons {
    width: 100%;
    height: 48px;
    position: absolute;
    bottom: 0;
    padding: 5px;
    margin: 0;
    list-style: none;

    li:empty {
//      border: 1px dashed #0088cc;
    }

    li {
      width: @youpers-idea-card-icon-size;
      height: @youpers-idea-card-icon-size;
      display: inline-block;
      margin-right: 23px;

      img {
        width: 100%;
        height: 100%;
        vertical-align: baseline;
      }

      a {
        font-size: 32px;
        display: table;
        width: 100%;
        height: 100%;
        text-align: center;
        color: @yp-color-grey2;
        i.fa {
          font-size: 32px;
          display: table-cell;
          vertical-align: middle;
          transition: 0.1s linear color;
        }
        i.fa:hover {
          color: @yp-color-green-hover;
        }
      }
    }
    li:last-of-type {
      margin: 0;
    }
  }

  .back {

    padding: 10px;

    .text {
      line-height: 1.1em;
    }

    .title {
      padding: 0.2em 0 0.5em 0;
    }
  }
}
