
.source-avatar-container.ng-hide-add, .source-avatar-container.ng-hide-remove {
  transition: 1.5s ease all;
  display:block!important;
  position: absolute;
  opacity: 1;
  left: 0%;
}

.source-avatar-container.ng-hide-remove {
  opacity: 0;
  left: -100%;
}
.source-avatar-container.ng-hide-remove.ng-hide-remove-active,
.source-avatar-container.ng-hide-add {
  left: 0%;
  opacity: 1;
}
.source-avatar-container.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  left: 100%;
}