social-interaction {

  .list-group {
//    .game-card();
  }

  .list-group-item:not(:first-of-type) {
//    border-top: 1px solid @yp-color-grey1;
  }
  .list-group-item.composeMessage {
    padding: 1em;
  }
  .list-group-item {
    padding: 0;
    border: inherit;

  }

  .headers {
    display: flex;
    justify-content:flex-start;
    align-content:center;
    flex-direction:row;

    height: 50px;

    > div.info {
      position: relative;
      padding: 5px 15px;
      width: 100%;
    }

  }


  .date {
    float: right;
  }

  .image {
    img {
      width: 50px;
      height: 50px;
    }
  }


  .ref-title, .title, .text {
    padding: 0.6em;
  }
  .title, .text {
    border-top: 1px solid rgba(0,0,0,0.05);
  }
}