add-this-event {
  .addthisevent-drop {
    border-style: none;
    padding-left: 10px;

    :hover {
      border-style: none;
    }

    span {
      color: @yp-accent;
      font-family: @youpers-brand-font-family;
      font-size: 14px;
      font-weight: normal;
    }

    icon {
      color: @yp-accent;

    }

    span:hover {
      color: @yp-accent-hover;
    }

    .addthisevent_icon {
      display: none;
    }
  }
}