<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-2">
                <button type="button" class="btn btn-sm btn-primary">Ich mache mit</button>
            </div>
            <div class="col-md-4">
                Zug, am See <br>
                Immer am Mittwoch: 12:00 - 13:00 <br>
                <a href="">7 Kommentare</a>
            </div>
            <div class="col-md-6">
                Dabei sind schon <br>
                <a href="" ng-click="showJoiners = !showJoiners">3 andere aus deinem Betrieb</a>

                <div ng-show="showJoiners">
                    <div class="social-thread-header">
                        <a href="">
                            <img ng-src="assets/img/UBAU.jpeg" class="avatar-icon"/>
                            <strong class="fullname">Urs Baumeler</strong>
                        </a>
                        <span class="thread-time">seit 15.8.2013</span>
                    </div>
                    <div class="social-thread-header">
                        <a href="">
                            <img ng-src="assets/img/IRIG.jpeg" class="avatar-icon"/>
                            <strong class="fullname">Ivan Rigamonti</strong>
                        </a>
                        <span class="thread-time">seit 15.8.2013</span>
                    </div>
                    <div class="social-thread-header">
                        <a href="">
                            <img ng-src="assets/img/SMUE.jpeg" class="avatar-icon"/>
                            <strong class="fullname">Stefan Müller</strong>
                        </a>
                        <span class="thread-time">seit 15.8.2013</span>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-2">
                <button type="button" class="btn btn-sm btn-primary">Ich mache mit</button>
            </div>
            <div class="col-md-4">
                Cham im Wald <br>
                Immer am Donnerstag: 07:00 - 07:30<br>
                <a href="">1 Kommentare</a>
            </div>
            <div class="col-md-6">
                Dabei sind schon <br>
                <a href="" ng-click="showJoiners2 = !showJoiners2">1 anderer aus deinem Betrieb</a>

                <div ng-show="showJoiners2">
                    <div class="social-thread-header">
                        <a href="">
                            <img ng-src="assets/img/UBAU.jpeg" class="avatar-icon"/>
                            <strong class="fullname">Urs Baumeler</strong>
                        </a>
                        <span class="thread-time">seit 15.8.2013</span>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

{{ actPlansToJoin }}


