<div class="container">

<!-- Page header  -->
<div class="page-header">
    <h1>Plane eine für dich passende Aktivität</h1>
</div>

<!-- die top row - sorter und empfehlungen -->
<div class="row">
    <div class="col-md-3 col-md-offset-2">
        <pagination total-items="filteredActions.length" items-per-page="pageSize" page="currentPage"
                    max-size="maxSize" class="pagination" boundary-links="false"/>
    </div>
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-12">
                <h3>{{ 'TOPIC' | translate  }}</h3>
            </div>
        </div>
        <div class="row panel panel-default">
            <div class="col-md-3">
                <div class="checkbox filter-option"
                     ng-class="query.topic.workLifeBalance ? 'filter-option-active' : 'filter-option-inactive'">
                    <label>
                        <input type="checkbox" value="" ng-model="query.topic.workLifeBalance">
                        WorkLife Balance
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="checkbox filter-option"
                     ng-class="query.topic.physicalFitness ? 'filter-option-active' : 'filter-option-inactive'">
                    <label>
                        <input type="checkbox" value="" ng-model="query.topic.physicalFitness">
                        Körperliche Fitness
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="checkbox filter-option"
                     ng-class="query.topic.nutrition ? 'filter-option-active' : 'filter-option-inactive'">
                    <label>
                        <input type="checkbox" value="" ng-model="query.topic.nutrition">
                        Ernährung/Konsum
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="checkbox filter-option"
                     ng-class="query.topic.mentalFitness ? 'filter-option-active' : 'filter-option-inactive'">
                    <label>
                        <input type="checkbox" value="" ng-model="query.topic.mentalFitness">
                        Geistige Fitness
                    </label>
                </div>


            </div>

        </div>
    </div>

</div>

<!-- die filter auf der Seite -->
<div class="row">
    <div class="col-md-2">
        <div class="row">
            <div class="col-md-12">
                <h3>AktvitätsCluster</h3>

                <div class="container panel panel-default">
                    <div class="checkbox filter-option"
                         ng-class="query.cluster.general ? 'filter-option-active' : 'filter-option-inactive'">
                        <label>
                            <input type="checkbox" value="" ng-model="query.cluster.general">
                            Allg. Ges.-Mgmt
                        </label>
                    </div>
                    <div class="checkbox filter-option"
                         ng-class="query.cluster.fitness ? 'filter-option-active' : 'filter-option-inactive'">
                        <label>
                            <input type="checkbox" value="" ng-model="query.cluster.fitness">
                            Körper./geistige Fitness
                        </label>
                    </div>
                    <div class="checkbox filter-option"
                         ng-class="query.cluster.nutrition ? 'filter-option-active' : 'filter-option-inactive'">
                        <label>
                            <input type="checkbox" value="" ng-model="query.cluster.nutrition">
                            Ernährung/Konsum
                        </label>
                    </div>
                    <div class="checkbox filter-option"
                         ng-class="query.cluster.wellness ? 'filter-option-active' : 'filter-option-inactive'">
                        <label>
                            <input type="checkbox" value="" ng-model="query.cluster.wellness">
                            Wohlbefinden
                        </label>
                    </div>

                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Rating</h3>

                <div class="container panel panel-default">
                    <div class="checkbox filter-option"
                         ng-class="query.rating.five ? 'filter-option-active' : 'filter-option-inactive'">
                        <label>
                            <input type="checkbox" value="" ng-model="query.rating.five">
                            <rating value="5" max="5"></rating>
                        </label>
                    </div>
                    <div class="checkbox filter-option"
                         ng-class="query.rating.four ? 'filter-option-active' : 'filter-option-inactive'">
                        <label>
                            <input type="checkbox" value="" ng-model="query.rating.four">
                            <rating value="4" max="5"></rating>
                        </label>
                    </div>
                    <div class="checkbox filter-option"
                         ng-class="query.rating.three ? 'filter-option-active' : 'filter-option-inactive'">
                        <label>
                            <input type="checkbox" value="" ng-model="query.rating.three">
                            <rating value="3" max="5"></rating>
                        </label>
                    </div>
                    <div class="checkbox filter-option"
                         ng-class="query.rating.two ? 'filter-option-active' : 'filter-option-inactive'">
                        <label>
                            <input type="checkbox" value="" ng-model="query.rating.two">
                            <rating value="2" max="5"></rating>
                        </label>
                    </div>
                    <div class="checkbox filter-option"
                         ng-class="query.rating.one ? 'filter-option-active' : 'filter-option-inactive'">
                        <label>
                            <input type="checkbox" value="" ng-model="query.rating.one">
                            <rating value="1" max="5"></rating>
                        </label>
                    </div>

                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Zeitaufwand</h3>

                <div class="container panel panel-default">
                    <div class="checkbox filter-option"
                         ng-class="query.time.t15 ? 'filter-option-active' : 'filter-option-inactive'">
                        <label>
                            <input type="checkbox" value="" ng-model="query.time.t15">
                            < 15 Minuten
                        </label>
                    </div>
                    <div class="checkbox filter-option"
                         ng-class="query.time.t30 ? 'filter-option-active' : 'filter-option-inactive'">
                        <label>
                            <input type="checkbox" value="" ng-model="query.time.t30">
                            < 30 Minuten
                        </label>
                    </div>
                    <div class="checkbox filter-option"
                         ng-class="query.time.t60 ? 'filter-option-active' : 'filter-option-inactive'">
                        <label>
                            <input type="checkbox" value="" ng-model="query.time.t60">
                            < 1 Stunde
                        </label>
                    </div>
                    <div class="checkbox filter-option"
                         ng-class="query.time.more ? 'filter-option-active' : 'filter-option-inactive'">
                        <label>
                            <input type="checkbox" value="" ng-model="query.time.more">
                            mehr als 1 Stunde
                        </label>
                    </div>

                </div>

            </div>

        </div>
    </div>
    <!-- die eigentliche Liste -->
    <div class="col-md-10 ">
        <div class="row panel panel-default"
             ng-repeat="action in filteredActions | startFrom:(currentPage -1) * pageSize | limitTo:pageSize">
            <div class="col-md-2">
                {{ action.title }}
            </div>
            <div class="col-md-1">
                {{ action.field }}
            </div>
            <div class="col-md-2">
                <rating max='5' value='action.rating'></rating>
            </div>
            <div class="col-md-5">
                {{ action.text }}
            </div>
            <div class="col-md-2">
                <a type="button" ng-class="isActionPlanned(action.id) ?
                'btn btn-action_planned' : 'btn btn-primary btn-action_unplanned'"
                   ng-href="#/actions/{{ action.id }}">{{ isActionPlanned(action.id) ? 'PLANNED' : 'PLAN_IT' |
                    translate }}</a>
            </div>
        </div>
        <pagination total-items="filteredActions.length" items-per-page="pageSize" page="currentPage"
                    max-size="maxSize" class="pagination" boundary-links="false"/>
    </div>
</div>
</div>
