<div class="container">

<!-- Page header  -->
<div class="page-header">
    <h1>Plane: Jogging über Mittag</h1>
</div>
<div class="container background-test">

<div class="row">
    <div class="col-md-10">
        <p>Jogging über Mittag macht Spass, lüftet den Kopf und ist sowieso immer gut</p>

    </div>
    <div class="col-md-2">
        <p>340 mal geplant<br/>
            230 mal ausgeführt</p>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        <a href="">(34)</a>
    </div>
</div>
<div class="row">
<div class="col-md-6">
<div class="row">
    <div class="col-md-6">
        <h2>Kommentare</h2>
    </div>
    <div class="col-md-6">
        <a class="action-social-comment-link" href="">neuer Kommentar</a>
    </div>
</div>
<div class="row action-social-content" ng-controller="CommentCtrl">
    <div class="col-md-12">
        <div class="row social-thread" ng-repeat="thread in threads">
            <div class="social-thread-header">
                <a href="{{ thread.author.link }}">
                    <img ng-src="{{ thread.author.pic }}" class="avatar-icon"/>
                    <strong class="fullname">{{ thread.author.fullname }}</strong>
                </a>
                <span class="thread-time">{{ thread.date }}</span>
            </div>
            <div class="social-thread-text">
                {{ thread.text }}
            </div>
            <div class="social-thread-footer">
                <a href="" ng-click="thread.showComments = !thread.showComments">{{ thread.comments.length + '
                    Kommentare' }}</a>
                <span class="thread-actions"><a href="" ng-click="thread.showComments = !thread.showComments">kommentieren</a></span>
            </div>
            <div class="container" ng-show="thread.showComments">
                <div class="row social-thread" ng-repeat="comment in thread.comments">
                    <div class="social-thread-header">
                        <a href="{{ comment.author.link }}">
                            <img ng-src="{{ comment.author.pic }}" class="avatar-icon"/>
                            <strong class="fullname">{{ comment.author.fullname }}</strong>
                        </a>
                        <span class="thread-time">{{ comment.date }}</span>
                    </div>
                    <div class="social-thread-text">
                        {{ comment.text }}
                    </div>
                    <div class="social-thread-footer">
                    </div>
                </div>
                <div class="row social-thread">
                    <div class="social-thread-header">
                        <a href="#/u/RBLU">
                            <img ng-src="assets/pics/RBLU.jpeg" class="avatar-icon"/>
                            <strong class="fullname">Reto Blunschi</strong>
                        </a>
                        <span class="thread-time">4.9.2013</span>
                    </div>
                    <form ng-submit="submitNewComment(thread)">
                        <div class="social-thread-text">
                            <input type="text" class="form-control" ng-model="thread.newComment">
                        </div>
                        <div class="social-thread-footer">
                            <button class="btn btn-primary btn-sm" type="submit">submit</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>


        <div class="row social-thread">
            <div class="social-thread-header">
                <a href="#/u/ubau">
                    <img src="assets/img/IRIG.jpeg" class="avatar-icon"/>
                    <strong class="fullname">Ivan Rigamonti</strong>
                </a>
                <span class="thread-time">11:45</span>
            </div>
            <div class="social-thread-text">
                Ich fands doof, viel zu anstrengend! -
                <span class="glyphicon glyphicon-star individual-rating"></span>
                <span class="glyphicon glyphicon-star-empty individual-rating"></span>
                <span class="glyphicon glyphicon-star-empty individual-rating"></span>
                <span class="glyphicon glyphicon-star-empty individual-rating"></span>
                <span class="glyphicon glyphicon-star-empty individual-rating"></span>
            </div>
            <div class="social-thread-footer">
                <a href="">7 Kommentare</a>
                <span class="thread-actions"><a href="">kommentieren</a></span>
            </div>
        </div>
        <div class="row social-thread">
            <div class="social-thread-header">
                <a href="#/u/ubau">
                    <img src="assets/img/SMUE.jpeg" class="avatar-icon"/>
                    <strong class="fullname">Stefan Müller</strong>
                </a>
                <span class="thread-time">26.8.2013</span>
            </div>
            <div class="social-thread-text">
                heute 15km gemacht, fühle mich super! -
                <span class="glyphicon glyphicon-star individual-rating"></span>
                <span class="glyphicon glyphicon-star individual-rating"></span>
                <span class="glyphicon glyphicon-star individual-rating"></span>
                <span class="glyphicon glyphicon-star individual-rating"></span>
                <span class="glyphicon glyphicon-star-empty individual-rating"></span>

            </div>
            <div class="social-thread-footer">
                <a href="">3 Kommentare</a>
                <span class="thread-actions"><a href="">kommentieren</a></span>
            </div>
        </div>
        <div class="row social-thread">
            <div class="social-thread-header">
                <a href="#/u/ubau">
                    <img src="assets/img/UBAU.jpeg" class="avatar-icon"/>
                    <strong class="fullname">Urs Baumeler</strong>
                </a>
                <span class="thread-time">3.8.2013 17:00</span>
            </div>
            <div class="social-thread-text">
                Wer kommt mit, jeweils Mittwochs 11:45 ab Bahnhof Stettbach, easy jogging?
            </div>
            <div class="social-thread-footer">
                <a href="">3 Kommentare</a>
                <span class="thread-actions"><a href="">kommentieren</a></span>
            </div>
        </div>
        <div class="row social-thread">
            <div class="social-thread-header">
                <a href="#/u/ubau">
                    <img src="assets/img/UBAU.jpeg" class="avatar-icon"/>
                    <strong class="fullname">Urs Baumeler</strong>
                </a>
                <span class="thread-time">3.8.2013 17:00</span>
            </div>
            <div class="social-thread-text">
                Wer kommt mit, jeweils Mittwochs 11:45 ab Bahnhof Stettbach, easy jogging?
            </div>
            <div class="social-thread-footer">
                <a href="">3 Kommentare</a>
                <span class="thread-actions"><a href="">kommentieren</a></span>
            </div>
        </div>
        <div class="row social-thread">
            <div class="social-thread-header">
                <a href="#/u/ubau">
                    <img src="assets/img/UBAU.jpeg" class="avatar-icon"/>
                    <strong class="fullname">Urs Baumeler</strong>
                </a>
                <span class="thread-time">3.8.2013 17:00</span>
            </div>
            <div class="social-thread-text">
                Wer kommt mit, jeweils Mittwochs 11:45 ab Bahnhof Stettbach, easy jogging?
            </div>
            <div class="social-thread-footer">
                <a href="">3 Kommentare</a>
                <span class="thread-actions"><a href="">kommentieren</a></span>
            </div>
        </div>
        <div class="row social-thread">
            <div class="social-thread-header">
                <a href="#/u/ubau">
                    <img src="assets/img/UBAU.jpeg" class="avatar-icon"/>
                    <strong class="fullname">Urs Baumeler</strong>
                </a>
                <span class="thread-time">3.8.2013 17:00</span>
            </div>
            <div class="social-thread-text">
                Wer kommt mit, jeweils Mittwochs 11:45 ab Bahnhof Stettbach, easy jogging?
            </div>
            <div class="social-thread-footer">
                <a href="">3 Kommentare</a>
                <span class="thread-actions"><a href="">kommentieren</a></span>
            </div>
        </div>
        <div class="row social-thread">
            <div class="social-thread-header">
                <a href="#/u/ubau">
                    <img src="assets/img/UBAU.jpeg" class="avatar-icon"/>
                    <strong class="fullname">Urs Baumeler</strong>
                </a>
                <span class="thread-time">3.8.2013 17:00</span>
            </div>
            <div class="social-thread-text">
                Wer kommt mit, jeweils Mittwochs 11:45 ab Bahnhof Stettbach, easy jogging?
            </div>
            <div class="social-thread-footer">
                <a href="">3 Kommentare</a>
                <span class="thread-actions"><a href="">kommentieren</a></span>
            </div>
        </div>
        <div class="row social-thread">
            <div class="social-thread-header">
                <a href="#/u/ubau">
                    <img src="assets/img/UBAU.jpeg" class="avatar-icon"/>
                    <strong class="fullname">Urs Baumeler</strong>
                </a>
                <span class="thread-time">3.8.2013 17:00</span>
            </div>
            <div class="social-thread-text">
                Wer kommt mit, jeweils Mittwochs 11:45 ab Bahnhof Stettbach, easy jogging?
            </div>
            <div class="social-thread-footer">
                <a href="">3 Kommentare</a>
                <span class="thread-actions"><a href="">kommentieren</a></span>
            </div>
        </div>
    </div>
</div>
</div>
<div class="col-md-6 activity-planning">
    <h2>Für dich einplanen: </h2>

    <div class="row">
        <div class="col-md-1">
            <input type="radio" name="planTypes" id="planTypeOnce" value="once" class="form-control"
                   ng-model="selectedActivityPlan.planType">
        </div>
        <div class="col-md-11">
            <div class="form-horizontal" role="form">
                <fieldset ng-disabled="selectedActivityPlan.planType!='once'">
                    <div class="form-group">
                        <label for="datePickerOnce" class="col-md-3 control-label">Einmalig am:</label>

                        <div class="col-md-6">
                            <div class="input-group input-group-sm">
                                <input class="form-control" type="text" id="datePickerOnce"
                                       datepicker-popup="dd-MMMM-yyyy"
                                       ng-model="selectedActivityPlan.onceDate"
                                       is-open="opened" min="minDate" max="'2015-06-22'"
                                       datepicker-options="dateOptions"
                                       date-disabled="disabled(date, mode)" ng-required="true"/>
                    <span class="input-group-btn">
                    <button class="btn btn-info " ng-click="open()">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </button>
                        </span>
                            </div>
                        </div>

                    </div>
                </fieldset>
            </div>


        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <input type="radio" name="planTypes" id="planTypeDaily" value="daily" class="form-control"
                   ng-model="selectedActivityPlan.planType">
        </div>
        <div class="col-md-11">
            <div class="form-horizontal" role="form">

                <fieldset ng-disabled="selectedActivityPlan.planType!='daily'">
                    <div class="form-group">
                        <label for="timePickerDaily" class="col-md-3 control-label">Täglich um:</label>

                        <div ng-model="selectedActivityPlan.dailyTime" class="col-md-6">
                            <timepicker id="timePickerDaily" minute-step="15"
                                        show-meridian="false"></timepicker>
                        </div>
                        <div class="col-md-3">
                            {{ dailyTime }}
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-1">
            <input type="radio" name="planTypes" id="planTypeWeekly" value="weekly" class="form-control"
                   ng-model="selectedActivityPlan.planType">
        </div>
        <div class="col-md-11">
            <fieldset ng-disabled="selectedActivityPlan.planType!='weekly'">

                <div class="form-group">
                    <label for="weeklyDay" class="col-md-3 control-label">Wöchentlich am:</label>

                    <div class="col-md-4">
                        <select ng-model="selectedActivityPlan.weeklyDay"
                                name="weeklyDay"
                                id="weeklyDay"
                                ng-options="availableDays.indexOf(d) as d.label | translate for d in availableDays"
                                class="form-control">
                        </select>
                    </div>
                    <div class="col-md-2">
                    </div>

                </div>
            </fieldset>
        </div>
    </div>
</div>
</div>
</div>
</div>