<div class="container">

    <!-- Page header  -->
    <div class="page-header">
        <h1>{{ assessment.name | translate }}</h1>
    </div>

    <div class="row ass-questioncat-title" ng-repeat="questioncat in assessment.questionCats">
        <div class="col-md-4 col-md-offset-2">
            <h2>{{ questioncat.category | translate}}</h2>
        </div>
        <div class="row" ng-repeat="question in questioncat.questions" popover="{{ question.expText }}" popover-trigger="mouseenter" popover-placement="bottom" >
            <div class="row ass-question">
                <div class="col-md-4 col-md-offset-4"><h3>{{ question.title | translate}}</h3></div>
            </div>
            <div class="row" >
                <div class="col-md-3 col-md-offset-1 ass-min-text">{{ question.minText | translate}}</div>
                <div class="col-md-4">
                    <input ng-class="question.type" type="range" min="-100" max="{{ (question.type == 'oneSided') ? 0 : 100 }}"
                           ng-model="assAnswersByQuestionId[question.id].answer"/>
                </div>
                <div class="col-md-3 ass-max-text">{{ question.maxText | translate}}</div>
            </div>
            <div class="row ass-mid-text">
                <div class="col-md-4 col-md-offset-4">{{ question.midText | translate}}</div>
            </div>

        </div>
    </div>
</div>