<div class="container top-buffer">

    <div class="row top-buffer" ng-repeat="question in questions">
        <div class="row top-buffer ass-question">
            <div class="col-md-2 col-md-offset-5">{{ question.title }} Wert: {{ question.answer }}</div>
        </div>

        <div class="col-md-2 col-md-offset-2 ass-min-text">{{ question.minText }}</div>
        <div class="col-md-4">
            <input type="range"  min="-100" max="100" ng-model="question.answer">

            </slider>

        </div>
        <div class="col-md-2 ass-max-text">{{ question.maxText }}</div>

    </div>

</div>