<div class="container">

    <div class="page-header">
        <h1>Health Promoter: Schindler AG</h1>
    </div>

    <div class="row">
        <!-- left nav bar -->
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a ng-href="#/newcampaign">Neue Kampagne</a></li>
                <li><a href="">Neues Sponsoring</a></li>
            </ul>
        </div>

        <!-- main content -->
        <div class="col-md-10">
            <form role="form" name="newCampaignForm">
                <div class="control-group col-md-6" ng-class="getCssClasses(newCampaignForm.name)">
                    <label for="name">Campaign Name</label>
                    <input type="text" ng-model="campaign.name" class="form-control" name="name" id="name"
                           placeholder="enter campaign name" required>
                    <span ng-show="showError(newCampaignForm.name, 'required')" class="help-block">This field is required</span>
                </div>
                <div class="control-group col-md-4" ng-class="getCssClasses(newCampaignForm.duration)">
                    <label for="duration">Dauer der Kampagne (in Wochen)</label>
                    <input type="number" ng-model="campaign.duration" ng-maxlength="1" ng-minlength="1"  class="form-control" name="duration"
                           id="duration">
                </div>
                <button class="btn btn-primary" ng-click="save()" ng-disabled="!canSave()">Save</button>
            </form>
        </div>
    </div>
</div>