<div class="list-group activity-log">

    <div class="list-group-item {{getActivityTimeType(actEvent.type)}}" ng-repeat="actPlan in actPlans">

        <div class="row">

            <div class="col-xs-2 col-md-2">
                <a href="" ng-click="gotoActivityDetail(actPlan)" class="activity-log title">{{ actPlan.activity.number }}</br></a>
                <span class="glyphicon controls glyphicon-{{eventsShown ? 'minus' : 'plus'}}" ng-click="eventsShown = !eventsShown"></span></td>
            </div>
            <div class="col-xs-7 col-md-7">
                <a ui-sref="activityDetail({activityId: actPlan.activity.id})" class="activity-log title">{{actPlan.activity.title}}</br></a>
                {{ actPlan.mainEvent.frequency | uppercase | translate }}&nbsp;|&nbsp;
                <span popover="{{ actPlan.executionType | uppercase | translate }}" popover-trigger="mouseenter" class="glyphicon button-controls glyphicon-{{getGlyphiconForExecutionType(actPlan.executionType)}}" ></span>&nbsp;|&nbsp;
                <span popover="{{ actPlan.visibility | uppercase | translate }}" popover-trigger="mouseenter" class="glyphicon button-controls glyphicon-{{getGlyphiconForVisibility(actPlan.visibility)}}" ></span>
            </div>
            <div class="col-xs-2 col-md-2">
                <div popover="{{ activityFields[fieldId]}}" popover-trigger="mouseenter" ng-repeat="fieldId in actPlan.activity.fields">
                    <img ng-src="/assets/ico/{{fieldId}}.gif" class="activityListClusterIcon">
                </div>

            </div>
            <div class="col-xs-1 col-md-1">
                <div class="activity-log time-box">
                    <div class="col-md-1" popover="{{ actPlan.source | uppercase | translate }}"
                         popover-trigger="mouseenter">
                        <img ng-src="/assets/img/YouPersAvatar.png" ng-if="actPlan.source == 'youpers'" class="activityListClusterIcon">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-show="eventsShown">
            <div class="list-group-item {{getActivityTimeType(actEvent.type)}}" ng-repeat="actEvent in actPlan.events | orderBy:'-begin'">
                <div class="row">
                    <div class="col-xs-2 col-md-2">
                    </div>
                    <div class="col-xs-2 col-md-2">
                        <div class="activity-log status" ng-controller="ActivityDoneModalCtrl">
                            <button class="btn btn-default" ng-click="open(actEvent, actPlan.activity, actPlan.id)">
                                <span class="glyphicon button-controls glyphicon-{{getGlyphiconStatus(actEvent.status)}}" ></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-xs-2 col-md-2">
                        <div class="activity-feedback-{{actEvent.feedback}}-small"></div>
                    </div>
                    <div class="col-xs-3 col-md-3">
                        <!--ToDo irig: Popover-Text auslagern und in verschiedenen Sprachen implementieren-->
                        <a href="" ng-click="$parent.commentsShown = !$parent.commentsShown" popover="Kommentare: Zum öffnen bitte anklicken" popover-trigger="mouseenter" class="glyphicon glyphicon-comment"> </a>
                        <a href="" ng-click="$parent.commentsShown = !$parent.commentsShown" popover="Anzahl Kommentare: Zum öffnen bitte anklicken" popover-trigger="mouseenter"class="badge">{{actEvent.comments.length}}</a>
                    </div>
                    <div class="col-xs-3 col-md-3">

                        <div class="activity-log time-box">
                                                                <span class="activity-log time-box timestamp">{{actEvent.begin | fromNow}}</br>
                                                                    {{actEvent.begin | time}} - {{actEvent.end | time}}
                                                                </span>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="commentsShown">
                    <div class="list-group-item" ng-repeat="comment in actEvent.comments | orderBy:'-created'">
                        <div class="row">

                            <div class="col-xs-2 col-md-2">
                                <a href="">
                                    <img ng-src="{{comment.author.avatar}}" class="social-log author-avatar"/>
                                </a>
                            </div>
                            <div class="col-xs-3 col-md-3">
                                <a href="">
                                    <span class="social-log author-name">{{comment.author.fullname}}</span>
                                </a>
                            </div>
                            <div class="col-xs-5 col-md-5">
                                <span class="social-log comment">{{comment.text}}</span>
                            </div>
                            <div class="col-xs-2 col-md-2">
                                <div class="social-log time-box">
                                                                            <span class="activity-log time-box timestamp">
                                                                                   {{comment.created | fromNow}}</br>
                                                                            </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

