<div class="doneActivityDialog panel panel-default">

    <div class="modal-header">
        <h3>{{ getActivityInfo() }}</h3>
        <h4>{{ 'ON' | translate }} {{ getActivityWhen() }}</h4>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-lg-4">

                <div class="btn-group">
                    Ausgeführt?</br>
                    <button class="btn btn-default" ng-click="isDone('yes')" ng-model="done" btn-radio="1">{{ 'YES' | translate }}</button>
                    <button class="btn btn-default" ng-click="isDone('no')" ng-model="done" btn-radio="2">{{ 'NO' | translate }}</button>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="btn-group">
                    Wie hast du dich gefühlt?</br>
                    <button class="btn btn-default" ng-click="givenRating(1)" ng-model="rating" btn-radio="1"><div class="activity-feedback-1-small"></div></button>
                    <button class="btn btn-default" ng-click="givenRating(2)" ng-model="rating" btn-radio="2"><div class="activity-feedback-2-small"></div></button>
                    <button class="btn btn-default" ng-click="givenRating(3)" ng-model="rating" btn-radio="3"><div class="activity-feedback-3-small"></div></button>
                    <button class="btn btn-default" ng-click="givenRating(4)" ng-model="rating" btn-radio="4"><div class="activity-feedback-4-small"></div></button>
                    <button class="btn btn-default" ng-click="givenRating(5)" ng-model="rating" btn-radio="5"><div class="activity-feedback-5-small"></div></button>
                </div>
                </br>
                </br>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">

                <input type="text" placeholder="{{ 'COMMENT' | translate }}" class="form-control comment"
                       ng-model="newComment" ng-change="givenComment(newComment)">

            </div>
        </div>

    </div>

    <div class="modal-footer">
        <div class="row">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6">
                <button class="btn btn-success btn-sm" ng-click="ok({{ rating }})">{{ 'SAVE' | translate }}</button>
                <button class="btn btn-warning btn-sm" ng-click="cancel()">{{ 'CANCEL' | translate }}</button>
                </br>
                </br>
            </div>
        </div>
    </div>

</div>