<div class="container" xmlns="http://www.w3.org/1999/html">

<!-- Page header  -->
<!--<div class="page-header">-->
<!--<h1>Cockpit</h1>-->
<!--</div>-->

<div class="container cockpit">
<div class="row">
    <div class="col-md-6">
        <div class="panel cockpit">
            <div class="panel cockpit section-title">
                Massgeschneiderte Vorschläge
            </div>
            <div class="row">
                <div class="col-xs-9 col-md-9">
                    <p>Dein komplett ausgefüllter Fragebogen ermöglicht uns, dir massgeschneiderte Aktivitäten zur
                        Stressreduktion vorzuschlagen. </p>
                </div>
                <div class="col-xs-3 col-md-3">
                    <p><a class="cockpit assessment btn btn-primary" ui-sref="assessment({assessmentId: '525faf0ac558d40000000005'})" >{{"TO_THE_ASSESSMENT" | translate }} &raquo;</a>
                    </p>
                </div>
            </div>

        </div>

        <div class="panel cockpit">

            <div class="panel cockpit section-title">
                Status
            </div>

            <p>Wie hat sich dein Stresslevel entwickelt? Wie sieht dein aktueller Stress Level aus? </p>

            <div ng-controller="yp.ewl.stresslevel.gauge.controller">
                <!--<div class="btn-group">-->
                <!--<label class="btn btn-default">-->
                <!--<input type="radio" ng-model="stressLevelGeneral" value="{{stressLevelWorkPlace}}" name="timespanoption" id="optionweek"> Woche-->
                <!--&lt;!&ndash; ToDo (irig) Begriff Woche mittels TRANSLATE-Filter implementieren &ndash;&gt;-->
                <!--</label>-->
                <!--<label class="btn btn-default">-->
                <!--<input type="radio" ng-model="stressLevelGeneral" value="{{stressLevelTimeOff}}" name="timespanoption" id="optionmonth"> Monat-->
                <!--&lt;!&ndash; ToDo (irig) Begriff Monat mittels TRANSLATE-Filter implementieren &ndash;&gt;-->
                <!--</label>-->
                <!--<label class="btn btn-default">-->
                <!--<input type="radio" ng-model="stressLevelGeneral" value="{{stressLevelMastery}}" name="timespanoption" id="optionyear"> Jahr-->
                <!--&lt;!&ndash; ToDo (irig) Begriff Jahr mittels TRANSLATE-Filter implementieren &ndash;&gt;-->
                <!--</label>-->
                <!--</div>-->
                <div>
                    <d3-gauge data="stressLevelGeneral" options="d3Options" label="name" on-click="onClick(item)"></d3-gauge>
                    <d3-gauge data="stressLevelWorkPlace" options="d3Options" label="name" on-click="onClick(item)"></d3-gauge>
                    <d3-gauge data="stressLevelTimeOff" options="d3Options" label="name" on-click="onClick(item)"></d3-gauge>
                    <d3-gauge data="stressLevelType" options="d3Options" label="name" on-click="onClick(item)"></d3-gauge>
                    <d3-gauge data="stressLevelMastery" options="d3Options" label="name" on-click="onClick(item)"></d3-gauge>
                </div>
            </div>

        </div>

    </div>
    <div class="col-md-6">
        <div class="panel cockpit">

            <div class="panel cockpit section-title">
                Aktivitäten
            </div>

            <p>Wieviele der geplanten Aktivitäten hast du durchgeführt und wieviele verpasst? </p>

            <div ng-controller="yp.ewl.activity.vchart.controller">
                <div class="row">
                    <div class="col-xs-8 col-md-8">
                        <!--<div class="btn-group">-->
                            <!--<label class="btn btn-default">-->
                                <!--<input type="radio" ng-model="chart.data" value="{{chart.dataCurrentWeek}}"-->
                                       <!--name="timespanoption" id="optionweek" checked="checked" ng-class="active"> Woche-->
                                <!--&lt;!&ndash; ToDo (irig) Begriff Woche mittels TRANSLATE-Filter implementieren &ndash;&gt;-->
                            <!--</label>-->
                            <!--<label class="btn btn-default">-->
                                <!--<input type="radio" ng-model="chart.data" value="{{chart.dataCurrentMonth}}"-->
                                       <!--name="timespanoption" id="optionmonth"> Monat-->
                                <!--&lt;!&ndash; ToDo (irig) Begriff Monat mittels TRANSLATE-Filter implementieren &ndash;&gt;-->
                            <!--</label>-->
                            <!--<label class="btn btn-default">-->
                                <!--<input type="radio" ng-model="chart.data" value="{{chart.dataCurrentYear}}"-->
                                       <!--name="timespanoption" id="optionyear"> Jahr-->
                                <!--&lt;!&ndash; ToDo (irig) Begriff Jahr mittels TRANSLATE-Filter implementieren &ndash;&gt;-->
                            <!--</label>-->

                        <!--</div>-->
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" ng-class="getActive('week')" ng-click="setData('week')">Woche</button>
                            <button type="button" class="btn btn-default" ng-class="getActive('month')" ng-click="setData('month')">Monat</button>
                            <button type="button" class="btn btn-default" ng-class="getActive('year')" ng-click="setData('year')">Jahr</button>
                        </div>
                    </div>
                    <div class="col-xs-4 col-md-4">
                        <p><a class="cockpit detail-charts btn btn-primary" href="#" >{{"DETAIL_CHARTS" | translate }} &raquo;</a>
                        </p>
                    </div>
                </div>
                <div>
                    <d3-vertical-bar-chart data="chart.data" options="d3Options" label="name"
                                           on-click="onClick(item)"></d3-vertical-bar-chart>
                </div>
            </div>

        </div>

        <!--<div class="col-md-6" >-->
        <!--<div class="panel cockpit">-->

            <!--<div class="panel cockpit section-title">-->
                <!--Aktivitäten-->
            <!--</div>-->

            <!--<p>Wieviele der geplanten Aktivitäten hast du durchgeführt und wieviele verpasst? </p>-->

            <!--<div  ng-controller="yp.ewl.activity.chart.controller">-->
                <!--<div class="row">-->
                    <!--<div class="col-xs-8 col-md-8">-->
                        <!--<div class="btn-group">-->
                            <!--<label class="btn btn-default">-->
                                <!--<input type="radio" ng-model="chart.data" value="{{chart.dataCurrentWeek}}"-->
                                       <!--name="timespanoption" id="optionweek" checked="checked"> Woche-->
                                <!--&lt;!&ndash; ToDo (irig) Begriff Woche mittels TRANSLATE-Filter implementieren &ndash;&gt;-->
                            <!--</label>-->
                            <!--<label class="btn btn-default">-->
                                <!--<input type="radio" ng-model="chart.data" value="{{chart.dataCurrentMonth}}"-->
                                       <!--name="timespanoption" id="optionmonth"> Monat-->
                                <!--&lt;!&ndash; ToDo (irig) Begriff Monat mittels TRANSLATE-Filter implementieren &ndash;&gt;-->
                            <!--</label>-->
                            <!--<label class="btn btn-default">-->
                                <!--<input type="radio" ng-model="chart.data" value="{{chart.dataCurrentYear}}"-->
                                       <!--name="timespanoption" id="optionyear"> Jahr-->
                                <!--&lt;!&ndash; ToDo (irig) Begriff Jahr mittels TRANSLATE-Filter implementieren &ndash;&gt;-->
                            <!--</label>-->

                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-xs-4 col-md-4">-->
                        <!--<p><a class="cockpit detail-charts btn btn-primary" href="#" >{{"DETAIL_CHARTS" | translate }} &raquo;</a>-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash;<div google-chart chart="chart" style="{{chart.cssStyle}}"/>&ndash;&gt;-->
                <!--<div google-chart chart="chart"></div>-->
            <!--</div>-->

            <!--</br>-->

            <!--&lt;!&ndash;<div ng-controller="yp.ewl.activity.chart2.controller">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="col-xs-8 col-md-8">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="btn-group">&ndash;&gt;-->
            <!--&lt;!&ndash;<label class="btn btn-default">&ndash;&gt;-->
            <!--&lt;!&ndash;<input type="radio" ng-model="chart.data" value="{{chart.dataCurrentWeek}}"&ndash;&gt;-->
            <!--&lt;!&ndash;name="timespanoption" id="optionweek"> Woche&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash; ToDo (irig) Begriff Woche mittels TRANSLATE-Filter implementieren &ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;</label>&ndash;&gt;-->
            <!--&lt;!&ndash;<label class="btn btn-default">&ndash;&gt;-->
            <!--&lt;!&ndash;<input type="radio" ng-model="chart.data" value="{{chart.dataCurrentMonth}}"&ndash;&gt;-->
            <!--&lt;!&ndash;name="timespanoption" id="optionmonth"> Monat&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash; ToDo (irig) Begriff Monat mittels TRANSLATE-Filter implementieren &ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;</label>&ndash;&gt;-->
            <!--&lt;!&ndash;<label class="btn btn-default">&ndash;&gt;-->
            <!--&lt;!&ndash;<input type="radio" ng-model="chart.data" value="{{chart.dataCurrentYear}}"&ndash;&gt;-->
            <!--&lt;!&ndash;name="timespanoption" id="optionyear"> Jahr&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash; ToDo (irig) Begriff Jahr mittels TRANSLATE-Filter implementieren &ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;</label>&ndash;&gt;-->

            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="col-xs-4 col-md-4">&ndash;&gt;-->
            <!--&lt;!&ndash;<p><a class="cockpit detail-charts btn btn-primary" href="#" >{{"DETAIL_CHARTS" | translate }} &raquo;</a>&ndash;&gt;-->
            <!--&lt;!&ndash;</p>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<d3-horizontal-bar-chart data="chart.data" options="d3Options" label="name"&ndash;&gt;-->
            <!--&lt;!&ndash;on-click="onClick(item)"></d3-horizontal-bar-chart>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

        <!--</div>-->

    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel cockpit">

            <div class="panel cockpit section-title">
                    <span class="glyphicon controls glyphicon-{{activityLogVisible ? 'collapse-down' : 'expand'}}"
                          ng-init="activityLogVisible=true" ng-click="activityLogVisible = !activityLogVisible">
                    </span>
                Aktivitätslog
            </div>

            <div ng-show="activityLogVisible" ng-controller="ActivityLogCtrl">

                <p>Alle deine vergangenen und zukünftigen Aktivitäten, Stand: Dienstag, 20. August 2013. </p>

                <div class="row">
                    <div class="col-xs-12 col-md-12">

                        <div class="cockpit new-activity">
                            <button ng-click="gotoActivityList()" type="button" class="btn btn-primary">{{
                                "NEW_ACTIVITY" | translate }} &raquo;
                            </button>
                        </div>
                        <tabset>
                            <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active"
                                 disabled="tab.disabled">
                                <div ng-include="tab.content"></div>
                            </tab>
                        </tabset>

                    </div>
                </div>

            </div>
            <div ng-hide="activityLogVisible">

                </br>
                <p>Anzeigen aller vergangenen und zukünftigen Aktivitäten, Stand: Dienstag, 20. August
                    2013. </p>

            </div>
        </div>

    </div>

    <div class="col-md-6" ng-controller="SocialLogCtrl">

        <div class="panel cockpit">

            <div class="panel cockpit section-title">

                        <span class="glyphicon controls glyphicon-{{socialLogVisible ? 'collapse-down' : 'expand' }}"
                              ng-init="socialLogVisible=true"
                              ng-click="socialLogVisible = !socialLogVisible"></span>
                Social Ticker
            </div>

            <div ng-show="socialLogVisible">

                <p>Verfolge deine Interessensgebiete und teile deine Erfahrungen mit anderen. </p>

                <div class="list-group social-log">

                    <div class="list-group-item {{socialLogEntry.type}}"
                         ng-repeat="socialLogEntry in socialLogEntries">
                        <div class="row">
                            <div class="col-xs-10 col-md-10">
                                <div class="col-xs-6 col-md-5">
                                    <div class="social-log status">
                                        <span class="glyphicon glyphicon-{{getGlyphicon(socialLogEntry.status)}}"></span></td>
                                    </div>
                                    <a href="#/u/ubau">
                                        <img ng-src="{{socialLogEntry.author.avatar}}"
                                             class="social-log author-avatar"/>
                                        <strong class="social-log author-name">{{socialLogEntry.author.firstname}}</br>
                                            {{socialLogEntry.author.lastname}}</strong>
                                    </a>
                                </div>
                                <div class="col-xs-6 col-md-7">
                                    <a href="#" class="social-log area">{{socialLogEntry.area}}</br></a>
                                    <a href="#" class="social-log title">{{socialLogEntry.activity}}</br></a>
                                    <a href="#" class="social-log comment">{{socialLogEntry.text}}</a>
                                </div>
                            </div>
                            <div class="col-xs-2 col-md-2">
                                <!--<div class="col-xs-6 col-md-4">-->
                                <div class="social-log time-box">
                                                <span class="activity-log time-box timestamp">
                                                    {{socialLogEntry.created | fromNow}}</br>
                                                </span>
                                </div>
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div ng-hide="socialLogVisible">

                </br>
                <p>Verfolge deine Interessensgebiete und teile deine Erfahrungen mit anderen. </p>

            </div>

        </div>

    </div>
</div>

</div>
</div>