<div ng-controller="EmailVerificationCtrl" class="container">

    <div class="row">
        <div class="col-md-6">
            <header>
                <h2>valid / invalid header</h2>
            </header>
        </div>
    </div>


    <div class="row">

        <div>
            {{ result | json }}
        </div>

        <div ng-switch="emailValid" class="col-md-6">

            <div ng-switch-default>
                Verifying, please wait ...
            </div>
            <div ng-switch-default="true" >
                Valid!
            </div>
            <div ng-switch-default="false">
                Invalid :(
            </div>

        </div>
    </div>

</div>