<!-- Proposals / Fields (Part 1) -->
<div class="container">
    <div class="row top-buffer">
        <div class="col-md-2">
        </div>
        <div class="col-xs-6 col-md-2">
            <button type="button"
                    class="btn btn-actionfield btn-actionfield-selected-{{ 'exercise'==actionFieldSelected }}"
                    ng-click="selectActionField('exercise')">{{ 'EXERCISE' | translate }}
            </button>

            <div class="actionfield-icons">

                <ul class="small-icons">
                    <span class="glyphicon glyphicon-thumbs-up"></span> {{ (myPlannedActions | filter:{field:'exercise'}).length}}
                    <span class="glyphicon glyphicon-check"></span> {{ (actions | filter:{field:'exercise'}).length}}
                    <span class="glyphicon glyphicon-star"></span> 121
                </ul>
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
            <button type="button"
                    class="btn btn-actionfield btn-actionfield-selected-{{ 'nutrition'==actionFieldSelected }}"
                    ng-click="selectActionField('nutrition')">{{ 'NUTRITION' | translate }}
            </button>

            <div class="actionfield-icons">

                <ul class="small-icons">
                    <span class="glyphicon glyphicon-thumbs-up"></span> {{ (myPlannedActions | filter:{field:'nutrition'}).length}}
                    <span class="glyphicon glyphicon-check"></span> {{ (actions | filter:{field:'nutrition'}).length}}
                    <span class="glyphicon glyphicon-star"></span> 121

                </ul>
            </div>
        </div>
        <div class="col-xs-6 col-md-2" ng-click="selectActionField('time')">
            <button type="button" class="btn btn-actionfield">{{ 'TIME' | translate}}</button>

            <div class="actionfield-icons">

                <ul class="small-icons">
                    <span class="glyphicon glyphicon-thumbs-up"></span> {{ (myPlannedActions | filter:{field:'time'}).length}}
                    <span class="glyphicon glyphicon-check"></span> {{ (actions | filter:{field:'time'}).length}}
                    <span class="glyphicon glyphicon-star"></span> 121
                </ul>
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
            <button type="button" class="btn btn-actionfield">{{ 'COMMUTE' | translate}}</button>

            <div class="actionfield-icons">

                <ul class="small-icons">
                    <span class="glyphicon glyphicon-thumbs-up"></span> {{ (myPlannedActions | filter:{field:'exercise'}).length}}
                    <span class="glyphicon glyphicon-check"></span> {{ (actions | filter:{field:'exercise'}).length}}
                    <span class="glyphicon glyphicon-star"></span> 121
                </ul>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>

<div class="container top-buffer">
    <div class="row action-selectbox" ng-show="actionFieldSelected">
        <div class="col-md-12">
            <div class="row action-selector"
                 ng-repeat="action in actions | filter:{field:actionFieldSelected}">
                <div class="col-md-1">
                    <button type="button" ng-class="isActionPlanned(action.id) ?
                'btn btn-action_planned' : 'btn btn-action_unplanned'"
                            ng-click="planAction(action)">{{ isActionPlanned(action.id) ? 'PLANNED' : 'PLAN_IT' | translate }}</button>
                </div>
                <div class="col-md-4"><span class="done-{{action.done}}">{{action.title}}</span></div>
                <div class="col-md-3">{{action.text}}</div>
                <div class="col-md-1">
                </div>
                <div class="col-md-2">{{action.field}}</div>
            </div>
        </div>
    </div>
</div>

<!-- Proposals / Fields (Part 2) -->
<div class="container">

    <div class="row  top-buffer">
        <div class="col-md-2">
        </div>
        <div class="col-xs-6 col-md-2">
            <button type="button" class="btn btn-actionfield">{{ 'BREAKS' | translate}}</button>

            <div class="actionfield-icons">

                <ul class="small-icons">
                    <span class="glyphicon glyphicon-thumbs-up"></span> {{ (myPlannedActions | filter:{field:'exercise'}).length}}
                    <span class="glyphicon glyphicon-check"></span> {{ (actions | filter:{field:'exercise'}).length}}
                    <span class="glyphicon glyphicon-star"></span> 121
                </ul>
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
            <button type="button" class="btn btn-actionfield">{{ 'SOCIAL' | translate}}</button>

            <div class="actionfield-icons">

                <ul class="small-icons">
                    <span class="glyphicon glyphicon-thumbs-up"></span> {{ (myPlannedActions | filter:{field:'exercise'}).length}}
                    <span class="glyphicon glyphicon-check"></span> {{ (actions | filter:{field:'exercise'}).length}}
                    <span class="glyphicon glyphicon-star"></span> 121
                </ul>
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
            <button type="button" class="btn btn-actionfield">{{ 'LEISURE' | translate}}</button>

            <div class="actionfield-icons">

                <ul class="small-icons">
                    <span class="glyphicon glyphicon-thumbs-up"></span> {{ (myPlannedActions | filter:{field:'exercise'}).length}}
                    <span class="glyphicon glyphicon-check"></span> {{ (actions | filter:{field:'exercise'}).length}}
                    <span class="glyphicon glyphicon-star"></span> 121
                </ul>
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
            <button type="button" class="btn btn-actionfield">{{ 'WORK' | translate}}</button>

            <div class="actionfield-icons">

                <ul class="small-icons">
                    <span class="glyphicon glyphicon-thumbs-up"></span> {{ (myPlannedActions | filter:{field:'exercise'}).length}}
                    <span class="glyphicon glyphicon-check"></span> {{ (actions | filter:{field:'exercise'}).length}}
                    <span class="glyphicon glyphicon-star"></span> 121
                </ul>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
