
<div class="container">
    <div class="row top-buffer">
        <div class="col-md-offset-2 col-md-3">
            <a class="btn btn-primary btn-lg" href="#/serviceChoice">YouPers <br>{{ 'FOR' | translate }} <br>{{ 'INDIVIDUALS' | translate }}</a>
        </div>
        <div class="col-md-offset-2 col-md-3">
            <a class="btn btn-primary btn-lg" href="#/serviceChoice">YouPers <br>{{ 'FOR' | translate }} <br>{{ 'HEALTH_PROMOTERS' | translate }}</a>
        </div>
        <div class="large-2 columns">

        </div>
    </div>
</div>