<div class="container">

    <!-- Page header  -->
    <div class="page-header">
        <!-- IRIG: In case we will need a title-->
        <h1>&nbsp;</h1>
    </div>

    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-primary btn-yp-roleselection" href="#/topics">YouPers <br>{{ 'FOR' | translate }} <br>{{ 'INDIVIDUALS' | translate }}</a>
        </div>
        <div class="col-md-6">
            <a class="btn btn-primary btn-yp-roleselection" href="#/healthpromoter">YouPers <br>{{ 'FOR' | translate }} <br>{{ 'HEALTH_PROMOTERS' | translate }}</a>
        </div>
    </div>

</div>