<div class="container">

    <!-- Page header  -->
    <div class="container">
        <!-- IRIG: In case we will need a title-->
        <div class="row">
            <div class="col-lg-12">
                <h1>&nbsp;</h1>
            </div>
        </div>
    </div>

    <!--<div class="container">-->

        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-primary btn-yp-roleselection" href="#/serviceChoice">YouPers <br>{{ 'FOR' | translate }} <br>{{ 'INDIVIDUALS' | translate }}</a>
            </div>
            <div class="col-md-6">
                <a class="btn btn-primary btn-yp-roleselection" href="#/serviceChoice">YouPers <br>{{ 'FOR' | translate }} <br>{{ 'HEALTH_PROMOTERS' | translate }}</a>
            </div>
        </div>

    <!--</div>-->

</div>