<div class="loginReminderBox panel panel-default">
    <a class="close" ng-click="cancel()">×</a>

    <div ng-hide="registerShown">
        Für diese Seite ist es notwendig, dass du dich einloggst. <br>
        Sonst gehen deine Daten verloren.
        <form class="navbar-form" ng-submit="done()">
            <div class="form-group">
                <input type="text" placeholder="username/email" class="form-control" ng-model="result.login.username" setfocus="showLoginDialog">
            </div>
            <div class="form-group">
                <input type="password" placeholder="{{ 'PASSWORD' | translate }}" class="form-control"
                       ng-model="result.login.password">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-sm">{{ 'LOGIN' | translate }}</button>
            </div>
            <a href="" ng-click="gotoPasswordReset()"> Ich weiss mein Passwort nicht mehr</a>
            <label class="checkbox">Angemeldet bleiben
                <input type="checkbox" ng-model="result.login.keepMeLoggedIn">
            </label>
        </form>
        <div>
            oder <button class="btn btn-sm btn-primary" ng-click="showRegistrationForm(registerform)">Neu Registrieren</button>
        </div>
    </div>
    <div ng-show="registerShown">
        Neuen Account registrieren:
        <form name="registerform" class="form" role="form" ng-submit="done()" novalidate>
            <div class="form-group">
                <label>{{ 'FIRSTNAME' | translate }}</label>
                <input name="firstname" type="text" placeholder="{{ 'FIRSTNAME' | translate }}" class="form-control" ng-model="result.newuser.firstname" setfocus="showRegistrationForm" required>
                <span ng-show="registerform.firstname.$dirty && registerform.firstname.$invalid" class="help-inline">Something may have gone wrong</span>
            </div>
            <div class="form-group">
                <label>{{ 'LASTNAME' | translate }}</label>
                <input name="lastname" type="text" placeholder="{{ 'LASTNAME' | translate }}" class="form-control" ng-model="result.newuser.lastname" required>
                <span ng-show="registerform.lastname.$dirty && registerform.lastname.$invalid" class="help-inline">Something may have gone wrong</span>
            </div>
            <div class="form-group">
                <label>{{ 'USERNAME' | translate }}</label>
                <input name="username" type="text" placeholder="{{ 'FIRSTNAME' | translate }}" class="form-control" ng-model="result.newuser.username" required>
                <span ng-show="registerform.username.$dirty && registerform.username.$invalid" class="help-inline">Something may have gone wrong</span>
            </div>
            <div class="form-group" ng-class="{'has-error': registerform.email.$dirty && registerform.email.$invalid}">
                <label>{{ 'EMAIL' | translate }}</label>
                <input name="email" type="email" placeholder="{{ 'EMAIL' | translate }}" class="form-control" ng-model="result.newuser.email" required>
                <span ng-show="registerform.email.$dirty && registerform.email.$invalid" class="help-inline">Bitte gültige Email Adresse angeben</span>
            </div>
            <div class="form-group">
                <label>{{ 'PASSWORD' | translate }}</label>
                <input name="password" id="password" type="password" placeholder="{{ 'PASSWORD' | translate }}" class="form-control"
                       ng-model="result.newuser.password" required ng-minlength="6">
                <span ng-show="registerform.password.$dirty && registerform.password.$invalid" class="help-inline">Passwort mindestens 6 Buchstaben</span>
            </div>
            <div class="form-group"  ng-class="{'has-error': registerform.password2.$dirty && registerform.password2.$invalid}">
                <label>{{ 'PASSWORD_AGAIN' | translate }}</label>
                <input type="password" name="password2" id="password2" placeholder="{{ 'PASSWORD_AGAIN' | translate }}" class="form-control"
                       ng-model="result.newuser.password2" required password-match="result.newuser.password">
                <span ng-show="registerform.password2.$dirty && registerform.password2.$invalid" class="help-inline">Passwort nicht identisch</span>

            </div>
            <button type="submit" class="btn btn-success btn-sm" ng-disabled="registerform.$invalid">{{ 'REGISTER' | translate }}</button>
        </form>
    </div>
</div>