

<div class="row top-buffer">
    <div class="col-md-offset-2 col-md-2">
        <a class="btn btn-primary btn-lg service-enabled" href="#/ewl-activityfields">eWorkLife</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-primary btn-lg" disabled>INSPIRATION</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-primary btn-lg" disabled>eFitness</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-primary btn-lg" disabled>REVOLUTION</a>
    </div>
    <div class="col-md-2">
    </div>
</div>

<div class="row top-buffer">
    <div class="col-md-offset-2 col-md-2">
        <a class="btn btn-primary btn-lg" disabled>Hoodle</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-primary btn-lg" disabled>coming soon</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-primary btn-lg" disabled>coming soon</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-primary btn-lg" disabled>coming soon</a>
    </div>
    <div class="col-md-2">
    </div>
</div>
