<div class="doneAssessmentDialog panel panel-default">
<h1>Willkommen zum Persönlichen Stress Management</h1>
    <p>Verbessere deine Worklife-Balance durch eine nachhaltige Verhaltensänderung.</p>
    <p>Gratulation: der erste Schritt ist schon gemacht!</p>

    <h2>Fachlicher Review</h2>
    <p>Wir reviewen fachlichen Inhalt - den Fragebogen, die Aktivitäten und die Vorschläge.
        <ul><li>Feedback zum Fragebogen wird
        im Excel gesammelt. </li><li>Korrekturen / Feedback zu den Aktiväten können wir direkt mittels des Admin-Buttons auf
        der Website eintragen.</li></ul>
    </p>

    <p> Start: Mittwoch 20. Novemeber</p>
    <p> Ende: Montag 25. Dezember</p>

    <a type="button" class="btn btn-primary" ui-sref="assessment({assessmentId: '525faf0ac558d40000000005'})">Weiter zur Selbstbeurteilung</a>
    <a type="button" class="btn btn-default" ui-sref="cockpit">Einfach etwas herumbrowsen</a>
</div>