
    <h1>Willkommen zur YouPers Persönlichen Stress Manamgement</h1>
    <p>Verbessere deine Worklife-Balance durch eine nachhaltige Verhaltensänderung.</p>

    <p>Gratulation: der erste Schritt ist schon gemacht!</p>
    <p>Der Anfang ist einfach: </p>
    <p>Setze dir zum Ziel während 6 Wochen mittels konkreten Aktivitäten eine Veränderung einzuleiten.</p>

    <p> Start: Montag 11. Novemeber 11:11</p>
    <p> Ende: Montag 25. Dezember 11:11</p>

    <a type="button" class="btn btn-primary" ui-sref="assessment({assessmentId: '525faf0ac558d40000000005'})">Weiter zur Selbstbeurteilung</a>
    <a type="button" class="btn btn-default" ui-sref="cockpit">Einfach etwas herumbrowsen</a>
