<div class="container">

    <!-- Page header  -->
    <div class="page-header">
        <h1>{{ 'CHOOSE_A_TOPIC' | translate }}</h1>
    </div>

    <div class="row">
        <div class="col-md-3">
            <a class="btn btn-primary btn-lg btn-yp-serviceselection service-enabled" href="" ng-click="selectTopic('WorkLifeBalance')">Work-Life-Balance</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-primary btn-lg btn-yp-serviceselection" disabled>Körperliche Fitness</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-primary btn-lg btn-yp-serviceselection" disabled>Geistige Fitness</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-primary btn-lg btn-yp-serviceselection" disabled>Gesundes Körpergewicht</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <a class="btn btn-primary btn-lg btn-yp-serviceselection" disabled>Gesunde Ernährung</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-primary btn-lg btn-yp-serviceselection" disabled>Schlafqualität</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-primary btn-lg btn-yp-serviceselection" disabled>Psychisches Wohlbefinden</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-primary btn-lg btn-yp-serviceselection" disabled>Suchtmittel-Konsum</a>
        </div>
    </div>
</div>

<div class="goalSettingDialog" ng-show="selectedTopic">
    <a class="close" ng-click="unselectTopic()">×</a>
    <p>Verbessere deine Worklife-Balance durch eine nachhaltige Verhaltensänderung.</p>
    <p>Der Anfang ist einfach: </p>
    <p>Setze dir zum Ziel während 6 Wochen mittels konkreten Aktivitäten eine Veränderung einzuleiten.</p>

    <button type="button" class="btn btn-primary" ng-click="setGoal('Work-Life-Balance')">Ja, ich setze mir dieses Ziel!</button>
</div>
