<div class="container">
  <!-- Page header  -->
    <div class="row">
        <div class="page-header col-md-6">
            <h2>{{ 'CHOOSE_A_TOPIC' | translate }}</h2>
        </div>
        <div class="col-md-6">
            <img src="/assets/img/5steps.png">
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <a class="btn btn-primary btn-lg btn-yp-serviceselection service-enabled" ui-sref="modal_topicsetgoal">Work-Life-Balance</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-primary btn-lg btn-yp-serviceselection" disabled>Körperliche Fitness</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-primary btn-lg btn-yp-serviceselection" disabled>Geistige Fitness</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-primary btn-lg btn-yp-serviceselection" disabled>Gesundes Körpergewicht</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <a class="btn btn-primary btn-lg btn-yp-serviceselection" disabled>Gesunde Ernährung</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-primary btn-lg btn-yp-serviceselection" disabled>Schlafqualität</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-primary btn-lg btn-yp-serviceselection" disabled>Psychisches Wohlbefinden</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-primary btn-lg btn-yp-serviceselection" disabled>Suchtmittel-Konsum</a>
        </div>
    </div>
</div>
