<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="topnavCollapsed = {collapsed: true}"
                    ng-click="topnavCollapsed.collapsed = !topnavCollapsed.collapsed">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-logo" href="http://yp-web2.youpers.com/">
                <img src="../assets/img/avatar_coach_blue.svg" alt="YouPers">
                <h4 translate class="hidden-xs">topmenu.logoHeader</h4>
                <h4 ng-if="config.name" class="config-hint">{{ config.name ? config.name + ': v' + config.version : '' }}</h4>
            </a>
            <div class="btn-group app-role" ng-controller="AppRoleController as appRoleCtrl">
                <div ng-if="appRoleCtrl.showSwitcher">
                <label class="btn btn-primary" ng-model="appRoleCtrl.appRole" btn-radio="'orgadmin'" ng-if="appRoleCtrl.showOrgadmin" ng-click="appRoleCtrl.goToDcm()" translate>topmenu.serviceManager</label>
                <label class="btn btn-primary" ng-model="appRoleCtrl.appRole" btn-radio="'campaignlead'" ng-if="appRoleCtrl.showCampaignlead" ng-click="appRoleCtrl.goToDcm()" translate>topmenu.campaignlead</label>
                <label class="btn btn-primary" ng-model="appRoleCtrl.appRole" btn-radio="'participant'" ng-click="appRoleCtrl.goToDhc()" translate>topmenu.participant</label>
                </div>
            </div>
        </div>

        <div class="navbar-collapse collapse" collapse="topnavCollapsed.collapsed">

            <div ng-controller="MenuLoginCtrl">

                <div class="nav navbar-right">
                    <ul class="nav navbar-nav">
                        <li ng-show="config.ui.showUserFeedbackLink">
                            <a href="#/feedback" target="_blank">
                                {{ 'topmenu.feedback' | translate }}
                            </a>
                        </li>
                        <li class="dropdown" dropdown>
                            <a class="dropdown-toggle user-nav-link" dropdown-toggle translate>help.help
                                <b class="caret"></b></a>
                            <ul class="dropdown-menu">


                                <li><a ng-href="{{'help.faqLink' | translate}}" target="_blank" translate>help.faq</a>
                                </li>
                                <li class="divider"></li>
                                <li><a ng-href="{{'help.moreInfoParticipantLink' | translate}}" target="_blank" translate>help.campaignParticipant</a>
                                </li>
                                <li><a ng-href="{{'help.moreInfoCampaignLeaderLink' | translate}}" target="_blank" translate>help.campaignLeader</a>
                                </li>
                                <li><a ng-href="{{'help.moreInfoServiceManagerLink' | translate}}" target="_blank" translate>help.serviceManager</a>
                                </li>
                                <li class="divider"></li>
                                <li ng-show="config.ui.showUserFeedbackLink">
                                    <a href="#/feedback" target="_blank">
                                        {{ 'topmenu.contact' | translate }}
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown" dropdown ng-show="principal.isAuthenticated()">
                            <a class="dropdown-toggle user-nav-link" dropdown-toggle>{{
                                principal.getUser().fullname }}
                                <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a class="user-logout-link" href=""
                                       ng-click="topnavCollapsed.collapsed =true; logout()" translate>topmenu.logout</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="#/account" translate>topmenu.account</a></li>
                                <li><a href="#/profile" translate>topmenu.profile</a></li>
                            </ul>
                        </li>

                        <li ng-show="!principal.isAuthenticated()">
                            <a ui-sref="signin" translate ng-click="topnavCollapsed.collapsed =true">topmenu.signin</a>
                        </li>
                        <!--<li ng-show="!principal.isAuthenticated()">-->
                        <!--<a ui-sref="signup" translate ng-click="topnavCollapsed.collapsed =true">topmenu.signup</a>-->
                        <!--</li>-->
                        <li class="dropdown" dropdown ng-controller="i18nCtrl">
                            <a class="dropdown-toggle" dropdown-toggle>{{currentLocale}}
                                <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li ng-class="{active: currentLocale=='en', disabled: isEnabled('en')}"><a href=""
                                                                                                           ng-click="changeLang('en')">english</a>
                                </li>
                                <li ng-class="{active: currentLocale=='de', disabled: isEnabled('de')}"><a href=""
                                                                                                           ng-click="changeLang('de')">deutsch</a>
                                </li>
                                <li ng-class="{active: currentLocale=='it', disabled: isEnabled('it')}"><a href=""
                                                                                                           ng-click="changeLang('it')">italiano</a>
                                </li>
                                <li ng-class="{active: currentLocale=='fr', disabled: isEnabled('fr')}"><a href=""
                                                                                                           ng-click="changeLang('fr')">français</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/.navbar-collapse -->
    </div>
</div>