<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="topnavCollapsed = {collapsed: true}"
                    ng-click="topnavCollapsed.collapsed = !topnavCollapsed.collapsed">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-logo" href="http://www.youpers.com">
                <img src="../assets/img/logo.png" alt="YouPers" height="40">
            </a>
        </div>
        <div class="navbar-collapse collapse" collapse="topnavCollapsed.collapsed">


            <div class="nav navbar-left">

                <ul class="nav navbar-nav" ng-if="isCampaignAdmin">
                    <li class="nav navbar-nav">
                        <a ui-sref="home.content">Digital Health Coach</a>
                    </li>
                    <li class="nav navbar-nav">
                        <a ui-sref="dcm-home.content">Digital Campaign Management</a>
                    </li>
                    <li class="nav navbar-nav" ng-if="isProductAdmin">
                        <a ui-sref="admin-home.content">Product Configuration</a>
                    </li>
                </ul>
            </div>

            <div ng-controller="MenuLoginCtrl">

                <div class="nav navbar-right">
                    <ul class="nav navbar-nav">
                        <li ng-show="config.ui.showUserFeedbackLink">
                            <a href="#/feedback" target="_blank">
                                <translate>topmenu.feedback</translate>
                                <div class="glyphicon glyphicon-pencil"></div>
                            </a>
                        </li>
                        <li><a ui-sref="moreinfo.content" target="_blank" translate>topmenu.moreinfo</a></li>
                        <li class="dropdown" ng-show="principal.isAuthenticated()">
                            <a class="dropdown-toggle user-nav-link" data-toggle="dropdown">{{
                                principal.getUser().fullname }}
                                <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a class="user-logout-link" href="" ng-click="topnavCollapsed.collapsed =true; logout()" translate>topmenu.logout</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="#/account" translate ng-click="topnavCollapsed.collapsed =true">topmenu.account</a></li>
                                <li><a href="#/profile" translate ng-click="topnavCollapsed.collapsed =true">topmenu.profile</a></li>
                            </ul>
                        </li>

                        <li ng-show="!principal.isAuthenticated()">
                            <a ui-sref="signin.content" translate ng-click="topnavCollapsed.collapsed =true">topmenu.signin</a>
                        </li>
                        <li ng-show="!principal.isAuthenticated()">
                            <a ui-sref="signup.content" translate ng-click="topnavCollapsed.collapsed =true">topmenu.signup</a>
                        </li>


                        <li class="dropdown" ng-controller="i18nCtrl">
                            <a class="dropdown-toggle" data-toggle="dropdown">{{currentLocale}}
                                <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li ng-class="{active: currentLocale=='en'}"><a href="" ng-click="changeLang('en')">english</a>
                                </li>
                                <li ng-class="{active: currentLocale=='de'}"><a href="" ng-click="changeLang('de')">deutsch</a>
                                </li>
                                <li ng-class="{active: currentLocale=='it'}"><a href="" ng-click="changeLang('it')">italiano</a>
                                </li>
                                <li ng-class="{active: currentLocale=='fr'}"><a href="" ng-click="changeLang('fr')">français</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/.navbar-collapse -->
    </div>
</div>