<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-logo" href="http://www.youpers.com/en/"><img src="assets/img/logo.png" alt="YouPers"
                                                                          height="50"></a>
        </div>
        <div class="navbar-collapse collapse" collapse="navCollapsed" ng-switch on="getTopMenu()">
            <ul class="nav navbar-nav" ng-switch-default>
            </ul>
            <ul class="nav navbar-nav" ng-switch-when="individual">
                <li ng-class="{ active: isActive('campaign')}">
                    <a href="#/topics">{{ 'COMMIT' | translate }}</a>
                </li>
                <li ng-class="{ active: isActive('assessment')}">
                    <a href="#/assessment/525faf0ac558d40000000005">{{ 'ASSESS' | translate }}</a>
                </li>
                <li ng-class="{ active: isActive('activitylist') || isActive('activityDetail')}">
                    <a href="#/activities">{{ 'PLAN' | translate }}</a>
                </li>
                <li ng-class="{ active: isActive('cockpit')}">
                    <a href="#/cockpit">{{ 'DO' | translate }}</a>
                </li>
                <li ng-class="{ active: isActive('evaluate')}">
                    <a href="#/evaluate">{{ 'EVALUATE' | translate }}</a>
                </li>
            </ul>
            <ul class="nav navbar-nav" ng-switch-when="healthpromoter">
                <li ng-class="{ active: isActive('campaign')}">
                    <a href="#/healthpromoter/campaign">{{ 'CAMPAIGN' | translate }}</a>
                </li>
                <li ng-class="{ active: isActive('sponsoring')}">
                    <a href="#/healthpromoter/sponsoring">{{ 'SPONSORING' | translate }}</a>
                </li>
            </ul>
            <ul class="nav navbar-nav" ng-show="!principal.isAuthenticated()">
                <li class="dropdown" ng-controller="i18nCtrl">
                    <a class="dropdown-toggle" data-toggle="dropdown">{{ 'LANGUAGE' | translate }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="" ng-click="changeLang('en')">english</a></li>
                        <li><a href="" ng-click="changeLang('de')">deutsch</a></li>
                        <li class="disabled"><a href="">espanol</a></li>
                        <li class="disabled"><a href="">francais</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Falls noch nicht genug</li>
                        <li><a href="#">Und noch mehr</a></li>
                        <li><a href="#">Und noch noch mehr</a></li>
                    </ul>
                </li>
            </ul>
            <div ng-controller="yp.user.MenuLoginCtrl">
                <form class="navbar-form navbar-right" ng-submit="loginSubmit()" ng-show="!principal.isAuthenticated()">
                    <div class="form-group">
                        <input type="text" placeholder="{{ 'EMAIL' | translate }}" class="form-control" ng-model="username">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="{{ 'PASSWORD' | translate }}" class="form-control"
                               ng-model="password">
                    </div>
                    <button type="submit" class="btn btn-success btn-sm">{{ 'LOGIN' | translate }}</button>
                </form>
                <div class="nav navbar-right" ng-show="principal.isAuthenticated()">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">{{ principal.getUser().fullname }}<b
                                    class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="" ng-click="logout()">{{ 'LOGOUT' | translate }}</a></li>
                            </ul>
                        </li>
                        <ul class="nav navbar-nav">
                            <li class="dropdown" ng-controller="i18nCtrl">
                                <a class="dropdown-toggle" data-toggle="dropdown">{{ 'LANGUAGE' | translate }} <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="" ng-click="changeLang('en')">english</a></li>
                                    <li><a href="" ng-click="changeLang('de')">deutsch</a></li>
                                    <li class="disabled"><a href="">espanol</a></li>
                                    <li class="disabled"><a href="">francais</a></li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header">Falls noch nicht genug</li>
                                    <li><a href="#">Und noch mehr</a></li>
                                    <li><a href="#">Und noch noch mehr</a></li>
                                </ul>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>

        </div>
        <!--/.navbar-collapse -->
    </div>
</div>