<div ng-controller="PasswordResetCtrl" class="container">


    <div class="row">

        <div class="col-md-6">

            <!--<pre>-->
                <!--{{ passwordResetObj | json }}-->
            <!--</pre>-->

        </div>

        <div class="col-md-6" ng-hide="resetSuccessful">

            <h2>Hallo {{firstname}} {{lastname}}</h2>
            <h3>Setze dein neues Passwort:</h3>

            <accordion close-others="true">
                
                <accordion-group heading="Neues Passwort" is-open="true">

                    <form name="passwordResetForm" class="form" role="form" ng-submit="passwordReset()" novalidate>

                        <div class="form-group">
                            <label>Neues Passwort</label>
                            <input name="password" id="password" type="password" placeholder="Neues Password" class="form-control"
                                   ng-model="passwordResetObj.password" required ng-minlength="6">
                            <span ng-show="passwordResetForm.password.$dirty && passwordResetForm.password.$invalid" class="help-inline">At least 6 characters</span>
                        </div>
                        <div class="form-group"  ng-class="{'has-error': passwordResetForm.password2.$dirty && passwordResetForm.password2.$invalid}">
                            <label>Passwort wiederholen</label>
                            <input name="password2" id="password2" type="password" placeholder="Passwort wiederholen" class="form-control"
                                   ng-model="passwordResetObj.password2" required password-match="passwordResetObj.password">
                            <span ng-show="passwordResetForm.password2.$dirty && passwordResetForm.password2.$invalid" class="help-inline">The passwords do not match</span>

                        </div>

                        <button type="button" class="btn btn-sm" ng-click="passwordResetObjReset()">Reset</button>
                        <button type="submit" class="btn btn-success btn-sm" ng-disabled="passwordResetForm.$invalid">Übermitteln</button>

                    </form>
                    
                </accordion-group>
                
            </accordion>
            
        </div>

    </div>

    <div class="col-md-6" ng-show="resetSuccessful">
        <h2>Passwort erfolgreich gesetzt</h2>
        <p>Logge Dich mit deinem neuen Passwort ein...</p>
    </div>


</div>