<div ng-controller="RequestPasswordResetCtrl" class="container">


    <div class="row">

        <div class="col-md-6">

            <!--<pre>-->
                <!--{{ passwordResetObj | json }}-->
            <!--</pre>-->

        </div>

        <div class="col-md-6">

            <h2>Passwort zurücksetzen für </h2>

            <accordion close-others="true">
                
                <accordion-group heading="Username oder Email" is-open="true">

                    <form name="requestPasswordResetForm" class="form" role="form" ng-submit="submitRequest()" novalidate>

                        <div class="form-group">
                            <label>Email</label>
                            <input name="email" type="text" placeholder="Username oder Email" class="form-control" ng-model="passwordResetObj.usernameOrEmail" required>
                            <span ng-show="passwordResetObj.usernameOrEmail.$dirty && passwordResetObj.usernameOrEmail.$invalid" class="help-inline">Something may have gone wrong</span>
                        </div>

                        <button type="button" class="btn btn-sm" ng-click="requestPasswordReset()">Reset</button>
                        <button type="submit" class="btn btn-success btn-sm" ng-disabled="requestPasswordResetForm.$invalid">Save</button>

                    </form>
                    
                </accordion-group>
                
            </accordion>
            
        </div>
    </div>


</div>