<div ng-controller="RequestPasswordResetCtrl" class="container">


    <div class="row">

        <div class="col-md-6">

            <!--<pre>-->
                <!--{{ passwordResetObj | json }}-->
            <!--</pre>-->

        </div>

        <div class="col-md-6">

            <h2>Passwort zurücksetzen:</h2>

            <accordion close-others="true">
                
                <accordion-group heading="Neues Passwort" is-open="true">

                    <form name="passwordResetForm" class="form" role="form" ng-submit="submitRequest()" novalidate>

                        <div class="form-group">
                            <label>New Password</label>
                            <input name="password" id="password" type="password" placeholder="New Password" class="form-control"
                                   ng-model="passwordResetObj.password" required ng-minlength="6">
                            <span ng-show="passwordResetForm.password.$dirty && passwordResetForm.password.$invalid" class="help-inline">At least 6 characters</span>
                        </div>
                        <div class="form-group"  ng-class="{'has-error': passwordResetForm.password2.$dirty && passwordResetForm.password2.$invalid}">
                            <label>Confirm Password</label>
                            <input name="password2" id="password2" type="password" placeholder="Password confirmation" class="form-control"
                                   ng-model="passwordResetObj.password2" required password-match="passwordResetObj.password">
                            <span ng-show="passwordResetForm.password2.$dirty && passwordResetForm.password2.$invalid" class="help-inline">The passwords do not match</span>

                        </div>

                        <button type="submit" class="btn btn-success btn-sm" ng-disabled="passwordResetForm.$invalid">Change</button>


                        <button type="button" class="btn btn-sm" ng-click="passwordReset()">Reset</button>
                        <button type="submit" class="btn btn-success btn-sm" ng-disabled="passwordResetForm.$invalid">Save</button>

                    </form>
                    
                </accordion-group>
                
            </accordion>
            
        </div>
    </div>


</div>