@import "../../youpers-variables";

.dcm.dcm-activity {

  dd {
    margin-bottom: 1em;
    > * {
      width: 100%;
    }

    textarea {
      height: 10em;
    }
  }

  .column-layout:not(.schedule):not(.recommend) {
    section {
      display: flex;
    }
  }

  .column-layout {
    nav {
      flex: 0 0 19.2em;
    }
    aside {
      flex: 0 0 18em;
    }
    section {
      flex: 1 1 auto;
    }
  }

}