
@import "../../youpers-variables";

.activity.list-item .title {
  padding-left: 1em;
}

.activity.list-item img {
  height: 45.3333px;
  width: 68px;
}

.search .input-group {
  display: table;  // reset the display to table (as it is in bootstrap default)
}

.search .input-group-addon {
  display: table-cell;
}

.search *, .search *:hover {
  font-size: 14px;
  color: @yp-color-grey2;
}