
@import "../../youpers-variables";

.activity.list-item .title {
  padding-left: 1em;
  .title1();
}

.activity.list-item img {
  height: 45.3333px;
  width: 68px;
}

.search .input-group {
  margin-top: 20px;
  margin-bottom: 10px;
  display: table;  // reset the display to table (as it is in bootstrap default)
}

.search .input-group-addon {
  display: table-cell;
}

.search *, .search *:hover {
  .link-hover();
}