@import "../../youpers-variables";


.campaign-offers-list .link-header {
  float: right;
  padding-bottom: 1em;
}

.campaign-offers-list .image img {
  width: @yp-list-item-img-size;
  height: @yp-list-item-img-size * 2 / 3;
}

.campaign-offers-list .title * {
  .header4();
  padding-left: 1em;
}

.campaign-offers-list .offer {
  padding: @grid-gutter-width/3;
}
