
@import "../../youpers-variables";


.dcm-home {

  organization-card {

    margin-bottom: 1em;
  }

  campaign-card {

    margin-bottom: 1em;
    cursor: pointer;

    .icon {

      i.fa {
        font-size: 2em;
        opacity: 1;
        transition: 0.4s ease-out opacity;
      }
    }

    .avatar {
      img {
        width: 100%;
      }
    }
    .icon {
      position: absolute;
      top: 5px;
      right: 5px;
    }
    .title {

    }
    .details {

    }
  }

  campaign-card:not(:hover) {
    .icon i.fa {
      opacity: 0;
    }
  }
  campaign-card.active {
    .title {
      color: @yp-color-green;
    }
    outline: 10px dashed @yp-accent-primary;
    box-shadow: 0px 4px 4px @yp-accent-primary;
  }

  game-area.campaign-offers {
    position: relative;
    .add-offer:hover {
      color: @yp-accent-primary;
    }
    .add-offer {
      .header5();
      color: @yp-app-primary;
      position: absolute;
      top: 10px;
      right: 10px;

      i.fa {
        font-size: 16px;
      }
    }
  }

}
