
@import "../../youpers-variables";


.dcm-home {


  .organization {

    position: relative;

    * {
//      display: inline-block;
    }

    i.fa {
      font-size: 2em;
    }

    .title {
      .header4();
      text-align: left;
    }
    .new-campaign, .edit {
      float: right;
    }
  }

  campaign-card {

    margin-bottom: 1em;
    cursor: pointer;

    .icon {

      i.fa {
        font-size: 2em;
        opacity: 1;
        transition: 0.4s ease-out opacity;
      }
    }

    .avatar {
      img {
        width: 100%;
      }
    }
    .icon {
      position: absolute;
      top: 5px;
      right: 5px;
    }
    .title {

    }
    .details {

    }
  }

  campaign-card:not(:hover) {
    .icon i.fa {
      opacity: 0;
    }
  }
  campaign-card.active {
    .title {
      color: @yp-color-green;
    }
    outline: 1px solid @yp-color-grey1;
  }

  game-area.campaign-offers {
    position: relative;
    .icon {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }

}
