.dcm-recommendation {

  .dl-horizontal {
    dt {
      width: 80px;
      padding: 6px;
    }
    dd {
      margin-left: 90px;
      margin-bottom: 0.5em;
    }

    .publish > * {
      float: left;
    }

    .publish > label:not(:first-child) {
      margin: 8px 2em 0 2em;

    }

  }

    .btn.submit, .btn.backToGame {
    width: 100%;
    white-space: normal;
    margin-bottom: 0.5em;
  }

  .btn.submit {
    height: 4em;
  }
  .btn.backToGame {
    height: 3em;
  }

}