<div class="row">
    <div class="col-sm-12">
        <div class="state-header-1" translate>admin.user.stateHeader1</div>
        <div class="state-header-2" translate>admin.user.stateHeader2</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">

        <script type="text/ng-template" id="customTemplate.html">
            <a>
                <img class="avatar" ng-src="{{ match.model.avatar }}"/>
                <span bind-html-unsafe="match.model.fullname | typeaheadHighlight:query"></span>
            </a>
        </script>

        <div>


            <div class="input-group">

                <input type="text" ng-model="query"
                       placeholder="{{ 'admin.user.typeahead.placeholder' | translate }}"
                       typeahead="user.fullname for user in getUsers($viewValue) | filter:$viewValue | limitTo:8"
                       typeahead-loading="loadingUsers"
                       typeahead-template-url="customTemplate.html"
                       typeahead-on-select="onUserSelected($item, $model, $label)"
                       class="form-control"
                       ng-focus="query = ''"
                        >

                <span class="input-group-btn">

                    <i ng-show="loadingUsers" class="glyphicon glyphicon-refresh"></i>

                </span>

            </div>

            <br/>

        </div>

    </div>

    <div class="col-sm-6">

        <div ng-if="selectedUser">

            <div user="selectedUser"></div>

            <br/>

            <form name="passwordForm" ypModel="selectedUser" class="form" role="form" ng-submit="changePassword()" novalidate>

                <yp-input name="password" type="text" required></yp-input>

                <button type="submit" class="btn btn-success btn-sm pull-right" ng-disabled="passwordForm.$invalid" translate>passwordForm.save</button>

                <div class="clearfix"></div>

            </form>

            <br/>

        </div>


    </div>
</div>