<div class="container">


    <div class="row">

        <div class="col-sm-6">

            <br/>
            <br/>

            <div class="input-group">

                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="generate(paymentCode)">generate</button>
                    <button class="btn btn-default" type="button" ng-click="validate(code)">validate</button>
                </span>

                <span class="input-group-addon">
                    <span>code</span>
                    <span ng-show="valid" class="glyphicon glyphicon-ok"></span>
                    <span ng-show="!valid" class="glyphicon glyphicon-remove"></span>
                </span>
                <input ng-model="code" type="text" class="form-control" ng-change="validate(code)">
            </div>

            <div class="input-group">
                <span class="input-group-addon">
                    <span>productType</span>
                </span>
                <select required class="form-control" ng-model="paymentCode.productType" ng-options="type for type in productTypes"></select>
            </div>

            <div class="input-group">
                <span class="input-group-addon">
                    <span>topic</span>
                </span>
                <select required class="form-control" ng-model="paymentCode.topic" ng-options="topic.id as topic.name for topic in topics"></select>
            </div>

            <div class="input-group">
                <span class="input-group-addon">
                    <span>users</span>
                </span>
                <input ng-model="paymentCode.users" type="text" class="form-control">
            </div>


            <br/>
            <br/>


            <ul class="list-group">
                <li ng-repeat="paymentCode in codes" class="list-group-item">
                    <span select-on-click>{{ paymentCode.code }}</span>
                    <span class="badge">{{ topic(paymentCode.topic).name }}</span>
                    <span class="badge">{{ paymentCode.productType }}</span>
                    <span class="badge" ng-show="paymentCode.users">{{ paymentCode.users }} users</span>
                </li>
            </ul>

        </div>
    </div>
</div>
