.admin-payment-code {
  .header {
    padding: 5px;
    font-weight: 600;
  }

  .code-open {
    background-color: @yp-focus-color-low;
  }

  .code-used {
    background-color: @yp-focus-color-low-gradient;
  }

  .code-row {
    padding: 5px;
    margin: 5px;
    border: solid;
    border-width: 1px;
  }

  i {
    cursor: pointer;
    color: @yp-accent;
  }

  i:hover {
    color: @yp-accent-hover;
  }

  .participants-lower {
    background-color: #8888ff;
  }

  .participants-ok {
    background-color: #adff2f;
  }

  .participants-higher {
    background-color: #ff7777;
  }
}