<div class="container">

<form name="profileForm" ypModel="profileUserObj" class="form" role="form" ng-submit="saveProfile()" novalidate>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <h3 translate>profileForm.profile.header</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-10 col-sm-offset-1">

        <div class="pull-right">
            <button type="submit" class="btn btn-primary" ng-disabled="profileForm.$invalid" translate>
                profileForm.submit
            </button>
            <button type="submit" class="btn btn-default back-link" ui-sref="homedispatcher">
                <span class="fa fa-chevron-left"></span>
                <span translate>account.backToHome</span>
            </button>

        </div>

        <div class="clearfix"></div>
        <br/>

    </div>
</div>

<div class="row">

<div class="col-sm-10 col-sm-offset-1">

<accordion close-others="true">

<accordion-group heading="{{ 'profileForm.profile.header' | translate }}" is-open="isOpen" ng-init="isOpen= true"
                 class="user-profile">

    <div class="col-sm-6">

        <div class="row">

            <div class="col-sm-12">

                <div class="avatar-form">

                    <avatar-upload avatar-object="avatarObject">


                    </avatar-upload>



                        <span class="dropdown">
                              <a href class="dropdown-toggle">
                                  <span translate>profileForm.avatar.change</span>
                              </a>
                              <ul class="dropdown-menu">
                                  <li>
                                      <a href onclick="document.getElementById('avatarUpload').click()">
                                          <span translate>profileForm.avatar.upload</span>
                                      </a>
                                  </li>
                                  <li ng-hide="isDefaultAvatar()">
                                      <a href ng-click="defaultAvatar($event)">
                                          <span translate>profileForm.avatar.default</span>
                                      </a>
                                  </li>
                              </ul>
                        </span>


                </div>

            </div>

        </div>


        <div class="row">

            <div class="form-group">
                <div class="col-sm-4">
                    <label translate>profileForm.gender.label</label>
                </div>
                <div class="col-sm-8">
                    <div class="btn-group" data-toggle="buttons-radio">
                        <input id="female" type="radio" value="female" ng-model="profileUserObj.gender"
                               ng-click="profileUserObj.gender = 'female'"><label for="female">&NonBreakingSpace;{{
                        'gender.female' | translate }}</label></input></br>
                        <input id="male" type="radio" value="male" ng-model="profileUserObj.gender"
                               ng-click="profileUserObj.gender = 'male'"><label for="male">&NonBreakingSpace;{{
                        'gender.male' | translate }}</label></input></br>
                    </div>
                </div>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="form-group">
                <div class="col-sm-4">
                    <label translate>profileForm.birthdate.label</label>
                </div>
                <div class="col-sm-6">

                    <date-picker date="profileUserObj.birthDate"></date-picker>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <br/>
                <div class="col-sm-4">
                    <label translate>profileForm.maritalStatus.label</label>
                </div>
                <div class="col-sm-6">
                    <select class="form-control"
                            ng-model="profileUserObj.maritalStatus"
                            ng-options="'maritalStatus.' + value | translate for value in enums.maritalStatus">
                    </select>
                </div>
            </div>
        </div>
        <br/>
    </div>

    <div class="col-sm-6">

        <div class="form-group">
            <label translate>profileForm.homeAddress.header</label>

            <div class="row">
                <div class="col-sm-9">
                    <yp-input name="homeAddress.street" label="false"></yp-input>
                </div>

                <div class="col-sm-3">
                    <yp-input name="homeAddress.houseNumber" label="false"></yp-input>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <yp-input name="homeAddress.zipCode" ng-pattern="/\d{3,}/" label="false"></yp-input>
                </div>

                <div class="col-sm-9">
                    <yp-input name="homeAddress.city" label="false"></yp-input>
                </div>
            </div>


            <yp-input name="homeAddress.country" label="false"></yp-input>

        </div>

        <div class="form-group">
            <label translate>profileForm.workAddress.header</label>

            <div class="row">
                <div class="col-sm-9">
                    <yp-input name="workAddress.street" label="false"></yp-input>
                </div>

                <div class="col-sm-3">
                    <yp-input name="workAddress.houseNumber" label="false"></yp-input>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <yp-input name="workAddress.zipCode" ng-pattern="/\d{3,}/" label="false"></yp-input>
                </div>

                <div class="col-sm-9">
                    <yp-input name="workAddress.city" label="false"></yp-input>
                </div>
            </div>

            <yp-input name="workAddress.country" label="false"></yp-input>
        </div>

    </div>


</accordion-group>

<accordion-group heading="{{ 'profileForm.settings.header' | translate }}">

    <div class="col-sm-6">

        <div class="form-group">

            <h3 translate>profileForm.defaultWorkWeek</h3>
            <div ng-repeat="weekday in enums.weekday">
                <label>
                    <input name="{{'defWeekForScheduling'+weekday}}" type="checkbox"
                           ng-model="workdays[weekday]" ng-change="changedWorkDay(weekday)">
                    <span>{{ 'weekday.'+weekday | translate }}</span>
                </label>
            </div>

            <h3 translate>profileForm.language</h3>
            <div>
                <select class="form-control" ng-model="profileUserObj.language"
                        ng-options="'language.'+value | translate for value in enums.language">
                </select>
            </div>

        </div>
    </div>



    <div class="col-sm-6">
        <div class="form-group">

            <h3 translate>profileForm.emailNotificationsSettings</h3>
            <div ng-repeat="(emailsetting, value) in profileUserObj.prefs.email">
                <label>
                    <input name="{{'email.'+emailsetting}}" type="checkbox"
                           ng-model="profileUserObj.prefs.email[emailsetting]">
                    <span>{{ 'profileForm.email.'+emailsetting | translate }}</span>
                </label>
            </div>

            <h3 translate>profileForm.calendarNotificationSettings</h3>
            <div>
                <select class="form-control" ng-model="profileUserObj.prefs.calendarNotification"
                        ng-options="'calendarNotification.'+ setting | translate for setting in enums.calendarNotifications">
                </select>
            </div>

        </div>
    </div>

</accordion-group>

</accordion>
</div>


</div>
</form>


</div>