@import "../../../styles/youpers-variables";

.user-profile .avatar-form {
  display: inline-block;
  text-align: center;
  margin-bottom: 1em;
}

form[name='profileForm'] {
  .form-group > div {
    padding-left: 2em;
  }
}