<div class="row">
    <div class="col-sm-12 text-center" ng-click="showOauthLinks=true">

        <h1 translate>signup.header</h1>

        <br/>
        <br/>

    </div>
</div>

<div class="row">
    <div class="col-sm-6">

        <h1 class="signup-note" translate>signup.signupNote</h1>

        <sign-up></sign-up>

    </div>
    <div class="col-sm-5 col-sm-offset-1">

        <div class="visible-xs">
            <br/>
        </div>

        <h1 class="signin-note" translate>signup.signinNote</h1>

        <sign-in></sign-in>

    </div>
</div>
<div class="row" ng-show="showOauthLinks">
    <div class="col-sm-12">
        <a href="{{githubUrl}}">Bei Github registrieren</a>
    </div>
    <div class="col-sm-12">
        <a href="{{facebookUrl}}">Bei Facebook registrieren</a>
    </div>

</div>