<div class="row">
    <div class="col-sm-8">
        <div class="state-header-1" translate>activities.title1</div>
        <div class="state-header-2" translate>activities.title2</div>
    </div>
    <div class="col-sm-4">
        <campaign-switcher mode="campaignlead"></campaign-switcher>
    </div>
</div>


<div class="activity-list">


    <!-- groups -->

    <div class="group" ng-repeat="group in groups">

        <div class="main-header row">
            <div class="col-xs-8">
                <div translate>{{ 'activities.group.' + group.name }}</div>
            </div>
            <div class="col-xs-3">
                <div class="search" ng-if="group.name == 'all'">

                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-search"></i>
                        </span>
                        <input ng-model="query.query" type="text" class="form-control"
                               placeholder="{{ 'activities.search' | translate }}" name="query">

                    </div>

                </div>
            </div>
        </div>


        <!-- activities -->

        <div class="row activity list-item" ng-repeat="activity in group.activities | fulltext:query.query">

            <!-- image -->
            <div class="col-md-1 image">
                <div>
                    <img ng-src="{{'/assets/actpics/' + activity.number + '.jpg'}}">
                </div>
            </div>

            <!-- title -->
            <div class="col-md-5 title">
                <div ng-bind-html="activity.title">
                </div>
            </div>


            <!-- execution type -->
            <div class="col-md-1 execution-type">
                <div class="glyphicon"
                     ng-class="{ 'glyphicon-group': activity.defaultexecutiontype == 'group',
                                 'glyphicon-user': activity.defaultexecutiontype == 'self'}">
                </div>
            </div>

            <!-- duration -->
            <div class="col-md-1 duration">
                <div>
                    <span>{{ activity.defaultduration }}</span>
                    <span translate>activities.duration.suffix</span>
                </div>
            </div>

            <!-- links -->

            <div class="col-md-1 links">
                <div ng-show="activity.defaultexecutiontype === 'group'">
                    <a ui-sref="dcmschedule.content({id: 'NEW', activity: activity.id, offerType: 'campaignActivityPlan'})" translate>activities.link.schedule</a>
                </div>
            </div>
            <div class="col-md-1 links">
                <div>
                    <a ui-sref="dcmschedule.content({id: 'NEW', activity: activity.id, offerType: 'campaignActivity'})" translate>activities.link.recommend</a>
                </div>
            </div>


        </div>

    </div>


</div>