<div class="row">
    <div class="col-sm-12">
        <div class="state-title-1" translate>campaignoffers.title1</div>
        <div class="state-title-2" translate>campaignoffers.title2</div>
    </div>
</div>
<div class="campaign-offers-list">

    <!-- new campaign -->
    <div class="row">
        <div class="col-md-12">
            <div class="group-header">
                <a ui-sref="activities.content">
                    <div translate>campaignoffers.link.new</div>
                    <div class="group-add">+</div>
                </a>
            </div>
        </div>
    </div>

    <!-- groups -->

    <div class="offer row" ng-repeat="offer in offers">
        <div class="col-xs-3 image">
            <img ng-src="{{'/assets/actpics/' + offer.activity.number + '.jpg' }}">
        </div>
        <div class="col-xs-2 title">
            <span ng-bind-html="offer.activity.title"></span>
            {{offer.activityPlan[0].location}}
        </div>
        <div class="col-xs-2 title">
            {{ 'activityPlanFrequency.' + ((offer.activityPlan[0] && offer.activityPlan[0].frequency) ||
            (offer.activity.defaultfrequency)) | translate}}<br>
            <span ng-show="offer.type[0] == 'campaignActivityPlan'">{{offer.activityPlan[0].mainEvent.start | date}} {{offer.activityPlan[0].mainEvent.start | date:'HH:mm'}}</span>
        </div>
        <div class="col-xs-1 type">
            {{'campaignoffers.offertype.'+offer.type[0] | translate }}
        </div>
        <div class="col-xs-2 type">
            von: {{offer.validFrom | date }}<br>
            bis: {{offer.validTo | date }}
        </div>
        <div class="col-xs-2 details" ng-click="$state.go('dcmschedule.content', {id: offer.id})">
            <a ui-sref="'dcmschedule.content({id: offer.id})">details</a>
        </div>

    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <div class="group-header">
            <a href="" ng-click="addNewNotif = !addNewNotif">
                <div translate>campaignoffers.notifications.title</div>
                <div class="group-add">+</div>
            </a>
        </div>
    </div>
</div>
<div class="row new-notification" ng-show="addNewNotif">
    <form name="newNotifForm" ng-submit="saveNewNotif()" role="form">
        <div class="col-xs-6">
            <input class="form-control" type="text" ng-model="newNotif.title"
                   placeholder="{{'campaignoffers.notifications.form.title.placeholder' | translate}}">
        </div>
        <div class="col-xs-2  col-xs-offset-2">
            <div>
                <input ng-model="newNotif.publishFrom"
                       class="form-control" type="text" id="datePickerPublishFrom"
                       datepicker-popup="dd.MM.yyyy"
                       is-open="openedPublishFrom" min="minDate"
                       datepicker-options="dateOptions"
                       date-disabled="disabled(date, mode)" ng-required="true"/>

            </div>
        </div>
        <div class="col-xs-6">
            <input class="form-control" type="text" ng-model="newNotif.text"
                   placeholder="{{'campaignoffers.notifications.form.text.placeholder' | translate}}">
        </div>
        <div class="col-xs-2 col-xs-offset-2">
            <div>
                <input ng-model="newNotif.publishTo"
                       class="form-control" type="text" id="datePickerPublishTo"
                       datepicker-popup="dd.MM.yyyy"
                       is-open="openedPublishTo" min="minDate"
                       datepicker-options="dateOptions"
                       date-disabled="disabled(date, mode)" ng-required="true"/>

            </div>
        </div>
        <div class="col-xs-2">
            <button class="btn btn-primary" type="submit" translate>campaignoffers.notifications.form.submit</button>
        </div>
    </form>
</div>
<div class="notifications-list-edit row" ng-repeat="notif in notifications">
    <div class="col-xs-6">
        {{notif.title}}
    </div>
    <div class="col-xs-2  col-xs-offset-2">
        {{notif.publishFrom | date}}
    </div>
    <div class="col-xs-6">
        {{notif.text}}
    </div>
    <div class="col-xs-2 col-xs-offset-2">
        {{notif.publishTo | date}}
    </div>
    <div class="col-xs-2 links">
        <a ng-click="deleteNotification(notif)" translate>campaignoffers.notifications.form.delete</a>
    </div>
</div>