<div class="row">
    <div class="col-sm-8">
        <div class="state-header-1" translate>campaignoffers.stateHeader1</div>
        <div class="state-header-2" translate>campaignoffers.stateHeader2</div>
    </div>
    <div class="col-sm-4">
        <campaign-switcher mode="campaignlead"></campaign-switcher>
    </div>
</div>
<div class="campaign-offers-list">

    <!-- new campaign -->
    <div class="row">
        <div class="col-md-12">

            <div class="link-header">

                <button class="btn btn-primary" ui-sref="ideas.content">
                    <span translate>campaignoffers.link.publishActivity</span>
                </button>

                <button class="btn btn-primary" ui-sref="idea.content">
                    <span translate>campaignoffers.link.newActivity</span>
                </button>

            </div>

        </div>
    </div>

    <!-- groups -->

    <div class="offer row" ng-repeat="offer in offers">
        <div class="col-xs-1 image">
            <img ng-src="{{'/assets/actpics/' + offer.idea.number + '.jpg' }}">
        </div>
        <div class="col-xs-3 title">
            <div ng-bind-html="offer.idea.title"></div>
            <span>{{offer.activity[0].location}}</span>
        </div>

        <div class="col-xs-3 date">

            <div ng-show="offer.offerType[0] == 'campaignActivityPlan'">


                <scheduled-date start="offer.activity[0].mainEvent.start"
                                end="offer.activity[0].mainEvent.end"
                                frequency="offer.activity[0].mainEvent.frequency">
                </scheduled-date>
            </div>

        </div>

        <div class="col-xs-2 type">
            <span>{{'campaignoffers.offertype.'+offer.offerType[0] | translate }}</span>
            <a ng-if="offer.offerType[0] === 'campaignActivityPlan'">
                <span class="badge" tooltip-html-unsafe="{{ getJoiningUsers(offer.activity[0]) }}">
                    {{ offer.activity[0].joiningUsers.length }}
                </span>
            </a>
            <a ng-if="offer.offerType[0] === 'campaignActivity'" tooltip="{{ offer.planCount == 0 ? '' : ('campaignoffers.userNamesNotShown' | translate) }}">
                <span class="badge" >
                    {{ offer.planCount }}
                </span>
            </a>
        </div>
        <div class="col-xs-2 published">
            <div translate>campaignoffers.published</div>
            <div>{{ offer.validFrom | date:'dd.MM.' }} - {{ offer.validTo | date }}</div>
        </div>
        <div class="col-xs-1 details">
            <a ui-sref="dcmschedule.content({id: offer.id})">details</a>
        </div>

    </div>

</div>
