
@import "../../styles/youpers-variables";

.search {
  width: 48%;
  .form-control {
    height: 36px;
  }
}

.dcm-ideas {

  .idea-list {
    margin-top: 1em;
  }

  .idea-list-item {

    display: flex;
    flex-direction: row;
    padding: 5px;
    border-top: 1px solid @yp-divider;

    // image
    > *:nth-child(1) {
      flex: 0 0 90px;
      height: 50px;
      overflow: hidden;

      img {
        width: 77px;
      }
    }

    // title
    > *:nth-child(2) {
      flex: 0 0 350px;
      .subhead();
    }

    // icons: duration, execution type
    > *:nth-child(3) {
      flex: 0 0 100px;

      > div:first-of-type {
        display: flex;
        flex-direction: row;
        align-content: center;
        > *:first-child {
          flex: 0 0 24px;
        }
      }
    }

    // links
    > *:nth-child(4) {
      flex: 1 1 auto;
      i.fa {
        font-size: 24px;
      }
      a:not(:first-of-type) {
        margin-left: 10px;
      }
    }
  }

}