<div>
    <div class="state-header-1" translate>activities.stateHeader1</div>
    <div class="state-header-2" translate>activities.stateHeader2</div>
</div>

<div class="activity-list">


    <!-- groups -->

    <div class="group" ng-repeat="group in groups">

        <div class="row">
            <div class="col-xs-8">
                <h2 translate>{{ 'activities.group.' + group.name }}</h2>
            </div>
            <div class="col-xs-4">
                <div class="search" ng-if="group.name == 'all'">

                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-search"></i>
                        </span>
                        <input ng-model="query.query" type="text" class="form-control"
                               placeholder="{{ 'activities.search' | translate }}" name="query">

                    </div>

                </div>
            </div>
        </div>


        <!-- activities -->

        <div class="row activity list-item" ng-repeat="idea in group.ideas | fulltext:query.query"

             ui-sref="dcm.activity({ idea: idea.id, mode: 'recommend' })">

            <!-- image -->
            <div class="col-md-1 image">
                <div>
                    <img ng-src="{{'/assets/actpics/' + idea.number + '.jpg'}}">
                </div>
            </div>

            <!-- title -->
            <div class="col-md-5 title">
                <div ng-bind-html="idea.title">
                </div>
            </div>


            <!-- execution type -->
            <div class="col-md-1 execution-type">
                <div class="glyphicon"
                     ng-class="{ 'glyphicon-group': idea.defaultexecutiontype == 'group',
                                 'glyphicon-user': idea.defaultexecutiontype == 'self'}">
                </div>
            </div>

            <!-- duration -->
            <div class="col-md-2 duration">
                <div>
                    <span>{{ idea.defaultduration }}</span>
                    <span translate>activities.duration.suffix</span>
                </div>
            </div>

            <!-- links -->

            <div class="col-md-1 links">
                <div ng-show="idea.defaultexecutiontype === 'group'">
                    <a ui-sref="dcm.activity({ idea: idea.id, mode: 'schedule' })" translate>activities.link.schedule</a>
                </div>
            </div>
            <div class="col-md-1 links">
                <div>
                    <a ui-sref="dcm.activity({ idea: idea.id, mode: 'recommend' })" translate>activities.link.recommend</a>
                </div>
            </div>


        </div>

    </div>


</div>