

<form class="form-horizontal" ng-submit="saveRecommendation()">



<div class="three-column-layout">


    <section>
        <div class="header-row">
            <h3 translate>{{ 'activity.header.recommendation' }}</h3>
        </div>
        <div class="button-row"></div>

        <div>

            <activity-offer-card

                    idea="idea"
                    social-interaction="recommendation"

                    ></activity-offer-card>

        </div>

        <div>

            <idea-card idea="idea" activity="activity"></idea-card>

        </div>


    </section>

    <section>

        <div class="header-row">
            <h3 translate>recommendationForm.header.publish</h3>
        </div>
        <div class="button-row">

            <button ng-if="recommendation.id" class="btn btn-warning delete pull-right" ng-click="deleteRecommendation()"  translate>
                recommendationForm.delete
            </button>

        </div>

        <div class="publish" ng-model="recommendation.publishFrom" synchronized-date="recommendation.publishTo">

            <label translate>recommendationForm.publishFrom.label</label>
            <date-picker min-date="minPublishDate" max-date="campaign.end" date="recommendation.publishFrom"></date-picker>
            <label translate>recommendationForm.publishTo.label</label>
            <date-picker min-date="minPublishDate" max-date="campaign.end" date="recommendation.publishTo"></date-picker>

        </div>

        <div class="clearfix"></div>


    </section>

    <section>


        <div class="header-row"></div>
        <div class="button-row">

            <button class="btn btn-default backToGame" ui-sref="dcm.home" translate>
                activity.link.back
            </button>
            <button class="btn btn-primary submit" busy busy-disabled>
                <busy-message><i class="fa fa-cog fa-spin"></i><span translate>busy.submitting</span></busy-message>
                {{ 'recommendationForm.submit' | translate }}
            </button>



        </div>





        <health-coach event="'stateEnter'"></health-coach>




    </section>

</div>


</form>
