

<form class="form-horizontal" ng-submit="saveRecommendation()">



<div class="three-column-layout">


    <section>
        <div class="header-row">
            <h3 translate>{{ 'activity.header.recommendation' }}</h3>
        </div>
        <div class="button-row"></div>

        <div>

            <activity-offer-card

                    idea="idea"
                    social-interaction="recommendation"

                    ></activity-offer-card>

        </div>


    </section>

    <section>

        <div class="header-row">
            <h3 translate>recommendationForm.header.publish</h3>
        </div>
        <div class="button-row">

            <button ng-if="recommendation.id" class="btn btn-warning delete pull-right" ng-click="deleteRecommendation()"  translate>
                recommendationForm.delete
            </button>

        </div>

        <div>

            <idea-card idea="idea" activity="activity"></idea-card>

        </div>

        <div class="publish">
            <span translate="recommendationForm.publishDates" translate-values="{ recommendation: recommendation }"></span>
        </div>

        <div class="clearfix"></div>


    </section>

    <section>


        <div class="header-row">
            <div class="btn btn-default pull-right back-link" ui-sref="dcm.home">
                <span class="fa fa-chevron-left"></span>
                <span translate>activity.link.back</span>
            </div>
        </div>

        <div class="button-row">
            <button class="btn btn-primary submit" busy busy-disabled>
                <busy-message><i class="fa fa-cog fa-spin"></i><span translate>busy.submitting</span></busy-message>
                {{ 'recommendationForm.submit' | translate }}
            </button>
            <button class="btn btn-default backToGame" ui-sref="dcm.ideas" translate>
                activityForm.cancel
            </button>



        </div>





        <health-coach event="'stateEnter'"></health-coach>




    </section>

</div>


</form>
