.dcm-recommendation {

  .dl-horizontal {
    dt {
      width: 110px;
      padding: 6px;
    }
    dd {
      margin-left: 120px;
      margin-bottom: 0.5em;
    }

    .publish > * {
      float: left;
    }

    .publish > label:not(:first-child) {
      margin: 8px 2em 0 2em;

    }

  }

    .btn.submit, .btn.backToGame, .btn.delete {
    width: 100%;
    white-space: normal;
    margin-bottom: 0.5em;
  }

  .btn.submit {
    height: 4em;
  }
  .btn.backToGame {
    height: 3em;
  }


  .publish {

    * {
      float: left;
    }
    > label:not(:first-of-type) {
      margin-left: 1em;
    }
    > label {
      margin: 8px 0.5em 0 0;
    }

    date-picker {
      display: block;
      width: 7em;
    }
  }

}