.dcm-recommendation {

  .publish {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    label {
      padding-right: 1em;
      margin: 0;
    }

    label:not(:first-of-type) {
      padding-left: 1em;
    }
  }


}