<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="YouPers Digital Health Platform">
    <meta name="author" content="YouPers">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <!-- page title, displayed in your browser bar -->
    <title>YouPers | eWorkLife Prototype</title>

    <!-- google webfont font replacement
    <link href='http://fonts.googleapis.com/css?family=Dosis:200,400,600,800' rel='stylesheet' type='text/css'> -->

    <!-- IRIG: webfont alternative (to be tested) -->
    <!--<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500|Roboto+Condensed:400,300' rel='stylesheet' type='text/css'>-->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel='stylesheet' href='styles/dosisfont.css'>
    <link rel='stylesheet' href='styles/robotofont.css'>
    <link rel="stylesheet" href="styles/youpers.css">
    <link rel="stylesheet" href="lib/elements/elements.css">
    <!-- endbuild -->



    <!-- build:js js/app.js -->
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-cookies.js"></script>
    <script src="lib/angular-translate/angular-translate.js"></script>
    <script src="lib/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
    <script src="lib/angular-ui-router/angular-ui-router.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap-tpls-0.6.0-SNAPSHOT.js"></script>
    <script src="lib/angular-authentication/angular-authentication.js"></script>
    <script src="lib/ng-google-chart/ng-google-chart.js"></script>
    <script src="lib/lowdash/lodash.js"></script>
    <script src="lib/momentjs/moment.js"></script>
    <script src="lib/momentjs/lang-de.js"></script>
    <script src="lib/restangular/restangular.js"></script>
    <script src="js/common/base64.js"></script>
    <script src="js/common/yp-commons.js"></script>
    <script src="js/ewl-activtiy.js"></script>
    <script src="js/ewl-assessment.js"></script>
    <script src="js/user.js"></script>
    <script src="js/discussion.js"></script>
    <script src="js/topic.js"></script>
    <script src="js/ewl-sociallog.js"></script>
    <script src="js/ewl-activitylog.js"></script>
    <script src="js/i18n.js"></script>
    <script src="js/yp-ewl-activity-chart.js"></script>
    <script src="js/ewl-app.js"></script>
    <script src="js/translations/yp-ewl.de.js"></script>
    <script src="js/translations/yp-ewl.en.js"></script>
    <!-- endbuild -->

    <script src="js/mockdata/backendMockApp.js"></script>
    <script src="lib/angular/angular-mocks.js"></script>
    <script src="js/mockdata/MockDataJson.js"></script>
    <script src="js/mockdata/testactivities.js"></script>

</head>


<body ng-app="yp-ewl-devmock" ng-controller="MainCtrl">


<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-logo" href="http://www.youpers.com/en/"><img src="assets/img/logo.png" alt="YouPers"
                                                                          height="50"></a>
            <!--<a class="navbar-brand" href="#">eWorkLife</a>-->
        </div>
        <div class="navbar-collapse collapse" collapse="navCollapsed">
            <ul class="nav navbar-nav">
                <li ng-class="{ active: isActive('cockpit')}"><a href="#/cockpit">{{ 'COCKPIT' | translate }}</a></li>
                <li ng-class="{ active: isActive('activitylist') || isActive('activityDetail')}"><a href="#/activities">{{ 'ACTIVITIES' | translate }}</a>
                </li>
                <li ng-class="{ active: isActive('assessment')}"><a href="#/assessment">{{ 'ASSESSMENT' | translate
                    }}</a></li>
                <li class="dropdown" ng-controller="i18nCtrl">
                    <a class="dropdown-toggle" data-toggle="dropdown">{{ 'LANGUAGE' | translate }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="" ng-click="changeLang('en')">english</a></li>
                        <li><a href="" ng-click="changeLang('de')">deutsch</a></li>
                        <li class="disabled"><a href="">espanol</a></li>
                        <li class="disabled"><a href="">francais</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Falls noch nicht genug</li>
                        <li><a href="#">Und noch mehr</a></li>
                        <li><a href="#">Und noch noch mehr</a></li>
                    </ul>
                </li>
            </ul>
            <div ng-controller="yp.user.MenuLoginCtrl">
            <form class="navbar-form navbar-right" ng-submit="loginSubmit()" ng-show="!principal.isAuthenticated()">
                <div class="form-group">
                    <input type="text" placeholder="{{ 'EMAIL' | translate }}" class="form-control" ng-model="username">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="{{ 'PASSWORD' | translate }}" class="form-control"
                           ng-model="password">
                </div>
                <button type="submit" class="btn btn-success btn-sm">{{ 'LOGIN' | translate }}</button>
            </form>
            <div class="nav navbar-right" ng-show="principal.isAuthenticated()">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">{{ principal.identity().fullname() }}<b
                                class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="" ng-click="logout()">{{ 'LOGOUT' | translate }}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            </div>

        </div>
        <!--/.navbar-collapse -->
    </div>
</div>

<alert type='globalUserMsg.type' close="closeUserMsg()" class="yp-globalUserMsg" ng-hide="$parent.globalUserMsg == null">{{ globalUserMsg.text }}</alert>

<div ui-view></div>

<div class="loginReminderBox panel panel-default" ng-show="showLoginDialog" ng-controller="yp.user.DialogLoginRegisterCtrl">
    <a class="close" ng-click="showLoginDialog=false">×</a>
    
    <div ng-hide="showRegistrationForm">
    Für diese Seite ist es notwendig, dass du dich einloggst. <br>
    Sonst gehen deine Daten verloren.
    <form class="navbar-form" ng-submit="loginSubmit()">
        <div class="form-group">
            <input type="text" placeholder="{{ 'EMAIL' | translate }}" class="form-control" ng-model="username" setfocus="showLoginDialog">
        </div>
        <div class="form-group">
            <input type="password" placeholder="{{ 'PASSWORD' | translate }}" class="form-control"
                   ng-model="password">
        </div>
        <button type="submit" class="btn btn-success btn-sm">{{ 'LOGIN' | translate }}</button>
        <div ><a href="" ng-click="showRegistrationForm = true"> Registrieren</a></div>
    </form></div>
    <div ng-show="showRegistrationForm">
        Neuen Account registrieren:
        <form name="registerform" class="form" role="form" ng-submit="registrationSubmit()" novalidate>
            <div class="form-group">
                <label>{{ 'FIRSTNAME' | translate }}</label>
                <input name="firstname" type="text" placeholder="{{ 'FIRSTNAME' | translate }}" class="form-control" ng-model="newuser.firstname" setfocus="showRegistrationForm" required>
                <span ng-show="registerform.firstname.$dirty && registerform.firstname.$invalid" class="help-inline">Something may have gone wrong</span>
            </div>
            <div class="form-group">
                <label>{{ 'LASTNAME' | translate }}</label>
                <input name="lastname" type="text" placeholder="{{ 'LASTNAME' | translate }}" class="form-control" ng-model="newuser.lastname" required>
                <span ng-show="registerform.lastname.$dirty && registerform.lastname.$invalid" class="help-inline">Something may have gone wrong</span>
            </div>
            <div class="form-group">
                <label>{{ 'USERNAME' | translate }}</label>
                <input name="username" type="text" placeholder="{{ 'FIRSTNAME' | translate }}" class="form-control" ng-model="newuser.username" required>
                <span ng-show="registerform.username.$dirty && registerform.username.$invalid" class="help-inline">Something may have gone wrong</span>
            </div>
            <div class="form-group" ng-class="{'has-error': registerform.email.$dirty && registerform.email.$invalid}">
                <label>{{ 'EMAIL' | translate }}</label>
                <input name="email" type="email" placeholder="{{ 'EMAIL' | translate }}" class="form-control" ng-model="newuser.email" required>
                <span ng-show="registerform.email.$dirty && registerform.email.$invalid" class="help-inline">Bitte gültige Email Adresse angeben</span>
            </div>
            <div class="form-group">
                <label>{{ 'PASSWORD' | translate }}</label>
                <input name="password" id="password" type="password" placeholder="{{ 'PASSWORD' | translate }}" class="form-control"
                       ng-model="newuser.password" required ng-minlength="6">
                <span ng-show="registerform.password.$dirty && registerform.password.$invalid" class="help-inline">Passwort mindestens 6 Buchstaben</span>
            </div>
            <div class="form-group"  ng-class="{'has-error': registerform.password2.$dirty && registerform.password2.$invalid}">
                <label>{{ 'PASSWORD_AGAIN' | translate }}</label>
                <input type="password" name="password2" id="password2" placeholder="{{ 'PASSWORD_AGAIN' | translate }}" class="form-control"
                       ng-model="newuser.password2" required password-match="newuser.password">
                        <span ng-show="registerform.password2.$dirty && registerform.password2.$invalid" class="help-inline">Passwort nicht identisch</span>

            </div>
            <button type="submit" class="btn btn-success btn-sm" ng-disabled="registerform.$invalid">{{ 'REGISTER' | translate }}</button>
        </form>
    </div>
</div>
<!-- Footer -->

<footer class="row">
    <div class="col-md-12">
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <p>&copy; YouPers 2013</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
