<!DOCTYPE html>
<!--[if IE 8]>
    <html class="no-js lt-ie9" lang="en" ng-app="yp-ewl"> <![endif]-->
<!--[if gt IE 8]><!-->

<html class="no-js" lang="en" ng-app="yp-ewl"> <![endif]
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="YouPers Digital Health Platform">
    <meta name="author" content="YouPers">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <!-- page title, displayed in your browser bar -->
    <title>YouPers | eWorkLife Prototype</title>

    <!-- google webfont font replacement
    <link href='http://fonts.googleapis.com/css?family=Dosis:200,400,600,800' rel='stylesheet' type='text/css'> -->
    <link href='css/dosisfont.css' rel='stylesheet' type='text/css'>
    <link href='css/robotofont.css' rel='stylesheet' type='text/css'>

    <!-- IRIG: webfont alternative (to be tested) -->
    <!--<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500|Roboto+Condensed:400,300' rel='stylesheet' type='text/css'>-->

    <!-- Bootstrap core CSS -->
    <link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!--<link rel="stylesheet" href="css/youpers.css"/>-->

    <!-- YouPers Stylesheet and needed LESS library -->
    <link rel="stylesheet/less" type="text/css" href="less/youpers.less" />
    <script type="text/javascript">var less=less||{};less.env='development';</script>
    <script src="lib/less/less-1.4.1.min.js" type="text/javascript"></script>
    <!--<script type="text/javascript">-->
        <!--less.watch();-->
    <!--</script>-->

    <script src="lib/angular/angular.js"></script>

    <script src="lib/angular/angular-cookies.js"></script>
    <script src="lib/angular-translate/angular-translate.js"></script>
    <script src="lib/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>

    <script src="lib/angular-ui-router/angular-ui-router.js"></script>

    <script src="lib/jquery/jquery-2.0.3.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="lib/bootstrap/assets/js/holder.js"></script>

    <script src="lib/angular-bootstrap/ui-bootstrap-0.6.0-SNAPSHOT.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap-tpls-0.6.0-SNAPSHOT.js"></script>
    <script src="lib/angular-ui-router/angular-ui-router.js"></script>

    <script src="lib/lowdash/lodash.js"></script>
    <script src="lib/momentjs/moment.js"></script>
    <script src="lib/momentjs/lang-de.js"></script>

    <script src="js/common/base64.js"></script>
    <script src="js/common/errorhandler.js"></script>
    <script src="js/common/filters.js"></script>

    <script src="lib/angular-authentication/angular-authentication.js"></script>
    <script src="js/authentication.js"></script>
    <script src="js/ewl-activtiy.js"></script>
    <script src="js/ewl-assessment.js"></script>
    <script src="js/discussion.js"></script>
    <script src="js/ewl-sociallog.js"></script>
    <script src="js/ewl-activitylog.js"></script>
    <script src="js/i18n.js"></script>
    <script src="js/ewl-app.js"></script>
    <script src="js/translations/yp-ewl.de.js"></script>
    <script src="js/translations/yp-ewl.en.js"></script>
    <script src="js/ng-google-chart.js"></script>
    <script src="js/ewl-cockpit-action-chart.js"></script>

    <!-- To better visualize the columns
    <style>
        .row > div {
            background-color: #dedef8;
            box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;
        }
    </style>
 -->
</head>


<body>


<div class="navbar navbar-inverse" ng-controller="MainMenuCtrl">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-logo" href="http://www.youpers.com/en/"><img src="assets/img/logo.png" alt="YouPers" height="50"></a>
            <!--<a class="navbar-brand" href="#">eWorkLife</a>-->
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{ active: isActive('/cockpit')}"><a href="#/cockpit">{{ 'COCKPIT' | translate }}</a></li>
                <li ng-class="{ active: isActive('/actions')}"><a href="#/actions">{{ 'ACTIVITIES' | translate }}</a></li>
                <li ng-class="{ active: isActive('/assessment')}"><a href="#/assessment">{{ 'ASSESSMENT' | translate }}</a></li>
                <li class="dropdown" ng-controller="i18nCtrl">
                    <a class="dropdown-toggle" data-toggle="dropdown">{{ 'LANGUAGE' | translate }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="" ng-click="changeLang('en')">english</a></li>
                        <li><a href="" ng-click="changeLang('de')">deutsch</a></li>
                        <li class="disabled"><a href="">espanol</a></li>
                        <li class="disabled"><a href="">francais</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Falls noch nicht genug</li>
                        <li><a href="#">Und noch mehr</a></li>
                        <li><a href="#">Und noch noch mehr</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" placeholder="{{ 'EMAIL' | translate }}"class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="{{ 'PASSWORD' | translate }}" class="form-control">
                </div>
                <button type="submit" class="btn btn-success btn-sm">{{ 'LOGIN' | translate }}</button>
            </form>
        </div><!--/.navbar-collapse -->
    </div>
</div>

<div ui-view></div>


<!-- Footer -->

<footer class="row">
    <div class="col-md-12">
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <p>&copy; YouPers 2013</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
