<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="YouPers Digital Health Platform">
    <meta name="author" content="YouPers">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <!-- page title, displayed in your browser bar -->
    <title>YouPers | eWorkLife Prototype</title>

    <!-- google webfont font replacement
    <link href='http://fonts.googleapis.com/css?family=Dosis:200,400,600,800' rel='stylesheet' type='text/css'> -->

    <!-- IRIG: webfont alternative (to be tested) -->
    <!--<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500|Roboto+Condensed:400,300' rel='stylesheet' type='text/css'>-->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel='stylesheet' href='styles/dosisfont.css'>
    <link rel='stylesheet' href='styles/robotofont.css'>
    <link rel="stylesheet" href="styles/youpers.css">
    <link rel="stylesheet" href="lib/less-elements/elements.css">
    <!-- endbuild -->

    <!-- build:js js/app.js -->
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="lib/angular-cookies/angular-cookies.js"></script>
    <script src="lib/angular-i18n/angular-locale_de-ch.js"></script>
    <script src="lib/angular-translate/angular-translate.js"></script>
    <script src="lib/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="lib/d3/d3.js"></script>

    <script src="lib/lodash/dist/lodash.js"></script>
    <script src="lib/markdown/lib/markdown.js"></script>
    <script src="lib/momentjs/moment.js"></script>
    <script src="lib/momentjs/lang/de.js"></script>
    <script src="lib/restangular/dist/restangular.js"></script>

    <script src="js/d3.js"></script>
    <script src="js/d3-dir-hbar.js"></script>
    <script src="js/d3-dir-vbar.js"></script>
    <script src="js/d3-dir-linechart.js"></script>
    <script src="js/d3-dir-gauge.js"></script>
    <script src="js/d3-dir-health-management-process.js"></script>
    <script src="js/common/base64.js"></script>
    <script src="js/common/yp-commons.js"></script>
    <script src="js/ewl-activtiy.js"></script>
    <script src="js/ewl-assessment.js"></script>
    <script src="js/ewl-evaluate.js"></script>
    <script src="js/auth.js"></script>
    <script src="js/user-account.js"></script>
    <script src="js/discussion.js"></script>
    <script src="js/topic.js"></script>
    <script src="js/ewl-sociallog.js"></script>
    <script src="js/ewl-activitylog.js"></script>
    <script src="js/healthpromoter.js"></script>
    <script src="js/i18n.js"></script>
    <script src="js/yp-ewl-activity-chart.js"></script>
    <script src="js/yp-ewl-activity-chart2.js"></script>
    <script src="js/yp-ewl-activity-vchart.js"></script>
    <script src="js/yp-ewl-stresslevel-gauge.js"></script>
    <script src="js/yp-ewl-stresslevel-line-chart.js"></script>
    <script src="js/yp-health-management-process.js"></script>
    <script src="js/ewl-app.js"></script>
    <script src="js/translations/yp-ewl.de.js"></script>
    <script src="js/translations/yp-ewl.en.js"></script>
    <script src="js/directives/header.js"></script>
    <!-- endbuild -->
    <script>
        angular.module('ypconfig', [])
                .constant('ypconfig', <%= JSON.stringify(config) %>
        )
        ;
    </script>

    <%= mockscripts %>


</head>


<body ng-app="yp-ewl<%- ngappsuffix %>" ng-controller="MainCtrl">


    <ng-include src="'partials/topmenu.html'"></ng-include>

    <alert type='globalUserMsg.type' close="closeUserMsg()" class="yp-globalUserMsg"
       ng-hide="!globalUserMsg">{{ globalUserMsg.text }}
    </alert>

    <div ui-view></div>

    <div my-modal>
    </div>
    <ng-include src="'partials/footer.html'"></ng-include>

</body>
</html>
