@import "../../../styles/youpers-variables";

campaign-card {

  display: block; // needed for custom html elements, they are not initialized by bootstrap
  position: relative;

  width: 190px;

  .game-card();

  .campaign-avatar {
    width: 100%;
    height: 90px;
    margin: 0;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .sheet {
    background-color: @yp-accent;
    span {
      font-weight: 300;
    }
  }

  .topic.sheet {

    position: relative;

    padding-top: 3px;
    height: 48px;
    line-height: 14px;

    > * {
      margin: 0 0 0 20px;
    }

    > h2 {
      text-transform: uppercase;
    }
    > span {
      .service();

    }

  }


  .details.sheet {

    padding: 10px 0;

    > div {
      position: relative;

      display: flex;
      flex-direction: row;
      align-items: flex-start;

      > * {
        color: @yp-accent-contrast;
      }

      > i {
        flex: 0 0 50px;
        text-align: center;
        padding-top: 3px;
      }

      &.invalid i.fa {
        color: @yp-warning;
      }
    }

    i {
      font-size: 14px;
    }
  }

  .campaign-lead.sheet {

    > div {
      position: relative;

      display: flex;
      flex-direction: row;
      align-items: flex-start;

      > * {
        color: @yp-accent-contrast;
      }

      > avatar, .avatar {
        width: 45px;
        height: 45px;
      }

      > div {
        padding-left: 8px;

        .campaign-lead-name {
          > div {
            white-space: nowrap;
            width: 133px;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          &.unconfirmed {
            > * {
              float: left;
            }
            > div {
              width: 113px;
            }
            i.fa {
              font-size: 14px;
              margin-top: 2px;
              color: @yp-warning;
              background-color: @yp-accent;
            }
          }
        }
      }
    }


  }

}
