<div ng-class="'topic' + campaign.topic.name">
    <div class="campaign-avatar">
        <img ng-src="{{ campaign.avatar }}">
    </div>
    <div class="topic sheet primary">

        <h2>{{campaign.title}}</h2>
        <span translate>campaign.card.title</span>

        <div ng-transclude class="transclude"></div>
    </div>
    <div class="details sheet">
        <div>
            <i class="fa fa-clock-o"></i>
            <span>{{campaign.start | date:'d.MM.yyyy'}} -  {{campaign.end | date:'d.MM.yyyy'}}</span>
        </div>
        <div>
            <i class="fa fa-location-arrow"></i>
            <div>
                <span>{{campaign.location}}</span>
                <span ng-show="campaign.location && campaign.city">, </span>
                <span>{{campaign.city}}</span>
            </div>
        </div>
        <div>
            <i class="fa fa-building-o"></i>
            <div>
                <span class="organization">{{campaign.organization.name}}</span>
                <span ng-show="campaign.participants"><br/></span>
                <span class="participants">{{campaign.participants}}</span>
            </div>
        </div>

    </div>
    <div ng-init="unconfirmed = campaign.campaignLeads[0].emailValidatedFlag === false" class="campaign-lead sheet row">
        <div class="col-xs-3">
            <avatar user="campaign.campaignLeads[0]" class="campaign-lead-avatar"></avatar>
        </div>
        <div class="col-xs-9">
            <div translate class="leader-label">campaign.card.campaignLead</div>
            <div ng-class="{ unconfirmed: unconfirmed }" title="{{ campaign.campaignLeads[0].fullname }}"
                 popover="{{ 'campaign.card.campaignLeadUnconfirmed' | translate }}" popover-trigger="{{ unconfirmed ? 'mouseenter' : '' }}" popover-placement="right" popover-append-to-body="true">
                {{ campaign.campaignLeads[0].fullname }}
                <i ng-if="unconfirmed" class="fa fa-warning"></i>
            </div>
        </div>
    </div>

</div>
