.topics {
  img {
    width: 100%;
  }
  .avatar {
    width: 100%;
    height: 120px;
    margin: 0;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .topic {
    font-weight: 400;
    font-size: px;
    color: @yp-primary;
    height: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-left: 30px;
    > span {
      .service();

    }

    > h2 {
      text-transform: uppercase;
      margin-bottom: 0px;
      margin-top: 0px;
    }
  }

  .row {
    padding-bottom: 20px;
  }
}
