<div class="campaign-switcher" dropdown is-open="status.isopen" ng-if="campaigns.length > 0" ng-class="{ switchable: campaigns.length > 1 }">
    <div class="campaign dropdown-toggle">
        <div class="avatar">
            <img ng-src="/assets/img/square_stressManagement.jpg">
        </div>
        <div class="topic">{{currentCampaign.title}}</div>
        <div class="details">{{currentCampaign.participants}}</div>
        <div class="details">{{currentCampaign.location}} {{currentCampaign.city}}</div>
        <div class="details">{{currentCampaign.start | date:'d.MM.'}} -  {{currentCampaign.end | date:'d.MM.yyyy'}}</div>

        <div class="icon" ng-if="campaigns.length > 1">
            <i class="glyphicon glyphicon-chevron-down"></i>
        </div>
    </div>

    <ul class="dropdown-menu" role="menu"  ng-if="campaigns.length > 1" >
        <li ng-repeat="campaign in campaigns" class="campaign" ng-click="selectCampaign(campaign)" ng-if="campaign.id !== currentCampaign.id">
            <div class="avatar">
                <img ng-src="/assets/img/square_stressManagement.jpg">
            </div>
            <div class="topic">{{campaign.title}}</div>
            <div class="details">{{campaign.participants}}</div>
            <div class="details">{{campaign.location}} {{campaign.city}}</div>
            <div class="details">{{campaign.start | date:'d.MM.'}} -  {{campaign.end | date:'d.MM.yyyy'}}</div>
        </li>
    </ul>
</div>