<div class="campaign-header" ng-if="campaigns.length > 0">
    <div ng-repeat="campaign in campaigns" class="campaign" ng-class="{selected: isSelected(campaign)}" ng-click="selectCampaign(campaign)">
        <div class="avatar">
            <img ng-src="{{campaign.avatar}}">
        </div>
        <div class="topic">{{campaign.title}}</div>
        <div class="details">{{campaign.participants}}</div>
        <div class="details">{{campaign.location}} {{campaign.city}}</div>
        <div class="details">{{campaign.start | date:'d. MMMM'}} -  {{campaign.end | date:'d. MMMM yyyy'}}</div>
    </div>
</div>