
@import "../../styles/youpers-variables";


.end-of-campaign {

  .charts {
    width: 100%;

    display: flex;

    > * {
      flex: 0 0 50%;
    }

  }


  nvd3-multi-bar-chart#eventStatus {
    display: inline-block;
    margin-left: 7em;
    rect.nv-bar {

    }
  }

  nvd3-multi-bar-horizontal-chart.assessment-chart {
    display: block;

    @assessment-1: rgb(255, 84, 30);
    @assessment-2: rgb(255, 208, 92);
    @assessment-3: rgb(32, 198, 60);
    @assessment-4: rgb(255, 208, 92);
    @assessment-5: rgb(255, 84, 30);

    svg {
      overflow: visible;

      .nv-legend {
        .nv-series:nth-child(1) circle {
          stroke: @assessment-1 !important;
          fill: @assessment-1 !important;
        }
        .nv-series:nth-child(2) circle {
          stroke: @assessment-2 !important;
          fill: @assessment-2 !important;
        }
        .nv-series:nth-child(3) circle {
          stroke: @assessment-3 !important;
          fill: @assessment-3 !important;
        }
        .nv-series:nth-child(4) circle {
          stroke: @assessment-4 !important;
          fill: @assessment-4 !important;
        }
        .nv-series:nth-child(5) circle {
          stroke: @assessment-5 !important;
          fill: @assessment-5 !important;
        }
      }

      .nv-barsWrap .nv-groups {

        rect {
          stroke: none;
        }
      }
      //
      //      .nv-barsWrap .nv-groups {
      //
      //        rect {
      //          transform: scaleY(0.6) translateY(10px);
      //        }
      //
      //        .nv-series-0 rect {
      //          fill: @assessment-1;
      //        }
      //        .nv-series-1 rect {
      //          fill: @assessment-2;
      //        }
      //        .nv-series-2 rect {
      //          fill: @assessment-3;
      //        }
      //        .nv-series-3 rect {
      //          fill: @assessment-4;
      //        }
      //        .nv-series-4 rect {
      //          fill: @assessment-5;
      //        }
      //      }
    }
    margin-left: 4em;
  }


  nvd3-multi-bar-horizontal-chart#campaignParticipants {
    display: block;

    svg {
      overflow: visible;
    }
    margin-left: 4em;
  }

  .activityPlanned {

    padding: 1em 0;

    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;

    > *:first-child {
      flex: 0 0 200px;


      div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 3em;
        background-color: @yp-primary;
        color: white;
      }
      img {
        width: 100%;
        height: 170px;
      }
    }
    > *:nth-child(2) {
      flex: 1 0 auto;
      padding: 1em;
      .header3();
    }


  }

}