<div class="end-of-campaign container">


    <div class="three-column-layout">

        <section>

            <div class="header-row"></div>
            <div class="button-row"></div>

            <campaign-card campaign="campaign">

            </campaign-card>

            <div class="survey-container" ng-if="campaign.leaderSurveyUrl">

                <br/>

                <p>
                    <span translate>end-of-campaign.surveyInfo</span>
                </p>


                <a ng-href="{{campaign.leaderSurveyUrl}}" target="_blank" class="btn btn-flat btn-big btn-red">
                    <span translate>end-of-campaign.surveyLink</span>
                    <span class="fa fa-chevron-right"></span>
                </a>

            </div>

        </section>

        <section>

            <div class="header-row"></div>
            <div class="button-row"></div>


            <h2>
                <span ng-hide="campaignEnded"
                      translate="end-of-campaign.lastDaysHeader" translate-values="{ daysLeft: daysLeft }"
                      translate-interpolation="messageformat"></span>
                <span ng-show="campaignEnded"
                      translate="end-of-campaign.campaignEndendHeader"></span>
            </h2>


            <br/>

            <div>


                <h3 translate>
                    dcm-end-of-campaign.usersTotal.title
                </h3>

                <nvd3-multi-bar-horizontal-chart
                        data="campaignParticipants"
                        id="campaignParticipants"

                        width="500"
                        showXAxis="false"
                        showYAxis="true"
                        showLegend="false">
                    <svg></svg>
                </nvd3-multi-bar-horizontal-chart>


            </div>

            <hr/>

            <div>


                <div class="charts">
                    <div>
                        <h3 translate>
                            dcm-end-of-campaign.eventsStatus.title
                        </h3>
                        <nvd3-multi-bar-chart
                                data="eventStatus"
                                id="eventStatus"

                                width="320"
                                height="240"

                                showLegend="false"

                                showXAxis="true"
                                showYAxis="true"
                                >
                            <svg></svg>
                        </nvd3-multi-bar-chart>
                    </div>
                    <div class="ratings-chart">
                        <h3 translate>end-of-campaign.eventsRatings.title</h3>

                        <nvd3-multi-bar-chart ng-if="eventsRatings"
                                              data="eventsRatings"
                                              id="eventsRatings"

                                              width="320"
                                              height="260"
                                              showYAxis="true"
                                              showXAxis="true"
                                              showLegend="false"
                                              yAxisTickFormat="percetageFn"
                                >
                            <svg></svg>
                        </nvd3-multi-bar-chart>

                    </div>
                </div>
                <div class="color-legend">
                    <div>
                        <div></div>
                        <span translate>dcm-end-of-campaign.legend.campaign</span>
                    </div>
                    <div>
                        <div></div>
                        <span translate>dcm-end-of-campaign.legend.average</span>
                    </div>
                </div>

                <hr/>


            </div>


            <accordion class="check" close-others="true" ng-if="categories">

                <accordion-group ng-repeat="name in orderedCategoryNames" is-open="cat[name]"
                                 ng-if="assessmentResultsByQuestion && !isCategoryEmpty(categories[name])"
                                 analytics-on="click" analytics-event="CheckCategoriesAccordion"
                                 analytics-category="InPageNavigation"
                                 analytics-label="Accordion Expanded Or Collapsed">
                    <accordion-heading>
                        <div>
                            <span class="question-category-header">{{ 'questionCategory.' + name | translate }}</span>
                            <i class="pull-right glyphicon"
                               ng-class="{'glyphicon-chevron-down': cat[name], 'glyphicon-chevron-right': !cat[name]}"></i>
                        </div>
                    </accordion-heading>


                    <div ng-repeat="question in categories[name]" ng-click="displayInfo(question)"

                         ng-init="assessmentResult = assessmentResultsByQuestion[question.id]">

                        <div ng-if="assessmentResult" class="question">

                            <div class="row">
                                <div class="col-sm-12">


                                    <div class="question-legend">
                                        <div>{{question.mintext}}</div>
                                        <div class="title">
                                            <span>{{ question.title }}</span>
                                            <i ng-mouseover="displayInfo(question)"
                                               class="glyphicon glyphicon-info-sign"></i>
                                        </div>
                                        <div>{{question.maxtext}}</div>
                                    </div>


                                    <div class="assessment-chart-row">
                                        <div translate>dcm-end-of-campaign.assessmentResults.campaign</div>

                                        <div class="assessment-chart">

                                            <div ng-if="$index == 2 || val > 0"
                                                 ng-repeat="val in assessmentResult.percentages track by $index"
                                                 ng-style="val < 0.05 ? { flex: '0 0 2%' } : assessmentResultStyle(val)"
                                                 ng-class="'assessmentRange' + $index">

                                                <div></div>
                                                <div ng-show="val > 0">{{ formatValue(val, $index, question) }}
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                    <div class="assessment-chart-row">
                                        <div translate>dcm-end-of-campaign.assessmentResults.average</div>
                                        <div class="assessment-chart">

                                            <div ng-repeat="val in assessmentResultsAverageByQuestion[question.id].percentages track by $index"
                                                 ng-style="$index == 2 && val < 0.05 ? { flex: '0 0 2%' } : assessmentResultStyle(val)"
                                                 ng-class="'assessmentRange' + $index">

                                                <div ng-show="val > 0.05">{{ formatValue(val, $index, question) }}
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>
                </accordion-group>
            </accordion>


            <br/>
            <br/>

            <div>

                <h3>
                    <span translate>dcm-end-of-campaign.eventsPlanned.header</span>
                </h3>

                <div class="eventPlanned" ng-repeat="eventPlanned in eventsPlanned">

                    <div>
                        <img ng-src="{{'/assets/actpics/' + eventPlanned.idea.number + '.jpg'}}">

                        <div>{{ eventPlanned.idea.title | stripTags }}</div>
                    </div>

                    <div>
                        <div>
                            {{ 'dcm-end-of-campaign.eventsPlanned.content' | translate:eventPlanned:"messageformat" }}
                        </div>
                    </div>

                </div>


            </div>


        </section>

        <section>


            <div scroll-along>


                <div class="header-row"></div>
                <div class="button-row">

                    <div
                            class="back-link" ui-sref="dcm.home"><span
                            class="fa fa-chevron-left"></span> <span translate>activity.link.back</span></div>
                    <div class="clearfix"></div>
                </div>

                <health-coach event="'stateEnter'"></health-coach>

            </div>

        </section>


    </div>

</div>


