<div class="end-of-campaign container">


    <div class="two-column-layout">

        <section>

            <div class="header-row"></div>
            <div class="button-row"></div>

            <campaign-card campaign="campaign">

            </campaign-card>

            <div class="survey-container">

                <br/>

                <p>
                    <span translate>end-of-campaign.surveyInfo</span>
                </p>

                <button class="btn btn-flat btn-big btn-red">
                    <span translate>end-of-campaign.surveyLink</span>
                    <span class="fa fa-chevron-right"></span>
                </button>

            </div>

        </section>

        <section>

            <div class="header-row"></div>
            <div class="button-row">

                <div
                     class="back-link" ui-sref="dcm.home"><span
                        class="fa fa-chevron-left"></span> <span translate>activity.link.back</span></div>
                <div class="clearfix"></div>
            </div>


            <h2>
                <span ng-hide="campaignEnded"
                      translate="end-of-campaign.lastDaysHeader" translate-values="{ daysLeft: daysLeft }" translate-interpolation="messageformat"></span>
                <span ng-show="campaignEnded"
                      translate="end-of-campaign.campaignEndendHeader"></span>
            </h2>


            <br/>

            <div>


                <h3 translate>
                    dcm-end-of-campaign.usersTotal.title
                </h3>

                <nvd3-multi-bar-horizontal-chart
                        data="campaignParticipants"
                        id="campaignParticipants"

                        width="600"
                        showXAxis="false"
                        showYAxis="true"
                        showLegend="false">
                    <svg></svg>
                </nvd3-multi-bar-horizontal-chart>


            </div>

            <hr/>

            <div>

                <h3 translate>
                    dcm-end-of-campaign.eventsStatus.title
                </h3>

                <nvd3-multi-bar-chart
                        data="eventStatus"
                        id="eventStatus"

                        width="540"
                        height="240"

                        showLegend="false"

                        showXAxis="true"
                        showYAxis="true"
                        >
                    <svg></svg>
                </nvd3-multi-bar-chart>



                <div class="color-legend">
                    <div>
                        <div></div>
                        <span translate>dcm-end-of-campaign.legend.campaign</span>
                    </div>
                    <div>
                        <div></div>
                        <span translate>dcm-end-of-campaign.legend.average</span>
                    </div>
                </div>

                <hr/>


            </div>

            <div ng-repeat="assessmentResult in assessmentResults">

                <h3>{{ assessmentResult.question }}</h3>

                <nvd3-multi-bar-horizontal-chart
                        data="assessmentResult.result"
                        id="assessment{{ $index }}"
                        class="assessment-chart"

                        width="630"
                        height="130"
                        showXAxis="true"
                        showYAxis="false"
                        showLegend="false"
                        stacked="true"
                        color="colorFn"
                        >
                    <svg></svg>
                </nvd3-multi-bar-horizontal-chart>


            </div>

            <div class="activitiesPlanned">

                <h1>
                    <span translate>dcm-end-of-campaign.activitiesPlanned.header</span>
                </h1>

                <div class="activityPlanned" ng-repeat="activity in activitiesPlanned">

                    <div>
                        <img ng-src="{{'/assets/actpics/' + activity.idea.number + '.jpg'}}">

                        <div>{{ activity.idea.title }}</div>
                    </div>

                    <div>
                        <div>
                            {{ 'dcm-end-of-campaign.activitiesPlanned.content' | translate:{ count: activity.count }:"messageformat" }}
                        </div>
                    </div>

                </div>


            </div>


        </section>


    </div>

</div>


