

<form name="ideaForm" ypModel="idea" class="form-horizontal" role="form" ng-class="{submitted: ideaForm.submitted}"
      ng-submit="(ideaForm.$valid && save()) || (ideaForm.submitted = true)" novalidate>

    <div class="form-group">
        <label for="number" class="col-md-3 control-label" translate>activity.image.label</label>
        <div class="col-md-9">
            <span class="idea-image-link">
                <a href ng-click="selectIdeaImage()"><span translate>activity.image.select</span> <span class="error-msg" ng-show="!ideaForm.number.$valid && ideaForm.submitted" translate>activity.image.required</span></a>
            </span>

        </div>
    </div>

    <div class="form-group" ng-show="isProductAdmin()">
        <label for="number" class="col-md-3 control-label" translate>activity.number</label>
        <div class="col-md-9">
            <input name="number" id="number" required type="text" ng-model="idea.number" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label for="title" class="col-md-3 control-label" translate>activity.title.label</label>
        <div class="col-md-9">
            <input type="text" required id="title" name="title" class="form-control" ng-model="idea.title" ng-attr-placeholder="{{'activity.title.placeholder' | translate}}"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="description" class="col-md-3 control-label" translate>activity.description.label</label>
        <div class="col-md-9">
            <textarea rows="5" required id="description" type="text" class="form-control" ng-model="idea.description" ng-attr-placeholder="{{'activity.description.placeholder' | translate}}"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="text" class="col-md-3 control-label" translate>activity.text.label</label>
        <div class="col-md-9">
            <textarea rows="8" id="text" type="text" name="text" class="form-control" ng-model="idea.text" ng-attr-placeholder="{{'activity.text.placeholder' | translate}}"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="executiontype" class="col-md-3 control-label" translate>activity.executiontype</label>
        <div id ="executiontype" class="btn-group col-md-9">
            <button type="button" ng-repeat="executiontype in enums.executiontype" class="btn btn-default btn-sm" ng-model="idea.defaultexecutiontype" btn-radio="executiontype" translate>
                executiontype.{{executiontype}}
            </button>

        </div>
    </div>

    <div class="form-group">
        <label for="frequency" class="col-md-3 control-label" translate>activity.frequency</label>
        <div id="frequency" class="btn-group col-md-9">
            <button type="button" ng-repeat="activityPlanFrequency in enums.activityPlanFrequency" class="btn btn-default btn-sm" ng-model="idea.defaultfrequency" btn-radio="activityPlanFrequency" translate>
                activityPlanFrequency.{{activityPlanFrequency}}
            </button>
        </div>
    </div>

    <div class="form-group" ng-if="isProductAdmin()">
        <label for="visibility" class="col-md-3 control-label" translate>activity.visibility</label>
        <div id="visibility" class="btn-group col-md-9">
            <button type="button" ng-repeat="visibility in enums.visibility" class="btn btn-default btn-sm" ng-model="idea.defaultvisibility" btn-radio="visibility" translate>
                visibility.{{visibility}}
            </button>
        </div>
    </div>

    <div class="form-group" ng-if="isProductAdmin()">
        <label for="source" class="col-md-3 control-label" translate>activity.source</label>
        <div id="source" class="btn-group col-md-9">
            <button type="button" ng-repeat="source in enums.source" class="btn btn-default btn-sm" ng-model="idea.source" btn-radio="source" translate>
                source.{{source}}
            </button>
        </div>
    </div>

    <div class="form-group" ng-if="isProductAdmin()">
        <label for="topics" class="col-md-3 control-label" translate>activity.topics</label>
        <div id="topics" class="btn-group col-md-9">
            <button type="button" class="btn btn-default btn-sm" ng-repeat="topic in topics"
                    ng-model="topicsModel[topic.id]" btn-checkbox data-toggle="button">{{ topic.name }}
            </button>
        </div>
    </div>

    <div class="form-group">
        <label ng-if="isProductAdmin()" for="qualityFactor" class="col-md-3 control-label" translate>activity.qualityFactor</label>
        <div class="col-md-2" ng-if="isProductAdmin()">
            <input id="qualityFactor" type="number" min=1 max=10 ng-model="idea.qualityFactor" class="form-control">
        </div>
        <label for="duration" class="col-md-3 control-label" translate>activity.duration</label>
        <div class="col-md-2">
            <input id="duration" type="number" min=0 ng-model="idea.defaultduration" class="form-control">
        </div>
    </div>


    <div class="form-group">

        <div class="col-md-3 control-label start-time">
            <label  translate>activity.startTime</label>
        </div>

        <div class="col-md-6" ng-init="noDefaultStartTime = !idea.defaultStartTime">
            <label class="control-label">
                <input type="checkbox" ng-model="noDefaultStartTime">
                <span translate>activity.noDefaultStartTime</span>
            </label>
            <timepicker ng-if="!noDefaultStartTime" ng-model="idea.defaultStartTime"  minute-step="15" show-meridian="false" ></timepicker>
        </div>

    </div>

    <div class="form-group">
        <div class="col-md-7">
        </div>

        <div class="col-md-5 idea-edit-link">
            <button type="submit" class="btn btn-primary pull-right" translate>activity.save
            </button>
            <div ng-transclude></div>
            <button type="button" class="btn btn-default" ng-click="cancel()" translate>activity.back</button>

        </div>
    </div>
</form>