idea-edit {


}

// modal dialog
.idea-images {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  padding-top: 30px;

  > * {
    flex: 0 0 30%;
    padding: 1%;
  }
}

