


<div class="activity-offer-card {{ componentClass }}">



    <div class="title sheet primary">
        <div>
            <i class="fa {{ iconClass }} offer"></i>
        </div>
        <div ng-bind-html="getRenderedText(activity.title || idea.title)"></div>

        <activity-lookahead activity="activity" ng-if="activity.id && activity.executionType === 'group'"></activity-lookahead>
    </div>

    <div class="sheet secondary" ng-init="isRecommendation = socialInteraction.__t === 'Recommendation'">

        <div>

            <div>
                <i class="fa fa-clock-o"></i>
            </div>
            <div>
                <i ng-if="!isRecommendation" class="fa fa-location-arrow"></i>
                <i ng-if="isRecommendation" class="fa {{ idea.defaultexecutiontype === 'self' ? 'fa-user' : 'fa-users' }}"></i>
            </div>

        </div>

        <div >

            <div ng-if="!isRecommendation">
                <div>

                    <span>
                        {{ activity.start | shortCalendar }}
                    </span>
                </div>
                <div>

                    <span>
                        {{ activity.location }} &nbsp;
                    </span>
                </div>
            </div>

            <div ng-if="isRecommendation">

                <div>

                    <span>
                        {{ 'activityPlanFrequency.' + idea.defaultfrequency | translate }}
                    </span>
                </div>
                <div>

                    <span>
                        {{ 'executiontype.' + idea.defaultexecutiontype | translate }}
                    </span>
                </div>
            </div>
        </div>

    </div>

    <div class="author sheet tertiary">
        <div>
            <img ng-src="{{ socialInteraction.author.avatar }}">
        </div>
        <div>
            <div class="caption">{{'activityOfferCard.authorPrefix.' + (socialInteraction.authorType === 'expert' ? 'ExpertRecommendation' : socialInteraction.__t) | translate}}</div>
            <div class="author" ng-bind="socialInteraction.author.fullname" title="{{ socialInteraction.author.fullname }}"></div>
        </div>


    </div>

    <div class="publishedDate" ng-if="isDcm && socialInteraction.publishFrom && socialInteraction.publishTo">

        <div>
            <span translate>activityOfferCard.published</span>

        </div>
        <div>

            <span>{{socialInteraction.publishFrom | date}} -</span>
            <span>{{socialInteraction.publishTo | date}}</span>
        </div>
    </div>

</div>
