
.activity-offer-card {

  .game-card();

  display: block;

  // crashes IE10 see WL-1105
//  position: relative;

  width: @yp-activity-event-card-width;

  line-height: 1.2em;
  background: white;
  cursor: pointer;

  i {
    font-size: 16px;
  }

  div.sheet {

    position: relative;

    height: @yp-activity-event-image-height;

    display: flex;
    justify-content:flex-start;
    align-content:center;
    flex-direction:row;

    > div:first-of-type {

      text-align: center;
      flex: 0 0 50px;

    }

    > div {

      display: flex;
      justify-content: center;
      align-content:center;
      flex-direction:column;
      flex: 0 1 95%; // IE10 fix
      > * {
        white-space: normal;
      }
      > .caption {
        margin-top: -4px;
      }
    }

    &.author > div > *:nth-child(2) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 145px;
    }

  }

  div.sheet.primary {

    i.offer {
      font-size: 32px;
      color: white;
    }
  }
  div.sheet.secondary {
    i {
      font-size: 14px;
    }
    .caption();
  }

  > div.author {

    position: relative;

    padding: 0;

    > div:first-of-type {
      text-align: left;
    }

    > * {
      display: inline-block;
      vertical-align: middle;
    }

    img {
      width: 45px;
      height: 45px;
    }
  }

  .sheet.author .dismiss {

    position: absolute;
    right: 8px;
    top: 12px;
    i.fa {
      font-size: 18px;
    }

    opacity: 0;
    transition: opacity 0.2s ease;
  }
  &:hover .sheet.author .dismiss {
    opacity: 1;
  }

  div.publishedDate {
    padding: 5px;
    .caption();
  }

  .title {
    white-space: normal;
    min-height: 3em;
    text-align: left;

    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
    p {
      margin: 0;
      .subhead();
    }
  }

  .invisible {
    visibility: hidden;
  }

}

.activity-offer-card.offerYoupers {
  .lower-part {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    height: 90px;
    flex-direction: column;
  }
}

.activity-offer-card.offerExpert {
  .caption {
    color: white;
    font-weight: 200;
  }
}
