<form name="composeMessageForm" ng-submit="saveMessage(message)">

    <div>

        <div class="form-group">
            <input class="form-control" ng-model="message.title" required
                   placeholder="{{ 'composeMessageForm.title.placeholder' | translate }}"/>
        </div>
        <div class="form-group">
            <textarea class="form-control" ng-model="message.text" required
                      placeholder="{{ 'composeMessageForm.text.placeholder' | translate }}"></textarea>
        </div>

    </div>

    <div>

        <div class="form-group">
            <label translate>composeMessageForm.publishFrom.label</label>
            <date-picker date="message.publishFrom"></date-picker>
        </div>

        <div class="form-group">
            <label translate>composeMessageForm.publishTo.label</label>
            <date-picker date="message.publishTo"></date-picker>
        </div>

        <button class="btn btn-primary pull-right" type="submit" ng-disabled="composeMessageForm.$invalid"
                translate>
            composeMessageForm.submit
        </button>

    </div>
</form>