
<li class="inbox-item {{ componentClass(soi) }}" ng-click="openSocialInteraction(soi)" ng-if="!soi._editMode">


    <div class="avatar">
        <img ng-src="{{ soi.author.avatar }}">
    </div>


    <div>

        <div class="headers sheet tertiary">

            <div class="info">

                <div class="dismiss">
                    <a ng-if="options.isCampaignLead"><i ng-click="editSocialInteraction($event, soi)"
                                                         class="fa fa-pencil-square-o"></i></a>
                    <a><i ng-click="dismissSocialInteraction($event, soi)" ng-if="soi.__t == 'Message'"
                          class="{{options.isCampaignLead ? 'fa fa-trash-o' : 'glyphicon glyphicon-remove'}}"></i></a>
                </div>
                <div class="date">{{ (soi.publishFrom || soi.created) | fromNow }}</div>


                <div class="clearfix"></div>
                <div class="authorType">{{ 'socialInteraction.header.' + soi.__t + '.' + soi.authorType | translate }}</div>
                <div class="author">{{ soi.author.fullname }}</div>
            </div>

        </div>

        <div class="content sheet">

            <div class="ref-title" ng-if="soi.activity || soi.idea">{{ soi.activity ? soi.activity.title : soi.idea.title }}</div>

            <!--  show title or text, if one is missing. for both the accordion below is used  -->
            <div class="title" ng-if="soi.title && !soi.text">{{ soi.title }}</div>
            <div class="text" ng-if="soi.text && !soi.title">{{ soi.text }}</div>

            <accordion class="message" ng-if="soi.title && soi.text">

                <accordion-group is-open="isOpen" ng-init="isOpen = true">
                    <accordion-heading>

                        <div>{{ soi.title }}</div>

                        <i class="fa "
                           ng-class="{ 'fa-chevron-up': isOpen, 'fa-chevron-right': !isOpen }"></i>

                    </accordion-heading>

                    <div class="text" ng-if="soi.text">{{ soi.text }}</div>

                </accordion-group>
            </accordion>





        </div>

        <div class="sheet publish" ng-if="options.isCampaignLead">

            <div class="text">
                <span translate>activityOfferCard.published</span>

            </div>
            <div class="text">
                <span>{{soi.publishFrom | date}} -</span>
                <span>{{soi.publishTo | date}}</span>
            </div>
        </div>

    </div>

</li>
