social-interaction-message-composer {
  display: block;
}

social-interaction-inbox {

  display: block;
  .game-card();

  .main-header {

    > * {
      display: inline-block;
    }

    > i {
      padding: 15px;
    }
    > :not(i) {
      padding: 5px;
      margin: 0;
    }
  }

  .publish {
    display: flex;
    div {
      width: 50%;
    }
  }
}

social-interaction {
  display: block;
  .dismiss i {
    color: @yp-warning;
  }
  .authorType {
    color: @yp-subtitle;
  }
  .date {
    float: right;
  }

}

.composeMessage {
  border: none;
  position: relative;
}



.inbox-item {

  border-top: 1px solid @yp-divider;
  display: flex;
  flex-direction: row;

  > *:first-child {
    flex: 0 0 48px;

    padding: 5px;

    > img {
      width: 32px;
    }
  }
  > *:not(:first-child) {
    flex: 1 1 auto;
    > * {
      padding: 8px;
    }
  }
}