social-interaction-message-composer {
  display: block;
}

social-interaction-inbox {

  display: block;
  .game-card();

  .inbox-item .title {
    padding-top: 10px;
  }

}

social-interaction {
  display: block;


  .dismiss {
    float: right;
    padding: 2px 2px 2px 6px;
  }

  .avatar img {
    border-radius: 50%;
  }

  .date {
    float: right;
  }
  .authorType, .date {
    font-size: 13px;
    font-weight: 400;
    color: @yp-placeholder;
  }
  .author {
    font-size: 13px;
    font-weight: 400;
    color: @yp-text;
  }

  .content {
    font-size: 13px;
    font-weight: 400;
    color: @yp-subtitle;
  }


  a.accordion-toggle {
    text-transform: none;
    > * {
      display: inline-block;
    }
  }

  .panel-group {
    margin: 0;
  }

  .panel-title {
    margin: 0;
     a {
       display: block;
       padding-top: 5px;
       padding-bottom: 5px;
       i.fa {
         padding-top: 7px;
         font-size: 14px;
         float: right;
       }
     }
    div {
      font-size: 13px;
      font-weight: 400;
      color: @yp-subtitle;
      text-transform: none;
    }
  }
  .panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: 1px solid @yp-divider;
    padding: 10px 0 0 0;
  }

  .panel, .panel-default > .panel-heading {
    background-color: transparent;
    border-radius: 0;
    border: none;
    box-shadow: none;
    padding: 0;
  }

  .sheet.publish {
    padding: 2px;

  }

}

.composeMessage {
  border: none;
  position: relative;
}



.inbox-item {

  border-top: 1px solid @yp-divider;
  display: flex;
  flex-direction: row;

  > *:first-child {
    flex: 0 0 48px;

    padding: 5px;

    > img {
      width: 32px;
    }
    > i {
      font-size: 32px;
       padding: 5px 8px;
     }
  }
  > *:not(:first-child) {
    flex: 1 1 auto;
    > * {
      padding: 5px;
    }
  }
}