@import "../../styles/youpers-variables";


// Health Coach
//---------------------------------------------

health-coach {
  display: block;
  position: relative;

  .game-card();
  background-color: white;

  margin-bottom: 1em;
  .message {
    padding: 15px;
    color: @yp-subtitle;

  }


  > div.expanded {
    max-height: none !important;
  }

  .chevron {
    margin-top: 8px;
    font-size: 2em;
  }

  .inbox-item {
    cursor: pointer;
  }

  .expand {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 4px;
    text-align: center;
    background-color: white;

    box-shadow: 0 0 3px 1px @yp-shadow;
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  60% {
    opacity: 1;
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: @screen-sm) {

  .chevron {
    display: none;
  }

  .message.ng-hide {
    display: inherit !important;
  }

  .health-coach-notification-background {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 45px;
    z-index: 100;
    background-color: white;
    &:not(.overlay) {
      border-top: 1px solid @yp-divider;
    }
  }
  .health-coach-notification {
    position: fixed;
    bottom: 0;
    left: 0;

    padding: 10px;
    z-index: 101;

    img {
      width: 24px;
    }

    transition: 0.4s color linear;

    &.new-message i {
      animation-duration: 0.5s;
      animation-fill-mode: both;
      animation-name: bounce;

      color: @yp-accent-hover;
    }
  }

  body.dhc health-coach {

    .expand {
      display: none;
    }
    > div {
      height: 0;
      transition: 0.4s height ease;


    }
    > div.overlay {
      height: auto;
      display: block;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      padding-bottom: 24px;
      width: 100%;
      z-index: 101;
      background-color: white;
    }
  }
}

@media (min-width: @screen-sm) {

  .message {
    opacity: 1;

    &.ng-hide-add.ng-hide-add-active,
    &.ng-hide-remove.ng-hide-remove-active {
      -webkit-transition: all linear 0.3s;
      transition: all linear 0.3s;
    }

    &.ng-hide {
      line-height: 0;
      opacity: 0;
      padding: 0 10px;
    }
  }

  .health-coach-notification, .health-coach-notification-background {
    display: none;
  }
}

body.dcm {
  .health-coach-notification, .health-coach-notification-background {
    display: none;
  }
}