@import "../../styles/youpers-variables";


// Health Coach
//---------------------------------------------

health-coach {
  display: block;
  position: relative;

  .game-card();
  background-color: white;

  margin-bottom: 1em;
  .message {
    padding: 15px;
    color: @yp-subtitle;
  }

  > div.expanded {
    max-height: none !important;
  }

  .expand {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 4px;
    text-align: center;
    background-color: white;

    box-shadow: 0 0 3px 1px @yp-shadow;
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  60% {
    opacity: 1;
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: @screen-sm) {

  .health-coach-notification {
    position: fixed;
    bottom: 0;
    left: 0;

    padding: 10px;
    z-index: 101;

    img {
      width: 24px;
    }

    transition: 0.4s color linear;

    &.new-message i {
      animation-duration: 0.5s;
      animation-fill-mode: both;
      animation-name: bounce;

      color: @yp-accent-hover;
    }
  }

  health-coach {

    .expand {
      display: none;
    }
    > div {
      height: 0;
      transition: 0.4s height ease;


    }
    > div.overlay {
      height: auto;
      display: block;
      position: fixed;
      bottom: 0;
      left: 0;
      padding-bottom: 24px;
      width: 100%;
      z-index: 101;
      background-color: white;
    }
  }
}

@media (min-width: @screen-sm) {
  .health-coach-notification {
    display: none;
  }
}