@import "../../styles/youpers-variables";


// Health Coach
//---------------------------------------------

health-coach {
  display: block;
  position: relative;

  .game-card();
  background-color: white;

  margin-bottom: 1em;
  .message {
    padding: 15px;
    color: @yp-subtitle;
  }

  > div.expanded {
    max-height: none !important;
  }

  .expand {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 4px;
    text-align: center;
    background-color: white;

    box-shadow: 0 0 3px 1px @yp-shadow;
  }
}

