<div ng-if="coachMessage || eventMessage" ng-class="{ expanded: expanded, overlay: overlay }" ng-style="style"
     ng-click="overlay = !overlay; $parent.newMessage = false"
        >

    <div class="inbox-item">

        <div class="avatar">
            <img ng-src="/assets/img/avatar_coach_blue.svg">

        </div>

        <div class="author">
            <h3 translate>healthCoach.fullname</h3>
        </div>
    </div>

    <div class="message">

        <div ng-if="coachMessage" ng-bind-html="coachMessage" ></div>
        <div ng-if="!coachMessage && eventMessage" ng-bind-html="eventMessage"></div>

    </div>

    <a ng-show="expandable" class="expand" ng-click="expanded = true; expandable = false">
        <span translate>healthCoach.expand</span>
    </a>

    <div class="health-coach-notification-background" ng-class="{ overlay: overlay }"></div>
    <div class="health-coach-notification" ng-class="{ 'new-message': $parent.newMessage}">

        <img ng-src="/assets/img/avatar_coach_blue.svg">
        <i class="fa" ng-class="overlay ? 'fa-chevron-down' : 'fa-chevron-up'"></i>

    </div>
</div>
