<div class="container cockpit">

<header name="plan">
    <div class="col-md-6" translate>list.planAnActivity</div>
    <div class="col-md-3">
        <a class="btn btn-default" ui-sref="activityAdmin" ng-if="principal.isAuthorized('admin')" translate>list.createNewActivity</a>
    </div>
    <div class="col-md-3">
        <div class="form-group date">
            <label class="control-label" translate>Topic</label>
            <select ng-model="currentTopic" ng-options="topic.id as topic.name for topic in topics">
            </select>
        </div>
    </div>
</header>

<!-- Page body  -->

<div class="row">

<!-- Linke Spalte: Suchen und Filtern -->

<div class="col-md-2">

    <!-- Suche -->
    <div class="panel sidebar">
        <div class="panel sidebar section-title" translate>
            list.search
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="search-option" ng-class="query.fulltext ? 'filter-option-active' : 'filter-option-inactive'">
                    <input type="text" value="" ng-model="query.fulltext" size="16" maxlength="20">
                    <button type="button" class="btn btn-primary cockpit btn-sm" ng-click="query.fulltext=''">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Alleine/Gruppe -->
    <div class="panel sidebar">
        <div class="panel sidebar section-title" translate>
            list.togetherWith
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="checkbox filter-option"
                     ng-class="query.executiontype.self ? 'filter-option-active' : 'filter-option-inactive'">
                    <label>
                        <input type="checkbox" value="" ng-model="query.executiontype.self">
                        <translate>list.alone</translate>
                    </label>
                </div>
                <div class="checkbox filter-option"
                     ng-class="query.executiontype.group ? 'filter-option-active' : 'filter-option-inactive'">
                    <label>
                        <input type="checkbox" value="" ng-model="query.executiontype.group">
                        <translate>list.asAGroup</translate>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <!-- Zeitaufwand -->
    <div class="panel sidebar">
        <div class="panel sidebar section-title" translate>
            list.duration
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="checkbox filter-option"
                     ng-class="query.time.t15 ? 'filter-option-active' : 'filter-option-inactive'">
                    <label>
                        <input type="checkbox" value="" ng-model="query.time.t15">
                        <translate>list.lt15min</translate>
                    </label>
                </div>
                <div class="checkbox filter-option"
                     ng-class="query.time.t30 ? 'filter-option-active' : 'filter-option-inactive'">
                    <label>
                        <input type="checkbox" value="" ng-model="query.time.t30">
                        <translate>list.15-30min</translate>
                    </label>
                </div>
                <div class="checkbox filter-option"
                     ng-class="query.time.t60 ? 'filter-option-active' : 'filter-option-inactive'">
                    <label>
                        <input type="checkbox" value="" ng-model="query.time.t60">
                        <translate>list.30-60min</translate>
                    </label>
                </div>
                <div class="checkbox filter-option"
                     ng-class="query.time.more ? 'filter-option-active' : 'filter-option-inactive'">
                    <label>
                        <input type="checkbox" value="" ng-model="query.time.more">
                        <translate>list.mt60min</translate>
                    </label>
                </div>
            </div>
        </div>
    </div>



</div>

<!-- Rechter Hauptteil: Aktivitätenliste -->

<div class="col-md-10">
    <div class="panel cockpit">
        <div class="panel cockpit section-title" translate>
            list.activities
        </div>

        <!-- Tabs und Paginierung -->
        <div class="row">
            <div class="col-md-5">
                <div> {{filteredIdeas.length}} <translate>list.ofTotal</translate> {{ideas.length}}</div>
                    <span>
                        <pagination total-items="filteredIdeas.length" items-per-page="pageSize" ng-model="currentPage"
                                    max-size="maxSize" class="pagination youpers" boundary-links="false" previous-text="<" next-text=">"/>
                    </span>
                </div>
            </div>
        </div>

        <!-- die eigentliche Liste -->
        <div class="row">
            <div class="col-md-12">
                <div class="row panel panel-default activityListItem"
                     ng-repeat="idea in filteredIdeas | orderBy:'-score' | startFrom:(currentPage -1) * pageSize | limitTo:pageSize">
                    <div class="col-md-1">
                        {{ idea.number }}
                        <div ng-if="idea.isRecommended" class="activityListPlannedEdge activityListPlannedEdgeRecommended" translate>
                            list.recommended
                        </div>
                        <div class="activityListStarred glyphicon" ng-click="toggleStar(idea, $event)"
                             ng-class="(idea.starred && 'glyphicon-star') || 'glyphicon-star-empty'"></div>
                    </div>
                    <div class="col-md-5" ng-bind-html="idea.title">
                    </div>
                    <div class="col-md-1">
                        <img ng-src="{{'/assets/actpics/' + idea.number + '.jpg'}}" width='60' height="40">
                    </div>
                    <div class="col-md-2">
                        <div popover="{{ 'activityField.'+ fieldId | translate}}" popover-trigger="mouseenter"
                             ng-repeat="topicId in idea.topics" popover-placement="left" popover-append-to-body="true">
                            {{topics.byId[topicId].name}}
                        </div>
                    </div>
                    <div class="col-md-1" popover="Überprüft und Empfohlen durch YouPers"
                         popover-trigger="mouseenter">
                        <img ng-src="/assets/img/YouPersAvatar.png" ng-if="idea.source == 'youpers'"
                             class="activityListClusterIcon">
                    </div>
                    <div class="col-md-2">
                        {{ 'executiontype.' + idea.defaultexecutiontype | translate}}
                        <div ng-if="principal.isAuthorized('admin')"><a class="btn btn-sm btn-primary cockpit"
                                                                          ui-sref="admin-idea.edit({ideaId: idea.id, page: currentPage, tab: $stateParams.tab})"
                                                                          ng-click="$event.stopPropagation()">admin</a>
                            Gewicht: {{idea.score | number: 0}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
            </div>
            <div class="col-md-5">
                </br>
                <span ng-hide="filteredIdeas.length < maxSize">
                    <pagination total-items="filteredIdeas.length" items-per-page="pageSize" ng-model="currentPage"
                                max-size="maxSize" class="pagination youpers" boundary-links="false" previous-text="<" next-text=">"/>
                </span>
                </br></br>
            </div>
        </div>

    </div>
</div>
</div>
</div>
