<div class="input-group">
    <input ng-model="date"
           class="form-control text-center" type="text" id="datePickerStart"

           datepicker-popup="{{dateFormat}}"
           is-open="opened"
           datepicker-append-to-body="true"
           datepicker-options="{'format-year': 'yyyy', 'starting-day': 1, 'show-weeks': false}"

           show-button-bar="false"

           min-date="minDate"
           max-date="maxDate"

           ng-required="!!date"
           ng-disabled="disabled"

           current-text="{{'datePicker.current-text' | translate}}"
           clear-text="{{'datePicker.clear-text' | translate}}"
           close-text="{{'datePicker.close-text' | translate}}"

            />

       <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-disabled="disabled" ng-click="toggle($event)">
                     <i class="glyphicon glyphicon-calendar"></i>
              </button>
       </span>
</div>