<div class="input-group">
    <input ng-model="dateOnly"
           class="form-control text-center" type="text" id="datePickerStart"

           datepicker-popup="{{dateFormat}}"
           is-open="opened" min="minDate"
           datepicker-append-to-body="true"
           datepicker-options="dateOptions"

           show-button-bar="false"

           min-date="minDate"
           max-date="maxDate"

           ng-required="!!attrs.date"
           ng-click="opened = !opened"
           date-parser="{{dateFormat}}"

           current-text="{{'datePicker.current-text' | translate}}"
           clear-text="{{'datePicker.clear-text' | translate}}"
           close-text="{{'datePicker.close-text' | translate}}"

            />
</div>