<div class="avatar-upload" onclick="document.getElementById('avatarUpload').click()" ng-if="uploader">
    <!-- ng-if because of this:  https://github.com/nervgh/angular-file-upload/issues/183 -->

    <div class="avatar" ng-style="{ 'background-image': 'url(' + user.avatar + ')' }"></div>

    <input id="avatarUpload" nv-file-select type="file" ng-hide="true" uploader="uploader">

    <div ng-transclude></div>

    <div class="overlay" ng-show="uploader.isUploading" stop-propagation>
        <div>

            <div>

                <h3 translate>avatarUpload.progress.header</h3>

                <div class="progress">
                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                </div>

                <button class="btn btn-default" ng-click="upload.abort()" ng-show="uploader.isUploading">
                    <span translate>
                        avatarUpload.progress.cancel
                    </span>
                </button>

            </div>

        </div>
    </div>
</div>