@import "../../../styles/youpers-variables";

// avatar ( placeholder is needed for upload )
.avatar {
  width: 48px;
  height: 48px;
  img {
    width: 100%;
  }
}

avatar-upload {

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(1,1,1,0.2);

    > div {

      position: relative;
      margin: auto;
      height: 50%;
      top: 25%;
      background-color: @yp-secondary;

      @media(min-width: @screen-sm) {
        width: 50%;
      }
      @media(max-width: @screen-sm) {
        width: 80%;
      }

      > div {

        position: relative;
        margin: auto;
        width: 50%;
        top: 30%;
      }
    }
  }
}