@import "../../../styles/youpers-variables";

// avatar ( placeholder is needed for upload )
.avatar {
  margin: 5px;
  width: 48px;
  height: 48px;
  img {
    width: 100%;
  }
}

.avatar-upload .avatar.placeholder {
  border: 1px dashed greenyellow;
}
.avatar-upload .avatar {
  width: 100px;
  height: 100px;
  background-size: cover;
}

.organization .avatar-upload .avatar {
  width: 265px;
  height: 167px;
}
.campaign .avatar-upload .avatar {
  width: 265px;
  height: 167px;
}
