<div class="avatar-upload" onclick="document.getElementById('avatarUpload').click()" ng-if="uploader">
    <!-- ng-if because of this:  https://github.com/nervgh/angular-file-upload/issues/183 -->

    <div avatar class="avatar" ng-class="{placeholder: !(avatarObject.avatar)}"></div>
    <input id="avatarUpload" nv-file-select type="file" ng-hide="true" uploader="uploader">

    <div ng-transclude></div>

    <div class="progress" ng-show="uploader.isUploading">
        <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
    </div>

    <button ng-click="upload.abort()" ng-show="uploader.isUploading">Cancel Upload</button>
</div>