<div class="row">
    <div class="col-sm-12">
        <div class="state-header-1" translate>campaigns.stateHeader1</div>
        <div class="state-header-2" translate>campaigns.stateHeader2</div>
    </div>
</div>
<div class="campaign-list">

    <!-- new campaign -->


    <div class="row" ng-if="principal.getUser().roles.indexOf('orgadmin') != -1">
        <div class="col-md-12">

            <button class="btn btn-primary btn-large pull-right" type="button" ui-sref="campaign.content({})" translate>
                campaign.link.new
            </button>

        </div>
    </div>

    <!-- groups -->

    <div class="group" ng-repeat="group in groups">

        <div class="main-header">
            <div translate>{{ 'campaigns.group.' + group.name }}</div>
        </div>



        <!-- campaigns -->

        <div class="row campaign list-item link" ng-repeat="campaign in group.campaigns" ui-sref="campaign.content({ id: campaign.id})">

            <!-- image -->
            <div class="col-md-2 image">
                <span>
                    <img ng-src="{{campaign.avatar}}">
                </span>
            </div>

            <!-- title -->
            <div class="col-md-4 title">
                <a href="" ui-sref="campaign({id: '{{ campaign.id }}'})">
                    {{ campaign.topic.name }}
                </a>
            </div>

            <!-- date and location -->
            <div class="col-md-3 date">

                <div>
                    <span>{{ campaign.participants }}</span>
                    <span ng-show="campaign.participants && campaign.location">/</span>
                    <span>{{ campaign.location }}</span>
                </div>
                <div>
                    <span>{{ campaign.start | date }} - {{ campaign.end | date }}</span>
                </div>

            </div>


            <!-- city -->
            <div class="col-md-2">
                <span>
                    {{ campaign.city }}
                </span>
            </div>


        </div>

    </div>


</div>