<div class="column-layout">

    <nav>

        <div class="header-row">
            <h3 translate ng-if="!campaign.id">campaign.headerNew</h3>
            <h3 translate ng-if="campaign.id">campaign.headerEdit</h3>
        </div>
        <div class="button-row"></div>
        <campaign-card campaign="campaign"></campaign-card>

    </nav>

    <section>
        <div class="header-row">
            <h3><span class="pull-right edit-delete-icons">
                    <a class="fa fa-trash-o" ng-click="deleteCampaign()"
                       ng-if="canDelete" popover="{{ 'activity.deletePopover' | translate }}"
                       popover-trigger="mouseenter" popover-placement="bottom" popover-append-to-body="true"></a>
                </span>
            </h3>

        </div>
        <div class="button-row"></div>

        <form name="campaignForm" ypModel="campaign" role="form" class="form-horizontal"
              ng-submit="saveCampaign()" novalidate>
            <div>
                <div class="form-group topic">
                    <label class="control-label" translate>campaignForm.topic.label</label>

                    <p>{{campaign.topic.name |uppercase}}: {{campaign.topic.shortDescription}}
                        <a ui-sref="dcm.topics"
                           translate
                           ng-if="!campaign.id">campaignForm.topic.change</a>
                    </p>
                </div>
                <yp-input name="participants"></yp-input>
                <yp-input name="location"></yp-input>
                <yp-input name="city"></yp-input>

                <div class="form-group date">
                    <label class="control-label" translate>campaignForm.start.label</label>
                    <date-picker disabled="disabledStart" min-date="minDateStart" date="campaign.start"
                                 ng-model="campaign.start"></date-picker>

                    <div ng-if="disabledStart">
                        <span translate>campaignForm.usersInCampaign</span>
                    </div>

                    <!--<div class="recreation" ng-cloak-->
                         <!--ng-if="campaignStartChanged || (campaignEndChanged && campaignEndChangeRecreatesOffers) || (initialMainCampaignLeadId && campaignLeadChanged)">-->
                        <!--<span translate>campaignForm.offersRecreated</span>-->
                        <!--<i class="fa fa-warning"></i>-->
                    <!--</div>-->
                </div>

                <div class="form-group date">
                    <label translate>campaignForm.end.label</label>
                    <date-picker disabled="disabledEnd" min-date="minDateEnd" max-date="maxDateEnd" date="campaign.end"
                                 ng-model="campaign.end"></date-picker>

                    <div ng-if="disabledEnd">
                        <span translate>campaignForm.campaignEnded</span>
                    </div>
                    <div ng-if="campaignEndChanged && !campaignEndChangeRecreatesOffers && !campaignStartChanged">
                        <span translate>campaignForm.offersRemain</span>
                    </div>
                </div>


                <div ng-if="!campaign.id" class="payment-code">

                    <div class="form-group">
                        <label translate>campaignForm.paymentCode.label</label>

                        <div class="input-group">
                            <input ng-model="code" type="text" class="form-control"
                                   ng-change="validatePaymentCode(code)">

                            <span class="input-group-addon">
                                <span ng-show="validPaymentCode" class="glyphicon glyphicon-ok"></span>
                                <span ng-show="!validPaymentCode" class="glyphicon glyphicon-remove"></span>
                            </span>

                        </div>

                    </div>

                    <div class="validation-result">
                        <span ng-if="paymentCodeCheckingDisabled">!! PaymentCode Checking-disabled on this instance !!</span>

                        <span ng-if="paymentCode.status == 404" translate>campaignForm.paymentCode.invalidCode</span>

                        <div ng-if="paymentCode.status == 409">
                            <span translate translate-values="{ invalidTopic: invalidTopic.name }">campaignForm.paymentCode.invalidTopic</span>

                            <br/>
                            <a onclick="history.go(-1)" translate>campaignForm.backToTopicSelection</a>

                        </div>

                    </div>

                </div>

                <div class="clearfix"></div>

            </div>
        </form>

        <form name="campaignLeadForm" ypModel="newCampaignLead" ng-submit="submitNewCampaignLead()"
              class="form-horizontal">

            <h3>Kampagnenleiter</h3>

            <br/>

            <div class="campaign-leads">

                <div class="campaign-lead row" ng-if="campaign.campaignLeads[0]">
                    <div class="col-sm-1">
                        <img ng-src="{{ campaign.campaignLeads[0].avatar }}">
                    </div>
                    <div class="col-sm-3">
                        <span>{{ campaign.campaignLeads[0].fullname }}</span>

                    </div>

                    <div class="col-sm-3" ng-if="campaign.campaignLeads[0].email">
                       <span>{{campaign.campaignLeads[0].email}}</span>
                    </div>
                    <div class="col-sm-3">
                        <a ng-if="isAssigned(campaign.campaignLeads[0]) && !campaignController.campaignLeadVerified && campaign.id"
                           ng-click="resendCampaignLeadInvite(campaign.campaignLeads[0].id)"
                           popover="{{ 'campaign.card.campaignLeadUnconfirmed' | translate }}" popover-trigger="mouseenter" popover-placement="right" popover-append-to-body="true">
                            <i class="fa fa-warning"></i>
                            <span translate>campaignLeadForm.resend</span
                                ><span ng-show="resendSent" class="verification-sent fa fa-check-circle-o" translate>campaignLeadForm.resendSent</span>
                        </a>
                    </div>
                </div>
                <div ng-if="!campaign.campaignLeads[0]" class="row">
                    <div class="col-sm-6 col-sm-offset-3" translate>Die Kampagne hat noch keinen Leiter. Bestimme einen Kampagnenleiter:</div>
                </div>
                <br>
                <div class="row" ng-if="!campaignController.campaignLeadVerified">
                    <div class="col-sm-6" ng-if="canBecomeCampaignLead() && !campaignController.showNewCampainleadForm">
                        <button type="button" class="btn btn-default" ng-click="becomeCampaignLead()"
                                 translate>Selber Kampagnenleiter werden</button>
                    </div>
                    <div class="col-sm-6" ng-if="!campaignController.showNewCampainleadForm">
                        <button class="btn btn-default" type="button" ng-click="campaignController.showNewCampainleadForm=true"
                                 translate>campaignLeadForm.newCampaignLead</button>
                    </div>
                </div>

            </div>

            <div class="new-campaign-lead" ng-if="campaignController.showNewCampainleadForm">
                <yp-input name="firstname" required></yp-input>
                <yp-input name="lastname" required></yp-input>
                <yp-input name="email" type="email" required unique-user-field></yp-input>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary"
                            ng-disabled="!campaignLeadForm.$dirty || !campaignLeadForm.$valid" translate>
                        campaignLeadForm.submit
                    </button>
                </div>
            </div>


        </form>

    </section>

    <aside>

        <div>

            <div class="header-row">
                <div class="back-link" ui-sref="^.home">
                    <span class="fa fa-chevron-left"></span>
                    <span translate>activity.link.back</span>
                </div>
            </div>
            <div class="button-row">
                <button ng-click="!campaignController.submitting && saveCampaign();campaignController.submitting = true"
                        class="btn btn-primary"
                        ng-disabled="(campaignForm.$invalid && campaignForm.$dirty) || (campaign.campaignLeads.length + campaign.newCampaignLeads.length === 0) || (campaign.id && !campaignForm.$dirty) || (!campaign.id && !paymentCodeCheckingDisabled && !validPaymentCode)"
                        busy>
                    <busy-message><i class="fa fa-cog fa-spin"></i><span translate>busy.submitting</span></busy-message>
                    <span translate>campaignForm.save</span>

                </button>
                <button type="button" class="btn btn-default pull-right"
                        ng-click="campaign.id ? $state.go('dcm.campaign',{campaignId: campaign.id}, {reload: true}) : $state.go('dcm.home')"
                        ng-disabled="!campaignForm.$dirty">
                    <span translate>campaignForm.cancel</span>
                </button>
            </div>

            <health-coach event="'stateEnter'"></health-coach>
        </div>

    </aside>

</div>




