<div class="row">
    <div class="col-sm-12">
        <div class="state-title-1" translate>campaigns.title1</div>
        <div class="state-title-2" translate>campaigns.title2</div>
    </div>
</div>
<div class="campaign-list">

    <!-- new campaign -->


    <div class="row">
        <div class="col-md-12">
            <div class="group-header">
                <a ui-sref="campaign.content({})">
                    <div translate>campaign.link.new</div>
                    <div class="group-add">+</div>
                </a>
            </div>
        </div>
    </div>

    <!-- groups -->

    <div class="group" ng-repeat="group in groups">

        <div class="group-header">
            <div translate>{{ 'campaigns.group.' + group.name }}</div>
        </div>



        <!-- campaigns -->

        <div class="row campaign" ng-repeat="campaign in group.campaigns" ui-sref="campaign.content({ id: campaign.id})">

            <!-- image -->
            <div class="col-md-2 image">
                <span>
                    <img ng-src="{{campaign.avatar}}">
                </span>
            </div>

            <!-- title -->
            <div class="col-md-4 title">
                <a href="" ui-sref="campaign({id: '{{ campaign.id }}'})">
                    {{ campaign.title }}
                </a>
            </div>

            <!-- date and location -->
            <div class="col-md-3 date">

                <div>
                    <span>{{ campaign.participants }}</span>
                    <span ng-show="campaign.participants && campaign.location">/</span>
                    <span>{{ campaign.location }}</span>
                </div>
                <div>
                    <span>{{ campaign.start | date }} - {{ campaign.end | date }}</span>
                </div>

            </div>


            <!-- city -->
            <div class="col-md-3">
                <span>
                    {{ campaign.city }}
                </span>
            </div>


        </div>

    </div>


</div>