@import "../../styles/youpers-variables";


.dcm-campaign {


  form[name='campaignForm'] .form-group > label {
    .make-sm-column(3);

    text-align: right;
    padding-top: (@padding-base-vertical + 1);
  }
  form[name='campaignForm'] {
    .form-group > input, .form-group > select {
      .make-sm-column(9);
    }
  }

  form[name='campaignForm'] .validation {
    margin-left: 25%;
    padding-left: 0;
    list-style-type: none;
  }

  form[name='campaignForm'] {

    .form-group.topic {
      p {
        margin-top: 5px;
      }
    }

    .form-group.date {

      label {
        padding: 7px;
      }

    }


    .payment-code {

      .input-group {
        width: 200px;

        input {
          height: 36px;
        }
      }

      .validation-result {
        margin-left: 140px;
        padding: 4px;
      }
    }
  }


  // campaign avatar
  form[name='campaignForm'] avatar-upload {
    float: left;
  }
  form[name='campaignForm'] .avatar-upload .avatar {
    width: @yp-avatar-campaign-size;
    height: @yp-avatar-campaign-size;
    background-size: @yp-avatar-campaign-size @yp-avatar-campaign-size;
  }

  form[name='campaignForm'] .avatar-upload > div {
    display: inline-block;
    vertical-align: middle;
  }

  // invite campaign leads
  .invite-campaign-lead input.form-control {
    width: 25em;

  }


  // campaign lead avatar
  .campaign-leads img {
    width: 50px;
    height: 50px;
  }
  .campaign-leads > div > div {
    padding-top: (@padding-base-vertical * 2);
  }

}