<div class="column-layout">

    <nav>

        <div class="header-row">
            <h3 translate>campaign.header</h3>
        </div>
        <div class="button-row"></div>
        <campaign-card campaign="campaign"></campaign-card>

    </nav>

    <section>
        <div class="header-row">
            <h3><span translate>activity.header.second</span>
                <span class="pull-right edit-delete-icons">
                    <a class="fa fa-trash-o" ng-click="deleteCampaign()"
                       ng-if="canDelete" popover="{{ 'activity.deletePopover' | translate }}" popover-trigger="mouseenter" popover-placement="bottom" popover-append-to-body="true"></a>
                </span>
            </h3>

        </div>
        <div class="button-row"></div>

        <form name="campaignForm" ypModel="campaign" role="form" class="form-horizontal"
              ng-submit="saveCampaign()" novalidate>
            <div>
                <div class="form-group topic">
                    <label class="control-label" translate>campaignForm.topic.label</label>

                    <p>{{campaign.topic.name |uppercase}}: {{campaign.topic.shortDescription}}
                        <a ui-sref="dcm.topics"
                           translate
                           ng-if="!campaign.id">campaignForm.topic.change</a>
                    </p>
                </div>
                <yp-input name="participants"></yp-input>
                <yp-input name="location"></yp-input>
                <yp-input name="city"></yp-input>

                <div class="form-group date">
                    <label class="control-label" translate>campaignForm.start.label</label>
                    <date-picker date="campaign.start" ng-model="campaign.start"></date-picker>
                </div>

                <div class="form-group date">
                    <label translate>campaignForm.end.label</label>
                    <date-picker date="campaign.end" ng-model="campaign.end"></date-picker>
                </div>


                <div ng-if="!campaign.id" class="payment-code">

                    <div class="form-group">
                        <label translate>campaignForm.paymentCode.label</label>

                        <div class="input-group">
                            <input ng-model="code" type="text" class="form-control" ng-change="validatePaymentCode(code)">

                            <span class="input-group-addon">
                                <span ng-show="validPaymentCode" class="glyphicon glyphicon-ok"></span>
                                <span ng-show="!validPaymentCode" class="glyphicon glyphicon-remove"></span>
                            </span>

                        </div>

                    </div>

                    <div class="validation-result" ng-if="validPaymentCode === false">

                        <span ng-if="paymentCode.status == 404" translate>campaignForm.paymentCode.invalidCode</span>

                        <div ng-if="paymentCode.status == 409">
                            <span translate translate-values="{ invalidTopic: invalidTopic.name }">campaignForm.paymentCode.invalidTopic</span>

                            <br/>
                            <a onclick="history.go(-1)" translate>campaignForm.backToTopicSelection</a>

                        </div>

                    </div>

                </div>

                <div class="clearfix"></div>

            </div>
        </form>

        <form name="campaignLeadForm" ypModel="newCampaignLead" ng-submit="submitNewCampaignLead()" class="form-horizontal">

            <h3 translate>campaignLeadForm.header</h3>

            <div class="campaign-leads">

                <div class="campaign-lead" ng-repeat="campaignLead in availableCampaignLeads">
                    <img ng-src="{{ campaignLead.avatar }}">

                    <a href ng-click="assignCampaignLead(campaignLead); campaignForm.$setDirty();">
                        <span>{{ campaignLead.fullname }}</span>
                        <i ng-show="isAssigned(campaignLead)" class="fa fa-check-square-o"></i>
                        <i ng-show="!isAssigned(campaignLead)" class="fa fa-square-o"></i>
                    </a>
                </div>

            </div>

            <div ng-if="newCampaignLeads().length > 0">
                <h3 translate>campaignLeadForm.newCampaignLeads</h3>
                <div class="new-campaign-leads" >


                    <div class="campaign-lead" ng-repeat="campaignLead in newCampaignLeads()">
                        <span>{{ campaignLead.fullname }}</span>
                        <span>({{ campaignLead.email }})</span>

                        <a href ng-click="campaign.newCampaignLeads.splice($index, 1)">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </div>

                </div>
            </div>


            <div class="default-campaign-lead" ng-if="!campaign.id && campaign.campaignLeads.length + campaign.newCampaignLeads.length > 1">
                <h3 translate>campaignLeadForm.defaultCampaignLead.header</h3>
                <div class="form-group" ng-init="campaignController.defaultCampaignLead = allCampaignLeads()[0]">
                    <label></label>
                    <select class="form-control" ng-model="campaignController.defaultCampaignLead" ng-options="campaignLead.fullname for campaignLead in allCampaignLeads()"></select>
                    <br/>

                </div>
                <span translate>campaignLeadForm.defaultCampaignLead.text</span>
                <br/>
                <br/>

            </div>


            <h3 translate>campaignLeadForm.newCampaignLead</h3>


            <div class="new-campaign-lead">
                <yp-input name="firstname" required></yp-input>
                <yp-input name="lastname" required></yp-input>
                <yp-input name="email" type="email" required unique-user-field></yp-input>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary" ng-disabled="!campaignLeadForm.$dirty || !campaignLeadForm.$valid" translate>
                        campaignLeadForm.submit
                    </button>
                </div>
            </div>


        </form>

    </section>

    <aside>

        <div>

            <div class="header-row">
                <div class="back-link" ui-sref="^.home">
                    <span class="fa fa-chevron-left"></span>
                    <span translate>activity.link.back</span>
                </div>
            </div>
            <div class="button-row" ng-if="(campaign.campaignLeads.length + campaign.newCampaignLeads.length > 0) && ((campaign.id && campaignForm.$dirty) || (!campaign.id && validPaymentCode))">
                <button ng-click="!campaignController.submitting && saveCampaign();campaignController.submitting = true" class="btn btn-primary" ng-disabled="campaignForm.$invalid" busy>
                    <busy-message><i class="fa fa-cog fa-spin"></i><span translate>busy.submitting</span></busy-message>
                    <span translate>campaignForm.save</span>

                </button>
                <button type="button" class="btn btn-default pull-right" ng-click="campaign.id ? $state.go('dcm.campaign',{campaignId: campaign.id}, {reload: true}) : $state.go('dcm.home')">
                    <span translate>campaignForm.cancel</span>
                </button>
            </div>

            <health-coach event="'stateEnter'"></health-coach>
        </div>

    </aside>

</div>




