@import "../../styles/youpers-variables";


.dcm-campaign {

  form {

    margin: 0 30px;

    .form-group > label {
      .make-sm-column(3);

      text-align: right;
      padding-top: (@padding-base-vertical + 1);
    }
    .form-group > input, .form-group > select {
      .make-sm-column(9);
    }
  }

  form .validation {
    margin-left: 25%;
    padding-left: 0;
    list-style-type: none;
  }

  form[name='campaignForm'] {

    .form-group.topic {
      p {
        margin-top: 5px;
      }
    }
    .form-group.date {
      .input-group {
        width: 200px;
      }
    }
    .payment-code {
      .input-group {
        width: 200px;
        input {
          height: 36px;
        }
      }
      .validation-result {
        margin-left: 140px;
        padding: 4px;
      }
    }
  }

  form[name='campaignLeadForm'] {

    margin-top: 30px;

    .campaign-leads {

      .campaign-lead {
        padding-bottom: 8px;

        img {
          width: 50px;
        }
        i.fa.campaign-lead-avatar {
          width: 50px;
          font-size: 32px;
          padding: 9px 12px;
        }

        a {
          padding-left: 8px;
          > i {
            vertical-align: middle;
          }
        }
      }
    }

    .new-campaign-leads {
      padding: 30px 24%;
    }

    .new-campaign-lead {
      padding: 30px 0;
      button {
        float: right;
      }
    }

  }

}