<div class="row">
    <div class="col-sm-8">
        <div class="state-header-1" translate>campaign.stateHeader1</div>
        <div class="state-header-2" translate>campaign.stateHeader2</div>
    </div>
    <div class="col-sm-4">
        <campaign-switcher mode="campaignlead"></campaign-switcher>
    </div>
</div>

<div class="campaign-detail">

    <div class="row">
        <div class="col-md-8">
            <h2>
                <span translate>campaign.header</span>
            </h2>
        </div>
        <div class="col-md-4">
            <div class="link-header">
                <button class="btn btn-primary" ui-sref="campaignoffers.content" ng-disabled="!campaign.id">
                    <span translate>campaign.link.campaignoffers</span>
                </button>
                <button class="btn btn-primary" ui-sref="notifications.content" ng-disabled="!campaign.id">
                    <span translate>campaign.link.notifications</span>
                </button>

            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-11">


                    <form name="campaignForm" ypModel="campaign" class="form-horizontal" role="form"
                          ng-submit="saveCampaign()" novalidate>


                        <yp-input name="participants"></yp-input>
                        <yp-input name="location"></yp-input>
                        <yp-input name="city"></yp-input>
                        <yp-input name="slogan"></yp-input>

                        <div class="form-group date">
                            <label class="control-label" translate>campaignForm.start.label</label>

                            <div class="start">
                                <date-picker date="campaign.start"></date-picker>
                            </div>

                            <div class="end">
                                <date-picker date="campaign.end"></date-picker>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary pull-right" ng-disabled="campaignForm.$invalid">
                                <span translate>campaignForm.{{ campaign.id ? 'save' : 'create' }}</span>
                            </button>
                            <button type="button" class="btn btn-default pull-right" ui-sref="campaigns.content">
                                <span translate>campaignForm.back</span>
                            </button>
                        </div>
                    </form>


        </div>
    </div>


    <div class="row campaign-preview">
        <div class="col-md-6">

            <div class="main-header">
                <div translate>campaign.preview.header</div>
            </div>

            <div ui-sref="welcome({ campaignId: campaign.id})"
                 ng-disabled="!campaign.id">

                <campaign-switcher campaign="campaign"></campaign-switcher>
            </div>

        </div>
        <div class="col-md-6">
            <div class="main-header">
                <div translate>campaign.preview.welcomeLink</div>
            </div>
            <div translate>campaign.preview.welcomeLinkExplain</div>
            <div class="welcome-link" select-on-click ng-show="campaign.id">{{ $state.href('welcome',{campaignId: campaign.id}, {absolute: true})}}</div>
            <div translate ng-hide="campaign.id">campaign.preview.welcomeLinkNotSaved</div>
            <a ui-sref="welcome({campaignId: campaign.id, preview: true})" ng-show="campaign.id" translate>campaign.preview.welcomeLinkTest</a>

        </div>
    </div>


    <div class="row" ng-show="campaign.id">
        <div class="col-md-12">
            <a href="" ng-click="showCampaignLeadInviteForm = true; invitationSent = false;" class="main-header">
                <div translate>campaign.campaignLeads.header</div>
                <div class="group-add">+</div>
            </a>
        </div>
    </div>

    <div class="row invite-campaign-lead" ng-show="campaign.id && showCampaignLeadInviteForm">
        <div class="col-md-12">

            <div translate ng-if="invitationSent">inviteCampaignLeadForm.invitationSent</div>

            <form class="form-inline" ng-if="!invitationSent"
                  role="form"
                  ng-submit="inviteCampaignLeadForm.$valid && inviteCampaignLead(campaignLeads, campaign)"
                  name="inviteCampaignLeadForm">
                <div class="form-group"
                     ng-class="{'has-error': inviteCampaignLeadForm.email.$dirty && inviteCampaignLeadForm.email.$invalid}">
                    <label class="sr-only" translate>inviteCampaignLeadForm.email.label</label>
                    <input class="form-control email-field" name="email" type="text"
                           ng-model="campaignLeads"
                           placeholder="{{'inviteCampaignLeadForm.email.placeholder' | translate}}"
                           multiple-Emails required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary"
                            ng-disabled="inviteCampaignLeadForm.$invalid"
                            translate>inviteCampaignLeadForm.inviteSubmit
                    </button>
                </div>
            </form>

        </div>
    </div>


    <div class="row campaign-leads" ng-repeat="campaignLead in campaign.campaignLeads">
        <div class="col-md-1">
            <img ng-src="{{campaignLead.avatar}}">
        </div>
        <div class="col-md-4">
            <div>{{ campaignLead.fullname }}</div>
        </div>
        <div class="col-md-4">
            <div>{{ campaignLead.email }}</div>
        </div>
    </div>

</div>
