<div class="row">
    <div class="col-sm-12">
        <div class="state-title-1" translate>plan.title1</div>
        <div class="state-title-2" translate>plan.title2</div>
    </div>
</div>
<div class="activity-plan">

    <!-- groups -->

    <div class="group" ng-repeat="group in groups">

        <div class="group-header">
            <span translate>{{ 'plan.group.' + group.name }}</span>
            <span ng-show="group.name == 'open'">({{ openEvents }})</span>
        </div>



        <!-- events -->

        <div class="row event" ng-repeat="event in group.events">

            <!-- date -->
            <div class="col-md-2 date">

                <!-- date -->
                <div class="list-date">
                    <div class="weekday">
                        {{ event.begin | date:'EEE'}}
                    </div>
                    <div class="dayofmonth">
                        {{ event.begin | date:'dd'}}
                    </div>
                    <div class="time" ng-if="event.end">
                        <div>{{ event.begin | date:'HH:mm'}}&nbsp;-</div>
                        <div>{{ event.end | date:'HH:mm'}}</div>
                    </div>
                    <div class="time" ng-if="!event.end">
                        {{ event.begin | date:'HH:mm'}}
                    </div>
                </div>

            </div>

            <!-- image -->
            <div class="col-md-1 image">
                <span>
                    <img ng-src="{{'/assets/actpics/' + event.plan.activity.number + '.jpg' }}">
                </span>
            </div>

            <!-- title -->
            <div class="col-md-3 title">
                <a href="" ui-sref="schedule.plan({id: '{{ event.plan.id }}', event: '{{event.id}}' })">
                    {{ event.plan.activity.title }}
                </a>
            </div>

            <!-- location -->
            <div class="col-md-2">
                <span>
                    {{ event.plan.location }}
                </span>
            </div>

            <!-- joining users -->
            <div class="col-md-2">
                <span ng-if="event.plan.joiningUsers.length > 0">
                    <span>{{ event.plan.joiningUsers[0].fullname }}</span>
                    <span ng-if="event.plan.joiningUsers.length > 1"
                          translate translate-values="{ OTHERS: '{{ event.plan.joiningUsers.slice(1).length}}' }"
                          translate-interpolation="messageformat"
                          tooltip-html-unsafe="{{ getJoiningUsers(event) }}"
                          >
                        plan.joiningUsers
                    </span>
                </span>
            </div>

            <div class="col-md-1 status" ng-if="group.name == 'open'">
                <button class="done btn btn-xs btn-default" ng-click="updateEvent(event, 'done')">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button class="missed btn btn-xs btn-default" ng-click="updateEvent(event, 'missed')">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>


        </div>

    </div>


</div>

<div class="row btn-bottom-nav">
    <div class="col-xs-12">
        <div class="pull-left"></div>
        <div class="pull-right"><button class="btn btn-primary" translate ng-click="$state.go('select.content')">focus.toSelect</button></div>
    </div>
</div>