<div class="row">
    <div class="col-sm-12">
        <div class="state-header-1" translate>plan.stateHeader1</div>
        <div class="state-header-2" translate>plan.stateHeader2</div>
    </div>
</div>
<div class="activity-plan">

    <!-- groups -->

    <div class="no-content" ng-if="groups.length === 0">
        <br/>
        <span translate>plan.noContent</span>
    </div>

    <div class="group" ng-repeat="group in groups">

        <h2>
            <span translate>{{ 'plan.group.' + group.name }}</span>
            <span ng-show="group.name == 'open'">({{ groups.openEvents }})</span>
        </h2>



        <!-- events -->

        <div class="row event" ng-repeat="event in group.events"

             ng-class="{ active: event.hovered || event.focused }"
             ng-mouseover="event.hovered = true;"
             ng-mouseleave="event.hovered = false;">


            <!-- date -->
            <div class="col-md-2 date">

                <!-- date -->
                <div class="list-date">
                    <div class="weekday">
                        {{ event.start | date:'EEE'}}
                    </div>
                    <div class="dayofmonth">
                        {{ event.start | date:'dd'}}
                    </div>
                    <div class="time" ng-if="event.end">
                        <div>{{ event.start | date:'HH:mm'}}&nbsp;-</div>
                        <div>{{ event.end | date:'HH:mm'}}</div>
                    </div>
                    <div class="time" ng-if="!event.end">
                        {{ event.start | date:'HH:mm'}}
                    </div>
                </div>

            </div>

            <!-- image -->
            <div class="col-md-1 idea-image" ng-class="{{event.activity.source}}">
                <span>
                    <img ng-src="{{'/assets/actpics/' + event.idea.number + '.jpg' }}">
                </span>
            </div>

            <!-- title -->
            <div class="col-md-3 title">
                <a href="" ui-sref="schedule.plan({id: '{{ event.activity.id }}', event: '{{event.id}}' })" ng-bind-html=" event.idea.title"
                   analytics-on="click" analytics-event="PlanEditing" analytics-category="InPageNavigation" analytics-label="Activity Title Clicked">
                </a>
            </div>


            <div class="col-md-1 status" ng-if="group.name == 'open'">
                <button class="done btn btn-xs btn-default" ng-click="updateEvent(event, 'done')">
                    <i class="glyphicon glyphicon-ok"></i>
                </button>
                <button class="missed btn btn-xs btn-default" ng-click="updateEvent(event, 'missed')">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
            </div>
            <div class="col-md-1 status" ng-if="group.name != 'open'" ui-sref="schedule.plan({id: '{{ event.activity.id }}', event: '{{event.id}}' })"
                 analytics-on="click" analytics-event="PlanEditing" analytics-category="InPageNavigation" analytics-label="Edit Icon Clicked">
                <i class="glyphicon glyphicon-edit">

                </i>
            </div>


            <!-- location -->
            <div class="col-md-2">
                <span>
                    {{ event.activity.location }}
                </span>
            </div>

            <!-- joining users -->
            <div class="col-md-2 joining">
                <div>
                    <span class="joining-users" ng-if="event.activity.joiningUsers.length > 0">
                        <span>{{ event.activity.joiningUsers[0].fullname }}</span>
                        <span class="others" ng-if="event.activity.joiningUsers.length > 0"
                              translate translate-values="{ OTHERS: '{{ event.activity.joiningUsers.slice(1).length}}' }"
                              translate-interpolation="messageformat"
                              tooltip-html-unsafe="{{ getJoiningUsers(event) }}"
                                >
                            plan.joiningUsers
                        </span>
                    </span>
                </div>
                <div ng-if="group.name != 'open' && event.activity.executionType == 'group'">


                    <form name="inviteEmailForm" class="form-inline" role="form"
                          ng-submit="inviteEmailForm.$valid && inviteEmailToJoinPlan(inviteEmail, event.activity)">


                        <div class="input-group"
                             ng-class="{'has-error': inviteEmailForm.email.$dirty && inviteEmailForm.email.$invalid}">


                            <input class="form-control email-field" name="email" type="text"

                                   ng-model="inviteEmail" multiple-Emails required
                                   placeholder="{{ 'plan.inviteOthers.placeholder' | translate }}"

                                   ng-focus="event.focused = true;"
                                   ng-blur="event.focused = false;"

                                   >

                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit"
                                        ng-disabled="inviteEmailForm.$invalid" translate>
                                    <span class="glyphicon glyphicon-arrow-right"></span>
                                </button>
                            </span>
                        </div>

                    </form>
                </div>
            </div>



        </div>

    </div>


</div>

<div class="row btn-bottom-nav">
    <div class="col-xs-12">
        <div class="pull-left"></div>
        <div class="pull-right">
            <button class="btn btn-primary" translate ng-click="$state.go('select.content')"
                    analytics-on="click" analytics-event="ProcessNavigation" analytics-category="Navigation" analytics-label="Plan to Select">
            focus.toSelect</button></div>
    </div>
</div>