<div class="notifications-list">
    <a ng-href="{{nf.refDocLink}}" class="notification" ng-repeat="nf in notifications">
        <div>
            <div class="avatar source-type" ng-class="'source-type-' + nf.sourceType">
                <img ng-src="{{nf.author.avatar}}">
            </div>
            <div class="type-title">
                <div class="type">{{'notifications.type.' + nf.type | translate}}</div>
                <div class="title">{{nf.title}}</div>
                <div class="text">{{nf.text}}</div>
            </div>
            <div class="clearfix"></div>
            <div class="time pull-right">{{nf.created | fromNow}}</div>
        </div>
        <div class="name">
            {{nf.author.fullname}}
        </div>

    </a>
</div>