<div class="notifications-list">
    <div ng-if="preview">
        <h3 translate>notifications.preview.title</h3>
        <input ng-model="preview.previewdate"
               class="form-control" type="text" id="datePickerStart"
               datepicker-popup="dd.MM.yyyy"
               is-open="opened"
               ng-required="true"/>
    </div>
    <a ng-href="{{nf.refDocLink}}" class="notification" ng-class="{ link: nf.refDocLink }"  ng-repeat="nf in notifications">
        <div>

            <div class="pull-right dismiss" ng-click="dismissNotification(nf)">
                <span class="glyphicon glyphicon-remove"></span>
            </div>

            <div class="avatar source-type" ng-class="'source-type-' + nf.sourceType">
                <img ng-src="{{nf.author.avatar}}">
            </div>

            <div class="type-title">
                <div class="type">{{'notifications.type.' + nf.type | translate}}</div>
                <div class="title">{{nf.title}}</div>
                <div class="text">{{nf.text}}</div>
            </div>

            <div class="clearfix"></div>
            <div class="time pull-right">{{nf.created | fromNow}}</div>
        </div>
        <div class="name">
            {{nf.author.fullname}}
        </div>

    </a>
</div>