@import "../../../styles/youpers-variables";

activity-comments {
  li.list-group-item {

    padding: 5px;

    border: none;
    border-top: 1px solid @yp-divider;

    textarea {
      width: 75%;
      height: 4em;
      border: 1px solid #fff;
      box-shadow: none;
    }

    img {
      float: left;
    }
    .content {
      width: auto;
    }

    .message {
      white-space: pre-line;
      margin-top: 5px;
    }

    .date {
      float: right;
    }
  }
}