
<form class="navbar-form form-horizontal" ng-submit="loginSubmit()">
    <div class="row">
        <div class="col-md-4">
            <input type="text" placeholder="{{'loginform.usernameOrEmail.label' | translate}}" class="form-control login"
                   ng-model="username">
        </div>
        <div class="col-md-4">
            <input type="password" placeholder="{{'loginform.password.label' | translate}}"
                   class="form-control login"
                   ng-model="password">
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-success btn-sm" translate>loginform.login</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label class="checkbox login"><translate>loginform.rememberMe.label</translate>
                <input type="checkbox" ng-model="keepMeLoggedIn">
            </label>
        </div>
        <div class="col-md-6">
            <a ui-sref="requestPasswordReset" class="navbar-link login" translate>loginDialog.passwordForgotten</a>
        </div>
    </div>
</form>
