<div class="container">

<form name="profileForm" class="form" role="form" ng-submit="saveProfile()" novalidate>

<div class="row">
    <div class="col-md-11">
        <h2 translate>profile.profile</h2>
    </div>
    <div class="col-md-1">
        </br>
        <button type="submit" class="btn btn-success btn-sm" ng-disabled="profileForm.$invalid" translate>
            profileForm.submit
        </button>
    </div>
</div>

<div class="row">

<div class="col-md-12">

<accordion close-others="true">

<accordion-group heading="{{ 'profile.profile' | translate }}" is-open="true" class="user-profile">

    <div class="col-md-6">

        <div class="row">

            <avatar-upload></avatar-upload>

        </div>


        <div class="row">

            <div class="form-group">
                <div class="col-md-4">
                    <label translate>profileForm.gender.label</label>
                </div>
                <div class="col-md-8">
                    <div class="btn-group" data-toggle="buttons-radio">
                        <input type="radio" value="female" ng-model="profileUserObj.gender"
                               ng-click="profileUserObj.gender = 'female'">&NonBreakingSpace;{{ 'gender.female' |
                        translate }} </input></br>
                        <input type="radio" value="male" ng-model="profileUserObj.gender"
                               ng-click="profileUserObj.gender = 'male'">&NonBreakingSpace;{{ 'gender.male' |
                        translate }} </input></br>
                    </div>
                </div>
            </div>
        </div>
        </br>

        <div class="row">
            <div class="form-group">
                <div class="col-md-4">
                    <label translate>profileForm.birthdate.label</label>
                </div>
                <div class="col-md-4">
                    <!--ToDo internationalized date check and or date Picker-->
                    <input name="birthDate" type="text" placeholder="tt.mm.jjjj" class="form-control"
                           ng-model="profileUserObj.birthDate">
                    <span ng-show="profileForm.birthDate.$dirty && profileForm.birthDate.$invalid" class="help-inline"
                          translate>profileForm.birthdate.$invalid</span>
                </div>
            </div>
        </div>

        <div class="row">
            </br>
            <div class="col-md-4">
                <label translate>maritalStatus</label>
            </div>
            <div class="col-md-4">
                <select ng-model="profileUserObj.maritalStatus" ng-options="'maritalStatus.' + value | translate for value in enums.maritalStatus">
                </select>
            </div>
        </div>
        </br>
    </div>

    <div class="col-md-6">

        <div class="form-group">
            <label translate>profile.homeAddress</label>

            <div class="row">
                <div class="col-md-9">
                    <input name="homeAddressStreet" type="text" placeholder="{{ 'profileForm.street' | translate }}"
                           class="form-control" ng-model="profileUserObj.homeAddress.street">
                    <span ng-show="profileUserObj.homeAddress.street.$dirty && profileUserObj.homeAddress.street.$invalid"
                          class="help-inline" translate>profileForm.$invalid</span>
                </div>

                <div class="col-md-3">
                    <input name="homeAddressHouseNumber" type="text"
                           placeholder="{{ 'profileForm.number' | translate }}" class="form-control"
                           ng-model="profileUserObj.homeAddress.houseNumber">
                    <span ng-show="profileForm.homeAddress.houseNumber.$dirty && profileForm.homeAddress.houseNumber.$invalid"
                          class="help-inline" translate>profileForm.$invalid</span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <input name="homeAddressZipCode" type="text" placeholder="{{ 'profileForm.zip' | translate }}"
                           class="form-control" ng-model="profileUserObj.homeAddress.zipCode">
                    <span ng-show="profileForm.homeAddress.zipCode.$dirty && profileForm.homeAddress.zipCode.$invalid"
                          class="help-inline" tranlsate>profileForm.$invalid</span>
                </div>

                <div class="col-md-9">
                    <input name="homeAddressCity" type="text" placeholder="{{ 'profileForm.city' | translate }}"
                           class="form-control" ng-model="profileUserObj.homeAddress.city">
                    <span ng-show="profileForm.homeAddress.city.$dirty && profileForm.homeAddress.city.$invalid"
                          class="help-inline" translate>profileForm.$invalid</span>
                </div>
            </div>

            <input name="homeAddressCountry" type="text" placeholder="{{ 'profileForm.country' | translate }}"
                   class="form-control" ng-model="profileUserObj.homeAddress.country">
            <span ng-show="profileForm.homeAddress.country.$dirty && profileForm.homeAddress.country.$invalid"
                  class="help-inline" translate>profileForm.$invalid</span>
        </div>

        <div class="form-group">
            <label translate>profile.workAddress</label>

            <div class="row">
                <div class="col-md-9">
                    <input name="workAddressStreet" type="text" placeholder="{{ 'profileForm.street' | translate }}"
                           class="form-control" ng-model="profileUserObj.workAddress.street">
                    <span ng-show="profileUserObj.workAddress.street.$dirty && profileUserObj.workAddress.street.$invalid"
                          class="help-inline" translate>profileForm.$invalid</span>
                </div>

                <div class="col-md-3">
                    <input name="workAddressHouseNumber" type="text"
                           placeholder="{{ 'profileForm.number' | translate }}" class="form-control"
                           ng-model="profileUserObj.workAddress.houseNumber">
                    <span ng-show="profileForm.workAddress.houseNumber.$dirty && profileForm.workAddress.houseNumber.$invalid"
                          class="help-inline" translate>profileForm.$invalid</span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <input name="workAddressZipCode" type="text" placeholder="{{ 'profileForm.zip' | translate }}"
                           class="form-control" ng-model="profileUserObj.workAddress.zipCode">
                    <span ng-show="profileForm.workAddress.zipCode.$dirty && profileForm.workAddress.zipCode.$invalid"
                          class="help-inline" translate>profileForm.$invalid</span>
                </div>

                <div class="col-md-9">
                    <input name="workAddressCity" type="text" placeholder="{{ 'profileForm.city' | translate }}"
                           class="form-control" ng-model="profileUserObj.workAddress.city">
                    <span ng-show="profileForm.workAddress.city.$dirty && profileForm.workAddress.city.$invalid"
                          class="help-inline" translate>profileForm.$invalid</span>
                </div>
            </div>

            <input name="workAddressCountryr" type="text" placeholder="{{ 'profileForm.country' | translate }}"
                   class="form-control" ng-model="profileUserObj.workAddress.country">
            <span ng-show="profileForm.workAddress.country.$dirty && profileForm.workAddress.country.$invalid"
                  class="help-inline" translate>profileForm.$invalid</span>
        </div>

    </div>


</accordion-group>

<accordion-group heading="{{ 'profile.settings' | translate }}" is-open="true">

    <div class="col-md-6">

        <div class="form-group">
            <label translate>profileForm.defaultWorkWeek</label>

            <div class="row">
                <div class="col-md-3" ng-repeat="weekday in enums.weekday">
                    <div class="input-group">
                         <span class="input-group-addon">
                              <input name="{{'defWeekForScheduling'+weekday}}" type="checkbox"
                                     ng-model="profileUserObj.userPreferences.defaultUserWeekForScheduling[weekday]">&NonBreakingSpace;{{ 'weekday.'+weekday | translate }}
                         </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label translate>profileForm.firstDayOfWeek</label>
                </div>
                <div class="col-md-8">
                    <div class="btn-group" data-toggle="buttons-radio">
                        <input type="radio" value="Monday" ng-model="profileUserObj.userPreferences.firstDayOfWeek"
                               ng-click="profileUserObj.userPreferences.firstDayOfWeek = 'Monday'">&NonBreakingSpace;{{
                        'weekday.sunday' | translate }} <br/></input>
                        <input type="radio" value="Sunday" ng-model="profileUserObj.userPreferences.firstDayOfWeek"
                               ng-click="profileUserObj.userPreferences.firstDayOfWeek = 'Sunday'">&NonBreakingSpace;{{
                        'weekday.monday' | translate }}</input>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <label translate>profileForm.timeZone</label>
                </div>

                <div class="col-md-6">
                    <select ng-model="profileUserObj.userPreferences.timezone" ng-options="'timezone.'+value | translate for value in enums.timezone">
                    </select>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <label translate>profileForm.language</label>
                </div>

                <div class="col-md-6">
                    <select ng-model="profileUserObj.language" ng-options="'language.'+value | translate for value in enums.language">
                    </select>
                </div>

            </div>
        </div>


    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label translate>profile.emailNotificationsSettings</label>
            <div class="row">
                <div class="col-md-6" ng-repeat="(emailsetting, value) in profileUserObj.userPreferences.email">
                    <div class="input-group">
                         <span class="input-group-addon">
                              <input name="{{'email.'+emailsetting}}" type="checkbox"
                                     ng-model="profileUserObj.userPreferences.email[emailsetting]">&NonBreakingSpace;{{ 'profileForm.email.'+emailsetting | translate }}
                         </span>
                    </div>
                </div>
            </div>
            <label translate>profile.calendarNotificationSettings</label>
            <div class="row">
                <div class="col-md-6">
                    <select ng-model="profileUserObj.userPreferences.calendarNotification" ng-options="'calendarNotification.'+ setting | translate for setting in enums.calendarNotifications">
                    </select>
                </div>
            </div>
        </div>
    </div>

</accordion-group>
</accordion>
</div>


</div>
</form>


</div>
<div><pre>{{profileUserObj | json}}</pre></div>