<div ng-controller="RequestPasswordResetCtrl" class="container">


    <div class="row">

        <div class="col-md-6">

            <!--<pre>-->
                <!--{{ passwordResetObj | json }}-->
            <!--</pre>-->

        </div>

        <div class="col-md-6" ng-hide="requestSent">

            <h2 translate>passwordResetRequest.resetPasswordFor</h2>

            <accordion close-others="true">
                
                <accordion-group heading="{{'passwordResetRequest.identification' | translate}}" is-open="true">

                    <form name="passwordResetRequestForm" class="form" role="form" ng-submit="requestPasswordReset()" novalidate>

                        <div class="form-group">
                            <label translate>passwordResetRequestForm.usernameOrEmail</label>
                            <input name="email" type="text" placeholder="{{'passwordResetRequestForm.usernameOrEmail' | translate}}" class="form-control" ng-model="passwordResetObj.usernameOrEmail" required>
                            <span ng-show="passwordResetObj.usernameOrEmail.$dirty && passwordResetObj.usernameOrEmail.$invalid" class="help-inline" translate>passwordResetRequestForm.$invalid</span>
                        </div>

                        <button type="button" class="btn btn-sm" ng-click="passwordResetObjReset()" translate>passwordResetRequestForm.reset</button>
                        <button type="submit" class="btn btn-success btn-sm" ng-disabled="passwordResetRequestForm.$invalid" translate>passwordResetRequestForm.submit</button>

                    </form>
                    
                </accordion-group>
                
            </accordion>
            
        </div>
        <div class="col-md-6" ng-show="requestSent">
            <h2 translate>passwordResetRequest.checkYourEmails</h2>
            <p translate>passwordResetRequest.weSentALink</p>
        </div>

    </div>


</div>