<div class="row">
    <div class="col-md-6 date-selection">

        <div class="input-group">
            <input ng-model="startDate"
                   class="form-control" type="text" id="datePickerStart"

                   datepicker-popup="{{dateFormat}}"
                   is-open="opened" min="minDate"
                   datepicker-options="dateOptions"
                   ng-required="true"
                   ng-click="opened = true"
                   date-parser="{{dateFormat}}"

                    />
        </div>
    </div>

    <div class="col-md-3 time-selection">
        <timepicker ng-model="start" id="timePickerStart" minute-step="15"
                    show-meridian="false"></timepicker>
    </div>
    <div class="col-md-3 time-selection">
        <timepicker ng-model="end" id="timePickerEnd" minute-step="15"
                    show-meridian="false"></timepicker>
    </div>
</div>