
@import "../../../styles/youpers-variables";

.sign-in {
  padding-top: 20px;
}

sign-in {

  display: block;
//  .game-card();

//  background: white;
  margin-bottom: 1em;
  padding: 10px 20px;
  color: @yp-subtitle;

  button {
    width: 100%;
  }
  .login-options {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
  }
}

.signin-content {
  padding-top: 1em;
}

.signin-form .form-control {
  margin: 1em 0 0 0;
}

.login-options {

  padding-top: 0.5em;
  padding-left: 0.2em;

}
