<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true"
                    ng-click="navCollapsed = !navCollapsed">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-logo" href="/"><img src="assets/img/logo.png" alt="YouPers"
                                                                          height="50"></a>
        </div>
        <div class="navbar-collapse collapse" collapse="navCollapsed">
            <ul class="nav navbar-nav" >
                <!--<li ng-class="{ active: isActive('campaign')}">-->
                    <!--<a href="#/topics" translate>topmenu.commit</a>-->
                <!--</li>-->
                <!--<li ng-class="{ active: isActive('assessment')}">-->
                    <!--<a href="#/assessment/525faf0ac558d40000000005" translate>topmenu.assess</a>-->
                <!--</li>-->
                <!--<li ng-class="{ active: isActive('activitylist') || isActive('activityDetail')}">-->
                    <!--<a href="#/activities" translate>topmenu.plan</a>-->
                <!--</li>-->
                <!--<li ng-class="{ active: isActive('cockpit')}">-->
                    <!--<a href="#/cockpit" translate>topmenu.do</a>-->
                <!--</li>-->
                <!--<li ng-class="{ active: isActive('evaluate')}">-->
                    <!--<a href="#/evaluate" translate>topmenu.evaluate</a>-->
                <!--</li>-->
            </ul>

            <div class="navbar navbar-left" ng-show="config.ui.showUserFeedbackLink">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#/feedback">
                            <translate>topmenu.feedback</translate>
                            <div class="glyphicon glyphicon-pencil"></div>
                        </a>
                    </li>
                </ul>

            </div>

            <div ng-controller="MenuLoginCtrl">

                <div class="nav navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="dropdown" ng-show="principal.isAuthenticated()">
                            <a class="dropdown-toggle" data-toggle="dropdown">{{ principal.getUser().fullname }}
                                <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="" ng-click="logout()" translate>topmenu.logout</a></li>
                                <li class="divider"></li>
                                <li><a href="#/account" translate>topmenu.account</a></li>
                                <li><a href="#/profile" translate>topmenu.profile</a></li>
                            </ul>
                        </li>

                        <li class="nav navbar-nav" ng-show="!principal.isAuthenticated()">

                            <login></login>

                        </li>

                        <ul class="nav navbar-nav">
                            <li class="dropdown" ng-controller="i18nCtrl">
                                <a class="dropdown-toggle" data-toggle="dropdown">{{currentLocale}}
                                    <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li ng-class="{active: currentLocale=='en'}" ><a href="" ng-click="changeLang('en')">english</a></li>
                                    <li ng-class="{active: currentLocale=='de'}"><a href="" ng-click="changeLang('de')">deutsch</a></li>
                                    <li ng-class="{active: currentLocale=='it'}"><a href="" ng-click="changeLang('it')">italiano</a></li>
                                    <li ng-class="{active: currentLocale=='fr'}"><a href="" ng-click="changeLang('fr')">français</a></li>
                                </ul>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>

        </div>
        <!--/.navbar-collapse -->
    </div>
</div>