<div class="three-column-layout">

    <section>

        <ng-include src="'dhc/nav-campaign.html'"></ng-include>

    </section>

    <section>

        <ng-include ng-if="!view" src="'dhc/game/game-content.html'"></ng-include>
        <ng-include ng-if="view == 'done'" src="'dhc/game/game-done-events.html'"></ng-include>
        <ng-include ng-if="view == 'rejected'" src="'dhc/game/game-rejected-offers.html'"></ng-include>

    </section>

    <section>

        <health-coach event="healthCoachEvent"></health-coach>

        <social-interaction-inbox></social-interaction-inbox>

    </section>

</div>


