<div>
    <game-area class="current-activities" ng-init="gameController.currentActivitiesAreaHeight = 22" area-height="gameController.currentActivitiesAreaHeight">

        <div><h3 translate>game.activities.current</h3></div>


        <div class="flex" ng-style="{ height: gameController.currentActivitiesAreaHeight + 'em' }">


            <div ng-if="activities.length === 0">

                <span class="empty-content-hint" translate>game.noActivities</span>

            </div>

            <activity-event-stack type="current"
                                  idea="activity.idea" activity="activity"
                                  events="eventsByActivity[activity.id]"
                                  ng-repeat="activity in activities"
                                  ng-click="openActivity(activity)">

            </activity-event-stack>

        </div>

        <game-area-side-panel type="done" icon-class="fa-check" ui-sref="dhc.game({ view: 'done' })">

            <div><h3 translate>game.activities.donePreview</h3></div>

            <div class="done-activities">

                <div ng-if="closedEvents.length === 0">

                    <span class="empty-content-hint" translate>game.noClosedEvents</span>

                </div>

                <activity-event-stack type="past" events="closedEvents"></activity-event-stack>
            </div>

        </game-area-side-panel>

    </game-area>
</div>

<div>

    <game-area class="offered-activities">

        <div><h3 translate>game.activities.offered</h3></div>


        <div class="offered-activities-content">

            <div ng-if="offers.length === 0">

                <span class="empty-content-hint" translate>game.noOffers</span>

            </div>

            <activity-offer-card type="{{ offer.__t.toLowerCase() }}"
                                 activity="offer.activity"
                                 idea="offer.idea"
                                 social-interaction="offer"
                                 ng-repeat="offer in offers"
                                 ng-click="openSocialInteraction(offer)" class="activity-offer-card"
                    >

            </activity-offer-card>

            <div class="activity-offer-card offerYoupers" ui-sref="dhc.ideas">

                    <div class="title sheet primary">
                        <div><i class="fa fa-search offer"></i></div>
                        <div translate>Stöbern in der Bibliothek</div>
                    </div>
                    <div class="lower-part" translate>Suche in der YOUPERS Bibliothek nach weiteren Ideen</div>

            </div>
            <div class="activity-offer-card offerYoupers" ui-sref="dhc.idea">
                <div class="title sheet primary">
                    <div><i class="fa fa-edit offer"></i></div>
                    <div>Eigene Idee erstellen</div>
                </div>
                <div class="lower-part">Erstelle eine eigene Aktivität und lade Mitarbeitende ein</div>

            </div>

        </div>

        <game-area-side-panel type="rejected" icon-class="fa-trash-o" ui-sref="dhc.game({ view: 'rejected' })">

            <div><h3 translate>game.activities.rejectedPreview</h3></div>

            <div class="rejected-activities">


                <div ng-if="offersDismissed.length === 0">

                    <span class="empty-content-hint" translate>game.noDismissedOffers</span>

                </div>

                <activity-offer-card

                        activity="offer.activity"
                        idea="offer.idea"
                        social-interaction="offer.socialInteraction"
                        ng-repeat="offer in offersDismissed"

                        ></activity-offer-card>
            </div>

        </game-area-side-panel>

    </game-area>

</div>

