
@import "../../styles/youpers-variables";

.dhc-game {

  @media(max-width: @screen-lg) {
    campaign-card {
      margin: 0 auto;
    }
  }
  @media(min-width: @screen-xs) {
    .three-column-layout {
      section {
        flex: 0 0 668px;
        border: none;
      }
      section:first-of-type {
        flex: 0 0 204px;
      }
      section:last-of-type {
        flex: 0 0 265px;
      }
    }
  }

  @side-panel-width: @yp-activity-event-card-width + 30px;
  game-area-side-panel > * {
    width: @side-panel-width;
  }
  game-area-side-panel > *.preview {
    margin-left: -@side-panel-width;
  }

  game-area.current-activities .flex {
    height: 22em;
  }

  game-area.offered-activities .flex {
    height: 8em;
  }
  game-area.done-events, game-area.rejected-offers {
    .flex {
      height: 30em;
    }
  }


  .toggleZoom {

    position: absolute;
    top:0;
    right: 0;
    white-space: nowrap;
    color: @yp-accent;
    outline: 1px solid @yp-divider;
    border-right: 1px solid @yp-divider;
    padding: 6px;
    i {
      font-size: 22px;
    }
  }

  .rejected-activities {
    activity-offer-card {
      height: 27px;
    }

    activity-offer-card:last-of-type {
      height: inherit;
    }
  }


//  done events template

  .done-events {

    activity-event-card {
      cursor: default;

      .feedback i {
        cursor: pointer;
      }
    }
  }
}