<div class="column-layout">

    <nav>

        <ng-include src="'dhc/nav-campaign.html'"></ng-include>

    </nav>

    <section>

        <ng-include ng-if="!view" src="'dhc/game/game-content.html'"></ng-include>
        <ng-include ng-if="view == 'done'" src="'dhc/game/game-done-events.html'"></ng-include>
        <ng-include ng-if="view == 'rejected'" src="'dhc/game/game-rejected-offers.html'"></ng-include>

    </section>

    <aside>

        <social-interaction></social-interaction>

    </aside>

</div>


