.area {
  margin-top: -1px;
  border-top: 1px solid @yp-divider;
  border-left: 1px solid @yp-divider;
  padding: 0 0em 4em 14px;
  position: relative;
  overflow: hidden;
}

game-area {

  display: block;
  position: relative;

  .area {

    position: relative;
    width: 100%;

    .flex {

      position: relative;

      // setting a width here is the cause for an infinite scrolling issue with IE10 and the DHC 'show more'
      // -> clientWidth would be 0 in the hasOverflow check
      // there seems to be no side effect of removing it
      //      width: 640px;

      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: flex-start;
      overflow: hidden;

      transition: 0.1s ease-out height;

      > * {
        flex: 0 1 auto;
        margin: 0 14px 20px 0;
      }

    }

    .show-more {


      position: absolute;
      bottom: 2px;
      right: -5px;
      width: @yp-activity-event-card-width;
      padding: 1em 0;
      text-align: center;

      border: 1px solid @yp-accent;
      z-index: 300;
      opacity: 0.9;
      margin: 0 6px 10px 0;
    }
  }



}