<game-area class="rejected-offers" ng-init="areaHeight = 36" area-height="areaHeight">


    <a href class="toggleZoom" ui-sref="dhc.game({ view: '' })">
        <i class="fa fa-compress" ></i>
    </a>

    <div><h3 translate>game.activities.rejected</h3></div>


    <div class="flex" ng-style="{ height: $parent.areaHeight + 'em' }">
        <activity-offer-card
                ng-repeat="offer in offersDismissed"
                activity="offer.activity"
                idea="offer.idea"
                social-interaction="offer.socialInteraction"
                ng-click="openSocialInteraction(offer.socialInteraction)"

                ></activity-offer-card>

    </div>

</game-area>