
<div class="row">
    <div class="col-sm-12">
        <div class="state-header-1" translate>organization.stateHeader1</div>
        <div class="state-header-2" translate>organization.stateHeader2</div>
    </div>
</div>

<div class="organization">

    <div class="row">
        <div class="col-md-10">

            <form name="organizationForm" ypModel="organization" class="form-horizontal" role="form" ng-submit="saveOrganization()" novalidate>


                <div class="main-header">
                    <span translate>organizationForm.header</span>
                </div>

                <yp-input name="name" required></yp-input>
                <yp-input name="address.street" required></yp-input>

                <yp-input name="address.zipCode" required></yp-input>
                <yp-input name="address.city" required></yp-input>

                <yp-input name="legalForm"  required></yp-input>
                <yp-input name="sector"  required></yp-input>

                <div class="main-header">
                    <span translate>organizationForm.contact.header</span>
                </div>

                <yp-input name="contact.firstname" required></yp-input>
                <yp-input name="contact.lastname" required></yp-input>

                <yp-input required name="contact.position"></yp-input>
                <yp-input required name="contact.email"></yp-input>
                <yp-input required name="contact.phone"></yp-input>

                <button type="submit" class="btn btn-primary pull-right" ng-disabled="organizationForm.$invalid">
                    <span translate ng-if="!organization.id">organizationForm.create</span>
                    <span translate ng-if="organization.id">organizationForm.save</span>
                </button>

            </form>

        </div>
    </div>
</div>