<form name="activityForm" class="form" role="form" ng-submit="saveActivity()">

    <fieldset ng-disabled="activity.isScheduled && !activity.isEditable">

        <dl class="dl-horizontal">

            <dt>
                <label translate>activityForm.title.label</label>
            </dt>
            <dd>
                <input type="text" class="form-control" ng-model="activity.title"
                       placeholder="{{ activity.idea.title }}">
            </dd>

            <dt>
                <label translate>activityForm.location.label</label>
            </dt>
            <dd>
                <input type="text" class="form-control" ng-model="activity.location"
                       placeholder="{{ 'activityForm.location.placeholder' | translate }}">
            </dd>

            <dt>
                <label translate>activityForm.date.label</label>
            </dt>
            <dd>
                <date-picker date="activity.mainEvent.start" min-date="campaign.start" max-date="campaign.end"></date-picker>
            </dd>
            <dt class="time">
                <label translate>activityForm.time.label</label>
            </dt>
            <dd class="time" ng-model="activity.mainEvent.start" synchronized-date="activity.mainEvent.end">

                <timepicker ng-model="activity.mainEvent.start" id="timePickerStart" minute-step="15"
                            show-meridian="false"></timepicker>

                <timepicker ng-model="activity.mainEvent.end" id="timePickerEnd" minute-step="15"
                            show-meridian="false"></timepicker>
            </dd>
        </dl>


        <div>

            <!-- frequency -->

            <div class="frequency">
                <label for="frequency.once">
                    <input id="frequency.once" type="radio" ng-model="activity.mainEvent.frequency"
                           ng-value="'once'" translate>
                    </input>
                    <span translate>activityPlanFrequency.once</span>
                </label>
                <label for="frequency.day">
                    <input id="frequency.day" type="radio" ng-model="activity.mainEvent.frequency"
                           ng-value="'day'" translate>
                    </input>
                    <span translate>activityPlanFrequency.day</span>
                </label>
                <label for="frequency.week">
                    <input id="frequency.week" type="radio" ng-model="activity.mainEvent.frequency"
                           ng-value="'week'" translate>
                    </input>
                    <span translate>activityPlanFrequency.week</span>
                </label>
            </div>

            <!-- recurrence -->

            <dl class="dl-horizontal recurrence" ng-if="activity.mainEvent.frequency=='day' || activity.mainEvent.frequency=='week'">

                <dt>
                    <label translate>activityForm.recurrence.label</label>
                </dt>
                <dd>
                    <input ng-init="activity.mainEvent.recurrence = activity.mainEvent.recurrence || {}"
                           ng-model="activity.mainEvent.recurrence['endby'].after" min="1" type=number
                           class="form-control input-sm">
                </dd>

            </dl>

        </div>


    </fieldset>

</form>