<form name="activityForm" class="form" role="form" ng-submit="saveActivity()">
    <fieldset ng-disabled="activity.isScheduled && !activity.isEditable">

        <dl class="dl-horizontal">

            <dt>
                <label translate>activityForm.title.label</label>
            </dt>
            <dd>
                <input type="text" class="form-control" ng-model="activity.title"
                       placeholder="{{ activity.idea.title }}">
            </dd>

            <dt>
                <label translate>activityForm.location.label</label>
            </dt>
            <dd>
                <input type="text" class="form-control" ng-model="activity.location" required="true"
                       placeholder="{{ 'activityForm.location.placeholder' | translate }}">
            </dd>

            <dt>
                <label translate>activityForm.date.label</label>
            </dt>
            <dd>
                <date-picker date="activity.start" min-date="campaign.start" max-date="campaign.end"></date-picker>
            </dd>
            <dt class="time">
                <label translate>activityForm.time.label</label>
            </dt>
            <dd class="time" ng-model="activity.startTime" synchronized-date="activity.endTime">

                <timepicker ng-model="activity.startTime" id="timePickerStart" minute-step="15"
                            show-meridian="false" select-on-child-input-click></timepicker>

                <timepicker ng-model="activity.endTime" id="timePickerEnd" minute-step="15"
                            show-meridian="false" select-on-child-input-click></timepicker>
            </dd>
        </dl>


        <div>

            <!-- frequency -->

            <div class="frequency radio-buttons">
                <label for="frequency.once">
                    <input id="frequency.once" type="radio" ng-model="activity.frequency"
                           ng-value="'once'" translate>
                    </input>
                    <span translate>activityPlanFrequency.once</span>
                </label>
                <label for="frequency.day">
                    <input id="frequency.day" type="radio" ng-model="activity.frequency"
                           ng-value="'day'" translate>
                    </input>
                    <span translate>activityPlanFrequency.day</span>
                </label>
                <label for="frequency.week">
                    <input id="frequency.week" type="radio" ng-model="activity.frequency"
                           ng-value="'week'" translate>
                    </input>
                    <span translate>activityPlanFrequency.week</span>
                </label>
                <label for="frequency.month">
                    <input id="frequency.month" type="radio" ng-model="activity.frequency"
                           ng-value="'month'" translate>
                    </input>
                    <span translate>activityPlanFrequency.month</span>
                </label>
            </div>

            <!-- recurrence -->

            <dl class="dl-horizontal recurrence"
                ng-if="activity.frequency=='day' || activity.frequency=='week' || activity.frequency=='month'">

                <dt>
                    <label translate>activityForm.recurrence.label</label>
                </dt>
                <dd>
                    <input ng-init="activity.recurrence = activity.recurrence || {}"
                           ng-model="activity.recurrence['endby'].after" min="1" required type="number"
                           class="form-control input-sm">
                </dd>

            </dl>

        </div>

        <div ng-if="showInviteControl" class="invite-control" ng-class="{invalid: activityForm.invitationType.$invalid}">

            <div>
                <label translate>activity.header.inviteOthers</label>
            </div>
            <label for="invitation-type.all">
                <input id="invitation-type.all" type="radio" ng-model="activityController.inviteOthers" name="invitationType"
                       ng-value="'all'" required>
                </input>
                <span translate>activity.inviteOthers.all</span>
            </label>
            <label for="invitation-type.selected">
                <input id="invitation-type.selected" type="radio" ng-model="activityController.inviteOthers" name="invitationType"
                       ng-value="'selected'" required>
                </input>
                <span translate>activity.inviteOthers.selected</span>
            </label>
            <label for="invitation-type.none">
                <input id="invitation-type.none" type="radio" ng-model="activityController.inviteOthers" name="invitationType"
                       ng-value="'none'" required>
                </input>
                <span translate>activity.inviteOthers.none</span>
            </label>
            <div ng-show="activityForm.invitationType.$invalid">Bitte wähle aus, ob du jemanden einladen möchtest</div>
        </div>

    </fieldset>

</form>