<div class="four-column-layout">


    <section ng-class="{dimmed: activityController.deleteModeEnabled}">
        <div class="header-row">

            <h3 translate>{{ 'activity.header.first.' + pageTitle }}</h3>


        </div>

        <div ng-if="socialInteraction">

            <activity-offer-card

                    ng-class="{ dismissed: activityController.dismissed }"

                    idea="idea"
                    activity="activity"
                    social-interaction="socialInteraction"

                    ></activity-offer-card>

        </div>

        <div>

            <idea-card idea="idea" activity="activity"></idea-card>

        </div>
    </section>

    <section ng-class="{dimmed: activityController.deleteModeEnabled}">
        <div class="header-row">
            <h3><span translate>activity.header.second</span>
                <span class="pull-right edit-delete-icons">
                    <a class="fa fa-edit" ng-click="enterEditMode()"
                       ng-if="!activityController.formEnabled &&
                        activity.editStatus.indexOf('editable') === 0 &&
                        activityController.canEdit" popover="{{ 'activity.editPopover' | translate }}" popover-trigger="mouseenter" popover-placement="bottom" popover-append-to-body="true"></a>
                    <a class="fa fa-trash-o" ng-click="enterDeleteMode()"
                       ng-if="activity.deleteStatus.indexOf('deletable') === 0 &&
                       activityController.canDelete" popover="{{ 'activity.deletePopover' | translate }}" popover-trigger="mouseenter" popover-placement="bottom" popover-append-to-body="true"></a>
                </span>
            </h3>

        </div>

        <!-- read only view -->
        <div ng-if="!activityController.formEnabled">
            <activity-view activity="activity" is-campaign-lead="isDcm"
                           social-interaction="socialInteraction" calender-link-active="isJoiner || isOwner"></activity-view>
            <div class="activity-view">
                <dl class="dl-horizontal">

                    <dt translate>Einladungen an</dt>
                    <dd>{{ 'activity.inviteOthers.' + activityController.inviteOthers | translate}}</dd>
                </dl>
            </div>
        </div>

        <!-- new and edit view -->
        <div ng-if="activityController.formEnabled">
            <activity-edit activity="activity" campaign="campaign" form="formContainer.form"
                           is-campaign-lead="isDcm" social-interaction="socialInteraction"></activity-edit>

            <!-- new invitations -->
            <div ng-if="!isDcm && idea.defaultexecutiontype !== 'self' && isOwner && !inviteLocked"
                 class="activity-edit radio-buttons form-section">
                <div>
                    <label translate>activity.header.inviteOthers</label>
                </div>
                <label for="invitation-type.all">
                    <input id="invitation-type.all" type="radio" ng-model="activityController.inviteOthers"
                           ng-value="'all'">
                    </input>
                    <span translate>activity.inviteOthers.all</span>
                </label>
                <label for="invitation-type.selected">
                    <input id="invitation-type.selected" type="radio" ng-model="activityController.inviteOthers"
                           ng-value="'selected'">
                    </input>
                    <span translate>activity.inviteOthers.selected</span>
                </label>

                <div ng-if="activityController.inviteOthers == 'selected'">


                    <div class="invite-users">

                        <div>
                            <user-invitation type="activity" excluded-users="usersExcludedForInvitation"
                                             on-user-selected="onUserSelected"></user-invitation>
                        </div>

                        <div ng-if="!invitationSent && noUserFound">

                            <label translate>activity.inviteOthers.notFound</label>

                            <form class="form"
                                  role="form"
                                  ng-submit="emailInvitation.$valid && onEmailSelected(emailToBeInvited); emailToBeInvited = ''; showPostButton = false"
                                  name="emailInvitation">

                                <input type="email" class="form-control" ng-model="emailToBeInvited"

                                       ng-focus="showPostButton = true"

                                       placeholder="{{ 'activity.inviteOthers.inviteByEmail.placeholder' | translate }}">

                                <button ng-disabled="!emailInvitation.$dirty || !emailInvitation.$valid" ng-show="showPostButton" class="btn btn-primary pull-right" translate>activity.inviteOthers.inviteByEmail.submit</button>

                            </form>

                        </div>
                    </div>

                    <label ng-if="usersToBeInvited.length > 0" translate>activity.inviteOthers.invitedOnSave</label>
                    <div class="user-to-be-invited"
                         ng-repeat="user in usersToBeInvited">

                        <div ng-if="user.fullname">
                            <img class="avatar" ng-src="{{ user.avatar }}"/>
                            <span bind-html-unsafe="user.fullname"></span>
                            <i class="remove fa fa-times" ng-click="removeUserToBeInvited(user)"></i>
                        </div>

                        <div ng-if="!user.fullname">
                            <i class="fa fa-envelope-o"></i>
                            <div>
                                <span>{{ user }}</span>
                                <i class="remove fa fa-times" ng-click="removeUserToBeInvited(user)"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- list of participants including invitation-state -->
        <div ng-if="isScheduled && idea.defaultexecutiontype !== 'self'">

            <div>
                <h3 translate>activity.header.invitedUsers</h3>
            </div>

            <div class="invitedUser"
                 ng-repeat="user in invitedUsers">

                <div ng-if="user.fullname">
                    <div><img class="avatar" ng-src="{{ user.avatar }}"/></div>
                    <div bind-html-unsafe="user.fullname"></div>
                    <div>{{ 'activity.invitationStatus.' + user.invitationStatus | translate }}</div>
                </div>
                <div ng-if="!user.fullname">
                    <div><i class="fa fa-envelope-o"></i></div>
                    <div>{{ user.email }}</div>
                    <div></div>
                </div>

            </div>
        </div>


    </section>

    <section class="no-left-border" ng-class="{dimmed: activityController.deleteModeEnabled}">
        <div class="header-row">

        </div>


        <div>

            <div ng-repeat="event in events" class="event-list animate-repeat">

                <activity-event-card

                        type="feedback"
                        event="event"
                        isLastEvent="{{ $index === events.length - 1 }}"

                        ></activity-event-card>


                <activity-event-card ng-if="event.conflictingEvent"
                                     class="conflict"
                                     type="conflict"
                                     event="event.conflictingEvent"

                        ></activity-event-card>

            </div>

        </div>

        <div>

        </div>
    </section>

    <section>

        <div class="header-row">
            <div class="btn btn-default pull-right back-link" ng-click="backToGame()">
                <span class="fa fa-chevron-left"></span>
                <span translate>activity.link.back</span>
            </div>
        </div>

        <!-- buttons in delete Mode -->
        <div class="button-row" ng-if="activityController.deleteModeEnabled">
            <button class="btn btn-warning" ng-click="deleteActivity()" busy busy-disabled>
                <busy-message><i class="fa fa-cog fa-spin"></i><span translate>busy.submitting</span></busy-message>
                {{ 'activity.submit.delete' | translate }}
            </button>
            <button class="btn btn-default pull-right" ng-click="activityController.deleteModeEnabled=false">
                {{ 'activity.submit.cancel' | translate }}
            </button>
        </div>

        <!-- buttons in edit Mode -->
        <div class="button-row" ng-if="activityController.editModeEnabled && !activityController.deleteModeEnabled">
            <button class="btn btn-primary"
                    ng-disabled="formContainer.form.$invalid" ng-click="saveActivity()" busy busy-disabled>
                <busy-message><i class="fa fa-cog fa-spin"></i><span translate>busy.submitting</span></busy-message>

                {{ 'activity.submit.save' | translate }}
            </button>
            <button class="btn btn-default pull-right"
                    ng-click="activityController.editModeEnabled=false; activityController.formEnabled=false">
                {{ 'activity.submit.cancel' | translate }}
            </button>
        </div>

        <!-- buttons for new Recommendation -->
        <div class="button-row" ng-if="isRecommendation">
            <button class="btn btn-primary"
                    ng-disabled="formContainer.form.$invalid" ng-click="saveActivity()" busy busy-disabled>
                <busy-message><i class="fa fa-cog fa-spin"></i><span translate>busy.submitting</span></busy-message>

                {{ 'activity.submit.recommendationSave' | translate }}
            </button>
            <button class="btn btn-default pull-right" ng-click="dismiss()">
                {{ 'activity.submit.recommendationDismiss' | translate }}
            </button>
        </div>

        <!-- buttons for new Invitation -->
        <div class="button-row" ng-if="isInvitation && !isDcm && !isOwner && !isJoiner">
            <button class="btn btn-primary"
                    ng-click="joinActivity()" busy busy-disabled>
                <busy-message><i class="fa fa-cog fa-spin"></i><span translate>busy.submitting</span></busy-message>

                {{ 'activity.submit.joinedSave' | translate }}
            </button>
            <button class="btn btn-default pull-right" ng-click="dismiss()">
                {{ 'activity.submit.invitationDecline' | translate }}
            </button>
        </div>

        <!--buttons for new CampaignActivity -->

        <div class="button-row" ng-if="isNewCampaignActivity">
            <button class="btn btn-primary"
                    ng-disabled="formContainer.form.$invalid" ng-click="saveActivity()" busy busy-disabled>
                <busy-message><i class="fa fa-cog fa-spin"></i><span translate>busy.submitting</span></busy-message>

                {{ 'activity.submit.campaignleadSave' | translate }}
            </button>
            <button class="btn btn-default pull-right" ng-click="backToGame()">
                {{ 'activity.submit.cancel' | translate }}
            </button>
        </div>


        <div class="box">
            <health-coach event="healthCoachEvent"/>
        </div>


        <div class="box" ng-if="isScheduled">

            <h3 translate>activity.header.comments</h3>

            <div>
                <activity-comments activity="activity"></activity-comments>
            </div>
        </div>

    </section>


</div>