
<div class="row">

    <div class="col-sm-12">
        <ul class="list-inline pull-right filter-icons" ng-init="search = {}">
            <li>
                <i class="fa fa-circle-o" ng-class="{ active: !search.status }" ng-click="search.status = undefined"  tooltip="{{ 'activity.list.statusFilter.all' | translate }}"></i>
                <span class="count-label">{{ activities.length }}</span>
            </li>
            <li ng-repeat="statusFilter in stati" tooltip="{{ 'activity.list.statusFilter.' + statusFilter | translate }}">
                <i class="fa {{ statusClasses[statusFilter] }}" ng-class="{ active: search.status == statusFilter, disabled: !statusCounts[statusFilter] }" ng-click="search.status = statusFilter"></i>
                <div>
                    <span class="count-label">{{ statusCounts[statusFilter] }}</span>
                </div>
            </li>
        </ul>
    </div>

</div>

<div class="row" ng-show="activities.length == 0">
    <div class="col-sm-12">

        <div>{{ 'activity.list.' + mode + '.noContent'}}</div>

    </div>
</div>

<div class="row activity"

     ng-init="search = {}"
     ng-repeat="activity in activities | filter:search"

     ng-click="onSelect(activity)"

        >
    <div class="col-sm-12 background-hover">

        <div class="row">

            <div class="col-sm-2">

                <div user="activity.owner"></div>

            </div>
            <div class="col-sm-8">

                <dl class="dl-horizontal">
                    <dt translate>activity.list.item.title</dt>
                    <dd>{{ activity.title }}</dd>
                    <dt translate>activity.view.text</dt>
                    <dd>{{ activity.text || '&nbsp;' }}</dd>
                    <dt translate>activity.list.item.date</dt>
                    <dd>{{ activity.start | date }}</dd>
                    <dt translate>activity.list.item.location</dt>
                    <dd>{{ activity.location || '&nbsp;' }}</dd>
                </dl>

            </div>
            <div class="col-sm-2">
                <i class="fa fa-angle-double-right" ng-click="onSelect(activity)"></i>
            </div>

        </div>
        <div class="row">

            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-1" ng-repeat="invitingUser in []">
                        <div user="invitingUser"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">

                <i class="fa fa-comments-o"></i>

            </div>

            </div>
    </div>
</div>

