<div class="four-column-layout">


    <section ng-class="{dimmed: activityController.deleteModeEnabled}">
        <div class="header-row">
            <h3 translate>{{ 'activity.header.first.' + pageTitle }}</h3>
        </div>

        <div ng-if="socialInteraction">

            <activity-offer-card

                    ng-class="{ dismissed: activityController.dismissed }"

                    idea="idea"
                    activity="activity"
                    social-interaction="socialInteraction"

                    ></activity-offer-card>

        </div>

        <div>

            <idea-card idea="idea" activity="activity"></idea-card>

        </div>
    </section>

    <section ng-class="{dimmed: activityController.deleteModeEnabled}">
        <div class="header-row">
            <h3><span translate>activity.header.second</span>
                <span class="pull-right edit-delete-icons">
                <a class="fa fa-edit" ng-click="enterEditMode()"
                   ng-if="!activityController.formEnabled &&
                    activity.editStatus.indexOf('editable') === 0 &&
                    activityController.canEdit"></a>
                <a class="fa fa-trash-o" ng-click="enterDeleteMode()"
                   ng-if="!activityController.formEnabled &&
                   activity.deleteStatus.indexOf('deletable') === 0 &&
                   activityController.canDelete"></a>
                </span>
            </h3>

        </div>

        <!-- read only view -->
        <div ng-if="!activityController.formEnabled">
            <activity-view activity="activity"></activity-view>

            <div ng-if="isCampaignLead">
                <h3 translate>activity.header.publish</h3>

                <div class="publish">
                    <span translate>activity.publishFrom.label</span>
                    <span>: {{ socialInteraction.publishFrom | date}} </span>
                    <span translate>activity.publishTo.label</span>
                    <span>: {{ socialInteraction.publishTo | date}}</span>
                </div>
            </div>
        </div>

        <!-- new and edit view -->
        <div ng-if="activityController.formEnabled">
            <activity-edit activity="activity" campaign="campaign" form="formContainer.form"></activity-edit>
            <div ng-if="isCampaignLead">

                <h3 translate>activity.header.publish</h3>

                <div class="publish" ng-model="socialInteraction.publishFrom" synchronizedDate="socialInteraction.publishTo">
                    <label translate>activity.publishFrom.label</label>
                    <date-picker date="socialInteraction.publishFrom" min-date="campaign.start" max-date="campaign.end"></date-picker>
                    <label translate>activity.publishTo.label</label>
                    <date-picker date="socialInteraction.publishTo" min-date="campaign.start" max-date="campaign.end"></date-picker>

                </div>
            </div>
        </div>




        <div class="clearfix"></div>

        <!-- list of participants including invitation-state -->
        <div ng-if="isScheduled && idea.defaultexecutiontype !== 'self'">

            <div>
                <h3 translate>activity.header.invitedUsers</h3>
            </div>

            <div class="invitedUser"
                 ng-repeat="user in invitedUsers">

                <div ng-if="user.fullname">
                    <div><img class="avatar" ng-src="{{ user.avatar }}"/></div>
                    <div bind-html-unsafe="user.fullname"></div>
                    <div>{{ 'activity.invitationStatus.' + user.invitationStatus | translate }}</div>
                </div>
                <div ng-if="!user.fullname">
                    <div><i class="fa fa-envelope-o"></i></div>
                    <div>{{ user.email }}</div>
                    <div></div>
                </div>

            </div>
        </div>

        <div ng-if="!isCampaignLead && idea.defaultexecutiontype !== 'self' && isOwner">

            <div>
                <h3 translate>activity.header.inviteOthers</h3>
            </div>

            <div class="btn-group btn-group-justified">

                <a type="button" class="btn btn-default" ng-model="activityController.inviteOthers" ng-disabled="inviteLocked"
                   btn-radio="'selected'" translate>activity.inviteOthers.selected
                </a>
                <a type="button" class="btn btn-default" ng-model="activityController.inviteOthers" ng-disabled="inviteLocked"
                   btn-radio="'all'" translate>activity.inviteOthers.all
                </a>
            </div>

            <div ng-if="activityController.inviteOthers == 'selected'">


                <div class="user-to-be-invited"
                     ng-repeat="user in usersToBeInvited">

                    <div ng-if="user.fullname">
                        <img class="avatar" ng-src="{{ user.avatar }}"/>
                        <span bind-html-unsafe="user.fullname"></span>
                        <i class="remove fa fa-times" ng-click="removeUserToBeInvited(user)"></i>
                    </div>

                    <div ng-if="!user.fullname">
                        <i class="fa fa-envelope-o"></i>
                        <span>{{ user }}</span>
                        <i class="remove fa fa-times" ng-click="removeUserToBeInvited(user)"></i>
                    </div>
                </div>


                <div class="invite-users">

                    <h3 translate>activity.inviteOthers.inviteByUser</h3>
                    <div>
                        <user-invitation type="activity" excluded-users="usersExcludedForInvitation" on-user-selected="onUserSelected"></user-invitation>
                    </div>

                    <h3 translate>activity.inviteOthers.inviteByEmail</h3>
                    <div>

                        <form class="form" ng-if="!invitationSent"
                              role="form"
                              ng-submit="emailInvitation.$valid && onEmailSelected(emailToBeInvited); emailToBeInvited = ''"
                              name="emailInvitation">

                            <input type="email" required class="form-control" ng-model="emailToBeInvited" placeholder="{{ 'activity.emailToBeInvited.placeholder' | translate }}">

                            <button type="submit" class="btn btn-default pull-right"
                                    ng-disabled="inviteEmailForm.$invalid" translate>activity.emailToBeInvited.submit</button>

                        </form>

                    </div>
                </div>



            </div>

        </div>

    </section>

    <section class="no-left-border" ng-class="{dimmed: activityController.deleteModeEnabled}">
        <div class="header-row">

        </div>


        <div>

            <div ng-repeat="event in events" class="event-list animate-repeat"


                    >

                <activity-event-card

                        type="feedback"
                        event="event"
                        isLastEvent="{{ $index === events.length - 1 }}"

                        ></activity-event-card>


                <activity-event-card ng-if="event.conflictingEvent"
                                     class="conflict"
                                     type="conflict"
                                     event="event.conflictingEvent"

                        ></activity-event-card>

            </div>

        </div>

        <div>

        </div>
    </section>

    <section>

        <div class="header-row">
            <div class="btn btn-default pull-right back-link" ng-click="backToGame()"><span class="fa fa-chevron-left"></span> <span translate>activity.link.back</span></div>
        </div>

        <!-- buttons in delete Mode -->
        <div class="button-row" ng-if="activityController.deleteModeEnabled">
            <button class="btn btn-warning" ng-click="deleteActivity()">
                {{ 'activity.submit.delete' | translate }}
            </button>
            <button class="btn btn-default pull-right" ng-click="activityController.deleteModeEnabled=false">
                {{ 'activity.submit.cancel' | translate }}
            </button>
        </div>

        <!-- buttons in edit Mode -->
        <div class="button-row" ng-if="activityController.editModeEnabled">
            <button class="btn btn-primary"
                    ng-disabled="(!activityController.dirty)" ng-click="saveActivity()">
                {{ 'activity.submit.save' | translate }}
            </button>
            <button class="btn btn-default pull-right" ng-click="activityController.editModeEnabled=false; activityController.formEnabled=false">
                {{ 'activity.submit.cancel' | translate }}
            </button>
        </div>

        <!-- buttons for new Recommendation -->
        <div class="button-row" ng-if="isRecommendation">
            <button class="btn btn-primary submit"
                    ng-disabled="formContainer.form.$invalid" ng-click="saveActivity()">
                {{ 'activity.submit.recommendationSave' | translate }}
            </button>
            <button class="btn btn-default submit" ng-click="dismiss()">
                {{ 'activity.submit.recommendationDismiss' | translate }}
            </button>
        </div>

        <!-- buttons for new Invitation -->
        <div class="button-row" ng-if="isInvitation">
            <button class="btn btn-primary submit"
                    ng-click="joinActivity()">
                {{ 'activity.submit.joinedSave' | translate }}
            </button>
            <button  class="btn btn-default submit" ng-click="dismiss()">
                {{ 'activity.submit.invitationDecline' | translate }}
            </button>
        </div>

        <!--buttons for new CampaignActivity -->

        <div class="button-row" ng-if="isNewCampaignActivity">
            <button class="btn btn-primary submit"
                    ng-disabled="formContainer.form.$invalid" ng-click="saveActivity()">
                {{ 'activity.submit.campaignleadSave' | translate }}
            </button>
            <button class="btn btn-default submit" ng-click="backToGame()">
                {{ 'activity.submit.cancel' | translate }}
            </button>
        </div>


        <div class="box">
            <health-coach event="healthCoachEvent"/>
        </div>

        <div class="box" ng-if="isScheduled">

            <h3 translate>activity.header.comments</h3>
            <div>
                <activity-comments activity="activity"></activity-comments>
            </div>
        </div>

    </section>


</div>