<div class="four-column-layout">


    <section>
        <div class="header-row">
            <h3 translate>{{ 'activity.header.first.' + mode }}</h3>
        </div>

        <div class="button-row">
            <div class="btn-group btn-group-justified">
                <a class="btn btn-primary"
                   ng-click="acceptRecommendation()"
                   ng-class="{ invisible: activityController.active || activityController.dismissed }"

                        >{{ 'activity.link.' + mode | translate }}</a>

                <a class="btn btn-default"
                   ng-show="mode !== 'campaignlead' && socialInteraction"
                   ng-click="dismiss()"

                   ng-disabled="activityController.dismissed"
                   translate>activity.link.dismiss</a>
            </div>
        </div>

        <div ng-if="socialInteraction">

            <activity-offer-card

                    ng-class="{ dismissed: activityController.dismissed }"

                    idea="idea"
                    activity="activity"
                    social-interaction="socialInteraction"

                    ></activity-offer-card>

        </div>

        <div>

            <idea-card idea="idea" activity="activity"></idea-card>

        </div>
    </section>

    <section>
        <div class="header-row">
            <h3 translate>activity.header.second</h3>
        </div>

        <div class="button-row">

            <div ng-show="activityController.active && !activityController.formActive && !activityController.deleteMode">


                <div class="activity-edit-buttons btn-group-justified">
                    <a class="btn btn-primary" ng-click="editMode()" ng-if="activityController.formEnabled && activity.editStatus.indexOf('editable') === 0" translate>activity.link.edit</a>
                    <a class="btn btn-warning" ng-click="deleteMode()" ng-if="activity.deleteStatus.indexOf('deletable') === 0" translate>activity.link.delete</a>

                </div>


            </div>

        </div>

        <div ng-show="activityController.active && !activityController.formActive">
            <activity-view activity="activity"></activity-view>
        </div>

        <div ng-if="activityController.active && activityController.formActive">
            <activity-edit activity="activity" campaign="campaign"></activity-edit>
        </div>


        <div  ng-if="mode === 'campaignlead'">

            <h3 translate>activity.header.publish</h3>

            <div class="publish">


                <label translate>activity.publishFrom.label</label>
                <date-picker date="socialInteraction.publishFrom" min-date="campaign.start" max-date="campaign.end"></date-picker>
                <label translate>activity.publishTo.label</label>
                <date-picker date="socialInteraction.publishTo" min-date="campaign.start" max-date="campaign.end"></date-picker>

            </div>
        </div>

        <div class="clearfix"></div>


        <div ng-if="activityController.active && activity.id && idea.defaultexecutiontype !== 'self'">

            <div>
                <h3 translate>activity.header.invitedUsers</h3>
            </div>

            <div class="invitedUser"
                 ng-repeat="user in invitedUsers">

                <div ng-if="user.fullname">
                    <div><img class="avatar" ng-src="{{ user.avatar }}"/></div>
                    <div bind-html-unsafe="user.fullname"></div>
                    <div>{{ 'activity.invitationStatus.' + user.invitationStatus | translate }}</div>
                </div>
                <div ng-if="!user.fullname">
                    <div><i class="fa fa-envelope-o"></i></div>
                    <div>{{ user.email }}</div>
                    <div></div>
                </div>

            </div>
        </div>

        <div ng-show="activityController.active && activityController.formEnabled" ng-if="mode !== 'campaignlead' && idea.defaultexecutiontype !== 'self'">

            <div>
                <h3 translate>activity.header.inviteOthers</h3>
            </div>

            <div class="btn-group btn-group-justified">

                <a type="button" class="btn btn-default" ng-model="activityController.inviteOthers" ng-disabled="inviteLocked"
                   btn-radio="'selected'" translate>activity.inviteOthers.selected
                </a>
                <a type="button" class="btn btn-default" ng-model="activityController.inviteOthers" ng-disabled="inviteLocked"
                   btn-radio="'all'" translate>activity.inviteOthers.all
                </a>
            </div>

            <div ng-if="activityController.inviteOthers == 'selected'">


                <div class="user-to-be-invited"
                     ng-repeat="user in usersToBeInvited">

                    <div ng-if="user.fullname">
                        <img class="avatar" ng-src="{{ user.avatar }}"/>
                        <span bind-html-unsafe="user.fullname"></span>
                        <i class="remove fa fa-times" ng-click="removeUserToBeInvited(user)"></i>
                    </div>

                    <div ng-if="!user.fullname">
                        <i class="fa fa-envelope-o"></i>
                        <span>{{ user }}</span>
                        <i class="remove fa fa-times" ng-click="removeUserToBeInvited(user)"></i>
                    </div>
                </div>


                <div class="invite-users">

                    <h3 translate>activity.inviteOthers.inviteByUser</h3>
                    <div>
                        <user-invitation type="activity" excluded-users="usersExcludedForInvitation" on-user-selected="onUserSelected"></user-invitation>
                    </div>

                    <h3 translate>activity.inviteOthers.inviteByEmail</h3>
                    <div>

                        <form class="form" ng-if="!invitationSent"
                              role="form"
                              ng-submit="emailInvitation.$valid && onEmailSelected(emailToBeInvited); emailToBeInvited = ''"
                              name="emailInvitation">

                            <input type="email" required class="form-control" ng-model="emailToBeInvited" placeholder="{{ 'activity.emailToBeInvited.placeholder' | translate }}">

                            <button type="submit" class="btn btn-default pull-right"
                                    ng-disabled="inviteEmailForm.$invalid" translate>activity.emailToBeInvited.submit</button>

                        </form>

                    </div>
                </div>



            </div>

        </div>

    </section>

    <section>
        <div class="header-row">
            <h3 translate>activity.header.third</h3>
        </div>

        <div class="button-row">

        </div>

        <div ng-show="activityController.active || activity.isOwner()">

            <div ng-repeat="event in events" class="event-list animate-repeat"


                    >

                <activity-event-card

                        type="feedback"
                        event="event"
                        isLastEvent="{{ $index === events.length - 1 }}"

                        ></activity-event-card>


                <activity-event-card ng-if="event.conflictingEvent"
                                     class="conflict"
                                     type="conflict"
                                     event="event.conflictingEvent"

                        ></activity-event-card>

            </div>

        </div>

        <div>

        </div>
    </section>

    <section>

        <div class="header-row"></div>

        <div class="button-row">
            <button class="btn btn-default backToGame" ng-click="backToGame()" translate>
                activity.link.back
            </button>

            <button ng-if="!activityController.deleteMode && !activity.isJoiningUser()" class="btn btn-primary submit" ng-disabled="!activityController.active || (!activityController.dirty && activityController.formEnabled) || (activity.isJoiningUser())" ng-click="submit()">
                {{ 'activity.submit.' + mode + activityController.submitMode | translate }}
            </button>


            <button ng-if="activityController.deleteMode" class="btn btn-warning submit" ng-click="deleteActivity()">
                {{ 'activity.submit.delete' | translate }}
            </button>



        </div>



        <div class="box">
            <h3>health coach messages</h3>

            <health-coach event="healthCoachEvent"/>
        </div>

        <div class="box">
            <h3 translate>activity.header.comments</h3>

            <div ng-if="isScheduled">
                <activity-comments activity="activity"></activity-comments>
            </div>
        </div>

    </section>


</div>