
<div class="activity-card flip">

    <div class="card page" ng-class="{ flipped: flipped }">
        <div class="front face" ng-click="flip()">

            <div class="image">
                <img ng-src="{{'/assets/actpics/' + rec.activity.number + '.jpg'}}">
            </div>
            <div class="source">
                <div class="source-avatar-container">
                    <div class="source-avatar-content source-type" ng-class="'source-type-' + rec.sourceType">
                        <img ng-src="{{rec.recommendedBy[0].avatar}}" ng-if="rec.recommendedBy[0].avatar">
                    </div>
                    <div class="source-text">
                        empfohlen durch {{ rec.recommendedBy[0].fullname }}
                    </div>
                </div>

            </div>

            <div class="content">

                <div class="title" ng-bind-html="rec.activity.title">
                </div>

                <div class="shortDescription" ng-bind-html="rec.activity.description">
                </div>

                <div>

                    <div class="schedule">
                        {{ rec.schedule }}
                    </div>

                    <div class="clearfix"></div>
                </div>

                <div class="linkleft">
                    <button class="btn btn-default" ng-click="reject({index: index, event: $event})"
                            analytics-on="click" analytics-event="RejectProposal" analytics-category="Command" analytics-label="Activity Rejected">
                        Nein, Danke!
                    </button>
                 </div>
                <div class="linkright">
                    <button class="schedule-link btn btn-primary" ng-click="schedule({activity: rec.activity})" stop-propagation>
                        <span>Einplanen</span>
                    </button>
                </div>

            </div>

        </div>

        <div class="back face" ng-click="flip()">

            <div class="content">
                <h3 ng-bind-html="rec.activity.title">
                </h3>

                <p ng-bind-html="getRenderedText(rec.activity.text)">
                </p>
            </div>

        </div>
    </div>

</div>
