
<div class="row">
    <div class="col-md-3">


        <idea-card class="idea-card-invite" idea="idea"></idea-card>


    </div>

    <div class="col-md-9">


        <div class="row">
            <div class="col-md-12 text-center">

                <h1 translate>invite.header</h1>
                <h4 translate translate-values="{ user: invitingUser.fullname }">invite.message</h4>

            </div>
        </div>


        <div ng-if="showSignUp">
            <div class="row">
                <div class="col-md-7 col-md-offset-2">

                    <sign-up on-sign-up="onSignIn()"></sign-up>

                </div>
            </div>
        </div>


        <div ng-if="!showSignUp">

            <div class="row">
                <div class="col-md-6 col-md-offset-3">

                    <sign-in on-sign-in="onSignIn()"></sign-in>

                    <br/>


                    <button class="btn btn-default pull-right" ng-click="toggleSignUp()" translate>
                        invite.signup
                    </button>

                </div>
            </div>

        </div>



    </div>

</div>

