
<div class="row">
    <div class="col-md-3">


        <activity-card class="activity-card-invite" rec="offer"></activity-card>


    </div>

    <div class="col-md-9">


        <div class="row">
            <div class="col-md-12 text-center">

                <h1 translate>invite.header</h1>
                <h4 translate translate-values="{ user: invitingUser.fullname }">invite.message</h4>

            </div>
        </div>


        <div ng-if="showSignUp">
            <div class="row">
                <div class="col-md-7 center-block">

                    <sign-up on-sign-up="onSignIn()"></sign-up>

                </div>
            </div>
        </div>


        <div ng-if="!showSignUp">

            <div class="row">
                <div class="col-md-10 center-block">

                    <sign-in on-sign-in="onSignIn()"></sign-in>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">

                    <button class="btn btn-default" ng-click="toggleSignUp()" translate>
                        invite.signup
                    </button>

                </div>
            </div>

        </div>



    </div>

</div>

