
@import "../../../styles/youpers-variables";

.idea-card-invite .linkleft , .idea-card-invite .linkright {
  display: none;
}
.idea-card-invite .content .title {
  margin-top: 3em;
}
.idea-card-invite .content .shortDescription {
  margin-top: 1em;
}