<div ng-controller="PasswordResetCtrl" class="container">


    <div class="row">


        <div class="col-sm-6 col-sm-offset-3" ng-hide="resetSuccessful">

            <h2>{{'passwordReset.hello' | translate}} {{firstname}} {{lastname}}</h2>
            <h3 translate>passwordReset.setNewPassword</h3>

            <accordion close-others="true">
                
                <accordion-group heading="{{'passwordReset.newPassword' | translate}}" is-open="true">

                    <form name="passwordForm" ypModel="passwordResetObj" class="form" role="form" ng-submit="passwordReset()" novalidate>

                        <yp-input name="password" type="password" required ng-minlength="6"></yp-input>
                        <yp-input name="password2" type="password" required password-match="passwordResetObj.password"></yp-input>

                        <button type="submit" class="btn btn-primary" ng-disabled="passwordResetForm.$invalid" translate>passwordForm.save</button>

                    </form>
                    
                </accordion-group>
                
            </accordion>
            
        </div>

    </div>

    <div class="col-sm-6 col-sm-offset-3" ng-show="resetSuccessful">
        <h2 translate>passwordReset.success</h2>
        <p translate>passwordReset.loginAgainWithNewPassword</p>
    </div>


</div>