<div ng-controller="PasswordResetCtrl" class="container">


    <div class="row">

        <div class="col-md-6">

            <!--<pre>-->
                <!--{{ passwordResetObj | json }}-->
            <!--</pre>-->

        </div>

        <div class="col-md-6" ng-hide="resetSuccessful">

            <h2>{{'passwordReset.hello' | translate}} {{firstname}} {{lastname}}</h2>
            <h3 translate>passwordReset.setNewPassword</h3>

            <accordion close-others="true">
                
                <accordion-group heading="{{'passwordReset.newPassword' | translate}}" is-open="true">

                    <form name="passwordResetForm" class="form" role="form" ng-submit="passwordReset()" novalidate>

                        <div class="form-group">
                            <label translate>passwordForm.password.label</label>
                            <input name="password" id="password" type="password" placeholder="{{'passwordForm.password.label' | translate}}" class="form-control"
                                   ng-model="passwordResetObj.password" required ng-minlength="6">
                            <span ng-show="passwordResetForm.password.$dirty && passwordResetForm.password.$invalid" class="help-inline" translate>passwordForm.password.$invalid</span>
                        </div>
                        <div class="form-group"  ng-class="{'has-error': passwordResetForm.password2.$dirty && passwordResetForm.password2.$invalid}">
                            <label translate>passwordForm.password2.label</label>
                            <input name="password2" id="password2" type="password" placeholder="{{'passwordForm.password2.label' | translate}}" class="form-control"
                                   ng-model="passwordResetObj.password2" required password-match="passwordResetObj.password">
                            <span ng-show="passwordResetForm.password2.$dirty && passwordResetForm.password2.$invalid" class="help-inline" translate>passwordForm.password2.$invalid</span>

                        </div>
                        <button type="submit" class="btn btn-primary" ng-disabled="passwordResetForm.$invalid" translate>passwordForm.save</button>

                    </form>
                    
                </accordion-group>
                
            </accordion>
            
        </div>

    </div>

    <div class="col-md-6" ng-show="resetSuccessful">
        <h2 translate>passwordReset.success</h2>
        <p translate>passwordReset.loginAgainWithNewPassword</p>
    </div>


</div>