<div class="row">
    <div class="col-sm-12">
        <div class="state-title-1" translate>select.title1</div>
        <div class="state-title-2" translate>select.title2</div>
    </div>
</div>
<div>
<div class="activity-schedule">
<div class="activity-schedule-page">
    <div class="activity-card">
        <div>

            <div class="image">
                <img ng-src="{{'/assets/actpics/' + schedule.activity.number + '.jpg'}}">
            </div>

            <div class="source" ng-if="schedule.recommendedBy && schedule.recommendedBy.length > 0">
                <div class="source-avatar-container">
                    <div class="source-avatar-content source-type" ng-class="'source-type-' + schedule.sourceType">
                        <img ng-src="{{schedule.recommendedBy[0].avatar}}">
                    </div>
                    <div class="source-text">
                        empfohlen durch {{ schedule.recommendedBy[0].fullname }}
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="title" ng-bind-html="schedule.activity.title">
                </div>
                <div class="text" ng-bind-html="schedule.activity.description ">
                </div>
                <div>
                    <div class="schedule">
                        {{ schedule.schedule }}
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="linkleft">
                    <a class="btn btn-default" ng-click="back()">
                        <span>Zurück</span>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="activity-schedule-page">
<div class="page">

<form class="form activity-schedule-form" role="form" ng-submit="saveActivityPlan()">


    <div class="btn-group form-group execution-type" ng-hide="schedule.isPrivate || schedule.isScheduled">
        <button type="button" class="btn btn-default self" ng-model="plan.executionType" btn-radio="'self'" translate>
            schedule.executiontype.self
        </button>
        <button type="button" class="btn btn-default group" ng-model="plan.executionType" btn-radio="'group'" translate>
            schedule.executiontype.group
        </button>
    </div>

    <!-- self -->
    <div ng-if="schedule.isScheduled || plan.executionType === 'self'">

        <fieldset ng-disabled="schedule.isScheduled && (schedule.isJoinedPlan || !schedule.isEditable)">

            <!-- location -->
            <div class="row">
                <div class="col-md-12 form-group">
                    <input type="text" class="form-control" ng-model="plan.location"
                           placeholder="{{ 'schedule.self.location' | translate }}">
                </div>
            </div>

            <!-- text -->
            <div class="row">
                <div class="col-md-12 form-group">
                    <textarea class="form-control" ng-model="plan.text"
                              ng-attr-placeholder="{{'schedule.self.text' | translate }}"></textarea>
                </div>
            </div>

            <!-- date and time -->
            <div class="row">
                <div class="col-md-6 date-selection">

                    <div>
                        <input ng-model="plan.mainEvent.start"
                               class="form-control" type="text" id="datePickerStart"
                               datepicker-popup="EEE dd.MM.yyyy"
                               is-open="opened" min="minDate"
                               datepicker-options="dateOptions"
                               date-disabled="disabled(date, mode)" ng-required="true"/>

                    </div>
                </div>

                <div class="col-md-3 time-selection">
                    <timepicker ng-model="plan.mainEvent.start" id="timePickerStart" minute-step="15"
                                show-meridian="false"></timepicker>
                </div>
                <div class="col-md-3 time-selection">
                    <timepicker ng-model="plan.mainEvent.end" id="timePickerEnd" minute-step="15"
                                show-meridian="false"></timepicker>
                </div>
            </div>

            <!-- frequency -->
            <div class="row">
                <div class="col-md-12 frequency">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" ng-model="plan.mainEvent.frequency"
                                btn-radio="'once'" translate>activityPlanFrequency.once
                        </button>
                        <button type="button" class="btn btn-default" ng-model="plan.mainEvent.frequency"
                                btn-radio="'day'" translate>activityPlanFrequency.day
                        </button>
                        <button type="button" class="btn btn-default" ng-model="plan.mainEvent.frequency"
                                btn-radio="'week'" translate>activityPlanFrequency.week
                        </button>
                    </div>
                </div>
            </div>

            <!-- recurrence -->

            <div class="row recurrence" ng-if="plan.mainEvent.frequency=='day'">
                <div class="col-md-6 recurrence-day">
                    <label>
                        <span translate>schedule.self.recurrence.day</span>
                        <input ng-model="plan.mainEvent.recurrence['endby'].after" type=number
                               class="form-control input-sm">
                    </label>
                </div>

            </div>
            <div class="row recurrence" ng-if="plan.mainEvent.frequency=='week'">
                <div class="col-md-6 recurrence-week">
                    <label>
                        <span translate>schedule.self.recurrence.week</span>
                        <input ng-model="plan.mainEvent.recurrence['endby'].after" type=number
                               class="form-control input-sm">
                    </label>
                </div>
            </div>

            <!-- visibility -->
            <div class="row" ng-hide="schedule.isPrivate || schedule.isJoinedPlan">
                <div class="col-md-12">
                    <div class="checkbox">
                        <label>
                            <input ng-model="plan.visibility" type="checkbox">
                            <span translate>schedule.self.visibility</span>
                        </label>
                    </div>
                </div>
            </div>

            <!-- joiningUsers -->
            <div class="row joining-users" ng-show="schedule.isJoinedPlan">
                <div class="col-md-12">
                                <span ng-if="schedule.plan.joiningUsers.length > 0">
                                    <span>{{ schedule.plan.joiningUsers[0].fullname }}</span>
                                    <span ng-if="schedule.plan.joiningUsers.length > 1"
                                          translate
                                          translate-values="{ OTHERS: '{{ schedule.plan.joiningUsers.slice(1).length}}' }"
                                          translate-interpolation="messageformat"
                                          tooltip-html-unsafe="{{ getJoiningUsers(schedule.plan) }}"
                                            >
                                        schedule.self.joiningUsers
                                    </span>
                                </span>
                </div>
            </div>

        </fieldset>


    </div>


    <!-- group -->

    <div ng-if="!schedule.isScheduled && plan.executionType === 'group'">

        <div class="no-plans" ng-hide="schedule.activityPlan && schedule.activityPlan.length > 0">
            <p translate>schedule.group.noPlansToJoin</p>
        </div>


        <div class="plan-list">
            <div ng-repeat="plan in schedule.activityPlan" class="row">
                <div class="col-md-12 item">

                    <div>
                        <span>{{ plan.owner.fullname }}</span>

                        <span ng-show="plan.joiningUsers">
                            <span translate
                                  translate-values="{ OTHERS: '{{plan.joiningUsers.length}}' }"
                                  translate-interpolation="messageformat">
                                schedule.group.joiningUsers</span>
                        </span>

                        <button type="button" ng-click="joinActivityPlan(plan)"
                                class="join-plan btn btn-xs btn-default pull-right" translate>schedule.group.join
                        </button>
                    </div>

                    <div>

                        <scheduled-date start="plan.mainEvent.start"
                                        end="plan.events[plan.events.length - 1].end"
                                        frequency="plan.mainEvent.frequency">

                                        </scheduled-date>


                    </div>

                    <div ng-if="plan.location">
                        <span translate>schedule.group.location</span>
                        <span>{{ plan.location }}</span>
                    </div>

                </div>
            </div>
        </div>

    </div>


    <div >
        <div class="save-link form-group" tooltip-placement="left"
             tooltip="{{ (!schedule.isScheduled || schedule.isEditable) ? '' : ('activityPlanEditable.' + plan.editStatus | translate) }}">
            <button ng-show="!plan.id" type="submit" class="btn btn-primary pull-right" translate>schedule.schedule
            </button>
            <button ng-hide="!plan.id" ng-disabled="!schedule.isEditable" type="submit"
                    class="btn btn-primary pull-right" translate>schedule.save
            </button>
        </div>

        <div class="delete-link form-group" tooltip-placement="left"
             tooltip="{{ schedule.isDeletable ? '' : ('activityPlanDeletable.' + plan.deleteStatus | translate) }}">
            <button ng-click="deleteActivityPlan()" ng-hide="!plan.id" ng-disabled="!schedule.isDeletable" type="button"
                    class="btn btn-warning pull-left" translate>schedule.delete
            </button>
        </div>
    </div>

</form>


<!-- inviteOthers -->

<div class="invite-others" ng-show="schedule.isScheduled && plan.executionType === 'group'">


    <form name="inviteEmailForm" class="form-inline" role="form"
          ng-submit="inviteEmailForm.$valid && inviteEmailToJoinPlan(inviteEmail, schedule.plan)">

        <div class="input-group"
             ng-class="{'has-error': inviteEmailForm.email.$dirty && inviteEmailForm.email.$invalid}">

            <input class="form-control email-field" name="email" type="text" ng-model="inviteEmail"
                   placeholder="{{ 'schedule.self.inviteOthers.placeholder' | translate }}" multiple-Emails required>

                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="submit"
                                                    ng-disabled="inviteEmailForm.$invalid" translate>
                                                schedule.self.inviteOthers.submit
                                            </button>
                                        </span>
        </div>

    </form>
</div>

</div>
</div>

<div class="activity-schedule-page">
    <div class="page">

        <div class="row">

            <div class="col-md-12">

                <multiple-view-carousel class="activity-schedule-event-list" items="plan.events" items-per-view="1"
                                        item-width-em="18">

                    <div class="event" ng-repeat="event in plan.events">

                        <div class="event-date">
                            {{ event.begin | eventDate }}
                        </div>

                        <div class="event-time">
                            <span>{{ event.begin | time }}</span>
                            <span translate>schedule.event.startToEndDate</span>
                            <span>{{ event.end | time }}</span>
                        </div>

                        <fieldset ng-disabled="isFutureEvent(event)">


                            <div class="status">
                                <div class="btn-group btn-group-justified">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" ng-model="event.status"
                                                btn-radio="'done'">
                                            <span class="glyphicon glyphicon-ok"></span>
                                            <span translate>schedule.event.done</span>
                                        </button>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" ng-model="event.status"
                                                btn-radio="'missed'">
                                            <span translate>schedule.event.missed</span>
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="rating">
                                <div>
                                    <span translate>schedule.event.rating</span>
                                </div>

                                <div class="feedback">
                                    <button class="btn btn-default" ng-model="event.feedback" btn-radio="1">
                                        <div class="feedback-icon feedback-icon-1"></div>
                                    </button>
                                    <button class="btn btn-default" ng-model="event.feedback" btn-radio="2">
                                        <div class="feedback-icon feedback-icon-2"></div>
                                    </button>
                                    <button class="btn btn-default" ng-model="event.feedback" btn-radio="3">
                                        <div class="feedback-icon feedback-icon-3"></div>
                                    </button>
                                    <button class="btn btn-default" ng-model="event.feedback" btn-radio="4">
                                        <div class="feedback-icon feedback-icon-4"></div>
                                    </button>
                                    <button class="btn btn-default" ng-model="event.feedback" btn-radio="5">
                                        <div class="feedback-icon feedback-icon-5"></div>
                                    </button>

                                </div>

                            </div>

                        </fieldset>

                        <div class="comment">
                            <div class="input-group">
                                <textarea ng-model="event.comment" class="form-control"></textarea>
                                  <span class="input-group-addon">
                                    <a><span class="glyphicon glyphicon-ok"></span></a>
                                  </span>
                            </div>

                        </div>

                    </div>

                </multiple-view-carousel>


            </div>

        </div>
    </div>
</div>

<div class="clearBoth"></div>
</div>
</div>
