<div class="container">


    <div class="row" >

        <div class="col-md-6">

            <div ng-show="organization">


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <avatar-upload type="organization" avatar-object="organization"></avatar-upload>
                        <h2>{{organization.name}}</h2>
                    </div>

                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th translate>organization.list.name</th>
                                <th translate>organization.list.sector</th>
                                <th translate>organization.list.nrOfEmployees</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{organization.location}}</td>
                                <td>{{organization.sector}}</td>
                                <td>{{organization.nrOfEmployees}}</td>
                            </tr>
                            </tbody>


                        </table>
                    </div>
                </div>

            </div>

            <div ng-hide="organization">


                <h2 translate>organizationForm.header</h2>

                <form name="organizationForm" yp-model="organizationObj" class="form" role="form" ng-submit="createOrganization()" novalidate>


                    <div class="form-group">
                        <label translate>organizationForm.name.label</label>
                        <input name="name" type="text" placeholder="{{organizationForm.name.placeholder | translate}}" class="form-control" ng-model="organizationObj.name" required>
                        <span ng-show="organizationForm.name.$dirty && organizationForm.name.$invalid" class="help-inline" translate>organizationForm.name.$invalid</span>
                    </div>

                    <div class="form-group">
                        <label translate>organizationForm.location.label</label>
                        <input name="location" type="text" placeholder="{{organizationForm.location.placeholder | translate}}" class="form-control" ng-model="organizationObj.location" >
                        <span ng-show="organizationForm.location.$dirty && organizationForm.location.$invalid" class="help-inline" translate>organizationForm.location.$invalid</span>
                    </div>

                    <div class="form-group">
                        <label translate>organizationForm.sector.label</label>
                        <input name="sector" type="text" placeholder="{{organizationForm.sector.placeholder | translate}}" class="form-control" ng-model="organizationObj.sector" >
                        <span ng-show="organizationForm.sector.$dirty && organizationForm.sector.$invalid" class="help-inline" translate>organizationForm.sector.$invalid</span>
                    </div>

                    <div class="form-group">
                        <label translate>organizationForm.nrOfEmployees.label</label>
                        <input name="nrOfEmployees" type="text" placeholder="{{organizationForm.nrOfEmployees.placeholder | translate}}" class="form-control" ng-model="organizationObj.nrOfEmployees" >
                        <span ng-show="organizationForm.nrOfEmployees.$dirty && organizationForm.nrOfEmployees.$invalid" class="help-inline" translate>organizationForm.nrOfEmployees.$invalid</span>
                    </div>


                    <button type="reset" class="btn btn-sm"><span translate>organizationForm.reset</span></button>
                    <button type="submit" class="btn btn-success btn-sm" ng-disabled="organizationForm.$invalid"><span translate>organizationForm.save</span></button>

                </form>
            </div>

        </div>

        <div class="col-md-6">
            <div ng-show="organization">


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row" >
                            <div class="col-md-9" translate>
                                campaign.list.header
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th translate>campaign.list.title</th>
                                <th translate>campaign.list.start</th>
                                <th translate>campaign.list.end</th>
                                <th translate>campaign.list.relatedService</th>
                                <th translate>campaign.list.location</th>
                                <th translate>campaign.list.slogan</th>
                                <th translate>campaign.list.paymentStatus</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="campaign in campaigns">
                                <td><a ui-sref="campaign({id: campaign.id})">{{campaign.title}}</a></td>
                                <td>{{formatDate(campaign.start)}}</td>
                                <td>{{formatDate(campaign.end)}}</td>
                                <td>{{campaign.relatedService}}</td>
                                <td>{{campaign.location}}</td>
                                <td>{{campaign.slogan}}</td>
                                <td>{{campaign.paymentStatus}}</td>
                            </tr>
                            </tbody>


                        </table>
                    </div>
                </div>

                <h4 translate>campaignForm.header</h4>

                <form name="campaignForm" yp-model="campaignObj" class="form" role="form" ng-submit="createCampaign()" novalidate>

                    <div class="form-group">
                        <label translate>campaignForm.title.label</label>
                        <input name="title" type="text" placeholder="{{ 'campaignForm.title.placeholder' | translate }}" class="form-control" ng-model="campaignObj.title" required>
                        <span ng-show="campaignObj.title.$dirty && campaignObj.title.$invalid" class="help-inline" translate>campaignForm.title.$invalid</span>
                    </div>

                    <div class="form-group">
                        <label translate>campaignForm.start.label</label>
                        <input class="form-control" type="text" id="datePickerStart"
                               datepicker-popup="dd.MM.yyyy"
                               ng-model="campaignObj.start"
                               is-open="startOpened" min="minDateStart"
                               datepicker-options="dateOptions"
                               date-disabled="disabled(date, mode)" ng-required="true"/>
                    </div>

                    <div class="form-group">
                        <label translate>campaignForm.end.label</label>
                        <input class="form-control" type="text" id="datePickerEnd"
                               datepicker-popup="dd.MM.yyyy"
                               ng-model="campaignObj.end"
                               is-open="endOpened" min="minDateEnd"
                               datepicker-options="dateOptions"
                               date-disabled="disabled(date, mode)" ng-required="true"/>
                    </div>

                    <div class="form-group">
                        <label translate>campaignForm.location.label</label>
                        <input name="location" type="text" placeholder="{{ 'campaignForm.location.placeholder' | translate }}" class="form-control" ng-model="campaignObj.location" required>
                        <span ng-show="campaignObj.location.$dirty && campaignObj.location.$invalid" class="help-inline" translate>campaignForm.location.$invalid</span>
                    </div>

                    <div class="form-group">
                        <label translate>campaignForm.slogan.label</label>
                        <input name="slogan" type="text" placeholder="{{ 'campaignForm.slogan.placeholder' | translate }}" class="form-control" ng-model="campaignObj.slogan" required>
                        <span ng-show="campaignObj.slogan.$dirty && campaignObj.slogan.$invalid" class="help-inline" translate>campaignForm.slogan.$invalid</span>
                    </div>


                    <button type="reset" class="btn btn-sm"><span translate>campaignForm.reset</span></button>
                    <button type="submit" class="btn btn-success btn-sm" ng-disabled="campaignForm.$invalid"><span translate>campaignForm.save</span></button>

                </form>
            </div>

        </div>
    </div>
</div>
